.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}


/*
tannv.dts@gmail.com
 */
.node_accessible span{
    color:#00A653;
}

.iso-action-group{
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.iso-action-group.iso_action_type1 button{
    border : 1px solid #337AB7;
}

.iso-action-group.iso_action_type2  button{
    border : 1px solid #5CB85C;
}

.iso-action-group.iso_action_type3  button{
    border : 1px solid #5BC0DE;
}
.iso-action-group.iso_action_type4  button{
    border : 1px solid #F0AD4E;
}

.iso-action-group.iso_action_type5  button{
    border : 1px solid #D9534F;
}
.iso-action-group.iso_action_type_system  button{
    background-color: #fcf8e3;
    border : 1px solid #D9534F;
}




/*select2 custom css
tannv.dts@gmail.com
*/
.select2-search-field input{
    width:223px!important;
}

.iso-user-permission-item{
    margin-top:10px;
}

.iso-add-user-permission-btn{
    margin-top:10px;
}

/*Xu ly an khi node bi delete*/
.iso_node_deleted span{
    display:inline;
    color:#B90000;
}

.iso_node_deleted li{
    display:none;
}
/*-------------------------------*/

.selection-user-name-box{
    border:1px solid #5bc0de;
}

.iso_user_in_group{
    background-color: #f0ad4e!important;
}

.iso_action_button{
    width:200px;
    margin-top:10px;
}

.iso_hierarchy_approved_line{
    background-color: #dff0d8;
}


.iso_hierarchy_underreview_line{
    background-color: #fcf8e3;
}

.iso_hierarchy_rejected_line{
    background-color: #f2dede;
}

.iso_hierarchy_action_button{
    margin-right: 10px;
}

.iso_request_star_text{
    font-weight: bold;
}

.iso_request_star_button{
    background-color: #DFDF00;
}

.iso_wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.iso_modal_lg{
    width:90%!important;
}

.iso_badge{
    /*background-color: rgb(252, 244, 244)!important;*/
    color: red!important;
    border:none!important;
}
.message-item {
margin-bottom: 25px;
margin-left: 40px;
position: relative;
}
.message-item .message-inner {
background: #fff;
border: 1px solid #ddd;
border-radius: 3px;
padding: 10px;
position: relative;
}
.message-item .message-inner:before {
border-right: 10px solid #ddd;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -20px;
top: 6px;
width: 0;
}
.message-item .message-inner:after {
border-right: 10px solid #fff;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -18px;
top: 6px;
width: 0;
}
.message-item:before {
background: #fff;
border-radius: 2px;
bottom: -30px;
box-shadow: 0 0 3px rgba(0,0,0,0.2);
content: "";
height: 100%;
left: -30px;
position: absolute;
width: 3px;
}
.message-item:after {
background: #fff;
border: 2px solid #ccc;
border-radius: 50%;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
content: "";
height: 15px;
left: -36px;
position: absolute;
top: 10px;
width: 15px;
}
.clearfix:before, .clearfix:after {
content: " ";
display: table;
}
.message-item .message-head {
border-bottom: 1px solid #eee;
margin-bottom: 8px;
padding-bottom: 8px;
}
.message-item .message-head .avatar {
margin-right: 20px;
}
.message-item .message-head .user-detail {
overflow: hidden;
}
.message-item .message-head .user-detail h5 {
font-size: 16px;
font-weight: bold;
margin: 0;
}
.message-item .message-head .post-meta {
float: left;
padding: 0 15px 0 0;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}
