.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}


/*
tannv.dts@gmail.com
 */
.node_accessible span{
    color:#00A653;
}

.iso-action-group{
    padding-bottom: 10px;
    margin-bottom: 10px;
}



/*select2 custom css
tannv.dts@gmail.com
*/
.select2-search-field input{
    width:223px!important;
}

.iso-user-permission-item{
    margin-top:10px;
}

.iso-add-user-permission-btn{
    margin-top:10px;
}

/*Xu ly an khi node bi delete*/
.iso_node_deleted span:first-child{
    display:inline;
    color:#B90000;
}

.iso_node_deleted li{
    display:none;
}
/*-------------------------------*/

.selection-user-name-box{
    border:1px solid #5bc0de;
}

.iso_user_in_group{
    background-color: #f0ad4e!important;
}

.iso_action_button{
    width:200px;
    margin-top:10px;
}

.iso_hierarchy_approved_line{
    background-color: #dff0d8;
}


.iso_hierarchy_underreview_line{
    background-color: #fcf8e3;
}

.iso_hierarchy_rejected_line{
    background-color: #f2dede;
}

.iso_hierarchy_action_button{
    margin-right: 10px;
}

.iso_request_star_text{
    font-weight: bold;
}

.iso_request_star_button{
    background-color: #DFDF00;
}

.iso_wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}