<label class="un-label-popup-header-m un-bg-label-B41E46-m">Fee Type</label>
<form name="mainForm" novalidate>
    <div class="clearfix"></div>


    <div class="row">

        <!--FEE_GROUP_NAME-->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <span class="field" ng-class="{'has-error': mainForm.fee_type_name.$invalid && isSubmit}">
			<label for="fee_group_name">Fee type name</label>
			<input type="text" placeholder="Fee type name" name="fee_type_name" ng-model="modelObjectMap.FEE_TYPE_NAME" class="form-control" id="fee_group_name" float-label required>
			<span ng-show="mainForm.fee_type_name.$invalid && isSubmit">
                    <span class="mdt-popover above" ng-show="mainForm.fee_type_name.$error.required">
                        Type name required!
                    </span>
            </span>
            </span>

        </div>
        <!--FEE_GROUP_NAME-->

        <!--FEE_GROUP_TYPE-->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <span class="field" ng-class="{'has-error': mainForm.fee_group_type.$invalid && isSubmit}">
			<label for="fee_group_type">Fee group</label>
			<select name="fee_group_type" ng-model="modelObjectMap.FEE_GROUP_ID" ng-options="item.FEE_GROUP_ID as item.FEE_GROUP_NAME for item in groupOptions " float-label required>
			    <option value="" disabled selected>Fee group</option>
			</select>
                <span ng-show="mainForm.fee_group_type.$invalid && isSubmit">
                    <span class="mdt-popover above" ng-show="mainForm.fee_group_type.$error.required">
                        Fee group required!
                    </span>
            </span>
            </span>
        </div>
        <!--FEE_GROUP_TYPE-->

        <!--FEE_GROUP_ORDER-->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <span class="field" ng-class="{'has-error': mainForm.fee_group_order.$invalid && isSubmit}">
			<label for="fee_group_order">Fee group order</label>
			<input type="number" placeholder="Fee group order" name="fee_group_order" ng-model="modelObjectMap.FEE_GROUP_ORDER" class="form-control" id="fee_group_order" float-label required>
			 <span ng-show="mainForm.fee_group_order.$invalid && isSubmit">
                    <span class="mdt-popover above" ng-show="mainForm.fee_group_order.$error.required">
                        Order required!
                    </span>
            <span class="mdt-popover above" ng-show="mainForm.fee_group_order.$error.number">
                        Invalid number!
                    </span>
            </span>
            </span>
        </div>
        <!--FEE_GROUP_ORDER-->


        <div class="break-row"></div>
        <!--ISENABLE-->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <input type="checkbox" name="isenable" id="isenable" class="mdt-checkbox" ng-model="modelObjectMap.ISENABLE" ng-true-value="1" ng-false-value="0">
            <label for="isenable">Isenable</label>
        </div>
        <!--ISENABLE-->
        <!-- ACTION -->
        <div class="col-sm-4 col-xs-6">
            <button class="btn btn-sm btn-block green" ng-click="clickAction({type: mode.type})">
                <i ng-if="mode.type == 'add'" class="fa fa-save"></i>
                <i ng-if="mode.type == 'edit'" class="fa fa-pencil"></i>
                {{mode.text}}
            </button>
        </div>
    </div>


</form>

