
<tabset>
	<tab ng-repeat="groupFee in feeArr" heading="{{groupFee.FEE_GROUP_NAME}}">
		<div class="panel panel-info">
			<!-- <div class="panel-heading">
				{{groupFee.FEE_GROUP_NAME}} ({{groupFee.FEE_GROUP_TYPE}})
			</div> -->
			<div class="panel-body">
				{{groupFee.FEE_GROUP_NAME}} ({{groupFee.FEE_GROUP_TYPE}})
				{{groupFee}}
				<table class="un_tn_table un_tn_table_header_gray un_tn_table_border_gray">
					<tr>
						<th>Fee type</th>
						<th>Start date </th>
						<th>Fee </th>
						<th>Percent</th>
						<th>Actions</th>
					</tr>
					<tr ng-repeat="feeType in groupFee.FEE_TYPES">
						<td>{{feeType.FEE_TYPE_NAME}}:</td>
						<td>
							<select ng-model="feeType.currentFee" ng-options="fee.FEE_START_DATE_DISPLAY for fee in feeType.LIST_FEE">
				                <option value=''>- Fee start date -</option>
				            </select>
		        		</td>
						<td>
							<input ng-model="feeType.currentFee.FEE"/>
						</td>
						<td>
							<input ng-model="feeType.currentFee.PERCENT"/>
						</td>
						<td>
							<button ng-click="addNewFeeItem(feeType)">Add New</button>
						</td>
					</tr>
				</table>
				<div class="form-group">
					<button class="un_tn_btn un_tn_btn_green" ng-click="saveAllItemFeeInGroupFee(groupFee);">
	                	Save	
	            	</button>
				</div>
			</div>
			
			
		</div>
	</tab>
	


</tabset>

<script type="text/ng-template" id="addNewFeeItemTemplate">
    <style type="text/css">
          .modal.in .modal-dialog {
           margin-top:50px;
          }
    </style>
    <div class="modal-body">
        <div class="form-group ">
            <label class="un_tn_form_label un_tn_form_label_gray">
                Start date
            </label>
            <input custom-date class="form-control input-sm un_tn_form_control" ng-model="newFeeItem.FEE_START_DATE_DISPLAY" id="FEE_START_DATE_DISPLAY">
        </div>

        <div class="form-group">
            <label class="un_tn_form_label un_tn_form_label_gray">
                Fee
            </label>
            <input type="number" ng-model="newFeeItem.FEE" class="form-control un_tn_form_control ng-pristine ng-valid">
        </div>

        <div class="form-group">
            <label class="un_tn_form_label un_tn_form_label_gray">
                Percent
            </label>
            <input type="number" ng-model="newFeeItem.PERCENT" class="form-control un_tn_form_control ng-pristine ng-valid">
        </div>

    </div>
    <div class="modal-footer" style="height: 60px">
    	<button class="un_tn_btn un_tn_btn_pink" ng-click="add()">Add</button>
        <button class="un_tn_btn un_tn_btn_gray" ng-click="cancel()">Cancel</button>
    </div>
 </script>