<div class="clearfix"></div>
<div class="row">
	<div class="col-md-8">
		<h4>List Funds</h4>
		<my-data-table options="private_funds.options"></my-data-table>
		<div style="margin-top: 15px;">
			<button class="btn btn-sm green" ng-click="private_funds.save()"><i class="fa fa-save"></i> Save</button>
		</div>
	</div>
	<div class="col-md-4">
		<h4>Fee Types</h4>
		<my-data-table options="fee_types.options"></my-data-table>
		<div style="margin-top: 15px;">
			<button class="btn btn-sm green" ng-click="fee_types.save()"><i class="fa fa-save"></i> Save</button>
		</div>
	</div>
</div>