<div class="modal">

        <div class="bar bar-header " style="background-color: #2bbbd6;border-bottom: none;color:white">

        <button class="button button-icon icon fa fa-times " style="color:#fff" ng-click="closeModalQualification()"></button>
    
          <h1 class="title" style="color:white">{{titleQua}}</h1>
         
        </div>
        <ion-content class="has-header">
           <div class="form-group" style="padding-top:65px">
           <label class="item item-input input_us" >
                          <span class="input-label span-input-color">Qualification</span><div class="im1"></div>
                          <input ng-keypress="keyPress($event.keyCode)" style="background:white;height: 36px;" ng-required="true" type="text" ng-model="addnewQa.qualification" name="qualification" />
                    </label>
                 	  <br>
                  	<button class="btn" ng-click="addnewqualification(Qualification)" style="width: 100%;margin: 0 auto;" ng-show="optionsQua == 'addNew'" >Add</button>
                    <button class="btn"  style="width: 100%;margin: 0 auto;" ng-show="optionsQua == 'editQua'" ng-click="updateQulification()" >Edit</button>
          </div>
        </ion-content>
  </div>