<div class="modal">

        <div class="bar bar-header " style="background-color: #2bbbd6;border-bottom: none;color:white">

        <button class="button button-icon icon fa fa-times " style="color:#fff" ng-click="closeModalExperience()"></button>
    
          <h1 class="title" style="color:white">{{titleExp}}</h1>
         
        </div>
        <ion-content class="has-header">
           <div class="form-group">

                 	    <label class="item item-input input_us" >
                        <span class="input-label span-input-color">Company</span>
                        <input style="background:white;height: 36px;" ng-required="true" type="text" placeholder="Company" ng-model="exp.company" name="company"  />
                      </label>
                      <br>
                       <label class="item item-input input_us" >
                        <span class="input-label span-input-color">Position</span>
                        <input style="background:white;height: 36px;" ng-required="true" type="text" placeholder="Position" ng-model="exp.POSITION" name="position"  />
                      </label>
                      <br>
                       <label class="item item-input input_us" >
                        <span class="input-label span-input-color">From Date</span>
                        <input style="background:white;height: 36px;" ng-required="true" type="date" placeholder="fromdate" ng-model="exp.from_date" name="fromdate"  />
                      </label>
                      <br>
                       <label class="item item-input input_us" >
                        <span class="input-label span-input-color">To Date</span>
                        <input style="background:white;height: 36px;" ng-required="true" type="date" placeholder="To date" ng-model="exp.to_date" name="todate"  />
                      </label>
                      <br>
                       <label class="item item-input input_us" >
                        <span class="input-label span-input-color">Duty</span>
                        <input style="background:white;height: 36px;" ng-required="true" type="text" placeholder="Duty" ng-model="exp.duty" name="duty"  />
                      </label>
                      <br>
                       <label class="item item-input input_us" >
                        <span class="input-label span-input-color">Reference Name</span>
                        <input style="background:white;height: 36px;" ng-required="true" type="text" placeholder="Reference Name" ng-model="exp.reference_name" name="reference"  />
                      </label>
                      <br>
                       <label class="item item-input input_us" >
                        <span class="input-label span-input-color">Reference Contact</span>
                        <input style="background:white;height: 36px;" ng-required="true" type="text" placeholder="Refer" ng-model="exp.reference_contact" name="referencecontact"  />
                      </label>
                    <br>
                  	<button class="btn" ng-click="addNewExp()" style="width: 100%;margin: 0 auto;" ng-show="optionsExp == 'addNew'">Add</button>
                    <button class="btn"  style="width: 100%;margin: 0 auto;" ng-show="optionsExp == 'editExp'" ng-click="updateExp()">Edit</button>
          </div>
        </ion-content>
  </div>