<ion-view title="Pharmacist Info" >
<div class="bar bar-subheader customHeaderBar">
 <button class="button button-icon icon fa fa-reply " style="color:#fff;padding-top: 12px;" ui-sref="app.main.pharmacist"></button>
  <h2 class="title customHeaderBar"  style="margin-left: 14%;font-size: 20px;top: 11px;">Pharmacist Info</h2>
</div>
    <ion-content style="background: #2bbbd6">
         <div class="form-group">
            <form name="formPharmacist">
                     <label class="item item-input input_us" >
                          <span class="input-label span-input-color">Sur Name Phar</span><div class="im1"></div>
                          <input ng-keypress="keyPress($event.keyCode)" style="background:white;height: 36px;" ng-required="true" type="text"placeholder="Surname" name="surname" ng-model="pharmacisinfo.surname"
                        ng-class="{'error':iserr|| formPharmacist.surname.$dirty && formPharmacist.surname.$invalid}"/>
                    </label>
                    
                    <div class="err" ng-messages="formPharmacist.surname.$error" ng-show="iserr||formPharmacist.surname.$dirty && formPharmacist.surname.$invalid">
                            <small ng-message="required"
                                ng-show="formPharmacist.surname.$error">
                                Surname is required 
                            </small>
                     </div>
                     <br>
                     <label class="item item-input input_us" >
                          <span class="input-label span-input-color">First Name Phar</span><div class="im1"></div>
                          <input ng-keypress="keyPress($event.keyCode)" style="background:white;height: 36px;" ng-required="true" type="text"placeholder="First Name" name="firstName" ng-model="pharmacisinfo.firstname"
                        ng-class="{'error':iserr|| formPharmacist.firstName.$dirty && formPharmacist.firstName.$invalid}"/>
                    </label>
        
                     <div class="err" ng-messages="formPharmacist.firstName.$error" ng-show="iserr||formPharmacist.firstName.$dirty && formPharmacist.firstName.$invalid">
                            <small ng-message="required"
                                ng-show="formPharmacist.firstName.$error">
                                FirstName is required 
                            </small>
                      </div>
                      <br>
                        <label class="item item-input input_us" >
                          <span class="input-label span-input-color">DOB</span><div class="im1"></div>
                          <input ng-keypress="keyPress($event.keyCode)" style="background:white;height: 36px;"  ng-required="true" type="date" placeholder="DOB" name="DOB" ng-model="pharmacisinfo.DOB"pharmacisinfo  ng-class="{'error':iserr|| formPharmacist.DOB.$dirty && formPharmacist.DOB.$invalid}"/>
                    </label>
                 
                    <div class="err" ng-messages="formPharmacist.DOB.$error" ng-show="iserr||formPharmacist.DOB.$dirty && formPharmacist.DOB.$invalid">
                            <small ng-message="required"
                                ng-show="formPharmacist.DOB.$error">
                                DOB is required 
                            </small>
                    </div>
                    <br>
                      <label class="item item-input input_us" >
                          <span class="input-label span-input-color">Email Pharmacis</span><div class="im1"></div>
                          <input ng-keypress="keyPress($event.keyCode)" style="background:white;height: 36px;" ng-required="true" type="email" placeholder="Email" name="email" ng-model="pharmacisinfo.email" 
                        ng-class="{'error':iserr|| formPharmacist.email.$dirty && formPharmacist.email.$invalid}" />
                    </label>
                 
                     <div class="err" ng-messages="formPharmacist.email.$error" ng-show="iserr||formPharmacist.email.$dirty && formPharmacist.email.$invalid">
                            <small ng-message="required"
                                ng-show="formPharmacist.email.$error">
                                Email is required 
                            </small>
                      </div>
                      <br>
                       <label class="item item-input input_us" >
                          <span class="input-label span-input-color">Phone Pharmacis</span><div class="im1"></div>
                          <input ng-keypress="keyPress($event.keyCode)" style="background:white;height: 36px;"  type="number" placeholder="Phone" ng-model="pharmacisinfo.phone" name="phone"
                        ng-class="{'error':iserr|| formPharmacist.phone.$dirty && formPharmacist.phone.$invalid}"/>
                    </label>
                     <div class="err" ng-messages="formPharmacist.phone.$error" ng-show="iserr||formPharmacist.phone.$dirty && formPharmacist.phone.$invalid">
                            <small ng-message="required"
                                ng-show="formPharmacist.email.$error">
                                Phone is required 
                            </small>
                      </div>
                      <br>
                       <label class="item item-input input_us" >
                          <span class="input-label span-input-color">Mobile Pharmacis</span><div class="im1"></div>
                          <input ng-keypress="keyPress($event.keyCode)" style="background:white;height: 36px;"  placeholder="Mobile" name="mobile" ng-model="pharmacisinfo.mobile" required type="number"
                        ng-class="{'error':iserr|| formPharmacist.mobile.$dirty && formPharmacist.mobile.$invalid}"/>
                    </label>
                   
                    <div class="err" ng-messages="formPharmacist.mobile.$error" ng-show="iserr||formPharmacist.mobile.$dirty && formPharmacist.mobile.$invalid">
                            <small ng-message="required"
                                ng-show="formPharmacist.mobile.$error">
                                Mobile is required 
                            </small>
                        </div>
                        <br>
                        <label class="item item-input input_us" >
                          <span class="input-label span-input-color">Address Pharmacis</span><div class="im1"></div>
                          <input ng-keypress="keyPress($event.keyCode)" style="background:white;height: 36px;"  placeholder="Address" name="address" ng-model="pharmacisinfo.address" required type="text"
                          ng-autocomplete options="options" details="details" id="autocomplete" 
                          ng-focus="disableTap()"
                        ng-class="{'error':iserr|| formPharmacist.address.$dirty && formPharmacist.address.$invalid}" />
                    </label>
                     
                    <div class="err" ng-messages="formPharmacist.address.$error" ng-show="iserr||formPharmacist.address.$dirty && formPharmacist.address.$invalid">
                            <small ng-message="required"
                                ng-show="formPharmacist.address.$error">
                                Address is required 
                            </small>
                      </div>
                      <br>
                       <label class="item item-input input_us" >
                          <span class="input-label span-input-color">Surburb Pharmacis</span><div class="im1"></div>
                          <input ng-keypress="keyPress($event.keyCode)" style="background:white;height: 36px;"  placeholder="Surburb" name="surburb" ng-model="pharmacisinfo.surburb" required type="text"
                        ng-class="{'error':iserr|| formPharmacist.surburb.$dirty && formPharmacist.surburb.$invalid}"  />
                    </label>
                   
                     <div class="err" ng-messages="formPharmacist.surburb.$error" ng-show="iserr||formPharmacist.surburb.$dirty && formPharmacist.surburb.$invalid">
                            <small ng-message="required"
                                ng-show="formPharmacist.surburb.$error">
                                Surburb is required 
                            </small>
                      </div>
                      <br>
                       <label class="item item-input input_us" >
                          <span class="input-label span-input-color">PostCode Pharmacis</span><div class="im1"></div>
                          <input ng-keypress="keyPress($event.keyCode)" style="background:white;height: 36px;"  placeholder="PostCode" name="postcode" ng-model="pharmacisinfo.postcode" required type="number"
                        ng-class="{'error':iserr|| formPharmacist.postcode.$dirty && formPharmacist.postcode.$invalid}" />
                    </label>
                    
                      <div class="err" ng-messages="formPharmacist.postcode.$error" ng-show="iserr||formPharmacist.postcode.$dirty && formPharmacist.postcode.$invalid">
                            <small ng-message="required"
                                ng-show="formPharmacist.postcode.$error">
                                Postcode is required 
                            </small>
                        </div>
                        <br>
                        <label class="item item-input input_us" >
                          <span class="input-label span-input-color">State Pharmacis</span><div class="im1"></div>
                          <input ng-keypress="keyPress($event.keyCode)" style="background:white;height: 36px;" placeholder="State" name="state" ng-model="pharmacisinfo.state" required type="text"
                        ng-class="{'error':iserr|| formPharmacist.state.$dirty && formPharmacist.state.$invalid}" />
                    </label>
                      
                     <div class="err" ng-messages="formPharmacist.state.$error" ng-show="iserr||formPharmacist.state.$dirty && formPharmacist.state.$invalid">
                            <small ng-message="required"
                                ng-show="formPharmacist.state.$error">
                                State is required 
                            </small>
                      </div>
                      <br>
                        <label class="item item-input input_us" >
                          <span class="input-label span-input-color">Country Pharmacis</span><div class="im1"></div>
                          <input ng-keypress="keyPress($event.keyCode)" style="background:white;height: 36px;" placeholder="Country" name="country" ng-model="pharmacisinfo.country" required type="text"
                        ng-class="{'error':iserr|| formPharmacist.country.$dirty && formPharmacist.country.$invalid}"/>
                    </label>
                    <div class="err" ng-messages="formPharmacist.country.$error" ng-show="iserr||formPharmacist.country.$dirty && formPharmacist.country.$invalid">
                            <small ng-message="required"
                                ng-show="formPharmacist.country.$error">
                                Country is required 
                            </small>
                     </div>
                     <br>
                     <label class="item item-input input_us" >
                          <span class="input-label span-input-color">Gender</span><div class="im1"></div>
                          
                         <select ng-required="true" ng-model="pharmacisinfo.gender" name="Title" class="browser-default"  style="background:white;height: 36px;width:100%">
                            <option value="">Choose Gender</option>
                            <option>Male</option>
                            <option >Famale</option>
                        </select>
                    </label>
                    <br>
                       <label class="item item-input input_us" >
                          <span class="input-label span-input-color">Preferred Name</span><div class="im1"></div>
                          <input ng-keypress="keyPress($event.keyCode)" style="background:white;height: 36px;" placeholder="Preferred" ng-model="pharmacisinfo.preferred_name" type="text"/>
                    </label>

                   <br>
                     <label class="item item-input input_us" >
                          <span class="input-label span-input-color">APHRA</span><div class="im1"></div>
                          <input ng-keypress="keyPress($event.keyCode)" style="background:white;height: 36px;" placeholder="Preferred" ng-model="pharmacisinfo.APHRA" type="text"/>
                    </label>
                   <br>
                    <label class="item item-input input_us" >
                          <span class="input-label span-input-color">Proficident</span><div class="im1"></div>
                          <input ng-keypress="keyPress($event.keyCode)" style="background:white;height: 36px;"  placeholder="Preferred" ng-model="pharmacisinfo.Proficient" type="text"/>
                    </label>
                   <ul> 
                     <li class="item item-checkbox " style="border:none" >
                         <label class="checkbox ">
                           <input type="checkbox" ng-model="pharmacisinfo.isCPOP"  ng-true-value="1" ng-false-value="0">
                         </label>
                         CPOP
                    </li>
                     <li class="item item-checkbox " style="border:none" >
                         <label class="checkbox ">
                           <input type="checkbox" ng-model="pharmacisinfo.isHMR"  ng-true-value="1" ng-false-value="0">
                         </label>
                         HMR
                    </li>
                     <li class="item item-checkbox " style="border:none" >
                         <label class="checkbox ">
                           <input type="checkbox" ng-model="pharmacisinfo.isCompounding"  ng-true-value="1" ng-false-value="0">
                         </label>
                         Compouding
                    </li>
                    </ul>
                    
                    <br>
                     <button class="btn"  style="width:100%" ng-click="updatePharmasict()">Save</button>
              </form>   
          </div>             
    
     
     
    </ion-content>
</ion-view>