<ion-view title="Pharmacist" >
<div class="bar bar-subheader customHeaderBar">
     <button class="button button-icon icon fa fa-reply " style="color:#fff;padding-top: 12px" ui-sref="app.main.profile"></button>
  <h2 class="title customHeaderBar"  style="margin-left: 14%;font-size: 20px;top: 11px;">Pharmacist</h2>
</div>
   
    <ion-content class="background-content">
            <div class="item item-divider-custom">
             Pharmacist Info
              <span class="item-note">
               <i class="fa fa-search-plus fa-2x" style="color:white" ui-sref="app.main.pharmacistinfo"></i>
              </span>
            </div>
            <div class="item item-divider-custom">
             Pharmacist Qualification
              <span class="item-note">
               <i class="fa fa-search-plus fa-2x" style="color:white" ui-sref="app.main.pharmacistQualification" ></i>
              </span>
            </div>
            <div class="item item-divider-custom">
             Pharmacist Experience
              <span class="item-note">
               <i class="fa fa-search-plus fa-2x" style="color:white" ui-sref="app.main.pharmacistExperience" ></i>
              </span>
            </div>
     
    </ion-content>
</ion-view>