<ion-view title="Pharmacist Qualification" >
<div class="bar bar-subheader customHeaderBar">
  <button class="button button-icon icon fa fa-reply " style="color:#fff;padding-top: 12px" ui-sref="app.main.pharmacist"></button>
  <h2 class="title customHeaderBar"  style="margin-left: 14%;font-size: 20px;top: 11px;">Pharmacist Qualification</h2>
  <button class="button button-icon icon fa fa-plus " style="color:#fff" ng-click="openModalQualification('Add New Qualification','addNew')"></button>
</div>
  
    <ion-content class="background-content">    
      <div  ng-repeat="pq in pharmacist_qualification">
        <a class="item item-icon-left" on-hold="show(pq)" >  
          {{pq.qualification}}
        </a>
      </div>   
    </ion-content>
</ion-view>