<ion-view title="Post Detail" >
    <div class="bar bar-subheader customHeaderBar">
        <button class="button button-icon icon fa fa-reply" style="color:#fff" ui-sref="app.main.shop"></button>
        <h2 class="title customHeaderBar"  style="margin-left: 14%;font-size: 20px;top: 11px;">Post Detail</h2>
    </div>
    <ion-content style="background: #2bbbd6">
		<div class="form-group">
	    	<br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">Shop Name</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="Shop Name" ng-model="postDetail.shop_name" name="shop_name" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">Job Type</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="Job Type" ng-model="postDetail.job_type" name="job_type" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">Job Title</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="Job Title" ng-model="postDetail.job_title" name="job_title" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">Job Descriptiton</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="Job Descriptiton" ng-model="postDetail.job_description" name="job_description" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">Required Date</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="Required Date" ng-model="postDetail.required_date | date:MM/dd/yyyy" name="required_date" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">Time Od Shift</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="Time Od Shift" ng-model="postDetail.time_od_shift" 
            name="time_od_shift" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">Local Weekday Rate</span><div class="im1"></div>
            <input style="background:white;height: 36px;border:none" placeholder="Local Weekday Rate" 
            ng-model="postDetail.local_weekday_rate" name="local_weekday_rate" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">None Local Weekday Rate</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="None Local Weekday Rate" 
            ng-model="postDetail.nonelocal_weekday_rate" name="nonelocal_weekday_rate" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">Sat Rate</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="Sat Rate" ng-model="postDetail.sat_rate" 
            name="sat_rate" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">Sun Rate</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="Sun Rate" ng-model="postDetail.sun_rate" name="sun_rate" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">PH Rate</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="PH Rate" ng-model="postDetail.ph_rate" name="ph_rate" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">Travel</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="Travel" 
            ng-model="postDetail.isTravel" name="Travel" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">Accommodation</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="Accommodation" 
            ng-model="postDetail.isAccommodation" name="Accommodation" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">Start Day</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="Start Day" 
            ng-model="postDetail.Start_date | date:MM/dd/yyyy" name="shop_name" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">Duration</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="Duration" ng-model="postDetail.Duration" name="Duration" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">Qualification</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="Qualification" ng-model="postDetail.Qualification" name="Qualification" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">Experiences Require</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="Experiences Require" 
            ng-model="postDetail.experiences_require" name="Experiences Require" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">Hours Per Week</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="Hours Per Week" ng-model="postDetail.hours_per_week" name="hours_per_week" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">Day Per Week</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="Day Per Week" ng-model="postDetail.hours_per_week" name="date_per_week" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">Weekend Shift</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="Weekend Shift" 
            ng-model="postDetail.isweekend_shift" name="isweekend_shift" ng-disabled="true" />
            </label>
            <br>
            <label class="item item-input input_us">
            <span class="input-label span-input-color">Total Member Join</span><div class="im1"></div>
            <input  style="background:white;height: 36px;border:none" placeholder="Total Member Join" 
            ng-model="mem" name="mem" ng-disabled="true" />
            </label>
            <br>
	    </div>
  	</ion-content> 
</ion-view>