<!-- 
<div class="row">
    <div class="col-md-6 " >
        <img src="../../../theme/assets/Redimed.png" class="img-responsive center-block">
    </div>
    <div class="col-md-6 ">
        <img src="../../../theme/assets/Redi_legal.png" class="img-responsive center-block">
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-6 ">
        <img src="../../../theme/assets/Redi_2hand.png" class="img-responsive center-block">
    </div>
    <div class="col-md-6 ">
        <img src="../../../theme/assets/Redi_Back.png" class="img-responsive center-block">
    </div>
</div>
 -->
 <div class="un-back-rfl">
     <!--<img src="img/icon/icon3_03.png" width="970" height="720" />-->
 </div>

