<label class="un-label-popup-header-m un-bg-label-B41E46-m">Add Referral</label>
<div class="row">	
	<!-- DATE ISSUED -->
	<div class="col-md-4">
		<div class="form-group">
			<label class="un-label-form-3 un-label-whidth-130">
				Date Issued *
			</label>
			<input class="form-control input-sm select-outside" custom-date ng-model="outreferral.form.date_issued" id="date_issued">
		</div>
	</div>
	<!-- END DATE ISSUED -->

	<!-- DATE STARTED -->
	<div class="col-md-4">
		<div class="form-group">
			<label class="un-label-form-3 un-label-whidth-130">
				Date Started *
			</label>
			<input class="form-control input-sm select-outside" custom-date ng-model="outreferral.form.date_started" id="date_started" ng-change="onChange()">
		</div>
	</div>
	<!-- END DATE STARTED -->

	<!-- DURATION -->
	<div class="col-md-4">
		<div class="form-group">
			<label class="un-label-form-3 un-label-whidth-130">
				Duration(Months) *
			</label>
			<input class="form-control input-sm select-outside" ng-model="outreferral.form.duration" id="duration" ng-change="onChange()">
		</div>
	</div>
	<!-- END DURATION -->
</div>
<div class="row">
	<!-- DOCTOR ID -->
	<div class="col-md-4">
		<div class="form-group">
			<label class="un-label-form-3 un-label-whidth-130">
				Outside Doctor *
			</label>
			<button id="doctor_id" class="btn btn-block select-outside ng-binding" ng-click="outdoctor.dialog.select()">
				{{outdoctor.name}}
			</button>
		</div>
	</div>
	<!-- END DOCTOR ID -->
	<!-- REFFERED TO DOCTOR -->
	<div class="col-md-4">
		<div class="form-group">
			<label class="un-label-form-3 un-label-whidth-130">
				Referred To Doctor *
			</label>
			<br>
			<button id="referred_to_doctor" class="btn btn-block select-outside ng-binding" ng-click="referdoctor.dialog.select()">
				{{referdoctor.name}}
			</button>
		</div>
	</div>
	<!-- END REFERRED TO DOCTOR -->

	<!-- EXPIRE DATE -->
	<div class="col-md-4">
		<div class="form-group">
			<label class="un-label-form-3 un-label-whidth-130">
				Expire Date *
			</label>
			<input class="form-control input-sm select-outside" custom-date ng-model="outreferral.form.expire_date" id="expire_date" disabled>
		</div>
	</div>
	<!-- END EXPIRE DATE -->

</div>

<div class="row">
	<div class="col-md-12">
		<button class="un-button-m" ng-click="outreferral.save()">Save</button>
	</div>
</div>

<script type="text/ng-template" id="selectOutdoctorDialog">
    <div class="modal-body">
        <mdtoutdoctor-search click-row="clickRow(row)"></mdtoutdoctor-search>
    </div>
</script>

<script type="text/ng-template" id="selectDoctorDialog">
    <div class="modal-body">
        <mdtdoctor-search click-row="clickRow(row)"></mdtdoctor-search>
    </div>
</script>