<div class="row">
	
	<!-- DATE ISSUED -->
	<div class="col-md-4">
		<div class="form-group">
			<label>
				Date Issued&nbsp;
				<span class="required" style="color: red;">*</span>
			</label>
			<input class="form-control input-sm" custom-date ng-model="outreferral.form.date_issued" id="date_issued" disabled>
		</div>
	</div>
	<!-- END DATE ISSUED -->

	<!-- DATE STARTED -->
	<div class="col-md-4">
		<div class="form-group">
			<label>
				Date Started&nbsp;
				<span class="required" style="color: red;">*</span>
			</label>
			<input class="form-control input-sm" custom-date ng-model="outreferral.form.date_started" id="date_started" disabled>
		</div>
	</div>
	<!-- END DATE STARTED -->

	<!-- EXPIRE DATE -->
	<div class="col-md-4">
		<div class="form-group">
			<label>
				Expire Date&nbsp;
				<span class="required" style="color: red;">*</span>
			</label>
			<input class="form-control input-sm" custom-date ng-model="outreferral.form.expire_date" id="expire_date" disabled>
		</div>
	</div>
	<!-- END EXPIRE DATE -->
</div>
<div class="row">
	<!-- DOCTOR ID -->
	<div class="col-md-4">
		<div class="form-group">
			<label>
				Outside Doctor&nbsp;
				<span class="required" style="color: red;">*</span>
			</label>
			<br>
			<button id="doctor_id" class="btn btn-secondary">
				{{outdoctor.name}}
			</button>
		</div>
	</div>
	<!-- END DOCTOR ID -->

	<!-- REFFERED TO DOCTOR -->
	<div class="col-md-4">
		<div class="form-group">
			<label>
				Referred To Doctor&nbsp;
				<span class="required" style="color: red;">*</span>
			</label>
			<br>
			<button id="referred_to_doctor" class="btn btn-secondary">
				{{referdoctor.name}}
			</button>
		</div>
	</div>
	<!-- END REFERRED TO DOCTOR -->

	<!-- DURATION -->
	<div class="col-md-4">
		<div class="form-group">
			<label>
				Duration&nbsp;
				<span class="required" style="color: red;">*</span>
			</label>
			<input class="form-control input-sm" ng-model="outreferral.form.duration" id="duration" readonly>
		</div>
	</div>
	<!-- END DURATION -->

</div>

<script type="text/ng-template" id="selectOutdoctorDialog">
    <div class="modal-body">
        <mdtoutdoctor-search click-row="clickRow(row)"></mdtoutdoctor-search>
    </div>
</script>

<script type="text/ng-template" id="selectDoctorDialog">
    <div class="modal-body">
        <mdtdoctor-search click-row="clickRow(row)"></mdtdoctor-search>
    </div>
</script>