<div class="row">
	<div class="col-md-10">
		<!-- PAGINATION -->
		<pagination boundary-links="true" total-items="list.count" ng-model="params.pagination.current_page" 
	        class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
	        items-per-page="params.pagination.limit" max-size="params.pagination.max_size" ng-change="setPage()">
	    </pagination>
	    <!-- END PAGINATION -->
	</div>
	<div class="col-md-2 col-sm-2 col-xs-2 pull-right text-center" ng-if="isClose">
        <button class="btn btn-sm btn-block red" ng-click="closePopup()">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="mdt-table">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Sur Name</th>
				</tr>
			</thead>
			<tbody>
				<tr class="no-hover">
					<td><input type="text" ng-model="params.filters[0].value" class="form-control" ng-change="refreshList()"></td>
					<td><input type="text" ng-model="params.filters[1].value" class="form-control" ng-change="refreshList()"></td>
				</tr>
				<tr ng-repeat="l in list.data" ng-click="clickRow({row: l})" style="cursor: pointer;">
					<td>{{l.First_name}}</td>
					<td>{{l.Sur_name}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>