<div class="modal-header">
    <h3 class="modal-title">{{dayChosen}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-4" style="text-align: right;margin-top: 5px">Task</label>
            <div class="col-md-8">
                <textarea class="form-control" ng-model="taskModal.task_name">

                </textarea>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 5px">
        <div class="form-group">
            <label class="control-label col-md-4" style="text-align: right;margin-top: 5px">Department Code</label>
            <div class="col-md-5">
                <select ng-model="taskModal.task_department" class="form-control" ng-options="department.department_code_id as department.NAME for department in departments">
                    <option value="">--Select Department Code--</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 5px">
        <div class="form-group">
            <label class="control-label col-md-4" style="text-align: right;margin-top: 5px">Location</label>
            <div class="col-md-5">
                <select ng-model="taskModal.task_location" class="form-control" ng-options="location.location_id as location.NAME for location in locations">
                    <option value="">--Select Location--</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 5px">
        <div class="form-group">
            <label class="control-label col-md-4" style="text-align: right;margin-top: 5px">Activity</label>
            <div class="col-md-5">
                <select ng-model="taskModal.task_activity" class="form-control" ng-options="activity.activity_id as activity.NAME for activity in activities">
                    <option value="">--Select Activity--</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-2" style="text-align: right;margin-top: 40px">Start time {{check}}</label>
        <div class="">
            <timepicker ng-model="taskModal.startDate" hour-step="1" minute-step="30" show-meridian="true"></timepicker>
        </div>
        <label class="control-label col-md-2" style="text-align: right;margin-top: 40px">End time</label>
        <div class="">
            <timepicker ng-model="taskModal.endDate" hour-step="1" minute-step="30" show-meridian="true"></timepicker>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$modalInstance.dismiss()">Cancel</button>
    <button class="btn btn-primary" ng-click="addTask()">OK</button>
</div>