<div class="panel-body">
    <form method="POST" class="grid-form">
        <!-- MAIN INFO -->
        <fieldset>
            <legend>Add User
                <a ng-click="reset()"><i class="glyphicon glyphicon-refresh"></i></a>
            </legend>
            <div data-row-span="12">
                <!-- NAME DEPARTMENT -->
                <div data-field-span="3">
                    <label>name of department</label>
                    <select ng-model="searchObjectMap.departmentid" ng-options="itemDept.departmentid as itemDept.departmentName for itemDept in department" ng-change="loadList()" style="font-size:13px;">
                    </select>
                </div>
                <!-- END NAME DEPARTMENT -->
                <!-- NAME ROLE -->
                <div data-field-span="3">
                    <label>name of role</label>
                    <select ng-model="searchObjectMap.NODE_ID" ng-options="itemRole.NODE_ID as itemRole.NODE_CODE for itemRole in node" ng-change="loadList()" style="font-size:13px;"></select>
                </div>
                <!-- END NAME ROLE -->
            </div>
            <div data-row-span="12">
                <div class="panel-body table-dynamic">
                    <center ng-show="list.loading"><i class="fa fa-spinner fa-spin fa-3x"></i>
                    </center>
                    <table class="responsive table table-bordered" ng-show="!list.loading">
                        <thead ng-show="list.result!==null">
                            <tr>
                                <th>
                                    <div class="th">
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        <span class="glyphicon glyphicon-chevron-up" ng-click="userNameASC()" ng-class="{'active': searchObjectMap.order['users.user_name']==='ASC'}">
                            </span>
                                        <span class="glyphicon glyphicon-chevron-down" ng-click="userNameDESC()" ng-class="{ 'active': searchObjectMap.order['users.user_name']==='DESC' } ">
                            </span> User name
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Company
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        User types
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Creation Date&nbsp;
                                        <span class="glyphicon glyphicon-chevron-up" ng-click="creationDateASC()" ng-class="{'active': searchObjectMap.order['users.Creation_date']==='ASC'}">
                            </span>
                                        <span class="glyphicon glyphicon-chevron-down" ng-click="creationDateDESC()" ng-class="{ 'active': searchObjectMap.order['users.Creation_date']==='DESC' } ">
                            </span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="list.result!==null || (list.result.length!==0 && list.result!==null)">
                                <td>
                                    <input type="checkbox" class="checkbox" ng-model="checkAll" ng-true-value="2" ng-false-value="-1" ng-change="checkChange(l.id, checkAll)">
                                </td>
                                <td>
                                    <input type="text " id="user_name" ng-model="searchObjectMap.data.user_name " ng-change="loadList(user_name) " class="form-control input-sm " style="margin-top:5px;">
                                </td>
                                <td>
                                    <select class="form-control input-sm" ng-model="searchObjectMap.select['users.company_id']" ng-options="itemCompany.id as itemCompany.Company_name for itemCompany in company" ng-change="loadList()" style="margin-top:5px; font-size:13px;">
                                    </select>
                                </td>
                                <td>
                                    <select class="form-control input-sm" ng-model="searchObjectMap.select['users.user_type']" ng-options="itemUserType.ID as itemUserType.user_type for itemUserType in userType" ng-change="loadList()" style="margin-top:5px; font-size:13px;">
                                    </select>
                                </td>
                                <td></td>
                            </tr>
                            <tr ng-show="list.result===null">
                                <td colspan="4 ">
                                    <h4 class="custom-timesheet">There is no items</h4>
                                </td>
                            </tr>
                            <tr ng-repeat="l in list.result " ng-class-odd="'odd'" style="cursor: pointer; ">
                                <td>
                                    <input type="checkbox" ng-model="checkList[l.id].status" ng-true-value="1" ng-false-value="0" class="checkbox" ng-change="checkChange(l.id, checkList[l.id].status)" ng-checked="checkList[l.id].status==1 || checkAll==2">
                                </td>
                                <td>{{l.user_name || " " }}</td>
                                <td>{{(l.Company_name==="" || l.Company_name===null)?"Not company":l.Company_name}}</td>
                                <td>{{(l.user_type==="" || l.user_type===null)?"Not type":l.user_type}}</td>
                                <td>{{(l.Creation_date==="" || l.Creation_date===null)?"Not value":l.Creation_date | date: "dd/MM/yyyy h:mm:ss a"}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <footer class="table-footer " ng-show="list.result!==null || (list.result.length!==0 && list.result!==null)">
                        <div class="row ">
                            <div class="col-ms-6 page-num-info ">
                                <div class="col-md-4 col-sm-5 ">
                                    <div class="input-group ">
                                        <span class="input-group-addon bold custom-timesheet" style="background-color: #fff; border:none; ">Total: {{list.count}}</span>

                                        <span class="input-group-addon custom-timesheet" style="background-color: #fff; border:none; ">Show</span>
                                        <select class="form-control" ng-model="searchObjectMap.limit " ng-change="loadList() " ng-options="itemRow.code as itemRow.code for itemRow in rows " style="font-size:13px;">
                                        </select>
                                        <span class="input-group-addon custom-timesheet" style="background-color: #fff; border:none; ">entries per page</span>
                                    </div>
                                </div>
                                <div class="col-ms-6 text-right pagination-container ">
                                    <span ng-show="count.loading "><i class="fa fa-spinner fa-spin fa-2x "></i></span>
                                    <pagination boundary-links="true " total-items="list.count " ng-model="searchObjectMap.currentPage " class="pagination-sm " previous-text="&lsaquo; " next-text="&rsaquo; " first-text="&laquo; " last-text="&raquo; " items-per-page="searchObjectMap.limit " max-size="searchObjectMap.maxSize " ng-change="setPage() "></pagination>
                                </div>
                            </div>
                    </footer>
                    </div>
                </div>
                <!-- END TABLE LIST USER IN GROUP -->
        </fieldset>
        <a class="btn blue pull-right btn-xs" ng-click="onSave({return: checkList})">Add</a>
        <a class="btn red pull-right btn-xs" ng-click="onCancel({return: true})">Close</a>
        <!-- END MAIN INFO -->
    </form>
    </div>
