<div class="panel-body">
    <form method="POST" class="grid-form" name="viewTask">
        <!-- MAIN INFO -->
        <fieldset>
            <legend>{{Title}}
                <!-- BUTTON -->
                <a class="btn pull-right btn-xs red" ng-click="onCancel({return: true})">X</a>
                <!-- END BUTTON -->
            </legend>
            <!-- INFORMATION -->
            <div data-row-span="12">
                <div data-field-span="6" style="font-size:14px;">
                    Employee: &nbsp;<span class="text-info" style="font-size:14px;">{{employee_name}}</span>
                </div>
                <div data-field-span="6" style="font-size:14px;">
                    For The Week: &nbsp;<span class="text-info" style="font-size:14px;">{{list.result[0].start_date| date: "dd/MM/yyyy"}} </span>&nbsp;to <span class="text-info" style="font-size:14px;">{{list.result[0].end_date| date: "dd/MM/yyyy"}}</span>
                </div>
            </div>
            <!-- END INFORMATION -->
            <!-- TABLE TASK OF WEEK-->
            <div data-row-span="12">
                <div class="panel-body table-dynamic">
                    <center ng-show="list.loading"><i class="fa fa-spinner fa-spin fa-3x"></i>
                    </center>
                    <table class="responsive table table-bordered" ng-show="!list.loading">
                        <thead ng-show="list.result!==null">
                            <tr>
                                <th>
                                    <div class="th">
                                        Date
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Activity
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Location
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Department
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Time Charge
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Tasks/Items
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Standard Ratio
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Standard Unit
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Comments
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(index,l) in list.result " style="cursor: pointer; " ng-class="{'same':(l.date|getDate)%2===0 && Title === 'Full Timesheet'}">
                                <td class="btn btn-xs" style="text-align:left; font-size:14px;">{{l.date | date: 'EEE, dd MMMM yyyy'}}</td>
                                <td class="btn btn-xs" style="text-align:left;font-size:14px;">{{(l.NAME===null || l.NAME==="")?"":l.NAME}}</td>
                                <td class="btn btn-xs" style="text-align:left;font-size:14px;">{{(l.LOCATION===null || l.LOCATION==="")?"N/A":l.LOCATION}}</td>
                                <td class="btn btn-xs" style="text-align:left;font-size:14px;">{{(l.departmentName===null ||l.departmentName==="")?"N/A":l.departmentName}}</td>
                                <td class="btn btn-xs" style="font-size:14px;">{{(l.item_id===null||l.item_id==="" || l.item_id===undefined)?(l.time_charge | customHours):(l.chargeItem|customHours)}}</td>
                                <td class="btn btn-xs" style="text-align:left;font-size:14px;">{{l.IS_BILLABLE===1?(l.item_id):(l.ITEM_NAME)}}</td>
                                <td class="btn btn-xs" style="text-align:left;font-size:14px;">{{(l.ratio===null||l.ratio==="" || l.ratio===undefined)?"N/A":l.ratio}}</td>
                                <td class="btn btn-xs" style="text-align:left;font-size:14px;">{{(l.units===null||l.units==="" || l.units===undefined)?"N/A":l.units}}</td>
                                <td class="btn btn-xs" style="text-align:left;font-size:14px;">{{(l.units===null||l.units==="" || l.units===undefined)?((l.task===""||l.task===null)?" ":l.task):l.comment}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12" style="margin-top:5px; font-size:14px;" ng-hide="Title === 'Timesheet Detail'">
                <span>Total Time Charge:&nbsp;<span class="text-info bold">{{list.result[0].chargeWeek | customHours}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span ng-show="list.result[0].status==='Approved'">Time In Lieu:&nbsp;<span class="text-info bold">{{list.result[0].time_in_lieu | customHours}}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span ng-show="list.result[0].status==='Approved'">Over Time:&nbsp;<span class="text-info bold">{{list.result[0].over_time | customHours}}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>Status:&nbsp;<span ng-class="{'reject':list.result[0].status==='Rejected','submited':list.result[0].status==='Submitted', 'approved':list.result[0].status==='Approved', 'pending':list.result[0].status==='Awaitting for Submit',
                            're-submitted':list.result[0].status==='Re-submitted'}">{{(list.result[0].status==="Submitted")?"Awaiting for Approve":list.result[0].status}}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <!-- END TABLE TASK OF WEEK -->
        </fieldset>
        <!-- END MAIN INFO -->
    </form>
</div>
