<div class="panel-body">
    <form method="POST" class="grid-form" name="formItemCode" accessibleForm>
        <!-- MAIN INFO -->
        <fieldset>
            <legend>Choose Task / Item Number
            </legend>
            <!-- TABLE ITEM BEEN SELECTED-->
            <div data-row-span="12">
                <div class="panel-body table-dynamic">
                    <center ng-show="list.loading"><i class="fa fa-spinner fa-spin fa-3x"></i>
                    </center>
                    <span class="bold" style="margin-left:3px;">Selected Task / Item Number<span>
                    <table class="responsive table table-bordered" ng-show="!list.loading">
                        <thead ng-show="list.result!==null">
                            <tr>
                                <th style="background-color:#26a69a;width:10%;">
                                    <div class="th">
                                        Task / Item Number
                                    </div>
                                </th>
                                <th style="background-color:#26a69a;width:40%;">
                                    <div class="th">
                                        Description
                                    </div>
                                </th>
                                <th style="background-color:#26a69a;width:10%;">
                                    <div class="th">
                                        Time Charge
                                    </div>
                                </th>
                                <th style="background-color:#26a69a;width:10%;">
                                    <div class="th">
                                        Standard Ratio
                                    </div>
                                </th>
                                <th style="background-color:#26a69a;width:10%;">
                                    <div class="th">
                                        Standard Unit
                                    </div>
                                </th>
                                <th style="background-color:#26a69a;width:27%;">
                                    <div class="th">
                                        Comments
                                    </div>
                                </th>
                                <th style="background-color:#26a69a;">
                                    <div class="th">
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-class-odd="'odd'" style="cursor: pointer; " ng-repeat="item in items">
                                <td ng-show="item.show===true" class="btn btn-xs">{{item.ITEM_ID}}</td>
                                <!-- MORE -->
                                <td ng-show="item.show===true" style="border:1px solid #ccc; text-align:left;" ng-if="(item.ITEM_NAME | readMoreSelected).check===true">
                            <div ng-show="item.show===true" ng-if="item.status===false">
                                {{(item.ITEM_NAME | readMoreSelected).value}}<a ng-click="clickShowSelected($index)">&nbsp;&nbsp;More...</a>
                            </div>
                            <div ng-show="item.show===true" ng-if="item.status===true">
                                {{item.ITEM_NAME}}<a ng-click="clickShowSelected($index)">&nbsp;Close</a>
                            </div>
                        </td>
                        <td ng-show="item.show===true" style="border:1px solid #ccc; text-align:left;" ng-if="(item.ITEM_NAME | readMoreSelected).check===false">
                            {{(item.ITEM_NAME | readMoreSelected).value}}
                        </td>
                                <!-- END MORE -->
                                <td ng-show="item.show===true" style="text-align:center">
                                    <div ng-class="{'error-input':items[$index].time_charge==='' || items[$index].time_charge ===null || items[$index].time_charge===undefined}">
                                    <input type="text" tabindex="4" class="input-sm" ui-mask="99:99" name="time_charge" ng-model="items[$index].time_charge" ng-required="true" style="font-size:13px;border:1px solid #ccc;height:20px; text-align:center;" id="time_chargeID" time-charge ng-change="changeTimeCharge($index,items[$index].time_charge)">
                                </div>
                                </td>
                                <td ng-show="item.show===true" style="text-align:center">
                                    <input type="text" tabindex="5" class="input-sm form-control" name="units" ng-model="items[$index].totalUnits" style="text-align:center;font-size:13px;border:1px solid #ccc; height:20px;" id="quantityID" ng-disabled="true">
                                </td>
                                <td ng-show="item.show===true" style="text-align:center">
                                    <input type="text" tabindex="5" class="input-sm form-control" name="units" ng-model="items[$index].totalUnits" style="text-align:center;font-size:13px;border:1px solid #ccc; height:20px;" id="quantityID" ng-disabled="true">
                                </td>
                                
                                <td ng-show="item.show===true" style="text-align:center;">
                                    <input type="text" tabindex="3" class="input-sm" name="comment" ng-model="items[$index].comment" style="font-size:13px;border:1px solid #ccc;height:20px;" id="commentID">
                                </td>
                                <td ng-show="item.show===true" style="text-align:center;">
                                    <a ng-click="deleteItem($index)">
                                        <i class="fa fa-trash pointer"></i>
                                    </a>
                                </td>
                            </tr>
                            <!-- temp row-->
                            <tr ng-show="isShow===true">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>&nbsp;</td>
                            </tr>
                            <td colspan="6 ">
                            <a class="btn btn-xs" style="color:#26a69a;" ng-click="clickAdd()"><i class="glyphicon glyphicon-plus-sign" style="font-size:15px; color:#26a69a;"></i>&nbsp;Insert</a>
                        </td>
                            <!-- end temp row -->
                        </tbody>
                    </table>
                    <div class="col-md-12">
                     <a class="btn yellow pull-right btn-xs" style="margin-right:-14px;width:70px;" ng-click="onCancel({return: true})">Cancel</a>
                     <button class="btn pull-right btn-xs green" style="margin-right:5px;width:70px;" ng-click="onSave({return: items,formValid:formItemCode})" ng-disabled="(items===undefined||items.length===0)">Save</button>
                 </div>
                <!-- END ITEM BEEN SELECTED -->
                <!-- TABLE ITEM-->
                     <center ng-show="list.loading"><i class="fa fa-spinner fa-spin fa-3x"></i>
                    </center> <span class="bold" style="margin-left:3px;">List of Task / Item Number<span>
                     <a ng-click="reset()"><i class="fa fa-refresh"></i></a>
                    <table class="responsive table table-bordered" ng-show="!list.loading">
                <tbody>
                    <tr style="background-color:#67809f;height:32px;">
                        <td class="btn btn-xs" style="text-align:left; width:5%;">
                            <span class="glyphicon glyphicon-chevron-up" ng-click="itemCodeASC()" ng-class="{'active': searchObjectMap.order['time_item_code.ITEM_ID']==='ASC'}">
                            </span>
                    <span class="glyphicon glyphicon-chevron-down" ng-click="itemCodeDESC()" ng-class="{ 'active': searchObjectMap.order['time_item_code.ITEM_ID']==='DESC' } ">
                            </span>
                    <input type="text" class="input-sm" ng-model="searchObjectMap.data['time_item_code.ITEM_ID']" ng-change="loadList()" style="border:1px solid #ccc; font-size:13px; width:100px;margin-left:-10px;height:20px;background-color:white;margin-top:3px;" placeholder="Number" tabindex="1" id="itemCodeID">
                    </td>
                    <td style="text-align:center;width:8%;">
                        <input type="text" class="input-sm" ng-disabled="true" style="text-align:center; font-size:13px; font-weight:bold;" value="Actual Unit">
                    </td>
                    <td class="btn btn-xs" style="text-align:left;width:87%;">
                        <input type="text" class="input-sm" style="border:1px solid #ccc; font-size:13px; height:20px;background-color:white;margin-top:3px;" placeholder="Description" ng-model="searchObjectMap.data['time_item_code.ITEM_NAME']" ng-change="loadList()" tabindex="2" id="itemNameID">
                    </td>
                    </tr>
                    <tr ng-repeat="l in list.result" ng-class-odd="'odd'" style="cursor: pointer; " ng-dblclick="addItem(l.ITEM_ID, l.ITEM_NAME, l.ITEM_UNITS)">
                        <td class="btn btn-xs" style="text-align:left;width:5%;">{{l.ITEM_ID}}</td>
                        <td class="btn btn-xs">
                            {{l.ITEM_UNITS}}
                        </td>
                        <td style="border:1px solid #ccc; text-align:left;" ng-if="(l.ITEM_NAME | readMore).check===true">
                            <div ng-if="l.status===false">
                                {{(l.ITEM_NAME | readMore).value}}<a ng-click="clickShow($index)">&nbsp;&nbsp;More...</a>
                            </div>
                            <div ng-if="l.status===true">
                                {{l.ITEM_NAME}}<a ng-click="clickShow($index)">&nbsp;Close</a>
                            </div>
                        </td>
                        <td class="btn btn-xs" style="border:1px solid #ccc; text-align:left;width:95%;" ng-if="(l.ITEM_NAME | readMore).check===false">
                            {{(l.ITEM_NAME | readMore).value}}
                        </td>
                    </tr>
                    </tbody>
                    </table>
                    <footer class="table-footer " ng-show="list.result!==null || (list.result.length!==0 && list.result!==null)">
                        <div class="row ">
                            <div class="col-ms-6 page-num-info ">
                                <div class="col-md-4 col-sm-5 ">
                                    <span class="bold custom-timesheet">Total: {{list.count}}</span>
                                    <span class="custom-timesheet">Show</span>
                                    <select class="custom-timesheet" ng-model="searchObjectMap.limit " ng-change="loadList() " ng-options="itemRow.code as itemRow.code for itemRow in rows " style="font-size:13px; width:48px;height:18px;">
                                    </select>
                                    <span class="custom-timesheet">entries per page</span>
                                </div>
                                <div class="col-ms-6 text-right pagination-container ">
                                    <span ng-show="count.loading "><i class="fa fa-spinner fa-spin fa-2x "></i></span>
                                    <pagination boundary-links="true " total-items="list.count " ng-model="searchObjectMap.currentPage " class="pagination-sm " previous-text="&lsaquo; " next-text="&rsaquo; " first-text="&laquo; " last-text="&raquo; " items-per-page="searchObjectMap.limit " max-size="searchObjectMap.maxSize " ng-change="setPage() "></pagination>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
                <!-- END TABLE ITEM -->
        </fieldset>
        <!-- END MAIN INFO -->
    </form>
    </div>
