<div class="panel-body">
    <form method="POST" class="grid-form" name="upUser">
        <!-- MAIN INFO -->
        <fieldset>
            <legend>Update User</legend>
            <div data-row-span="12">
                <!-- NAME DEPARTMENT -->
                <div data-field-span="6">
                    <label>name of department</label>
                    <select ng-model="info.departmentid" name="departmentid" ng-options="itemDept.departmentid as itemDept.departmentName for itemDept in department" ng-change="loadDept()" style="font-size:13px;" ng-required="true" custom-tr="info.departmentid" custom-fr="upUser.departmentid">
                    </select>
                </div>
                <!-- END NAME DEPARTMENT -->
                <!-- NAME ROLE -->
                <div data-field-span="6">
                    <label>name of role</label>
                    <select ng-model="info.NODE_ID" name="NODE_ID" ng-options="itemRole.NODE_ID as itemRole.NODE_CODE for itemRole in node" ng-change="loadRole()" style="font-size:13px;" ng-required="true" custom-tr="info.NODE_ID" custom-fr="upUser.NODE_ID"></select>
                </div>
                <!-- END NAME ROLE -->
            </div>
            <div data-row-span="12">
                <!-- NAME USER -->
                <div data-field-span="3">
                    <label>name of user</label>
                    <input type="text" ng-model="infoShow.user_name" readonly="true" style="font-size:13px;">
                </div>
                <!-- END NAME USER -->
                <!-- NAME EMAIL -->
                <div data-field-span="3">
                    <label>name of email</label>
                    <input type="text" ng-model="infoShow.Contact_email" readonly="true" style="font-size:13px;">
                </div>
                <!-- END NAME EMAIL -->
                <!-- NAME COMPANY -->
                <div data-field-span="3">
                    <label>name of conpany</label>
                    <input type="text" ng-model="infoShow.Company_name" readonly="true" style="font-size:13px;">
                </div>
                <!-- END NAME CONPANY -->
                <!-- NAME USER TYPE -->
                <div data-field-span="3">
                    <label>name of user type</label>
                    <input type="text" ng-model="infoShow.user_type" readonly="true" style="font-size:13px;">
                </div>
                <!-- END NAME USER TYPE -->
            </div>
        </fieldset>
        <a class="btn red pull-right btn-xs" style="width:50px;" ng-click="onCancel({return: 'true'})">Cancel</a>
        <a class="btn blue pull-right btn-xs" style="width:50px;" ng-click="onSave({return: info})" ng-disabled="upUser.departmentid.$error.required || upUser.CODE.$error.required">Update</a>
        <!-- END MAIN INFO -->
    </form>
</div>
