<div class="panel-body">
    <form method="POST" class="grid-form" name="viewTask">
        <!-- MAIN INFO -->
        <fieldset>
            <legend>Review
                <a class="btn red pull-right btn-xs" ng-click="onCancel({return: true})">x</a>
            </legend>
            <!-- INFORMATION -->
            <div data-row-span="10">
                <div data-field-span="2">
                    EMPLOYEE CODE:&nbsp;<span class="text-info" style="font-size:13px;">{{list.result[0].Employee_Code}}</span>
                </div>
                <div data-field-span="2">
                    EMPLOYEE NAME: &nbsp;<span class="text-info" style="font-size:13px;">{{employee_name}}</span>
                </div>
                <div data-field-span="2">
                    WEEK NO:&nbsp;<span class="text-info" style="font-size:13px;">{{list.result[0].week_no}}</span>
                </div>
                <div data-field-span="2">
                    TOTAL TIME CHARGE:&nbsp;<span class="text-info" style="font-size:13px;">{{(list.result[0].chargeWeek===null || list.result[0].chargeWeek=="")?"0":list.result[0].chargeWeek}}</span>
                </div>
                <div data-field-span="2">
                    TOTAL TIME SPENT: &nbsp;<span class="text-info" style="font-size:13px;">{{(list.result[0].spentWeek===null ||list.result[0].spentWeek==="")?"0":list.result[0].spentWeek}}</span>
                </div>
            </div>
            <!-- END INFORMATION -->
            <!-- TABLE TASK OF WEEK-->
            <div data-row-span="12">
                <div class="panel-body table-dynamic">
                    <center ng-show="list.loading"><i class="fa fa-spinner fa-spin fa-3x"></i>
                    </center>
                    <table class="responsive table table-bordered" ng-show="!list.loading">
                        <thead ng-show="list.result!==null">
                            <tr>
                                <th>
                                    <div class="th">
                                        Date Of Week
                                    </div>
                                </th>

                                <th>
                                    <div class="th">
                                        Activity
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Dept name
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Time charge
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Time spent
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Task
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="l in list.result " ng-class-odd="'odd'" style="cursor: pointer; " ng-click="goToListNode(l.GROUP_ID)">
                                <td class="btn btn-xs">{{l.date | date: "dd/MM/yyyy"}}</td>
                                <td class="btn btn-xs">{{l.NAME}}</td>
                                <td class="btn btn-xs">{{l.departmentName}}</td>
                                <td class="btn btn-xs">{{(l.time_charge===null || l.time_charge==="")?"0 Hours": l.time_charge+" Hours"}}</td>
                                <td class="btn btn-xs">{{(l.time_spent===null||l.time_spent==="")?"0 Hours":l.time_spent+" Hours"}}</td>
                                <td class="btn btn-xs">{{(l.task===""||l.task===null)?"":l.task}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- SHOW REJECT -->
            <div data-row-span="12" ng-show="(info.isReject===true || info.hasReject===true) && info.isApprove!==true">
                <div data-field-span="12">
                    <label>Comments(*)</label>
                    <textarea id="commentsID" name="comments" ng-model="info.comments" style="font-size:13px;" ng-required="true" custom-tr="info.comments" custom-fr="viewTask.comments"></textarea>
                </div>
            </div>
            <!-- END REJECT -->

            <!-- APPROVE -->
            <div data-row-span="12" ng-show="info.isApprove===true">
                <div data-field-span="12">
                    <span>Employee's remaining <span class="text-info bold">{{info.time_rest}} hours</span> , Please choose time type(*)</span>
                    <input type="radio" name="chooseTime" id="inLieuID" ng-model="info.chooseTime" ng-value="0" ng-required="info.chooseTime!==0 && info.chooseTime!==1" custom-tr="info.chooseTime" custom-fr="viewTask.chooseTime" />
                    <label style="font-size:13px;" for="inLieuID">
                        TIME IN LIEU
                    </label>
                    <input type="radio" name="chooseTime" id="overTimeID" ng-model="info.chooseTime" ng-value="1" ng-required="info.chooseTime!==0 && info.chooseTime!==1" custom-tr="info.chooseTime" custom-fr="viewTask.chooseTime" />
                    <label style="font-size:13px;" for="overTimeID">
                        OVER TIME
                    </label>
                </div>
            </div>
            <!-- END APPROVE -->

            <!-- END TABLE TASK OF WEEK -->
        </fieldset>
        <a class="btn blue pull-right btn-xs" ng-click="onApprove({return: info})" ng-hide="info.isReject===true" ng-disabled="(viewTask.chooseTime.$error.required && info.isApprove===true)">Approve</a>
        <a class="btn red pull-right btn-xs" ng-click="onReject({return: info})" ng-disabled="(info.isReject===true && viewTask.comments.$error.required) ||(info.isReject===true && viewTask.comments.$error.maxlength)" ng-hide="info.isApprove===true">Reject</a>
        <!-- END MAIN INFO -->
    </form>
</div>
