<div class="panel-body">
    <form method="POST" class="grid-form" name="viewTask">
        <!-- MAIN INFO -->
        <fieldset>
            <legend>View Timesheet</legend>
            <!-- INFORMATION -->
            <div data-row-span="12">
                <div data-field-span="6" style="font-size:14px;">
                    Employee: &nbsp;<span class="text-info" style="font-size:14px;">{{employee_name}}</span>
                </div>
                <div data-field-span="6" style="font-size:14px;">
                    For The Week: &nbsp;<span class="text-info" style="font-size:14px;">{{list.result[0].start_date| date: "dd/MM/yyyy"}} </span>&nbsp;to <span class="text-info" style="font-size:14px;">{{list.result[0].end_date| date: "dd/MM/yyyy"}}</span>
                </div>
            </div>
            <!-- END INFORMATION -->
            <!-- TABLE TASK OF WEEK-->
            <div data-row-span="12" style="font-size:14px;">
                <div class="panel-body table-dynamic">
                    <center ng-show="list.loading"><i class="fa fa-spinner fa-spin fa-3x"></i>
                    </center>
                    <table class="responsive table table-bordered" ng-show="!list.loading">
                        <thead ng-show="list.result!==null">
                            <tr>
                                <th>
                                    <div class="th">
                                        Date
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Billable Time
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Administration Time
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Training Time
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Development Time
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Non-charged
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Total Worked Hours
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="l in list.result " ng-class-odd="'odd'" ng-hide="(l.sumDATE===0 && l.activity_id !==18)">
                                <td style="text-align:left;font-size:14px;">{{l.date | date : 'EEE, dd MMMM yyyy'}}</td>
                                <td style="font-size:14px; text-align:center;">{{(l.AC[1]!==undefined && l.AC[1]!==0)?(l.AC[1] | customHours):"-"}}</td>
                                <td style="font-size:14px; text-align:center;">{{(l.AC[2]!==undefined && l.AC[2]!==0)?(l.AC[2] | customHours):"-"}}</td>
                                <td style="font-size:14px; text-align:center;">{{(l.AC[3]!==undefined && l.AC[3]!==0)?(l.AC[3]| customHours):"-"}}</td>
                                <td style="font-size:14px; text-align:center;">{{(l.AC[4]!==undefined && l.AC[1]!==0)?(l.AC[4]| customHours):"-"}}</td>
                                <td style="font-size:14px; text-align:center;">{{(l.AC[5]!==undefined && l.AC[1]!==0)?(l.AC[5]| customHours):"-"}}</td>
                                <td style="font-size:14px; text-align:center;">{{(l.sumDATE!==undefined && l.sumDATE!==0)?(l.sumDATE | customHours):"-"}}</td>
                                <td style="text-align:center;font-size:14px;"><a class="btn btn-xs" ng-click="ViewDetail(list.result[0].task_week_id,l.date, 'on-date')" style="font-size:14px;">View Detail</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12" style="margin-top:5px; font-size:14px;">
                <span>Total Worked Hours:<span class="text-info bold" style="margin-left:15px;">{{list.result[0].chargeWeek | customHours}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span ng-show="list.result[0].status==='Approved'">Time In Lieu:&nbsp;<span class="text-info bold">{{list.result[0].time_in_lieu | customHours}}</span> </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span ng-show="list.result[0].status==='Approved'">OverTime:&nbsp;<span class="text-info bold">{{list.result[0].over_time | customHours}}</span></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>Status:&nbsp;<span ng-class="{'reject':list.result[0].status==='Rejected','submited':list.result[0].status==='Submitted', 'approved':list.result[0].status==='Approved', 'pending':list.result[0].status==='Awaiting for Submit',
                            're-submitted':list.result[0].status==='Re-submitted'}">{{(list.result[0].status==="Submitted")?"Awaiting for Approve":list.result[0].status}}</span></span>
            </div>
            <!-- SHOW REJECT -->
            <div data-row-span="12" ng-show="(info.isReject===true) && info.isApprove!==true">
                <div class="col-md-12">
                    <label>Comments(*)</label>
                    <textarea id="commentsID" name="comments" ng-model="info.comments" style="font-size:14px;" ng-required="true" custom-tr="info.comments" custom-fr="viewTask.comments" ng-disabled="statusID===4"></textarea>
                </div>
            </div>
            <!-- END REJECT -->
            <!-- APPROVE -->
            <div data-row-span="12" ng-show="info.isApprove===true">
                <div class="col-md-12" style="margin-top:5px; font-size:14px;">
                    <span>Ordinary Hours:<span class="text-info bold" style="margin-left:42.5px;">38:00
                </div>
                    <span class="col-md-3" style="font-size:14px;width:250px;margin-top:5px;">Additional Worked Hours <span class="text-info bold">{{info.time_rest | customHours}}</span> to be:</span>
                    <div class="col-md-2" style="width:auto;margin-left:20px;">
                        <!-- DIV ERR -->
                        <div ng-class="{'error-input': viewTask.over_time.$error.required}">
                            <input type="text" ui-mask="99:99" name="over_time" ng-model="info.over_time" ng-required="true" style="text-align:center; width:70px;height:20px;font-size:14px;border:1px solid #ccc;" ng-change="changeOverTime()" time-charge class="input-sm form-control">
                        </div>
                        <!-- END DIV -->
                    </div>
                    <div class="col-md-2">
                        <label class="control-label" style="font-size:14px;margin-top:1.7px;margin-left:-25px;">PAID AS OVERTIME</label>
                    </div>
                    <!-- TIME IN LIEU -->
                    <div class="col-md-12" style="margin-bottom:5px;">
                        <div class="col-md-3" style="width:255px;">
                        </div>
                        <div class="col-md-2" style="width:auto;">
                            <!-- DIV ERROR -->
                            <div ng-class="{'error-input': viewTask.time_in_lieu.$error.required}">
                                <input type="text" ui-mask="99:99" name="time_in_lieu" ng-model="info.time_in_lieu" ng-change="changeTimeInLieu()" ng-required="true" time-charge class="input-sm form-control" style="text-align:center;width:70px;height:20px; font-size:14px;border:1px solid #ccc;">
                            </div>
                            <!-- END DIV -->
                        </div>
                        <div class="col-md-2" style="font-size:14px;margin-top:1.7px;margin-left:-25px;">
                            <span>BANKED AS TIME IN LIEU</span>
                        </div>
                    </div>
                    <!-- END IN LIEU -->
                </div>
                <!-- END APPROVE -->
                <!-- END TABLE TASK OF WEEK -->
        </fieldset>
        <!-- BUTTON -->
        <a style="width:70px; font-size:14px;" class="btn pull-right btn-xs yellow" ng-click="onCancel({return: info})">Cancel</a>
        <a style="width:70px;font-size:14px;" class="btn blue pull-right btn-xs" ng-click="onApprove({return: info})" ng-hide="info.isReject===true || statusID===3 || statusID ===4" ng-disabled="(viewTask.time_in_lieu.$error.required || viewTask.over_time.$error.required) && info.isApprove===true">Approve</a>
        <a style="width:70px;font-size:14px;" class="btn red pull-right btn-xs" ng-click="onReject({return: info})" ng-disabled="(info.isReject===true && viewTask.comments.$error.required) ||(info.isReject===true && viewTask.comments.$error.maxlength)" ng-hide="info.isApprove===true || statusID===3 || statusID ===4">Reject</a>
        <!-- END BUTTON -->
        <!-- END MAIN INFO -->
    </form>
    </div>
    <script type="text/ng-template " id="ViewDetail ">
        <view-timesheet ng-model="idView" on-cancel="clickCancel(return) "></view-timesheet>
    </script>
