<div class="cal-week-box" style="border: none">

    <div class="cal-row-fluid" ng-repeat="(key,column) in view.columns track by $index" ng-class="{'cal-day-weekend': key > 4}">
        <label class="bold col-md-1 col-md-offset-1" style="color: #000000">{{ column.weekDay }}</label>
        <label class="col-md-2 small" style="color: #000000">
            <span data-cal-date>{{ column.date }}</span>
        </label>
        <div class="col-md-1 col-md-offset-7">
            <a
                    href="javascript:;"
                    ng-bind-html="$sce.trustAsHtml(addEventHtml)"
                    ng-click="eventAddClick(column.date,column.dateChosen,key)">
            </a>
        </div>
        <div class="col-md-11 col-md-offset-1">
            <div ng-show="!tasks[key] || tasks[key].length == 0">
                <label style="margin-left: 10px">No task</label>
            </div>
            <div ng-mousemove="show=true" ng-mouseleave="show=false" ng-repeat="(keyT,task) in tasks[key]" class="cal-cell2 day-highlight dh-event-waiting" data-event-class>
                <a href="javascript:;" ng-click="delTask(key,keyT)"><i class="glyphicon glyphicon-remove pull-right" ng-show="show == true" style="color: #808080;"></i></a>
                <a href="javascript:;" ng-click="eventEditClick(key,keyT)"  class="cal-event-week">
                    {{task.task_name}}
                    </br>
                    <small class="badge pull-right ng-binding">{{task.startDate | date : "h:mma"}} - {{task.endDate | date : "h:mma"}}</small>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-3 col-md-offset-5">
    <button class="btn btn-warning" ng-click="backMonth()">Cancel</button>
    <button class="btn btn-danger" ng-click="addAllTask(view.startWeek,view.endWeek)">Save All</button>
</div>