.idea/workspace.xml
Projects/redimedProjStruct/log/error.log
Projects/InjuryManagement/platforms/android/ant-build/dexedLibs/android-support-v13-95b3eed6557e100c1efa5e265f51a8cd.jar

Projects/InjuryManagement/platforms/android/ant-build/dexedLibs/classes-e2992182ab252cf06934f413db24e38f.jar

Projects/InjuryManagement/platforms/android/ant-build/dexedLibs/gcm-d1358da2045c869b0691c4821ff3b883.jar

Projects/InjuryManagement/platforms/android/assets/www/modules/bluetooth/controller/BluetoothController.js

Projects/InjuryManagement/platforms/android/assets/www/modules/bluetooth/views/main.html
