.idea/workspace.xml
Projects/redimedProjStruct/log/error.log
Projects/InjuryManagement/platforms/android/ant-build/dexedLibs/android-support-v13-95b3eed6557e100c1efa5e265f51a8cd.jar

Projects/InjuryManagement/platforms/android/ant-build/dexedLibs/classes-e2992182ab252cf06934f413db24e38f.jar

Projects/InjuryManagement/platforms/android/ant-build/dexedLibs/gcm-d1358da2045c869b0691c4821ff3b883.jar

Projects/InjuryManagement/platforms/android/assets/www/modules/bluetooth/controller/BluetoothController.js

Projects/InjuryManagement/platforms/android/assets/www/modules/bluetooth/views/main.html

Projects/InjuryManagement/platforms/android/ant-build/dexedLibs/android-support-v13-95b3eed6557e100c1efa5e265f51a8cd.jar

Projects/InjuryManagement/platforms/android/ant-build/dexedLibs/classes-e2992182ab252cf06934f413db24e38f.jar

Projects/InjuryManagement/platforms/android/ant-build/dexedLibs/gcm-d1358da2045c869b0691c4821ff3b883.jar

Projects/InjuryManagement/platforms/android/ant-build/classes/org/apache/cordova/inappbrowser/InAppBrowser.class

Projects/InjuryManagement/platforms/android/ant-build/classes/org/apache/cordova/inappbrowser/InAppBrowser$1.class

Projects/InjuryManagement/platforms/android/ant-build/classes/org/apache/cordova/inappbrowser/InAppBrowser$2.class

Projects/InjuryManagement/platforms/android/ant-build/classes/org/apache/cordova/inappbrowser/InAppBrowser$3.class

Projects/InjuryManagement/platforms/android/ant-build/classes/org/apache/cordova/inappbrowser/InAppBrowser$4.class

Projects/InjuryManagement/platforms/android/ant-build/classes/org/apache/cordova/inappbrowser/InAppBrowser$4$1.class

Projects/InjuryManagement/platforms/android/ant-build/classes/org/apache/cordova/inappbrowser/InAppBrowser$5.class

Projects/InjuryManagement/platforms/android/ant-build/classes/org/apache/cordova/inappbrowser/InAppBrowser$5$1.class

Projects/InjuryManagement/platforms/android/ant-build/classes/org/apache/cordova/inappbrowser/InAppBrowser$5$2.class

Projects/InjuryManagement/platforms/android/ant-build/classes/org/apache/cordova/inappbrowser/InAppBrowser$5$3.class

Projects/InjuryManagement/platforms/android/ant-build/classes/org/apache/cordova/inappbrowser/InAppBrowser$5$4.class

Projects/InjuryManagement/platforms/android/ant-build/classes/org/apache/cordova/inappbrowser/InAppBrowser$InAppBrowserClient.class

Projects/InjuryManagement/platforms/android/ant-build/CordovaApp-debug-unaligned.apk

Projects/InjuryManagement/platforms/android/ant-build/CordovaApp-debug-unaligned.apk

Projects/InjuryManagement/platforms/android/ant-build/CordovaApp-debug-unaligned.apk

Projects/InjuryManagement/platforms/android/ant-build/CordovaApp-debug-unaligned.apk

Projects/InjuryManagement/platforms/android/ant-build/CordovaApp-debug-unaligned.apk.d

Projects/InjuryManagement/platforms/android/ant-build/CordovaApp-debug.apk

Projects/InjuryManagement/platforms/android/ant-build/CordovaApp.ap_.d

Projects/InjuryManagement/platforms/android/ant-build/CordovaApp.ap_

Projects/InjuryManagement/platforms/android/CordovaLib/ant-build/build.prop

Projects/InjuryManagement/platforms/android/CordovaLib/ant-build/classes.jar

Projects/InjuryManagement/platforms/android/ant-build/CordovaApp.ap_
