<style>
	a {
		text-decoration: inherit;
	}

	 .prog-wrapper{
		position: relative !important;
		margin:20px auto !important;
		font-size: 40px !important;
	}

	.prog{
		position: absolute !important;
		width: 100% !important;
		height: 100% !important;
		line-height: 6em !important;
		font-size:33px !important;
		text-align: center !important;
		color: #bbb !important;
		font-weight: 100 !important;
	}

</style>
<h3 class="page-title">Medical Devices</h3>
<div>
    <div class="row">
        <div ng-click="showHistory(device)" class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="device in deviceList">
            <a href="javascript:;" style="margin-bottom: 20 !important"  class="dashboard-stat dashboard-stat-light {{device.color}}" style="text-decoration: none;">
                <div class="visual">
                    <i class="{{device.icon}}"></i>
                </div>
                <div class="details">
                    <div class="number" style="font-size: 26px;">
                        {{device.device_name}}
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div ng-if="currDevice"  class="portlet blue-chambray box">
        <div class="portlet-title">
            <div class="caption ">
                <i class="icon-list"></i>
                <span class="caption-subject uppercase">Device: {{currDevice}}</span>
            </div>
        </div>
        <div class="portlet-body">
            <div ng-if="haveData" class="row" style="text-align: center;">
                <span>
                    <label style="font-weight: bold;">Measure data from</label>
                    &nbsp;&nbsp;
                    <input style="cursor: pointer;" type="text" callback="changeHistory(historyDates)" date-range-picker ng-model="historyDates"/>
                </span>
            </div>
            <flot ng-if="haveData" dataset="chartData" options="chartOptions" width="100%" height="300px"></flot>
            <br ng-if="haveData"/>
            <div ng-if="!haveData" class="row" style="text-align: center;">
                <span style="font-size: 20px; font-style: italic; font-weight: bold;"> 
                    Empty Data
                </span>
            </div>
            <div ng-if="haveData" class="table-scrollable" id="content">
                <table ng-table="tableParams" show-filter="true" class="table table-striped table-hover table-bordered table-responsive">
                    <tr ng-repeat="f in $data track by $index ">
                        <td style="text-align:center" width="30%;" data-title="'Patient Name'">
                            <label>{{f.FullName}}</label>
                        </td>
                        <td style="text-align:center" width="20%;" data-title="'Measure Date'" sortable="'measure_date'" >
                            <label>{{f.measure_date | date:'dd/MM/yyyy - hh:mm a'}}</label>
                        </td>
                        <td style="text-align:center" width="30%" data-title="'Measure Data'" >
                            <label ng-repeat="(key,val) in f.jsonData">
                                {{key | uppercase}}:{{val}} 
                                &nbsp;&nbsp;
                            </label>
                        </td>
                        <td style="text-align:center" width="20%" data-title="'Notes'" >
                            <label></label>
                            <a onaftersave="updateMeasure(f)" href="#" editable-text="f.notes">
                                {{ f.notes || 'Empty' }}
                            </a>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>