<style type="text/css">
    .rowWaiting {
        background-color: rgba(255, 220, 96, 0.44);
    }

    .rowDone {
        background-color: rgba(117, 255, 186, 0.35);
    }

    .img-image-name{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        color: white;
        font-size: 40px;
        font-weight: lighter;
    }

    table {
        table-layout:fixed;
    }

    .div-table-content {
        height:600px;
        overflow-y:auto;
    }

</style>
<div class="tabbable-custom nav-justified">
    <ul class="un-tabs">
        <li class="active">
            <a href="injuryMap.html#tab_1_1_2" data-toggle="tab">
                <i class="icon-list"></i>&nbsp;&nbsp;&nbsp;
                Injury List</a>
        </li>
    </ul>
    <div class="un-tabs-content">
        <div class="un-tab-content active" id="tab_1_1_2">
            <div style="margin-bottom: 0 !important;" class="panel panel-default">
                <table class="table table-condensed" >
                    <tr>
                        <th width="100px">
                           <!--  <a href="javascript:;" ng-click="refreshList()" class="btn un-submit green">
                                Refresh &nbsp;<i class="fa fa-refresh"></i>
                            </a> -->
                        </th>
                        <th>
                            <label style="font-size: 17px;">Patient Name</label>
                        </th>
                        <th style="text-align:center">
                            <label style="font-size: 17px;">Injury Date</label>
                        </th>
                        <th style="text-align:center">
                            <label style="font-size: 17px;">Driver</label>
                        </th>
                        <th style="text-align:center">
                            <label style="font-size: 17px;">Status</label>
                        </th>
                    </tr>
                    <tr>
                        <th width="100px">
                            <a href="javascript:;" ng-click="refreshList()" class="btn un-submit green">
                                Refresh &nbsp;<i class="fa fa-refresh"></i>
                            </a>
                        </th>
                        <th>
                            <input ng-change="searchInjury(search)" ng-model="search.patient" class="form-control" type="text" />
                        </th>
                        <th style="text-align:center">
                            <date-range-picker style="width:200px;" ng-model="search.dateRange" ranged="true" callback="getDateRange(search.dateRange)"></date-range-picker>
                            <!--<input class="form-control" type="text" />-->
                        </th>
                        <th style="text-align:center">
                            <input ng-model="search.driver" ng-change="searchInjury(search)" class="form-control" type="text" />
                        </th>
                        <th style="text-align:center">
                            <!--<input type="checkbox" ng-change="searchInjury(search)" ng-model="search.isNew"/> New-->
                            <!--<input type="checkbox" ng-change="searchInjury(search)" ng-model="search.isWaiting"/> Waiting-->
                            <!--<input type="checkbox" ng-change="searchInjury(search)" ng-model="search.isDone" /> Done-->
                        </th>
                    </tr>
                </table>
            </div>
            <div style="text-align: center;background-color: white;" ng-if="injuryList == null || injuryList.length == 0">
                <br/>
                <span style="font-size: 20px; font-style: italic; font-weight: bold;"> 
                    Empty Data
                </span>
                <br/>
            </div>
            <div ng-if="injuryList.length > 0"  style="background-color: white;" class="div-table-content">
                <table class="table table-hover table-condensed">
                    <tbody> 
                        <tr style="white-space: nowrap; cursor: pointer;" ng-click="showDetails(im.injury_id)"  ng-repeat="im in injuryList"  ng-class="{rowWaiting : im.STATUS == 'Waiting', rowDone : im.STATUS == 'Done'}">
                            <td width="100px"  style="vertical-align:middle" align="center">
                                <div class="img-image-name" ng-style={"background-color":im.background} >
                                    {{im.First_name | limitTo: 1 | uppercase}}
                                </div>
                            </td>
                            <td style="vertical-align:middle" >
                                <label class="bold">
                                    {{im.FullName}}
                                </label>
                            </td>
                            <td style="vertical-align:middle" align="center">
                                {{im.injury_date | date:'dd/MM/yyyy'}}
                            </td>
                            <td style="vertical-align:middle" align="center">
                                <label class="bold">{{im.driverUser}}</label>
                            </td>
                            <td style="vertical-align:middle" align="center">
                                <a ng-show="im.STATUS == 'New'" href="javascript:;" class="btn blue un-submit" style="width:100px">
                                    {{im.STATUS}}
                                </a>
                                <a ng-show="im.STATUS == 'Waiting'" href="javascript:;" class="btn un-submit" style="width:100px">
                                    {{im.STATUS}}
                                </a>
                                <a ng-show="im.STATUS == 'Done'" href="javascript:;" class="btn green un-submit" style="width:100px">
                                    {{im.STATUS}}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>