
<script type="text/ng-template" id="iso_create_folder_template.html">
    <div class="form-group" show-errors='{showSuccess: true}'>
        <label >Folder name:
        </label>
        <input type="text" ng-model="newFolder.nodeName" class="form-control" placeholder="Folder name" name="nameFolder" required ng-maxlength="50">
        <p class="help-block" ng-if="actionContentForm.nameFolder.$error.required">Required!</p>
        <p class="help-block" ng-if="actionContentForm.nameFolder.$error.maxlength">Folder name cannot be longer than 50 characters</p>
    </div>
    <div class="form-group" show-errors='{showSuccess: true}'>
        <label >Description:</label>
        <input type="text" ng-model="newFolder.description" class="form-control" placeholder="Description" ng-maxlength="500" name="description">
        <p class="help-block" ng-if="actionContentForm.description.$error.maxlength">Description cannot be longer than 500 characters</p>
    </div>
    <button class="btn btn-default" ng-click="beforeCreateFolder();">Create</button>
</script>


<script type="text/ng-template" id="iso_create_document_template.html">
    <div class="form-group" show-errors='{showSuccess: true}'>
        <label >Document name:
        </label>
        <input type="text" ng-model="newDocument.nodeName" class="form-control" placeholder="Document name" ng-maxlength="50" required name="nameDocument">
        <p class="help-block" ng-if="actionContentForm.nameDocument.$error.required">Required!</p>
        <p class="help-block" ng-if="actionContentForm.nameDocument.$error.maxlength">Document name cannot be longer than 50 characters</p>
    </div>
    <div class="form-group" show-errors='{showSuccess: true}'>
        <label >Document code:
            <small class="has-error">
                {{newDocumentBackError.docCode}}
            </small>
        </label>
        <input type="text" ng-model="newDocument.docCode" class="form-control" placeholder="Document code" ng-maxlength="20" required name="nameDocumentCode">
        <p class="help-block" ng-if="actionContentForm.nameDocumentCode.$error.required">Required!</p>
        <p class="help-block" ng-if="actionContentForm.nameDocumentCode.$error.maxlength">Document code cannot be longer than 20 characters</p>
    </div>

    <div class="form-group" show-errors='{showSuccess: true}'>
        <label >Document type:</label>
        <select class="form-control" ng-model="newDocument.documentType" ng-options="item.value for item in documentTypeList" required name="documentType">
            <!-- <option  value="">All</option> -->
        </select>
        <p class="help-block" ng-if="actionContentForm.documentType.$error.required">Required!</p>
    </div>

    <div class="form-group" show-errors='{showSuccess: true}'>
        <label >Department:</label>
        <select class="form-control" ng-model="newDocument.department" ng-options="department.DEPARTMENT_NAME for department in departmentList" required name="department">
            <!-- <option  value="">All</option> -->
        </select>
        <p class="help-block" ng-if="actionContentForm.department.$error.required">Required!</p>
    </div>

    <div class="form-group" show-errors='{showSuccess: true}'>
        <label >Description:</label>
        <input type="text" ng-model="newDocument.description" class="form-control" placeholder="Description" ng-maxlength="500" name="Description">
        <p class="help-block" ng-if="actionContentForm.Description.$error.maxlength">Description cannot be longer than 500 characters</p>
    </div>

        <div class="col-md-12 col-sm-12" style="margin-bottom: 40px">
            <input style="background-color: burlywood" type="file" nv-file-select="" uploader="uploader"  /><br/>
            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th ng-show="uploader.isHTML5">Size</th>
                    <th ng-show="uploader.isHTML5">Progress</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td><strong>{{ item.file.name}}</strong></td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" ng-style="{
                                                                        'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    
                </tr>
                </tbody>
            </table>

        <div
            <button type="button" class="btn btn-success btn-s" ng-click="beforeCreateDocument();" ng-disabled="!uploader.getNotUploadedItems().length && $scope.actionContentForm.$valid">
                <span class="glyphicon glyphicon-upload"></span> Create Documents
            </button>
            <!--<button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">-->
            <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel-->
            <!--</button>-->
            <!-- <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Clear file
            </button> -->
        </div>
    </div>
</script>


<!-- TANNV.DTS@GMAIL.COM
GOBAL POPUP -->
<!-- --------------------------------------------------------------------------------------- -->
<div id="iso-global-msg-popup" class="modal fade">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><div class="iso-global-msg-popup-header"></div></h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12" style="margin-bottom: 40px">

                        <!--<span  class="label" ng-class="{'label-success':status=='success','label-warning':status=='fail'}">-->
                            <!--{{msg}}-->
                        <!--</span>-->
                        
                        <div  class="alert alert-success iso-global-msg-popup-success" role="alert">
                            <div class='iso-global-msg-popup-content'></div>
                        </div>
                        <div class="alert alert-danger iso-global-msg-popup-error" role="alert">
                            <div class='iso-global-msg-popup-content'></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<!-- --------------------------------------------------------------------------------------- -->


<script type="text/ng-template" id="iso_grant_node_permission.html">
    <div>
        <iso-grant-user-permission selected-tree-node="selectedTreeNode">
        </iso-grant-user-permission>
<!-- 
        <iso-selection-user-name></iso-selection-user-name> -->
    </div>
</script>



<script type="text/ng-template" id="iso_check_in_document.html">
    <iso-check-in-document selected-tree-node="selectedTreeNode"></iso-check-in-document>
</script>


<script type="text/ng-template" id="iso_get_full_version_document.html">
   <div class="table-scrollable" id="content" style="height:350px;overflow:scroll;">
        <table id="tblFullVersion"    show-filter="true" class="table table-hover table-bordered table-responsive">

            <tr >
            
                <td width="100px" >
                    <label >Document Name</label>
                </td>
                <td width="200px">
                    <label >Version No</label>
                </td>
                <td align="center" width="100px"  >
                    <label >Sensorship Date</label>
                </td>
                <td align="center" data-title="'Actions'">
                   <label >Actions</label>
                </td>
            </tr>

            <tr  style="white-space: nowrap; cursor: pointer;" ng-repeat="version in fullVersionDocumentData" >
                
                <td width="100px" data-title="'Document Name'" >
                    <label >{{version.NODE_NAME}} </label>
                    <br/>
                    <div style="width:100px;" class="iso_wordwrap">({{version.FILE_NAME}})</div>
                </td>
                <td width="200px" data-title="'Version No'">
                    <label >{{version.VERSION_NO}}</label>
                </td>
                <td align="center" width="100px" data-title="'Sensorship Date'" >
                    <label >{{version.CENSORSHIP_DATE| date:'yyyy-MM-dd HH:mm:ss '}}</label>
                </td>
                <td align="center" data-title="'Actions'">
                    <a class="btn btn-default btn-xs" ng-click="downloadVersionNo(version.FILE_NAME,version.CHECK_IN_FOLDER_STORAGE,version.NODE_ID)" >
                       </i> Download 
                    </a>
                    <a class="btn btn-default btn-xs" ng-show="permissionFunction[selectedTreeNode.PERMISSION].makeCurrentVersion && version.IS_CURRENT_VERSION!=1" ng-click="makeCurrentVersion(version.NODE_ID,version.ID)" >
                       </i> Make Current
                    </a>
                    <span ng-show="version.IS_CURRENT_VERSION==1">(Current Version)</span>
                </td>
            </tr>
        </table>
    </div>
</script>

<script type="text/ng-template" id="iso_get_full_checkin_document.html">
   <div  id="content">
            <table id="tblFullVersion"  show-filter="true" class="table table-hover table-bordered table-responsive">
                <tr>
                    <td width="200px" >
                        <label >Document Name</label>
                    </td>
                    <td width="200px">
                        <label >Checkin No</label>
                    </td>
                    <td align="center" width="100px"  >
                        <label >Checkin Date Date</label>
                    </td>
                    <td align="center" >
                       <label >Actions</label>
                    </td>
                </tr>
                <tr  style="white-space: nowrap; cursor: pointer;" ng-repeat="check in fullCheckinDocumentData" >
                
                    <td width="200px" >
                        <label >{{check.FILE_NAME}}</label>
                    </td>
                    <td width="200px" >
                        <label >{{check.CHECK_IN_NO}}</label>
                    </td>
                    <td align="center" width="100px"  >
                        <label >{{check.CHECK_IN_DATE| date:'yyyy-MM-dd HH:mm:ss '}}</label>
                    </td>
                    <td align="center" data-title="'Actions'">
                        <a style="width: 150px" href="javascript:;" ng-click="downloadVersionNo(check.FILE_NAME,check.CHECK_IN_FOLDER_STORAGE,check.NODE_ID)" class="btn btn-circle blue-steel btn-sm">
                            <i class="fa fa-pencil"></i> Download Version </a>
                    </td>
                </tr>
            </table>
        </div>
</script>


<script type="text/ng-template" id="iso_request_edit_document.html">
    <div class="form-group">
        <label >Description:
        </label>
        <textarea ng-model="newRequestEditDocument.description" class="form-control" rows="10">
            
        </textarea>
    </div>
    
    <button class="btn btn-default" ng-click="sendRequestEditDocument();">Send</button>
</script>

<script type="text/ng-template" id="iso_view_your_request.html">
    <div class="table-responsive" style="height:200px;overflow:auto;">
        <table class="table">
            <tr>
                <th>Date submitted:</th>
                <th></th>
            </tr>
            
            <tr ng-repeat="item in listYourRequest" ng-click="setSelectedYourRequest(item)">
                <td>
                    {{item.CREATION_DATE|date:'dd/MM/yyyy HH:mm:ss'}}
                </td>
                <td>
                    <button ng-show="item.IS_READ==0" type='button' 
                            class='btn btn-primary btn-xs' 
                            ng-click="cancelYourRequest(item.ID);">
                        Cancel
                    </button>

                    <span ng-show="item.IS_READ==1">Had Read</span>
                </td>
            </tr>
        </table>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1" style='font-weight:bold'>Detail:</label>
        <textarea ng-disabled="'true'" ng-model="selectedYourRequest.DESCRIPTION" class="form-control" rows='10'></textarea>
      </div>
    
</script>

<script type="text/ng-template" id="iso_view_all_request.html">
    <div class="table-responsive" style="height:200px;overflow:auto;">
        <table class="table">
            <tr>
                <th>Date submitted:</th>
                <th>Submited by</th>
                <th></th>
            </tr>
            
            <tr ng-class="{'alert alert-success':item.IS_READ==0,'iso_request_star_text':item.STAR==1}" ng-repeat="item in listAllRequest" ng-click="setSelectedRequest(item)">
                
                <td>
                    {{item.CREATION_DATE|date:'dd/MM/yyyy HH:mm:ss'}}
                </td>
                <td>
                    {{item.user_name}}
                </td>
                <td>
                    <button type='button' 
                            class='btn btn-default btn-xs'
                            ng-class="{'iso_request_star_button':item.STAR==1}"
                            ng-click="setRequestStar(item)">
                            <i class="fa fa-star"></i>Star
                    </button>
                    <button ng-show="item.IS_READ==0" type='button' 
                            class='btn btn-default btn-xs'
                            ng-click="setRequestIsRead(item)">
                        Set is Read
                    </button>
                    <span ng-show="item.IS_READ==1">Had Read</span>
                </td>
            </tr>
        </table>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1" style='font-weight:bold'>Detail:</label>
        <textarea ng-disabled="'true'" ng-model="selectedRequest.DESCRIPTION" class="form-control" rows='10'></textarea>
      </div>
    
</script>
