
.student-detail-button-group
{
	padding-left: 100px;
	margin-top: 20px;
}
.student-detail-edit-button
{
	width: 33px;
	height:33px;
	background-image: url(../images/edit.png);
    background-repeat: no-repeat;
    margin-bottom: 10px;
    float:left;
    margin-right: 10px;
}
.student-detail-delete-button
{
	width: 33px;
	height:33px;
	background-image: url(../images/delete.png);
    background-repeat: no-repeat;
    margin-bottom: 10px;
    float:left;
}

