<div class="row">
	<div class="col-md-5">
		<!-- PAGINATION -->
		<pagination boundary-links="true" total-items="list.count" ng-model="params.pagination.current_page" 
	        class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
	        items-per-page="params.pagination.limit" max-size="params.pagination.max_size" ng-change="setPage()">
	    </pagination>
	    <!-- END PAGINATION -->
	</div>
	<div class="col-md-2 col-sm-2 col-xs-2 pull-right text-center">
        <button class="btn btn-sm btn-block green" ng-click="refreshSearch()">
            <i class="fa fa-refresh"></i>
        </button>
    </div>
	<div class="col-md-2 col-sm-2 col-xs-2 pull-right text-center" ng-if="isClose">
        <button class="btn btn-sm btn-block red" ng-click="closePopup()">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="mdt-table">
			<thead>
				<tr>
					<th>Doctor</th>
					<th>Patient</th>
					<th>Priority</th>
					<th>Reason</th>
				</tr>
			</thead>
			<tbody>
				<tr class="no-hover">
					<td>
						<button class="btn btn-sm btn-block green" ng-click="findDoctor()">
							<span ng-if="params.filters[0].value === ''">Find Doctor</span>
							<span ng-if="params.filters[0].value !== ''">
								{{selectedDoctor.NAME}}
							</span>
						</button>
					</td>
					<td>
						<button class="btn btn-sm btn-block green" ng-click="findPatient()">
							<span ng-if="params.filters[1].value === ''">Find Patient</span>
							<span ng-if="params.filters[1].value !== ''">
								{{selectedPatient.First_name}} {{selectedPatient.Sur_name}}
							</span>
						</button>
					</td>
					<td>
						<select ng-model="params.filters[2].value" class="form-control" ng-change="refreshList()"
							ng-options="type.code as type.name for type in options.priorities">
							<option value="">All</option>
						</select>
					</td>
					<td><input type="text" ng-model="params.filters[3].value" class="form-control" ng-change="refreshList()"></td>
				</tr>
				<tr ng-repeat="l in list.data" ng-click="clickRow({row: l})" style="cursor: pointer;">
					<td>
						<select class="view-mode" ng-model="l.doctor_id" disabled
							ng-options="doctor.doctor_id as doctor.NAME for doctor in options.doctor_types">
						</select>
					</td>
					<td>
						<select class="view-mode" ng-model="l.Patient_id" disabled
							ng-options="patient.Patient_id as patient.Sur_name for patient in options.patient_types">
						</select>
					</td>
					<td>{{l.priority}}</td>
					<td>{{l.reason}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- SEARCH PATIENT -->
<div class="mdt-search" id="WaitingListSearchSearchPatient">
    <patient-search is-close="WaitingListSearchSearchPatient" click-row="selectPatient(row)">
    </patient-search>
</div>
<!-- END SEARCH PATIENT -->

<!-- SEARCH DOCTOR -->
<div class="mdt-search" id="WaitingListSearchSearchDoctor">
    <doctor-search is-close="WaitingListSearchSearchPatient" click-row="selectDoctor(row)">
    </doctor-search>
</div>
<!-- END SEARCH DOCTOR-->