<style type="text/css">
    .form-group .help-block {
      display: none;
    }
     
    .form-group.has-error .help-block {
      display: block;
    }
</style>
<h2 id="demo1">REDiMED QMS</h2>
<div>
    R:Read. C:Create. U:Update. D:Delete. G: Grant Permission
</div>      
<!-- <button ng-click="testHierarchy();">TEst</button> -->
<div class="tree well">

    <script type="text/ng-template" id="nodes_renderer.html">
        <span>
                <i ng-if="node.nodes" class="fa fa-minus"></i>
                <i ng-if="node.NODE_TYPE==nodeType.folder" class="fa fa-folder-open"></i>
                <span style="border: none;padding: 0px;" ng-click="showDocumentInfo(node.NODE_TYPE,node.NODE_ID);"><i ng-if="node.NODE_TYPE==nodeType.document" class="fa fa-leaf"></i>
                {{node.NODE_NAME}}
                    <!-- <span class="badge" style="background-color: rgb(252, 244, 244);color: red; border-color: rgb(247, 124, 124);order-radius: 5px;">
                        
                    </span> -->
                    <span ng-show="node.PERMISSION==isoPermission.administrator && node.NUM_OF_REQUEST"  class="iso_badge">
                        <i class="fa fa-pencil-square-o"></i>{{node.PERMISSION==isoPermission.administrator?node.NUM_OF_REQUEST:''}}
                        
                    </span>
                    <span style="margin-left: -10px;" ng-show="node.PERMISSION==isoPermission.administrator && node.NUM_STAFF_REPLY_OF_REQUEST >=1"  class="iso_badge">
                        <i class="fa fa-reply"></i>
                    </span>
                    <span ng-show="node.PERMISSION!=isoPermission.administrator && node.NUM_ADMIN_REPLY_OF_REQUEST >=1"  class="iso_badge">
                        <i class="fa fa-reply"></i>
                    </span>
                </span> 
                <!-- ____{{node.relativePath}} -->
        </span>

        <div ng-show='node.PERMISSION<isoPermission.notPermission' style="color:#800000;display:inline;font-size:11px">
           {{node.ACCESSIBLE_USER_ID?'(':''}}
           {{node.PERMISSION==0?'A':''}}
           {{node.PERMISSION==1?'C':''}}
           {{node.PERMISSION==2?'U':''}}
           {{node.PERMISSION==3?'R':''}}
           {{node.ACCESSIBLE_USER_ID?')':''}}  
        </div>
        <a ng-show="(node.ACCESSIBLE_USER_ID && node.PERMISSION<isoPermission.notPermission)||isIsoAdminSystem==1" ng-click="showTreeActionsMenuPopup(node);">actions </a>    
        
        <ul>
            <li ng-show='node.ISENABLE==1 || isIsoAdminSystem==1' ng-class="{node_accessible:node.ACCESSIBLE_USER_ID && node.PERMISSION<isoPermission.notPermission,iso_node_deleted:node.ISENABLE==0}" ng-repeat="(key,node) in node.nodes" iso-notice-finish-render-directory-tree ng-include="'nodes_renderer.html'">
            </li>
        </ul>
    </script>

    <ul>
        <li ng-show='node.ISENABLE==1 || isIsoAdminSystem==1' ng-class="{node_accessible:node.ACCESSIBLE_USER_ID && node.PERMISSION<isoPermission.notPermission,iso_node_deleted:node.ISENABLE==0}" ng-repeat="(key,node) in treeData"  ng-include="'nodes_renderer.html'">
        </li>
    </ul>

    
</div>


<div  id="iso-tree-actions-menu-popup" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{selectedTreeNode.NODE_TYPE==nodeType.folder?'Folder Actions':'File Actions'}}</h4>
            </div>  
            <div class="modal-body">
                <div ng-show='selectedTreeNode.ISENABLE==1 && selectedTreeNode.NODE_TYPE==nodeType.folder'>
                    <div class='iso-action-group iso_action_type1'>
                        <button 
                            ng-show="permissionFunction[selectedTreeNode.PERMISSION].createFolder"
                            type="button" 
                            class="btn btn-default iso_action_button"
                            ng-click="showTreeActionContentPopup(treeActions.createFolder.name);">
                            Create Folder
                        </button>

                        <div class='iso-action-group iso_action_type3'>
                        <button 
                            ng-show="permissionFunction[selectedTreeNode.PERMISSION].renameNode"
                            type="button" 
                            class="btn btn-default iso_action_button"
                            ng-click="showTreeActionContentPopup(treeActions.renameNode.name);">
                            Rename Folder
                            </button>
                        </div>

                        <button
                            ng-show="permissionFunction[selectedTreeNode.PERMISSION].deleteFolder"
                            type="button" 
                            class="btn btn-default iso_action_button"
                            ng-click="deleteNode();">
                            Delete Folder
                        </button>

                        <button
                            ng-show="permissionFunction[selectedTreeNode.PERMISSION].cloneToPC && selectedTreeNode.NODE_ID!==0"
                            type="button" 
                            class="btn btn-default iso_action_button"
                            ng-click="downloadFolderSelected()">
                            Clone to PC
                        </button>

                    </div>

                    <div class='iso-action-group iso_action_type2'>
                        <button
                            ng-show="permissionFunction[selectedTreeNode.PERMISSION].grantFolderPermission"
                            type="button" 
                            class="btn btn-default iso_action_button"
                            ng-click="showTreeActionContentPopup(treeActions.grantNodePermission.name);">
                            Grant Permission
                        </button>
                    </div>

                    <div class='iso-action-group iso_action_type3'>
                        <button 
                            ng-show="permissionFunction[selectedTreeNode.PERMISSION].createDocument"
                            type="button" 
                            class="btn btn-default iso_action_button"
                            ng-click="showTreeActionContentPopup(treeActions.createDocument.name);">
                            Create Document
                        </button>
                    </div>

                    
                    
                </div>


                <div ng-show='selectedTreeNode.ISENABLE==1 && selectedTreeNode.NODE_TYPE==nodeType.document'>
                    <div class='iso-action-group iso_action_type1'>
                        <button 
                            ng-show="permissionFunction[selectedTreeNode.PERMISSION].checkOut && selectedTreeNode.CHECK_IN_STATUS==checkInStatus.unlock"
                            type="button" 
                            class="btn btn-default iso_action_button"
                            ng-click="checkOutDocument();">
                            Check out
                        </button>
                        <button 
                            ng-show="permissionFunction[selectedTreeNode.PERMISSION].checkIn && selectedTreeNode.CHECK_IN_STATUS==checkInStatus.lock && selectedTreeNode.CHECK_IN_NO==null"
                            type="button" 
                            class="btn btn-default iso_action_button"
                            ng-click="beforeCheckIn();">
                            Check in
                        </button>

                        <button 
                            ng-show="permissionFunction[selectedTreeNode.PERMISSION].releaseDocumentOneClick && (selectedTreeNode.SUBMIT_STATUS==null || selectedTreeNode.SUBMIT_STATUS==submitStatus.cancel) && selectedTreeNode.CHECK_IN_STATUS==checkInStatus.unlock"
                            type="button" 
                            class="btn btn-default iso_action_button"
                            ng-click="releaseDocumentOneClick()">
                            Release
                        </button>

                        <button 
                            ng-show="permissionFunction[selectedTreeNode.PERMISSION].submitDocument && (selectedTreeNode.SUBMIT_STATUS==null || selectedTreeNode.SUBMIT_STATUS==submitStatus.cancel) && selectedTreeNode.CHECK_IN_STATUS==checkInStatus.unlock"
                            type="button" 
                            class="btn btn-default iso_action_button"
                            ng-click="SubmitDocument()">
                            Submit Document
                        </button>

                       <button
                            ng-show="permissionFunction[selectedTreeNode.PERMISSION].cancelSubmitDocument && (selectedTreeNode.SUBMIT_STATUS==submitStatus.pending && selectedTreeNode.CHECK_IN_STATUS==checkInStatus.lock)"
                            type="button"
                            class="btn btn-default iso_action_button"
                            ng-click="cancelSubmitDocument();">
                            Cancel Submit Document
                        </button>

                        <button
                            ng-show="permissionFunction[selectedTreeNode.PERMISSION].requestEditDocument"
                            type="button"
                            class="btn btn-default iso_action_button"
                            ng-click="showTreeActionContentPopup(treeActions.requestEditDocument.name);">
                            Request to Edit Document
                        </button>

                        <button
                            ng-show="permissionFunction[selectedTreeNode.PERMISSION].viewYourRequest"
                            type="button"
                            class="btn btn-default iso_action_button"
                            ng-click="showTreeActionContentPopup(treeActions.viewYourRequest.name);">
                            View Your Request
                        </button>

                        <button
                            ng-show="permissionFunction[selectedTreeNode.PERMISSION].viewAllRequest"
                            type="button"
                            class="btn btn-default iso_action_button"
                            ng-click="showTreeActionContentPopup(treeActions.viewAllRequest.name);">
                            View All Request
                        </button>
                    </div>

                    <div class='iso-action-group iso_action_type2'>
                        <div class='iso-action-group iso_action_type3'>
                            <button 
                                ng-show="permissionFunction[selectedTreeNode.PERMISSION].renameNode"
                                type="button" 
                                class="btn btn-default iso_action_button"
                                ng-click="showTreeActionContentPopup(treeActions.renameNode.name);">
                                Rename Document
                            </button>
                        </div>
                        <button 
                            ng-show="permissionFunction[selectedTreeNode.PERMISSION].deleteDocument"
                            type="button" 
                            class="btn btn-default iso_action_button"
                            ng-click="deleteNode();">
                            Delete Document
                        </button>
                        <button 
                            ng-show="permissionFunction[selectedTreeNode.PERMISSION].grantDocumentPermission"
                            type="button" 
                            class="btn btn-default iso_action_button"
                            ng-click="showTreeActionContentPopup(treeActions.grantNodePermission.name);">
                            Grant Permission
                        </button>

                    </div>

                    <div class='iso-action-group iso_action_type3'>
                        <button 
                            ng-show="permissionFunction[selectedTreeNode.PERMISSION].getFullVersionDoccument"
                            type="button" 
                            class="btn btn-default iso_action_button"
                            ng-click="showTreeActionContentPopup(treeActions.getFullVersionDocument.name);">
                            Version Control
                        </button>

                        <button 
                            ng-show="permissionFunction[selectedTreeNode.PERMISSION].getFullCheckinDoccument"
                            type="button" 
                            class="btn btn-default iso_action_button"
                            ng-click="showTreeActionContentPopup(treeActions.getFullCheckinDocument.name);">
                            Show Check In History
                        </button>
                    </div>

                    <div class='iso-action-group iso_action_type4'>
                        <button
                            ng-show="permissionFunction[selectedTreeNode.PERMISSION].downloadNewestVersion && selectedTreeNode.CURRENT_VERSION_ID!=null"
                            type="button" 
                            class="btn btn-default iso_action_button"
                            ng-click="downloadNewestVersionDocument()">Download Current Version
                        </button>
                    </div>
                </div>


                <div ng-show='isIsoAdminSystem==1'>
                    <div class='iso-action-group iso_action_type_system'>
                        <hr/>
                        <button 
                            ng-show="isoAdminFunction.forceCheckInDocument && isIsoAdminSystem==1 && selectedTreeNode.CHECK_IN_STATUS==checkInStatus.lock && selectedTreeNode.CHECK_IN_NO==null && selectedTreeNode.NODE_TYPE==nodeType.document"
                            type="button" 
                            class="btn btn-default iso_action_button "
                            ng-click="showTreeActionContentPopup(treeActions.forceCheckInDocument.name);">
                            Force Check In Document
                        </button>

                        <button 
                            ng-show="isoAdminFunction.createNewCheckInDocument && isIsoAdminSystem==1 && selectedTreeNode.NODE_TYPE==nodeType.document"
                            type="button" 
                            class="btn btn-default iso_action_button "
                            ng-click="showTreeActionContentPopup(treeActions.createNewCheckInDocument.name);">
                            Create New Check In
                        </button>

                        <button 
                            ng-show="isoAdminFunction.forceReleaseDocumentOneClick && isIsoAdminSystem==1 && (selectedTreeNode.SUBMIT_STATUS==null || selectedTreeNode.SUBMIT_STATUS==submitStatus.cancel) && selectedTreeNode.CHECK_IN_STATUS==checkInStatus.unlock && selectedTreeNode.NODE_TYPE==nodeType.document"
                            type="button" 
                            class="btn btn-default iso_action_button "
                            ng-click="forceReleaseDocumentOneClick()">
                            Force Release Document
                        </button>

                        <button 
                            ng-show="isoAdminFunction.restoreFolder && isIsoAdminSystem==1 &&  selectedTreeNode.ISENABLE==0 && selectedTreeNode.NODE_TYPE==nodeType.folder"
                            type="button" 
                            class="btn btn-default iso_action_button "
                            ng-click="restoreNode();">
                            Restore Folder
                        </button>

                        <button 
                            ng-show="isoAdminFunction.deleteNodeForever && isIsoAdminSystem==1"
                            type="button" 
                            class="btn btn-default iso_action_button "
                            ng-click="deleteNodeForever();">
                            Delete Node Forever
                        </button>
                            


                    </div>
                </div>



            </div>

            
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div  id="iso-tree-action-content-popup" class="modal fade">
    <div class="modal-dialog" ng-class="{iso_modal_lg:currentTreeAction.sizeLarge}">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{currentTreeAction.header?currentTreeAction.header:'Run'}}</h4>
            </div>
            <div class="modal-body">
                <form name='actionContentForm' novalidate>
                    <div ng-include='currentTreeAction.url'>
                </div>

                </form>
                
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div ng-include="'modules/iso/views/templates/iso.html/iso_page_template.html'">

</div>

<div class="portlet light" style="position: fixed;width: 500px;top: 0px;right: 0px;display:none" id="document">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-green-sharp bold uppercase">Document Info</span>
        </div>
        <div class="tools">
            <a ng-click="closeDocument()">
            <i class="fa fa-times" style="font-size: 25px;"></i>
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <table id="user" class="table table-bordered table-striped" style="background: beige;">
                <tbody>
                <tr>
                    <td style="width:50%">
                         Document ID
                    </td>
                    <td style="width:50%">
                        <a class="editable editable-click">
                        {{documentInfo.NODE_ID}} </a>
                    </td>
                </tr>
                <tr>
                    <td>
                         Document Code
                    </td>
                    <td>
                        <a class="editable editable-click">{{documentInfo.DOC_CODE}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                         Document Title
                    </td>
                    <td>
                        <a class="editable editable-click" >{{documentInfo.NODE_NAME}}</a>
                    </td>
                </tr>

                <tr>
                    <td>
                         Department Ownership
                    </td>
                    <td>
                        <a class="editable editable-click" >{{documentInfo.DEPARTMENT_NAME}}</a>
                    </td>
                </tr>

                <tr>
                    <td>
                         Document Type
                    </td>
                    <td>
                        <a class="editable editable-click" >{{documentInfo.DOC_TYPE}}</a>
                    </td>
                </tr>

                <tr>
                    <td>
                         Department Owner
                    </td>
                    <td>
                        <a class="editable editable-click" >{{documentInfo.MANAGER_USER_NAME}}</a>
                    </td>
                </tr>

                <tr>
                    <td>
                         Document Author
                    </td>
                    <td>
                        <a class="editable editable-click">{{documentInfo.Document_Author}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                         Last Edited By
                    </td>
                    <td>
                        <a class="editable editable-click">{{documentInfo.Last_Edited_By}}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                         Lasted Edited On
                    </td>
                    <td>
                        <a class="editable editable-click">{{documentInfo.LAST_UPDATED_DATE|date:'dd/MM/yyyy'}}</a>
                    </td>
                </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
