<div class="portlet grey-cascade box">
    <div class="portlet-title">
        <div class="caption ">
            <i class="icon-list"></i>
            <span class="caption-subject uppercase">ISO Check Out In Status Pending</span>
        </div>
    </div>
    <div class="portlet-body">

        <div class="table-scrollable" id="content">
            <table ng-table="tableParams"  show-filter="true" class="table table-hover table-bordered table-responsive">
                <tr style="white-space: nowrap; cursor: pointer;" ng-repeat="outin in checkInOutStatusPending">
                    <td width="100px" data-title="'ID'"  >
                        <label >{{outin.ID}}</label>
                    </td>
                    <td width="100px" data-title="'Node_ID'" >
                        <label >{{outin.NODE_ID}}</label>
                    </td>
                    <td width="300px" align="center" data-title="'File Name'" >
                        <label >
                            {{outin.FILE_NAME}}
                        </label>
                    </td>
                    <td width="200px" align="center" data-title="'Submit Date'" >
                        <label >
                            {{outin.SUBMIT_DATE| date:'yyyy-MM-dd HH:MM:ss'}}
                        </label>
                    </td>
                    <td width="100px" align="center" data-title="'Submit Status'" >
                        <label >
                            {{outin.SUBMIT_STATUS}}
                        </label>
                    </td>

                    <td align="center" data-title="'Actions'">
                        <a  href="javascript:;" ng-click="" class="btn btn-circle blue-steel btn-sm">
                            <i class="fa fa-download"></i> Download </a>
                        <a  href="javascript:;" ng-click="approved(outin.ID,outin.NODE_ID)" class="btn btn-circle green-jungle btn-sm">
                            Approve </a>
                        <a  href="javascript:;" ng-click="reject(outin.ID,outin.NODE_ID)" class="btn btn-circle red-flamingo btn-sm">
                            Reject </a>

                    </td>

                </tr>


            </table>
        </div>
        <br/>

    </div>

</div>