<div class="modal-header">
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-5">
            <label class="control-label pull-right">Assessment Name:</label>
        </div>
        <div class="col-md-6">
            <input class="form-control" type="text" ng-model="info.name" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href="javascript:;" class="btn btn-danger" ng-click='cancel()'>Cancel</a>
    <a href="javascript:;" class="btn green" ng-click="submit()"  >Submit</a>
</div>