<style>
    .selected {
        background-color: rgba(69, 51, 36, 0.36);
    }

</style>

<h3 class="page-title">Companies</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="loggedIn.home">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:;">Office Site</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Companies</a>
        </li>
    </ul>
</div>
<div class="portlet grey-cascade box">
    <div class="portlet-title">
        <div class="caption ">
            <i class="icon-list"></i>
            <span class="caption-subject uppercase">Company List</span>
        </div>
        <div class="actions">
            <a href="javascript:;" ng-click="addNewCompany()" class="btn green-jungle btn-sm">
                <i class="fa fa-plus"></i> Add New</a>
        </div>

    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <table ng-table="tableParams" show-filter="true"  class="table table-hover table-bordered table-condensed  table-responsive">
                <tr style="white-space: nowrap; cursor: pointer;" align="center" ng-if="b.id !== companyInfo.id" ng-repeat="b in $data" ng-click="showSubCompany(b)" ng-class="{selected : b.id === selectedId}" >
                    <td data-title="'Company Name'" sortable="'Company_name'" filter="{ 'Company_name': 'text' }">
                        <a href="javascript:;" ng-click="editCompany(b)">{{b.Company_name}}</a>
                    </td>
                    <td data-title="'Industry'" filter="{ 'Industry': 'text' }">
                        <label>{{b.Industry}}</label>
                    </td>
                    <td data-title="'Address'" filter="{ 'Addr': 'text' }">
                        <label >{{b.Addr}}</label>

                    </td>
                    <td data-title="'Post Code'" >
                        <label>{{b.postcode}}</label>
                    </td>
                    <td data-title="'State'" >
                        <label>{{b.State}}</label>
                    </td>
                    <td data-title="'Country'"  >
                        <label>{{b.country}}</label>
                    </td>
                    <!-- <td data-title="'Description'" >
                        <label>{{b.Description}}</label>
                    </td> -->
                    <td data-title="'PO Number'"  >
                        <label>{{b.PO_number}}</label>
                    </td>
                    <td data-title="'Is Invoice Email'"  >
                        <input type="checkbox" disabled checked ng-if="b.isInvoiceEmailToUser == 1" />
                        <input type="checkbox" disabled ng-if="b.isInvoiceEmailToUser != 1"/>
                    </td>
                    <td data-title="'Invoice Email'" >
                        <label>{{b.invoice_email}}</label>
                    </td>
                    <!-- <td data-title="'Contact Email In Result'" >
                        <input type="checkbox" disabled checked ng-if="b.isAddContactEmailToResult == 1" />
                        <input type="checkbox" disabled ng-if="b.isAddContactEmailToResult != 1"/>
                    </td>
                    <td data-title="'Result Email'"  >
                        <label>{{b.result_email}}</label>
                    </td>
                    <td data-title="'Report To Email'"  >
                        <label>{{b.report_to_email}}</label>
                    </td>
                    <td data-title="'Status'"  >
                        <label>{{b.default_status}}</label>
                    </td>
                    <td data-title="'Is Project'"  >
                        <input type="checkbox" disabled checked ng-if="b.isProject == 1" />
                        <input type="checkbox" disabled ng-if="b.isProject != 1"/>
                    </td>
                    <td data-title="'Is Extra Field'">
                        <input type="checkbox" disabled checked ng-if="b.isExtra == 1" />
                        <input type="checkbox" disabled ng-if="b.isExtra != 1"/>
                    </td>
                    <td data-title="'Required PO'"  >
                        <input type="checkbox" disabled checked ng-if="b.isPO == 1" />
                        <input type="checkbox" disabled ng-if="b.isPO != 1"/>
                    </td> -->
                </tr>

            </table>
        </div>
    </div>
</div>


<div ng-if="selectedId != null" class="portlet light ">
    <div class="portlet-title tabbable-line">
        <div class="caption">
            <i class="fa fa-user-md"></i>
            <span class="caption-subject bold uppercase">
                {{selectedComp}}
            </span>
        </div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="index.html#tab_1_1" data-toggle="tab">
                    Sub Companies
                </a>
            </li>
            <li>
                <a href="index.html#tab_1_2" ng-click="measureTabClick()" data-toggle="tab">
                    Patient List
                </a>
            </li>
        </ul>
    </div>
    <div class="portlet-body">
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1_1">
                <a href="javascript:;" ng-click="addSubCompany()" class="btn green-jungle btn-block">
                    <i class="fa fa-plus"></i> Add Sub Company
                </a>
                <div class="table-scrollable">
                    <table ng-table="tableParams2" show-filter="true"  class="table table-striped table-hover table-bordered table-responsive">
                        <tr style="white-space: nowrap" align="center" ng-repeat="a in $data" >
                            <td data-title="'Company Name'" sortable="'Company_name'" filter="{ 'Company_name': 'text' }">
                                <a href="javascript:;" ng-click="editSubCompany(a)">{{a.Company_name}}</a>
                            </td>
                            <td data-title="'Industry'" filter="{ 'Industry': 'text' }">
                                <label>{{a.Industry}}</label>
                            </td>
                            <td  data-title="'Address'" filter="{ 'Addr': 'text' }">
                                <label >{{a.Addr}}</label>
                            </td>
                            <td data-title="'Post Code'" >
                                <label>{{a.postcode}}</label>
                            </td>
                            <td data-title="'State'" filter="{ 'State': 'text' }">
                                <label>{{a.State}}</label>
                            </td>
                            <td data-title="'Country'"  filter="{ 'Country': 'text' }">
                                <label>{{a.country}}</label>
                            </td>
                            <td data-title="'Description'" >
                                <label>{{a.Description}}</label>
                            </td>
                            <td data-title="'PO Number'"  >
                                <label>{{a.PO_number}}</label>
                            </td>
                            <td data-title="'Invoice Email'" >
                                <label>{{a.invoice_email}}</label>
                            </td>
                            <td data-title="'Result Email'"  >
                                <label>{{a.result_email}}</label>
                            </td>
                            <td data-title="'Is Project'"  >
                                <input type="checkbox" disabled checked ng-if="a.isProject == 1" />
                                <input type="checkbox" disabled ng-if="a.isProject != 1"/>
                            </td>

                        </tr>

                    </table>
                </div>
            </div>
            <div class="tab-pane" id="tab_1_2">
               <div class="table-scrollable">
                    <table ng-table="tableParams3" show-filter="true"  class="table table-striped table-hover table-bordered table-responsive">
                        <tr style="white-space: nowrap" align="center" ng-repeat="a in $data" >
                            <td data-title="'Name'" sortable="'fullName'" filter="{ 'fullName': 'text' }">
                                <a href="javascript:;" ng-click="viewPatient(a)">{{a.fullName}}</a>
                            </td>
                            <td data-title="'Address'" filter="{ 'Address1': 'text' }">
                                <label>{{a.Address1}}</label>
                            </td>
                            <td  data-title="'DOB'" >
                                <label >{{a.DOB | date:'dd/MM/yyyy'}}</label>
                            </td>
                            <td data-title="'Sex'" >
                                <label>{{a.Sex}}</label>
                            </td>
                            <td data-title="'Home Phone'" filter="{ 'Home_phone': 'text' }">
                                <label>{{a.Home_phone}}</label>
                            </td>
                            <td data-title="'Phone'" filter="{ 'Mobile': 'text' }">
                                <label>{{a.Mobile}}</label>
                            </td>
                            <td data-title="'Email'"  filter="{ 'Email': 'text' }">
                                <label>{{a.Email}}</label>
                            </td>
                            <td data-title="'State'" >
                                <label>{{a.State}}</label>
                            </td>
                            <td data-title="'Country'"  >
                                <label>{{a.Country}}</label>
                            </td>
                            <td data-title="'Enable'"  >
                                <input type="checkbox" disabled checked ng-if="a.Isenable == 1" />
                                <input type="checkbox" disabled ng-if="a.Isenable != 1"/>
                            </td>

                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>  