<div class="modal-header">
</div>
<form name="menuForm" ng-submit="addNew(menuForm)" method="post" novalidate>
<div class="modal-body">

        <div class="form-group">
            <div class="form-group" ng-class="{'has-error':showClickedValidation && menuForm.menu.$invalid}">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Menu <span class="required">
                                                    * </span></label>
                    </div>
                    <div class="col-md-5">
                        <select name="menu"  ng-model="info.menu_id" ng-options="menu.menu_id as menu.description for menu in menuList" class="form-control" required>
                            <option value="">--Select Menu--</option>
                        </select>
                    </div>
                </div>
                <div class="row" ng-show="showClickedValidation && menuForm.menu.$invalid">
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <span for="menu" class="help-block">Menu is required.</span>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <label>Enable </label>
                </div>
                <div class="col-md-5">
                    <input  type="checkbox" ng-model="info.isEnable" ng-true-value="1" ng-false-value="0" />
                </div>
            </div>
            <br/>
        </div>
</div>
<div class="modal-footer">
    <a href="javascript:;" class="btn btn-danger" ng-click='cancel()'>Cancel</a>
    <button href="javascript:;" class="btn green" type="submit"  >Submit</button>
</div>
</form>