<div class="caption">
    <div class="row">
        <div class="col-md-12">
            <i class="font-blue-hoki"></i>
            <span class="caption-subject font-blue-hoki bold uppercase" style="font-size: 25px;">Online Booking</span>
        </div>
    </div>
</div>
<br/>
<div class="portlet light bordered ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon icon-user font-blue-hoki"></i>
            <span ng-if="isEdit === false" class="caption-subject font-blue-hoki bold uppercase">New User</span>
            <span ng-if="isEdit === true" class="caption-subject font-blue-hoki bold uppercase">Edit User</span>
        </div>
        <div>
            <div class="btn-group pull-right">
                <a ui-sref="loggedIn.admin_user" href="javascript:;" class="btn green" >
                    Back &nbsp;&nbsp;<i class="fa fa-backward"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="portlet-body form">
        <form name="userForm" ng-submit="submitUser(userForm)" method="post" novalidate>
            <div class="form-group" ng-class="{'has-error':showClickedValidation && userForm.name.$invalid}">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Username <span class="required">
                                                * </span></label>
                    </div>
                    <div class="col-md-4">
                        <input required ng-model="info.username" name="name" class="form-control pull-left"  />
                    </div>
                </div>
                <div class="row" ng-show="showClickedValidation && userForm.name.$invalid">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <span for="name" class="help-block">Username is required.</span>
                    </div>
                </div>
            </div>
            <br ng-if="isEdit === false"/>
            <div ng-if="isEdit === false" class="form-group" ng-class="{'has-error':showClickedValidation && userForm.password.$invalid}">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Password <span class="required">
                                                * </span></label>
                    </div>
                    <div class="col-md-4">
                        <input type="password" required ng-model="info.password" name="password" class="form-control pull-left" />
                    </div>
                </div>
                <div class="row" ng-show="showClickedValidation && userForm.password.$invalid">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <span for="password" class="help-block">Password is required.</span>
                    </div>
                </div>

            </div>
            <div ng-if="isEdit === true">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-1">
                        <a href="javascript:;" class="btn blue" ng-click="changePass()">Change Password</a>
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group" ng-class="{'has-error':showClickedValidation && userForm.userType.$invalid}">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">User Type <span class="required">
                                                * </span></label>
                    </div>
                    <div class="col-md-4">
                        <select ng-model="info.userType" class="form-control pull-left"  required name="userType">
                            <option value="">---Select User Type---</option>
                            <option value="Company">Company</option>
                            <option value="ERP">ERP</option>
                            <option value="RediMed">RediMed</option>
                            <option value="Patient">Patient</option>
                            <option value="Doctor">Doctor</option>
                        </select>
                    </div>
                </div>
                <div class="row" ng-show="showClickedValidation && userForm.userType.$invalid">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <span for="userType" class="help-block">User type is required.</span>
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group" ng-class="{'has-error':showClickedValidation && userForm.company.$invalid}">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Company <span class="required">
                                                * </span></label>
                    </div>
                    <div class="col-md-4">
                        <select ng-model="info.companyId" ng-options="com.id as com.Company_name for com in companyList" class="form-control pull-left" required name="company">
                            <option value="">--Select Company--</option>
                        </select>
                    </div>
                </div>
                <div class="row" ng-show="showClickedValidation && userForm.company.$invalid">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <span for="company" class="help-block">Company is required.</span>
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">PO Number </label>
                    </div>
                    <div class="col-md-4">
                        <input ng-model="info.poNum" class="form-control pull-left"  />
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Booking Person </label>
                    </div>
                    <div class="col-md-4">
                        <input ng-model="info.bookPerson" class="form-control pull-left"  />
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Contact Number</label>
                    </div>
                    <div class="col-md-4">
                        <input ng-model="info.phone" class="form-control pull-left"  />
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Invoice Email</label>
                    </div>
                    <div class="col-md-6">
                        <input ng-model="info.invoiceEmail" class="form-control pull-left"  />
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Result Email </label>
                    </div>
                    <div class="col-md-6">
                        <input ng-model="info.resultEmail" class="form-control pull-left"  />
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Contact Email</label>
                    </div>
                    <div class="col-md-4">
                        <input ng-model="info.email" class="form-control pull-left"  />
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Report To Email</label>
                    </div>
                    <div class="col-md-4">
                        <input ng-model="info.reportEmail" class="form-control pull-left"  />
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Only run this function</label>
                    </div>
                    <div class="col-md-4">
                        <select ng-model="info.functionId" ng-options="func.function_id as func.decription for func in functionList" class="form-control pull-left">
                            <option value="">--Select Function--</option>
                        </select>
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Employee</label>
                    </div>
                    <div class="col-md-4">
                        <select ng-model="info.empId" ng-options="emp.Employee_ID as emp.Employee_Code+' : '+emp.FirstName+' '+emp.LastName  for emp in empList" class="form-control pull-left">
                            <option value="">--Select Employee--</option>
                        </select>
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Calendar</label>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" ng-model="info.isCalendar" ng-true-value="1" ng-false-value="0" />
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Project Identification</label>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" ng-model="info.isProject" ng-true-value="1" ng-false-value="0" />
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Show All Tabs</label>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" ng-model="info.isShowAll" ng-true-value="1" ng-false-value="0" />
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Enable</label>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" ng-model="info.isEnable" ng-true-value="1" ng-false-value="0" />
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Booking</label>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" ng-model="info.isShowBooking" ng-true-value="1" ng-false-value="0" />
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Make Booking</label>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" ng-model="info.isMakeBooking" ng-true-value="1" ng-false-value="0" />
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Package</label>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" ng-model="info.isPackage" ng-true-value="1" ng-false-value="0" />
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Position</label>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" ng-model="info.isPosition" ng-true-value="1" ng-false-value="0" />
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Setting</label>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" ng-model="info.isSetting" ng-true-value="1" ng-false-value="0" />
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Download Result</label>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" ng-model="info.isDownload" ng-true-value="1" ng-false-value="0" />
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">View All Data</label>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" ng-model="info.isViewAllData" ng-true-value="1" ng-false-value="0" />
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Is Telehealth Admin?</label>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" ng-model="info.isAdmin" ng-true-value="1" ng-false-value="0" />
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label pull-right">Is Receive Email After Hour?</label>
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" ng-model="info.isReceiveEmail" ng-true-value="1" ng-false-value="0" />
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <button type="submit" class="btn green">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>