<h3 class="page-title" ng-if="isEdit === false">New User</h3>
<h3 class="page-title" ng-if="isEdit === true">Edit User</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="loggedIn.home">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:;">System</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="loggedIn.admin_user">User Management</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ng-if="isEdit === false">New User</a>
            <a ng-if="isEdit === true">Edit User</a>
        </li>
    </ul>
</div>
<br/>
<div class="portlet box grey-cascade ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon icon-user "></i>
            <span class="caption-subject  uppercase">User Information</span>
        </div>
        <div class="actions">
            <a ui-sref="loggedIn.admin_user" class="btn grey btn-sm">
                <i class="fa fa-backward"></i> Back</a>
        </div>
    </div>
    <div class="portlet-body form">
        <form name="userForm" ng-submit="submitUser(userForm)" method="post" novalidate class="form-horizontal">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group" ng-class="{'has-error':showClickedValidation && userForm.name.$invalid}">
                            <label class="control-label col-md-3 col-sm-3">Username <span class="required">
                                                * </span></label>
                            <div class="col-md-8 col-sm-8">
                                <input required ng-model="info.username" name="name" class="form-control"  />
                                <span ng-show="showClickedValidation && userForm.name.$invalid" for="name" class="help-block">Username is required.</span>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6 col-sm-6" ng-if="isEdit == false" >
                        <div class="form-group" ng-class="{'has-error':showClickedValidation && userForm.password.$invalid}">
                            <label class="control-label col-md-3 col-sm-3">Password <span class="required">
                                                * </span></label>
                            <div class="col-md-8 col-sm-8">
                                <input type="password" required ng-model="info.password" name="password" class="form-control" />
                                <span ng-show="showClickedValidation && userForm.password.$invalid" for="name" class="help-block">Password is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6" ng-if="isEdit == true">
                        <div class="form-group" ng-class="{'has-error':showClickedValidation && userForm.password.$invalid}">
                            <label class="control-label col-md-3 col-sm-3">Password </label>
                            <div class="col-md-8 col-sm-8">
                                <a href="javascript:;" class="btn blue" ng-click="changePass()">Change Password</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group" ng-class="{'has-error':showClickedValidation && userForm.userType.$invalid}">
                            <label class="control-label col-md-3 col-sm-3">User Type <span class="required">
                                                * </span></label>
                            <div class="col-md-8 col-sm-8">
                                <select ng-model="info.userType" class="form-control" ng-options="a.ID as a.user_type for a in typeList" ng-change="userTypeChange(info.userType)"  required name="userType">
                                    <option value="">---Select User Type---</option>
                                </select>
                                <span ng-show="showClickedValidation && userForm.userType.$invalid" for="userType" class="help-block">User Type is required.</span>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group" ng-class="{'has-error':showClickedValidation && userForm.company.$invalid}">
                            <label class="control-label col-md-3 col-sm-3">Company  <span ng-if="isCompany == true" class="required">
                                                * </span></label>
                            <div class="col-md-8 col-sm-8">
                                <select ng-if="isCompany == true" ng-model="info.companyId" required ng-options="com.id as com.Company_name for com in companyList" class="form-control" name="company">
                                    <option value="">--Select Company--</option>
                                </select>
                                <span ng-show="showClickedValidation && userForm.company.$invalid" for="company" class="help-block">Please select company.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group" >
                            <label class="control-label col-md-3 col-sm-3">PO Number </label>
                            <div class="col-md-8 col-sm-8">
                                <input ng-model="info.poNum" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6 col-sm-6" >
                        <div class="form-group" ng-class="{'has-error':showClickedValidation && userForm.bookPerson.$invalid}">
                            <label class="control-label col-md-3 col-sm-3">Booking Person <span class="required">
                                                * </span></label>
                            <div class="col-md-8 col-sm-8">
                                <input ng-model="info.bookPerson" name="bookPerson" required class="form-control" />
                                <span ng-show="showClickedValidation && userForm.bookPerson.$invalid" for="bookPerson" class="help-block">Please enter full name.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group" >
                            <label class="control-label col-md-3 col-sm-3">Contact Number </label>
                            <div class="col-md-8 col-sm-8">
                                <input ng-model="info.phone" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6 col-sm-6" >
                        <div class="form-group" >
                            <label class="control-label col-md-3 col-sm-3">Invoice Email </label>
                            <div class="col-md-8 col-sm-8">
                                <input ng-model="info.invoiceEmail" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6 col-sm-6" >
                        <div class="form-group" >
                            <label class="control-label col-md-3 col-sm-3">Result Email </label>
                            <div class="col-md-8 col-sm-8">
                                <input ng-model="info.resultEmail" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6 col-sm-6" >
                        <div class="form-group" >
                            <label class="control-label col-md-3 col-sm-3">Contact Email </label>
                            <div class="col-md-8 col-sm-8">
                                <input ng-model="info.email" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group" >
                            <label class="control-label col-md-3 col-sm-3">Report To Email </label>
                            <div class="col-md-8 col-sm-8">
                                <input ng-model="info.reportEmail" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6 col-sm-6" >
                        <div class="form-group" >
                            <label class="control-label col-md-3 col-sm-3">Web Main Function </label>
                            <div class="col-md-8 col-sm-8">
                                <select ng-model="info.function_id" ng-options="func.function_id as func.decription for func in functionList" class="form-control pull-left">
                                    <option value="">--Select Function--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group" >
                            <label class="control-label col-md-3 col-sm-3">Employee </label>
                            <div class="col-md-8 col-sm-8">
                                <select ng-model="info.empId" ng-options="emp.Employee_ID as emp.Employee_Code+' : '+emp.FirstName+' '+emp.LastName  for emp in empList" class="form-control pull-left">
                                    <option value="">--Select Employee--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6 col-sm-6" >
                        <div class="form-group" >
                            <label class="control-label col-md-3 col-sm-3">Mobile Main Function </label>
                            <div class="col-md-8 col-sm-8">
                                <select ng-model="info.function_mobile" ng-options="func.function_id as func.decription for func in functionMobList" class="form-control pull-left">
                                    <option value="">--Select Function--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <label>
                            <input type="checkbox" ng-model="info.isCalendar" ng-true-value="1" ng-false-value="0" />
                            Calendar
                        </label>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <label>
                            <input type="checkbox" ng-model="info.isProject" ng-true-value="1" ng-false-value="0" />
                            Project Identification
                        </label>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <label>
                            <input type="checkbox" ng-model="info.isShowAll" ng-true-value="1" ng-false-value="0" />
                            Show All Tabs
                        </label>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <label>
                            <input type="checkbox" ng-model="info.isEnable" ng-true-value="1" ng-false-value="0" />
                            Enable
                        </label>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <label>
                            <input type="checkbox" ng-model="info.isShowBooking" ng-true-value="1" ng-false-value="0" />
                            Booking
                        </label>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <label>
                            <input type="checkbox" ng-model="info.isMakeBooking" ng-true-value="1" ng-false-value="0" />
                            Make Booking
                        </label>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <label>
                            <input type="checkbox" ng-model="info.isPackage" ng-true-value="1" ng-false-value="0" />
                            Package
                        </label>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <label>
                            <input type="checkbox" ng-model="info.isPosition" ng-true-value="1" ng-false-value="0" />
                            Position
                        </label>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <label>
                            <input type="checkbox" ng-model="info.isSetting" ng-true-value="1" ng-false-value="0" />
                            Setting
                        </label>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <label>
                            <input type="checkbox" ng-model="info.isDownload"  ng-true-value="1" ng-false-value="0" />
                            Download Result
                        </label>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <label>
                            <input type="checkbox" ng-model="info.isViewAllData" ng-true-value="1" ng-false-value="0" />
                            View All Data
                        </label>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <label>
                            <input type="checkbox" ng-model="info.isAdmin" ng-true-value="1" ng-false-value="0" />
                            Is Telehealth Admin?
                        </label>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <label>
                            <input type="checkbox" ng-model="info.isReceiveEmail"  ng-true-value="1" ng-false-value="0" />
                            Is Invoice Email After Hour?
                        </label>
                    </div>
                </div>

            </div>
            <div class="form-actions fluid">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>