<label class="un-label-popup-header-m un-bg-label-B41E46-m">Add new doctor</label>
<form name="mdtdoctorForm" novalidate>
<!--ACTION-->
<div class="row">
	<div>
		<button class="btn pull-right un-save-m ng-scope" ng-click="clickAction()" ng-show="params.permission.create">
			<i class="fa fa-plus">Save</i>
		</button>
		<button class="un-button-submit-m ng-scope" ng-click="clickAction()" ng-show="params.permission.edit">
			<i class="fa fa-pencil">Save</i>
		</button>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-6 pull-right">
		<button class="btn btn-sm btn-block btn-danger" ng-click="closePopup()" ng-show="params.permission.popup">
			<i class="fa fa-times"></i>
		</button>
	</div>
</div>
<!--END ACTION -->

<div class="row">

	<!--Title-->
	<div class="col-md-3">
		<label for="title" class="un-label-form-3 un-label-whidth-130">Title</label>
		<select ng-options="title.id as title.name for title in option.titles" 
            name="title" ng-model="mdtDoctorMap.Title" id="title" class="form-control input-sm select-outside ng-pristine ng-valid" >
            <option value="" disabled selected>Title</option>
        </select>
	</div>
	<!--Title-->

	<!--NAME-->
	<div class="col-md-3">
			<label for="name" class="un-label-form-3 un-label-whidth-130">Name</label>
			<input type="text" placeholder="Name *" name="name" ng-model="mdtDoctorMap.NAME" class="form-control input-sm select-outside ng-pristine ng-valid" 
				id="name" required>
			<!-- ERROR -->
            <span ng-show="mdtdoctorForm.name.$invalid && isSubmit">
                <span class="mdt-popover above" ng-show="mdtdoctorForm.name.$error.required">
                    Name is required
                </span>
            </span>
            <!-- ERROR -->
	</div>
	<!--NAME-->

	<!--Email-->
	<div class="col-md-3">
			<label for="email" class="un-label-form-3 un-label-whidth-130">Email</label>
			<input type="text" placeholder="Email" name="email" ng-model="mdtDoctorMap.Email" class="form-control input-sm select-outside ng-pristine ng-valid" 
				id="email">
	</div>
	<!--Email-->

	<!--Phone-->
	<div class="col-md-3">
			<label for="phone" class="un-label-form-3 un-label-whidth-130">Phone</label>
			<input type="text" placeholder="Phone" name="phone" ng-model="mdtDoctorMap.Phone" class="form-control input-sm select-outside ng-pristine ng-valid" id="phone">
	</div>
	<!--Phone-->
	<div class="break-row"></div>

	<!--First_name-->
	<div class="col-md-3">
			<label for="first_name" class="un-label-form-3 un-label-whidth-130">First name</label>
			<input type="text" placeholder="First name" name="first_name" ng-model="mdtDoctorMap.First_name" class="form-control input-sm select-outside ng-pristine ng-valid" id="first_name" >
	</div>
	<!--First_name-->

	<!--Middle_name-->
	<div class="col-md-3">
			<label for="middle_name" class="un-label-form-3 un-label-whidth-130">Middle name</label>
			<input type="text" placeholder="Middle name" name="middle_name" ng-model="mdtDoctorMap.Middle_name" class="form-control input-sm select-outside ng-pristine ng-valid" id="middle_name" >
	</div>
	<!--Middle_name-->
	
	<!--Sur_name-->
	<div class="col-md-3">
			<label for="sur_name" class="un-label-form-3 un-label-whidth-130">Sur name</label>
			<input type="text" placeholder="Sur name" name="sur_name" ng-model="mdtDoctorMap.Sur_name" class="form-control input-sm select-outside ng-pristine ng-valid" id="sur_name">
	</div>
	<!--Sur_name-->

	<!--Address-->
	<div class="col-md-3">
			<label for="address" class="un-label-form-3 un-label-whidth-130">Address</label>
			<input type="text" placeholder="Address" name="address" ng-model="mdtDoctorMap.Address" class="form-control input-sm select-outside ng-pristine ng-valid" id="address" >
	</div>
	<!--Address-->

	<div class="break-row"></div>

	<!--Isenable-->
	<div class="col-md-3">
		<label for="address" class="un-label-form-3 un-label-whidth-130">Enable</label>
		<input type="checkbox" name="isenable" id="isenable" class="mdt-checkbox" ng-model="mdtDoctorMap.Isenable" ng-true-value="1" ng-false-value="0">
		<label for="isenable" class="un-label-isenable form-control un-input-m-custom">Enable</label>
	</div>
	<!--Isenable-->
	
	<!--Provider_no-->
	<div class="col-md-3">
			<label for="provider_no" class="un-label-form-3 un-label-whidth-130">Provider no</label>
			<input type="text" placeholder="Provider no" name="provider_no" ng-model="mdtDoctorMap.Provider_no" class="form-control input-sm select-outside ng-pristine ng-valid" id="provider_no" >
	</div>
	<!--Provider_no-->

	<!--Prescriber_no-->
	<div class="col-md-3">
			<label for="prescriber_no" class="un-label-form-3 un-label-whidth-130">Prescriber no</label>
			<input type="number" placeholder="Prescriber no" name="prescriber_no" ng-model="mdtDoctorMap.Prescriber_no" class="form-control input-sm select-outside ng-pristine ng-valid" id="prescriber_no" >
	</div>
	<!--Prescriber_no-->

	<!--Payee_provider_no-->
	<div class="col-md-3">
			<label for="payee_provider_no" class="un-label-form-3 un-label-whidth-130">Payee provider no</label>
			<input type="number" placeholder="Payee provider no" name="payee_provider_no" ng-model="mdtDoctorMap.Payee_provider_no" class="form-control input-sm select-outside ng-pristine ng-valid" id="payee_provider_no" >
	</div>
	<!--Payee_provider_no-->
	
	<div class="break-row"></div>

	<!--Provider_type-->
	<div class="col-md-3">
			<label for="provider_type" class="un-label-form-3 un-label-whidth-130">Provider type</label>
			<select ng-options="row.Provider_types_id as row.Provider_types_name for row in option.providers" 
                name="provider_type" ng-model="mdtDoctorMap.Provider_type" id="provider_type" class="form-control input-sm select-outside ng-pristine ng-valid" >
                <option value="" disabled selected>Provider Type</option>
            </select>
	</div>
	<!--Provider_type-->

	<!--CLINICAL_DEPT_ID-->
	<div class="col-md-3">
			<label for="clinical_dept_id" class="un-label-form-3 un-label-whidth-130">Clinical Department</label>
			<select required ng-options="row.CLINICAL_DEPT_ID as row.CLINICAL_DEPT_NAME for row in option.departments" 
                name="clinical_dept_id" ng-model="mdtDoctorMap.CLINICAL_DEPT_ID" id="clinical_dept_id" class="form-control input-sm select-outside ng-pristine ng-valid" >
                <option value="" disabled selected>Clinical Department *</option>
            </select>
		<!-- ERROR -->
        <span ng-show="mdtdoctorForm.clinical_dept_id.$invalid && isSubmit">
            <span class="mdt-popover above" ng-show="mdtdoctorForm.clinical_dept_id.$error.required">
                Clinical Dept is required
            </span>
        </span>
        <!-- ERROR -->
	</div>
	<!--CLINICAL_DEPT_ID-->

	<!--Appt_interval-->
	<div class="col-md-3">
			<label for="appt_interval" class="un-label-form-3 un-label-whidth-130">Appt interval</label>
			<input type="number" placeholder="Appt interval *" name="appt_interval" ng-model="mdtDoctorMap.Appt_interval" class="form-control input-sm select-outside ng-pristine ng-valid" id="appt_interval"  required>
		<!-- ERROR -->
        <span ng-show="mdtdoctorForm.appt_interval.$invalid && isSubmit">
            <span class="mdt-popover above" ng-show="mdtdoctorForm.appt_interval.$error.required">
                Appt Interval is required
            </span>
        </span>
        <!-- ERROR -->
	</div>
	<!--Appt_interval-->

	<!--isNewCalendarSlot-->
	<div class="col-md-3">
		<label class="un-label-form-3 un-label-whidth-130">New Calendar Slot</label>
		<input type="checkbox" name="isnewcalendarslot" id="isnewcalendarslot" class="mdt-checkbox" ng-model="mdtDoctorMap.isNewCalendarSlot" ng-true-value="1" ng-false-value="0">
		<label for="isnewcalendarslot" class="un-label-isenable form-control un-input-m-custom">New Calendar Slot</label>
	</div>
	<!--isNewCalendarSlot-->

	<div class="break-row"></div>

	<!--isReceiveEmailAfterHour-->
	<div class="col-md-3">
		<label class="un-label-form-3 un-label-whidth-130">Receive Email After</label>
		<input type="checkbox" name="isreceiveemailafterhour" id="isreceiveemailafterhour" class="mdt-checkbox" ng-model="mdtDoctorMap.isReceiveEmailAfterHour" ng-true-value="1" ng-false-value="0">
		<label for="isreceiveemailafterhour" class="un-label-isenable form-control un-input-m-custom">Receive Email After Hour</label>
	</div>
	<!--isReceiveEmailAfterHour-->

	<!--isAppointmentBook-->
	<div class="col-md-3">
		<label class="un-label-form-3 un-label-whidth-130">Appointment Book</label>
		<input type="checkbox" name="isappointmentbook" id="isappointmentbook" class="mdt-checkbox" ng-model="mdtDoctorMap.isAppointmentBook" ng-true-value="1" ng-false-value="0">
		<label for="isappointmentbook" class="un-label-isenable form-control un-input-m-custom">Appointment Book</label>
	</div>
	<!--isAppointmentBook-->

	<!--ABN_no-->
	<div class="col-md-3">
			<label for="abn_no" class="un-label-form-3 un-label-whidth-130">Abn no</label>
			<input type="number" placeholder="Abn no" name="abn_no" ng-model="mdtDoctorMap.ABN_no" class="form-control input-sm select-outside ng-pristine ng-valid" id="abn_no" >
	</div>
	<!--ABN_no-->

	<!--Sign_off-->
	<div class="col-md-3">
			<label for="sign_off" class="un-label-form-3 un-label-whidth-130">Sign off</label>
			<input type="text" placeholder="Sign off" name="sign_off" ng-model="mdtDoctorMap.Sign_off" class="form-control input-sm select-outside ng-pristine ng-valid" id="sign_off" >
	</div>
	<!--Sign_off-->

	<div class="break-row"></div>

	<!--Medical_Reg_no-->
	<div class="col-md-3">
			<label for="medical_reg_no" class="un-label-form-3 un-label-whidth-130">Medical Registration</label>
			<input type="number" placeholder="Medical Registration No" name="medical_reg_no" ng-model="mdtDoctorMap.Medical_Registration_no" class="form-control input-sm select-outside ng-pristine ng-valid" id="medical_reg_no" >
	</div>
	<!--Medical_Reg_no-->

	<!--Qualification_id-->
	<div class="col-md-3">
			<label for="qualification_id" class="un-label-form-3 un-label-whidth-130">Qualification id</label>
			<select ng-options="row.id as row.name for row in option.qualifications" 
                name="qualification_id" ng-model="mdtDoctorMap.Qualification_id" id="qualification_id" class="form-control input-sm select-outside ng-pristine ng-valid">
                <option value="" disabled selected>Qualification</option>
            </select>
    </div>
	<!--Qualification_id-->

	<!--OSHC_ID-->
	<div class="col-md-3">
			<label for="oshc_id" class="un-label-form-3 un-label-whidth-130">Oshc id</label>
			<input type="number" placeholder="Oshc id" name="oshc_id" ng-model="mdtDoctorMap.OSHC_ID" class="form-control input-sm select-outside ng-pristine ng-valid" id="oshc_id" >
	</div>
	<!--OSHC_ID-->

	<!--Default_bank_account_id-->
	<div class="col-md-3">
	
			<label for="default_bank_account_id" class="un-label-form-3 un-label-whidth-130">Default Bank Account</label>
			<input type="number" placeholder="Default bank account id" name="default_bank_account_id" ng-model="mdtDoctorMap.Default_bank_account_id" class="form-control input-sm select-outside ng-pristine ng-valid" id="default_bank_account_id" >
	</div>
	<!--Default_bank_account_id-->

	<div class="break-row"></div>

	<!--User Id-->
	<div class="col-md-3">
			<label for="userid" class="un-label-form-3 un-label-whidth-130">User</label>
			<select ng-options="user.id as user.user_name for user in users" 
                name="userid" ng-model="mdtDoctorMap.User_id" id="userid" class="form-control input-sm select-outside ng-pristine ng-valid">
                <option value="" disabled selected>User</option>
            </select>
   	</div>
	<!--User Id-->
	
	<!-- Current Site -->
	<div class="col-md-3">
			<label for="currSite" class="un-label-form-3 un-label-whidth-130">Current Site</label>
			<select ng-options="s.id as s.Site_name for s in siteList" 
                name="currSite" ng-model="mdtDoctorMap.currentSite" id="currSite" class="form-control input-sm select-outside ng-pristine ng-valid">
                <option value="" disabled selected>--Select Site--</option>
            </select>
   	</div>
   	<!-- Current Site -->

	<!--Is Online-->
	<div class="col-md-3">
		<label class="un-label-form-3 un-label-whidth-130">Is Online</label>
		<input type="checkbox" name="isonline" id="isonline" class="mdt-checkbox" ng-model="mdtDoctorMap.isOnline" ng-true-value="1" ng-false-value="0">
		<label for="isonline" class="un-label-isenable form-control un-input-m-custom">Is Online</label>
	</div>
	<!-- Is Online -->

	<!--Nums Of Room-->
	<div class="col-md-3">
		<label class="un-label-form-3 un-label-whidth-130">Numbers Of Room</label>
		<input type="text" numbers-only placeholder="Numbers Of Room" name="numOfRoom" ng-model="mdtDoctorMap.numsOfRoom" class="form-control input-sm select-outside ng-pristine ng-valid" id="sur_name">
	</div>
	<!--Nums Of Room-->

	<div class="break-row"></div>	

	<!--Signature-->
	<div align="center" class="row">
		<span>
            <canvas width="1280" height="200" id="canvas" style="background-color: #DDDDDD; margin-bottom: 15px; 
            	border: 2px solid 64A0D9"
                signature ng-model="mdtDoctorMap.Signature">
            </canvas>
        </span>
	</div>
	<div class="break-row"></div>
	<div class="row"> 
		<div class="col-md-12">
			<button class="btn un-save-m ng-scope" ng-click="clearSignature()"><i class="fa fa-times"></i>Clear</button>
		</div>
	</div>
	<!--Signature-->

	<div class="break-row"></div>
</div>
</form>

<div class="row">
	<div class="col-md-12">
		<button ng-click="speciality.dialog.add()" class="btn un-save-m ng-scope">Add Specialty</button>
		<table class="mdt-table">
			<thead>
				<tr>
					<th>Specialty Name</th>
					<th>Type Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="list in speciality.list"
					ng-style="{ 'background-color': speciality.active == list.Specialties_id ? 'green' : 'none' }">
					<td>{{list.Specialties_name}}</td>
					<td>{{list.Rl_TYPE_NAME}}</td>
					<td>
						<a ng-click="speciality.onActiveList(list)">
							<i class="fa fa-home"></i>
						</a>
						<a>
						   	<span  ng-if="list.Isenable"  ng-click="disable(list)">Enable</span>
							<span  ng-if="!list.Isenable"  ng-click="disable(list)">Disable</span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script type="text/ng-template" id="dialogSelectSpeciality">
	<style type="text/css">
          .modal.in .modal-dialog {
           margin-top:50px;
          }
     </style>
	<div class="modal-body">
		<mdtspecialty-listbydoctor limit="speciality.limit" reload="speciality.reload" doctor-id="speciality.doctorId"
			on-row-click="speciality.clickRow(row)">
		</mdtspecialty-listbydoctor>
	</div>
</script>

<script type="text/ng-template" id="dialogSpecialtyRemove">
    <div class="modal-body">
        <p>Do you want to remove this specialty ?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-xs" ng-click="ok()">OK</button>
        <button class="btn btn-warning btn-xs" ng-click="cancel()">Cancel</button>
    </div>
</script>