<label class="un-label-popup-header un-bg-label-B41E46">Claim info</label>
<div class="row">
	
	<!-- CLAIM NO -->
	<div class="col-md-6">
		<div class="form-group">
			<label class="un-label-group">
				Claim No&nbsp;*
			</label>
			<input class="form-control input-sm un-input-group" ng-model="claim.form.Claim_no" id="Claim_no" disabled>
		</div>
	</div>
	<!-- END CLAIM NO -->

	<!-- CLAIM DATE -->
	<div class="col-md-6">
		<div class="form-group">
			<label class="un-label-group">
				Claim Date&nbsp;*
			</label>
			<input custom-date class="form-control input-sm un-input-group" ng-model="claim.form.Claim_date" id="Claim_date" disabled>
		</div>
	</div>
	<!-- END CLAIM DATE -->

	<!-- INJURY NAME -->
	<div class="col-md-6">
		<div class="form-group">
			<label class="un-label-group">
				Injury Name&nbsp;*
			</label>
			<input class="form-control input-sm un-input-group" ng-model="claim.form.Injury_name" id="Injury_name" disabled>
		</div>
	</div>
	<!-- END INJURY NAME -->

	<!-- INJURY DATE -->
	<div class="col-md-6">
		<div class="form-group">
			<label class="un-label-group">
				Injury Date&nbsp;*
			</label>
			<input custom-date class="form-control input-sm un-input-group" ng-model="claim.form.Injury_date" id="Injury_date" disabled>
		</div>
	</div>
	<!-- END INJURY DATE -->

</div>

<div class="row">
	<!-- LOCATION -->
	<div class="col-md-12">
		<div class="form-group">
			<label class="un-label-group">Location</label>
			<input ng-model="claim.form.Location" id="Location" class="form-control input-sm un-input-group" disabled>
		</div>
	</div>
	<!-- END LOCATION -->
	
	<!-- HOW INJURY OCCURRED -->
	<div class="col-md-12">
		<div class="form-group">
			<label class="un-label-group">How Injury Occurred</label>
			<textarea ng-model="claim.form.How_Injury_Occurred" id="How_Injury_Occurred" class="form-control input-sm un-input-group" disabled></textarea>
		</div>
	</div>
	<!-- END HOW INJURY OCCURRED -->
</div>

<div class="row">
	<!-- ADDRESS -->
	<div class="col-md-12">
		<div class="form-group">
			<label class="un-label-group">Address</label>
			<input ng-model="claim.form.Address" id="Address" class="form-control input-sm un-input-group" disabled>
		</div>
	</div>
	<!-- END ADDRESS -->
	<!-- INSURER -->
	<div class="col-md-6">
		<div class="form-group">
			<label class="un-label-group">Insurer</label>
			<label class="un-input-group input-sm">{{insurer.name}}</label>
		</div>
	</div>
	<!-- END INSURER -->
	

	<!-- PO NUMBER -->
	<div class="col-md-6">
		<div class="form-group">
			<label class="un-label-group">PO Num</label>
			<input ng-model="claim.form.PO_number" class="form-control input-sm un-input-group" id="PO_number" disabled>
		</div>
	</div>
	<!-- END PO NUMBER -->
</div>

<div class="row">
	<!-- CASE MANAGER -->
	<div class="col-md-12">
		<div class="form-group">
			<label class="un-label-group">Case Manager</label>
			<input ng-model="claim.form.Case_manager" class="form-control input-sm un-input-group" id="Case_manager" disabled>
		</div>
	</div>
	<!-- END CASE MANAGER -->
	<!-- IS CURR -->
	<div class="col-md-6">
		<div>
			<input type="checkbox" ng-model="claim.form.isCurr" ng-true-value="1" ng-false-value="0" class="un-input-checkbox" disabled>
			<label>Is Current</label>
		</div>
	</div>
	<!-- END IS CURR -->
	<!-- OPEN CLOSE -->
	<div class="col-md-6">
		<div>
			<input type="checkbox" ng-model="claim.form.Isenable" ng-true-value="1" ng-false-value="0" class="un-input-checkbox" disabled>
			<label>Open</label>
		</div>
	</div>
	<!-- END OPEN CLOSE -->
</div>
