<form name="mainForm" novalidate>

<div class="row" style="margin-bottom: 15px;">
	
</div>

<div class="row">

	<!--IS_CT_SCAN-->
	<div class="col-md-4 col-sm-6 col-xs-12">
		<input type="checkbox" name="is_ct_scan" id="is_ct_scan" class="mdt-checkbox" ng-model="modelObjectMap.IS_CT_SCAN" ng-true-value="1" ng-false-value="0">
		<label for="is_ct_scan">CT SCAN</label>
	</div>
	<!--IS_CT_SCAN-->
   
   
    <!--IS_X_RAY-->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <input type="checkbox" name="is_x_ray" id="is_x_ray" class="mdt-checkbox" ng-model="modelObjectMap.IS_X_RAY" ng-true-value="1" ng-false-value="0">
            <label for="is_x_ray">XRAY</label>
        </div>
        <!--IS_X_RAY-->

        <!--IS_MRI-->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <input type="checkbox" name="is_mri" id="is_mri" class="mdt-checkbox" ng-model="modelObjectMap.IS_MRI" ng-true-value="1" ng-false-value="0">
            <label for="is_mri">MRI</label>
        </div>
        <!--IS_MRI-->

	<div class="break-row"></div>
	

	<!--IS_ULTRASOUND-->
	<div class="col-md-4 col-sm-6 col-xs-12">
		<input type="checkbox" name="is_ultrasound" id="is_ultrasound" class="mdt-checkbox" ng-model="modelObjectMap.IS_ULTRASOUND" ng-true-value="1" ng-false-value="0">
		<label for="is_ultrasound">Ultrasound</label>
	</div>
	<!--IS_ULTRASOUND-->
   
    <!--IS_PATHOLOGY-->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <input type="checkbox" name="is_pathology" id="is_pathology" class="mdt-checkbox" ng-model="modelObjectMap.IS_PATHOLOGY" ng-true-value="1" ng-false-value="0">
            <label for="is_pathology">Pathology</label>
        </div>
        <!--IS_PATHOLOGY-->

	<div class="break-row"></div>
	

	<!--CLINICAL_DETAILS-->
	<div class="col-md-8 col-sm-8 col-xs-12">
		<span class="field extend-field">
			<label for="clinical_details">Clinical details</label>
            <textarea style="resize:none;"  type="text" placeholder="Clinical details" name="clinical_details" ng-model="modelObjectMap.CLINICAL_DETAILS" class="form-control" id="clinical_details"></textarea>
		</span>	</div>
	<!--CLINICAL_DETAILS-->

	<!--IS_ALLERGIES-->
	<div class="col-md-4 col-sm-4 col-xs-12">
		<input type="checkbox" name="is_allergies" id="is_allergies" class="mdt-checkbox" ng-model="modelObjectMap.IS_ALLERGIES" ng-true-value="1" ng-false-value="0">
		<label for="is_allergies">Allergies</label>
	</div>
	<!--IS_ALLERGIES-->


	<div class="break-row"></div>
	<!--REQUESTING_PRACTITIONER-->
	<div class="col-md-8 col-sm-8 col-xs-12">
		<span class="field extend-field">
			<label for="requesting_practitioner" style="width: 150px;">Requesting practitioner</label>
            <textarea style="resize:none;" placeholder="Requesting practitioner" name="requesting_practitioner" ng-model="modelObjectMap.REQUESTING_PRACTITIONER" class="form-control" id="requesting_practitioner"></textarea>
		</span>	</div>
	<!--REQUESTING_PRACTITIONER-->

	<!--IS_REPORT_URGENT-->
	<div class="col-md-4 col-sm-4 col-xs-12">
		<input type="checkbox" name="is_report_urgent" id="is_report_urgent" class="mdt-checkbox" ng-model="modelObjectMap.IS_REPORT_URGENT" ng-true-value="1" ng-false-value="0">
		<label for="is_report_urgent">Report urgent</label>
	</div>
	<!--IS_REPORT_URGENT-->
	<div class="break-row"></div>
    <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-12 col-sm-12 col-xs-12">
           <label class="control-label">
              <b>REPORT</b>
           </label>
           </div>
       </div>
    </div>
	<!--ELECTRONIC-->
		<div class="col-md-4 col-sm-4 col-xs-12">
		<input type="checkbox" name="IS_ELECTRONIC" id="IS_ELECTRONIC" class="mdt-checkbox" ng-model="modelObjectMap.IS_ELECTRONIC" ng-true-value="1" ng-false-value="0">
		<label for="IS_ELECTRONIC">Electronic</label>
	</div>
	<!--ELECTRONIC-->
   
    <!--FAX-->
		<div class="col-md-4 col-sm-4 col-xs-12">
		<input type="checkbox" name="IS_FAX" id="IS_FAX" class="mdt-checkbox" ng-model="modelObjectMap.IS_FAX" ng-true-value="1" ng-false-value="0">
		<label for="IS_FAX">Fax</label>
	</div>
	<!--FAX-->
   
    <!--Email-->
		<div class="col-md-4 col-sm-4 col-xs-12">
		<input type="checkbox" name="IS_Email" id="IS_Email" class="mdt-checkbox" ng-model="modelObjectMap.IS_Email" ng-true-value="1" ng-false-value="0">
		<label for="IS_Email">Email</label>
	</div>
	<!--Email-->
	<div class="break-row"></div>
	

	

	<!--PHONE-->
		<div class="col-md-4 col-sm-4 col-xs-12">
		<input type="checkbox" name="IS_PHONE" id="IS_PHONE" class="mdt-checkbox" ng-model="modelObjectMap.IS_PHONE" ng-true-value="1" ng-false-value="0">
		<label for="IS_PHONE">Phone</label>
	</div>
	<!--PHONE-->

	<!--IS_RETURN_WITH_PATIENT-->
	<div class="col-md-4 col-sm-4 col-xs-12">
		<input type="checkbox" name="IS_RETURN_WITH_PATIENT" id="IS_RETURN_WITH_PATIENT" class="mdt-checkbox" ng-model="modelObjectMap.IS_RETURN_WITH_PATIENT" ng-true-value="1" ng-false-value="0">
		<label for="IS_RETURN_WITH_PATIENT">Return with patient</label>
	</div>
	<!--IS_RETURN_WITH_PATIENT-->
    <div class="break-row"></div>
    <div class="row" style="margin-bottom: 15px;">
	
    </div>
    <div class="break-row"></div>
	<!--APPOINTMENT_DATE-->
	<div class="col-md-4 col-sm-6 col-xs-12">
		<span class="field extend-field">
			<label for="appointment_date">Appointment date</label>
			<input readonly ui-date="{dateFormat: 'dd/mm/yy'}" placeholder="Appointment date" name="appointment_date" ng-model="modelObjectMap.APPOINTMENT_DATE" class="form-control" id="appointment_date">
		</span>	</div>
	<!--APPOINTMENT_DATE-->
	
		<div class="clearfix"></div>
        <!-- ACTION -->
        <div class="col-sm-4 col-xs-6">
            <button class="btn un-submit" ng-click="clickAction({type: mode.type})">
                Save
            </button>
        </div>

</div>
</form>