<div class="modal" style="margin: 0 auto; height:200px">
    <div class="bar bar-header" style="background-color: #26a69a;border-bottom: none;color:white; height:45px">
      <h1 class="title" style="color:white">{{linkName}}</h1>
      <div>
        <button class="button button-icon icon fa fa-camera" ng-click="takePicture('CAMERA')"></button>
        <button class="button button-icon icon fa fa-upload" ng-click="takePicture('PHOTOLIBRARY')"></button>
      </div>           
    </div>

    <ion-content style="margin-top:50px">
      <ion-scroll direction="x" scrollbar-x="false">
        <div ng-repeat="item in tempItem" style="float: left">
          <img id="myImage" ng-src="{{item.sourceImg}}"/>
           <button style="float:right" 
                            class="button button-small button-clear" 
                            ng-click="removeItem('{{item}}')">x</button>
          <input type="text" placeholder="Input description here." ng-model="item.des"/>
        </div>
      </ion-scroll>
      <button class="button button-full button-energized" ng-click="closeModal(item)" >Done</button>
    </ion-content>
<div>