<div class="portlet yellow box">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-pin"></i>
            <span class="bold" ng-if="calendarView == 'month'">Timesheet of Month</span>
            <span class="bold" ng-if="calendarView == 'week'">Timesheet of Next Week</span>
        </div>
        <a ng-show="calendarView == 'month'" class="btn purple-stripe default pull-right" style="color: #800080" ng-click="calendarView = 'week'">Do you want enter info for next week?</a>
    </div>
    <div class="portlet-body">
        <div class="panel">
            <div class="panel-title">
                <h4 class="text-center bold" style="color: #696969">{{calendarControl.getTitle()}}</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-1" ng-show="calendarView == 'month'">
                    <a href="javascript:;" ng-click="calendarControl.prev()">
                        <i class="glyphicon glyphicon-arrow-left" style="color: #808080;font-size: 30px"></i>
                    </a>
                </div>
                <div ng-class="{'col-md-10': calendarView == 'month','col-md-12': calendarView == 'week'}">
                    <mwl-calendar
                            calendar-events="events"
                            calendar-view="calendarView"
                            calendar-current-day="calendarDay"
                            calendar-control="calendarControl"
                            calendar-event-click="eventClicked($event)"
                            calendar-edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                            calendar-delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                            calendar-add-event-html="'<i class=\'glyphicon glyphicon-plus \' style=\'color: #006400; font-size: large\'></i>'"
                            calendar-edit-event-click="eventEdited($event)"
                            calendar-delete-event-click="eventDeleted($event)"
                            calendar-auto-open="true"
                            calendar-use-iso-week="useIsoWeek"
                            >
                    </mwl-calendar>
                </div>
                <div class="col-md-1" ng-show="calendarView == 'month'">
                    <a href="javascript:;" ng-click="calendarControl.next()">
                        <i class="glyphicon glyphicon-arrow-right" style="color: #808080;font-size: 30px"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>