<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="loggedIn.TimeSheetHome">Timesheet</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="loggedIn.TimeSheetGroupUser">
            <span ng-hide='isEdit'>Create New Timesheet</span>
            <span ng-hide='!isEdit'>Edit Timesheet</span>
            </a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
</div>

<div class="portlet box blue-hoki">
    <div class="portlet-title">
        <div class="pull-right">
            <label ng-hide='isEdit' style="margin-top:10px;" >Week From</label>
            <input ng-hide='isEdit' style="margin-top:10px;color: black"  class="week-picker" ng-model="dateWeekFrom" ng-change="changeDate()"/>
            <a class="btn btn-xs blue pull-right" ng-hide='true' style="margin-top:10px;margin-left: 10px">
                <i class="fa fa-refresh"></i> &nbsp;Refresh</a>
        </div>
        <div class="caption" style="font-size:14px;">
            <i class="fa fa-cogs"></i>
            <span ng-hide='isEdit'>Create New Timesheet</span>
            <span ng-hide='!isEdit'>Edit Timesheet</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-dynamic">
            <center ng-show="tasks.loading"><i class="fa fa-spinner fa-spin fa-3x"></i>
            </center>
            <table class="responsive table table-bordered" ng-show="!tasks.loading">
                <thead ng-show="tasks!==null">
                <tr>
                    <th>
                        <div class="th">

                        </div>
                    </th>
                    <th>
                        <div class="th">

                        </div>
                    </th>
                    <th>
                        <div class="th">
                            </span> Date
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            </span> Activity
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            </span> Location
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            </span> Department
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            </span> Input Item
                        </div>
                    </th>
                    <th>
                        <div class="th" style="width:100px;">
                            </span> Time Charge
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            </span> Task/Comment
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            </span> Item Codes
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-hide="task.isAction == 'delete'" ng-repeat="(key,task) in tasks track by $index">
                    <td style="vertical-align: middle">
                        <i  ng-if="task.order == 1" class="fa fa-plus pointer" 
                        ng-click="addRow($index,task.date,task.tasks_week_id)" style="font-size: 17px"></i>
                    </td>
                    <td style="vertical-align: middle">
                        <i class="fa fa-trash pointer" ng-click="delTask($index,task.order)" style="font-size: 17px"></i>
                    </td>
                    <td style="vertical-align: middle">{{task.date | date : 'EEE, dd MMM'}}</td>
                    <td style="width: 16%">
                        <select style="font-size: 12px" ng-model="task.activity_id" class="form-control input-sm" ng-options="activity.activity_id as activity.NAME group by activity.type_name for activity in activities" ng-change="activityChange(task, $index)">
                            <option value="">--Select Activity--</option>
                        </select>
                    </td>
                    <td style="width: 12%">
                        <select style="font-size: 12px" ng-disabled='task.activity_id === 18' ng-model="task.location_id" class="form-control input-sm" ng-options="location.location_id as location.NAME for location in locations">
                            <option value="">--Select Location--</option>
                        </select>
                    </td>
                    <td style="width: 15%">
                        <select style="font-size: 12px" ng-disabled='task.activity_id === 18' ng-model="task.department_code_id" class="form-control input-sm" ng-options="department.departmentid as department.departmentName for department in departments">
                            <option value="">-Select Department Code--</option>
                        </select>
                    </td>
                    <td>
                        <input ng-disabled="!task.isBillable || task.activity_id === 18" style="margin-left: 28px" type="checkbox"
                         class="checkbox center" ng-model="task.isInputItem"/></td>
                    <td  style="width: 2%" style="text-align: center">
                        <input ng-disabled="task.isInputItem || task.activity_id === 18" type="text" ui-mask="99:99" name="time_charge" ng-model="task.time_charge" style="width: 100%" ng-change="changeTimeCharge(task)" style="font-style: 'normal'">
                    <td style="width: 20%">
                        <input ng-disabled="task.isInputItem || task.activity_id === 18" class="form-control input-sm" ng-model="task.task"/>
                    </td>
                    <td>
                        <span ng-disabled="!task.isInputItem || task.activity_id === 18" ng-click="chooseItem(task,$index)" class="btn btn-sm blue-dark"><i class="fa fa-search"></i>&nbsp; Choose Item</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="7" style="vertical-align: middle"><label class="bold pull-right">Total: </label></td>
                    <td>
                        <input disabled class="form-control input-sm" ng-model="info.time_charge"/></td>
                        <td colspan="2"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="form-action" style="text-align: right">
            <span class="btn btn-xs blue" ng-hide='isEdit' ng-click="addAllTask(1)">Save</span>
            <span class="btn btn-xs grey" ng-click="addAllTask(2)">Submit</span>
            <a class="btn btn-xs btn-warning" ng-show='isEdit' ui-sref="loggedIn.timesheet.view">Cancel</a>
            <a class="btn btn-xs btn-warning" ng-show='!isEdit' ui-sref="loggedIn.TimeSheetHome">Cancel</a>
        </div>
    </div>
</div>
<script type="text/ng-template" id="ViewTask">
    <view-task ng-model="idDept" on-cancel="clickCancel(return)" on-save="clickSave(return)"></view-task>
</script>
