<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="loggedIn.TimeSheetHome">Timesheet</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="loggedIn.TimeSheetGroupUser">Create new Timesheet</a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
</div>

<div class="portlet box blue-hoki">
    <div class="portlet-title">
        <div class="pull-right">
            <label style="margin-top:10px;" >Week From</label>
            <input style="margin-top:10px;"  class="week-picker" ng-model="dateWeekFrom" ng-change="changeDate()"/>
            <a class="btn btn-xs blue pull-right" style="margin-top:10px;margin-left: 10px" ui-sref="loggedIn.ApproveTask">
                <i class="fa fa-refresh"></i> &nbsp;Refresh</a>
        </div>
        <div class="caption" style="font-size:14px;">
            <i class="fa fa-cogs"></i>Create new Timesheet
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-dynamic">
            <center ng-show="tasks.loading"><i class="fa fa-spinner fa-spin fa-3x"></i>
            </center>
            <table class="responsive table table-bordered" ng-show="!tasks.loading">
                <thead ng-show="tasks!==null">
                <tr>
                    <th>
                        <div class="th">

                        </div>
                    </th>
                    <th>
                        <div class="th">

                        </div>
                    </th>
                    <th>
                        <div class="th">
                            </span> Date
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            </span> Location
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            </span> Department
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            </span> Activity
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            </span> Time charge
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            </span> Task
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            </span> Item Codes
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key,task) in tasks track by $index">
                    <td>
                        <span ng-if="task.order == 1" class="btn btn-sm blue-dark" ng-click="addRow($index,task.date,task.tasks_week_id)">Add new</span>
                    </td>
                    <td>
                        <i class="fa fa-trash pointer" ng-click="delTask($index,task.order)" style="font-size: 20px"></i>
                    </td>
                    <td style="vertical-align: middle">{{task.date | date : 'EEE, dd MMM'}}</td>
                    <td>
                        <select style="font-size: 12px" ng-model="task.location_id" class="form-control input-sm" ng-options="location.location_id as location.NAME for location in locations">
                            <option value="">--Select Location--</option>
                        </select>
                    </td>
                    <td>
                        <select style="font-size: 12px" ng-model="task.department_code_id" class="form-control input-sm" ng-options="department.department_code_id as department.NAME for department in departments">
                            <option value="">--Select Department Code--</option>
                        </select>
                    </td>
                    <td>
                        <select style="font-size: 12px" ng-model="task.activity_id" class="form-control input-sm" ng-options="activity.activity_id as activity.NAME for activity in activities">
                            <option value="">--Select Activity--</option>
                        </select>
                    </td>
                    <td style="width: 7%">
                        <input class="form-control input-sm"  ng-model="task.time_charge"/></td>
                    <td style="width: 20%">
                        <input class="form-control input-sm" ng-model="task.task"/>
                    </td>
                    <td>
                        <span ng-click="chooseItem(task)" class="btn btn-sm blue-dark"><i class="fa fa-search"></i> Choose Item </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="form-action" style="text-align: right">
            <span class="btn btn-sm blue-dark" ng-click="addAllTask()">Save</span>
            <span class="btn btn-sm blue-dark" ng-click="">Submit Displayed Week</span>
        </div>
    </div>
</div>
<script type="text/ng-template" id="ViewTask">
    <view-task ng-model="idDept" on-cancel="clickCancel(return)" on-save="clickSave(return)"></view-task>
</script>
