<div class="modal-header">
    <h3>Edit Timesheet</h3>
</div>
<div class="modal-body">
    <div class="table-dynamic">
        <center ng-show="tasks.loading"><i class="fa fa-spinner fa-spin fa-3x"></i>
        </center>
        <table class="responsive table table-bordered" ng-show="!tasks.loading">
            <thead ng-show="tasks!==null">
            <tr>
                <th>
                    <div class="th">

                    </div>
                </th>
                <th>
                    <div class="th">

                    </div>
                </th>
                <th>
                    <div class="th">
                        </span> Date
                    </div>
                </th>
                <th>
                    <div class="th">
                        </span> Location
                    </div>
                </th>
                <th>
                    <div class="th">
                        </span> Department
                    </div>
                </th>
                <th>
                    <div class="th">
                        </span> Activity
                    </div>
                </th>
                <th>
                    <div class="th">
                        </span> Time charge
                    </div>
                </th>
                <th>
                    <div class="th">
                        </span> Task
                    </div>
                </th>
                <th>
                    <div class="th">
                        </span> Item Codes
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key,task) in tasks track by $index">
                <td>
                    <span ng-disabled="!isEdit" ng-if="task.order == 1" class="btn btn-sm blue-dark" ng-click="addRow($index,task.date,task.tasks_week_id)">Add new</span>
                </td>
                <td>
                    <i class="fa fa-trash pointer" ng-click="delTask($index,task.order)" style="font-size: 20px"></i>
                </td>
                <td style="vertical-align: middle">{{task.date | date : 'EEE, dd MMM'}}</td>
                <td>
                    <select ng-disabled="!isEdit" style="font-size: 12px" ng-model="task.location_id" class="form-control input-sm" ng-options="location.location_id as location.NAME for location in locations">
                        <option value="">--Select Location--</option>
                    </select>
                </td>
                <td>
                    <select ng-disabled="!isEdit" style="font-size: 12px" ng-model="task.department_code_id" class="form-control input-sm" ng-options="department.department_code_id as department.NAME for department in departments">
                        <option value="">--Select Department Code--</option>
                    </select>
                </td>
                <td>
                    <select ng-disabled="!isEdit" style="font-size: 12px" ng-model="task.activity_id" class="form-control input-sm" ng-options="activity.activity_id as activity.NAME for activity in activities">
                        <option value="">--Select Activity--</option>
                    </select>
                </td>
                <td style="width: 7%">
                    <input ng-disabled="!isEdit" class="form-control input-sm"  ng-model="task.time_charge"/></td>
                <td style="width: 20%">
                    <input ng-disabled="!isEdit" class="form-control input-sm" ng-model="task.task"/>
                </td>
                <td>
                    <span ng-class="{'disabled': !isEdit}" ng-click="chooseItem(task,$index)" class="btn btn-sm blue-dark"><i class="fa fa-search"></i> &nbsp;{{task.btnTitle}} </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer" style="text-align: center;">
    <a style="width: 75px" href="javascript:;" ng-click="okClick()" class="btn btn-circle blue-steel btn-sm">
        <i class="fa fa-pencil"></i> 
        <span ng-if="!isEdit">Edit</span>
        <span ng-if="isEdit">Save</span> 
    </a>
    <a style="width: 75px" href="javascript:;" ng-click="cancelClick(m)" class="btn btn-circle red-flamingo btn-sm">
        <i class="fa fa-times"></i> Cancel </a>

    <!-- <a href="javascript:;" class="btn btn-danger" ng-click='cancelClick()'>Cancel</a>
    <a href="javascript:;" ng-click="okClick()" class="btn green">
        <span ng-if="!isEdit">Edit</span>
        <span ng-if="isEdit">Save</span>
    </a> -->
</div>
