<div class="modal-header">
    <h3>Choose Item</h3>
</div>
<div class="modal-body">
	<div class="row" ng-show="itemList.length > 0">
		<div class="table-dynamic">
            <table class="responsive table table-bordered">
                <thead >
	                <tr>
	                    <th>
	                        <div style="text-align: center" class="th">
								</span> Delete
	                        </div>
	                    </th>
	                    <th>
	                        <div style="text-align: center" class="th">
	                            </span> Item ID
	                        </div>
	                    </th>
	                    <th>
	                        <div style="text-align: center" class="th">
	                            </span> Item Name
	                        </div>
	                    </th>
	                    <th>
	                        <div style="text-align: center" class="th">
	                            </span> Quantity
	                        </div>
	                    </th>
	                    <th>
	                        <div style="text-align: center" class="th">
	                            </span> Time Charge
	                        </div>
	                    </th>
	                    <th>
	                    	<div class="th">
	                            </span> Task/Comment
	                        </div>
	                    </th>
	                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in itemList track by $index">
                    <td style="vertical-align: middle" align="center">
                        <i class="fa fa-trash pointer" ng-click="delItem($index)" style="font-size: 20px"></i>
                    </td>
                    <td width="10%" align="center" >{{item.ITEM_ID}}</td>
                    <td width="40%" style="word-wrap: break-word">{{item.ITEM_NAME}}</td>
                    <td style="width: 10%">
                        <input type="text" class="form-control input-sm" ng-model="item.quantity" required numbers-only="numbers-only"/>
                    <td style="width: 10%">
                        <input type="text" class="form-control input-sm" ng-model="item.time_charge" required numbers-only="numbers-only" />
                    </td>
                    <td width="30%" style="word-wrap: break-word">
                    	<input type="text" class="form-control input-sm" ng-model="item.comment"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
	</div>
    <div class="row" ng-if="!isView">
         <my-data-table options="itemSearchOption" numrows="itemSearch.itemPerPage" rowclass="itemSearch.class" rowclick="itemSearch.click"></my-data-table>
    </div>
</div>
<div class="modal-footer">
    <a ng-if="!isView" href="javascript:;" class="btn btn-danger" ng-click='cancel()'>Cancel</a>
    <a ng-if="!isView" href="javascript:;" ng-click="okClick()" class="btn green" >OK</a>
</div>