<div class="modal-header">
    <h3>Detail Timesheet</h3>
    <a class="btn pull-right btn-xs red" ng-click="cancelClick()">X</a>
</div>
<div class="modal-body">
    <div class="table-dynamic">
        <center ng-show="tasks.loading"><i class="fa fa-spinner fa-spin fa-3x"></i>
        </center>
        <table class="responsive table table-bordered" ng-show="!tasks.loading">
            <thead ng-show="tasks!==null">
            <tr>
                <th>
                    <div class="th">
                        Date
                    </div>
                </th>
                <th>
                    <div class="th">
                         Activity
                    </div>
                </th>
                <th>
                    <div class="th">
                        Location
                    </div>
                </th>
                <th>
                    <div class="th">
                        Department
                    </div>
                </th>
                <th>
                    <div class="th">
                        Time Charge
                    </div>
                </th>
                <th>
                    <div class="th">
                        Item Number
                    </div>
                </th>
                <th>
                    <div class="th">
                        Quantity
                    </div>
                </th>
                <th>
                    <div class="th">
                        Tasks/Comments
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key,task) in tasks track by $index">
                <td>{{task.date | date : 'EEE, dd MMM'}}</td>
                <td>{{task.activity}}</td>
                <td>{{task.location}}</td>
                <td>{{task.department}}</td>
                <td>{{task.time_charge}}</td>
                <td>{{task.ITEM_ID}}</td>
                <td>{{task.quantity}}</td>
                <td>{{task.task}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer" style="text-align: center;">
    <a style="width: 75px" href="javascript:;" ng-click="okClick()" class="btn btn-circle blue-steel btn-xs">
        <i class="fa fa-pencil"></i> 
        <span>Edit</span>
    </a>
    <a style="width: 75px" href="javascript:;" ng-click="cancelClick()" class="btn btn-circle btn-warning btn-xs">
        <i class="fa fa-times"></i> Cancel </a>
</div>
