<div class="panel-body">
    <form method="POST" class="grid-form" name="viewTask">
        <!-- MAIN INFO -->
        <fieldset>
            <legend>View Timesheet
            </legend>
            <!-- INFORMATION -->
            <div data-row-span="12">
                <div data-field-span="6">
                    Employee: &nbsp;<span class="text-info" style="font-size:13px;">{{employee_name}}</span>
                </div>
                <div data-field-span="6">
                    For The Week: &nbsp;<span class="text-info" style="font-size:13px;">{{week.start_date| date: "dd/MM/yyyy"}} </span>&nbsp;to <span class="text-info" style="font-size:13px;">{{week.end_date| date: "dd/MM/yyyy"}}</span>
                </div>
            </div>
            <!-- END INFORMATION -->
            <!-- TABLE TASK OF WEEK-->
            <div data-row-span="12">
                <div class="panel-body table-dynamic">
                    <center ng-show="list.loading"><i class="fa fa-spinner fa-spin fa-3x"></i>
                    </center>
                    <table class="responsive table table-bordered" ng-show="!list.loading">
                        <thead ng-show="list.result!==null">
                            <tr>
                                <th>
                                    <div class="th">
                                        Date
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Billable Time
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Administration Time
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Training Time
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Non-charged
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Non-working days Time
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Total Hour
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="task in tasks track by $index" ng-class-odd="'odd'">
                                <td class="btn btn-xs" style="text-align:left;">{{task.date | date: 'EEE, dd MMM yyyy'}}</td>
                                <td class="btn btn-xs" ng-repeat="act in task.arrActivity track by $index">
                                    {{act}}
                                </td>
                                <td class="btn btn-xs bold">{{task.total}}</td>
                                <td class="btn btn-xs">
                                    <a ng-click="viewDetailDate(week,task.date)" class="btn btn-xs">View Detail</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-xs pull-right" ng-click="viewDetailDate(week,'full')">View Full Timesheet</a>
                </div>
            </div>
            <div class="col-md-12" style="margin-top:5px; font-size:13px;">
                <span>Total Time Charge:&nbsp;<span class="text-info bold">{{getFortMatTimeCharge(week.time_charge)}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>Status:&nbsp;
                <span ng-class="{'reject':STATUS==='Rejected','submited':STATUS==='Submitted', 'approved':STATUS==='Approved', 'pending':STATUS==='Awaiting for Submit',
                            're-submitted':STATUS==='Re-submitted'}">{{STATUS}}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <!-- END TABLE TASK OF WEEK -->
        </fieldset>
        <!-- BUTTON -->
        <a class='btn pull-right btn-xs btn-warning' ng-click='cancelClick()' style="width:70px;">Cancel</a>
        <a style="width:70px;" ng-hide='STATUS==="Submitted" || STATUS==="Re-submitted" || STATUS==="Approved"' ng-click="okClick()" class="btn pull-right blue-steel btn-xs">
                Edit
            </a>
        <a style="width:70px;" ng-hide='STATUS==="Submitted" || STATUS==="Re-submitted" || STATUS==="Approved" || 
        STATUS==="Rejected" || (STATUS==="Awaiting for Submit" && afterStatusID ===4)' ng-click="submitClick(submitOnView)" class="btn btn-xs green pull-right">
               Submit
            </a>
        <a style="width:70px;" ng-hide='STATUS==="Submitted" || STATUS==="Re-submitted" || STATUS==="Approved" || 
        (STATUS==="Awaiting for Submit" && afterStatusID!==4)' ng-click="submitClick(submitOnView)" class="btn purple pull-right btn-xs">
               Re-submit
            </a>
        <!-- END BUTTON -->
        <!-- END MAIN INFO -->
    </form>
</div>
