<div class="panel-body">
    <form method="POST" class="grid-form" name="viewTask">
        <!-- MAIN INFO -->
        <fieldset>
            <legend>{{Title}}
                <!-- BUTTON -->
                <a class="btn pull-right btn-xs red" ng-hide="!one" ng-click="cancelClick()">X</a>
                <!-- END BUTTON -->
            </legend>
            <!-- INFORMATION -->
            <div data-row-span="12">
                <div data-field-span="6">
                    Employee: &nbsp;<span class="text-info" style="font-size:13px;">{{employee_name}}</span>
                </div>
                <div data-field-span="6">
                    For The Week: &nbsp;<span class="text-info" style="font-size:13px;">{{week.start_date| date: "dd/MM/yyyy"}} </span>&nbsp;to <span class="text-info" style="font-size:13px;">{{week.end_date| date: "dd/MM/yyyy"}}</span>
                </div>
            </div>
            <!-- END INFORMATION -->
            <!-- TABLE TASK OF WEEK-->
            <div data-row-span="12">
                <div class="table-dynamic">
                    <center ng-show="tasks.loading"><i class="fa fa-spinner fa-spin fa-3x"></i>
                    </center>
                    <table class="responsive table table-bordered" ng-show="!tasks.loading">
                        <thead ng-show="tasks!==null">
                            <tr>
                                <th>
                                    <div class="th">
                                        Date
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Activity
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Location
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Department
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Time Charge
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Item Number
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Quantity
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        Tasks/Comments
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key,task) in tasks track by $index" ng-class="{'same': one == false ? getDay(task.date)%2==0 : false}">
                                <td class="btn btn-xs" style="text-align:left;">{{task.date | date : 'EEE, dd MMM yyyy'}}</td>
                                <td class="btn btn-xs" style="text-align:left;">{{task.activity}}</td>
                                <td class="btn btn-xs" style="text-align:left;">{{task.location}}</td>
                                <td class="btn btn-xs" style="text-align:left;">{{task.department}}</td>
                                <td class="btn btn-xs">{{task.time_item == null ? getFortMatTimeCharge(task.time_charge) : getFortMatTimeCharge(task.time_item)}}</td>
                                <td class="btn btn-xs" style="text-align:left;">{{task.ITEM_ID}}</td>
                                <td class="btn btn-xs" style="text-align:left;">{{task.quantity}}</td>
                                <td class="btn btn-xs" style="text-align:left;">{{task.comment == null ? task.task : task.comment}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12" style="margin-top:5px; font-size:13px;" ng-hide='one'>
                <span>Total Time Charge:&nbsp;<span class="text-info bold">{{getFortMatTimeCharge(week.time_charge)}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>Status:&nbsp;
                <span ng-class="{'reject':STATUS==='Rejected','submited':STATUS==='Submitted', 'approved':STATUS==='Approved', 'pending':STATUS==='Awaitting for Submit',
                            're-submitted':STATUS==='Re-submitted'}">{{(STATUS==="Submitted")?"Awaiting for Approve":STATUS}}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <!-- END TABLE TASK OF WEEK -->
        </fieldset>
        <!-- BUTTON -->
        <a href="javascript:;" ng-hide='one' ng-click="cancelClick()" class="btn pull-right btn-warning btn-xs">
            Cancel </a>
        <a ng-hide='one || STATUS==="Submitted" || STATUS==="Re-submitted" || STATUS==="Approved"' ng-click="okClick()" class="btn pull-right blue-steel btn-xs">
                Edit
            </a>
        <a ng-hide='one || STATUS==="Submitted" || STATUS==="Re-submitted" || STATUS==="Approved"' ng-click="summitClick(ID_WEEK,STATUS)" ng-class="{'re-submitted':STATUS==='Rejected','submited':STATUS==='Awaiting for Submit'}" class="btn pull-right btn-xs">
                {{(STATUS==='Awaiting for Submit')?"Submit":"Re-submit"}}
            </a>
        <!-- END BUTTON -->
        <!-- END MAIN INFO -->
    </form>
</div>
