<div class="col-lg-12 un-bgXam-colBlack un-margin-top-30">
 <label class="un-label-popup-header un-bg-label-333333">Alerts</label>
  <div class="un-padding-top-bottom-10 ">
    <div class="un-div-content un-bgWhite-boxshadow-bottom un-padding-10">
      <button class="un-button un-bgBlack pull-right un-margin-bottom-6px" ng-click="alert.dialog.add()">Add Manual Alert</button>
      <button class="un-button un-bgBlack pull-right un-margin-bottom-6px" ng-click="alert.dialog.select()">Select Alert</button>
      <div class="row">
        <div class="col-lg-12">
          <alert-patient-list patient-id="alert.Patient_id" limit="alert.limit" reload="alert.reload" cal-id="alert.CAL_ID">
          </alert-patient-list>
        </div>
      </div>
     
    </div>
  </div>
</div>


  <script type="text/ng-template" id="dialogAlertPatientSelect">
          <style type="text/css">
                .modal.in .modal-dialog {
                 margin-top:50px;
                }
           </style>
      <div class="modal-body">
          <alert-patient-list patient-id="alert.Patient_id" cal-id="alert.CAL_ID" limit="alert.limit" reload="alert.reload" without-patient="true" on-savecheck="alert.onSaveCheck(data)" permission="{edit: false, remove: false, checkbox: true}">
          </alert-patient-list>
      </div>
   </script>
   <script type="text/ng-template" id="dialogAddAlert">
      <style type="text/css">
          .modal.in .modal-dialog {
           margin-top:50px;
          }
     </style>
     <div class="modal-body">
      <alert-add success="alert.success"></alert-add>
     </div>
   </script> 