<form name="COEForm" method="post" novalidate>
    <div class="caption">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <button type="button"
                        ng-disabled="COEForm.$error.pattern || COEForm.$error.maxlength || !infoChanged()"
                        ng-click="submitCOE(COEForm)" class="btn green pull-right">{{isNew?"Add new":"Update"}}
                </button>
                <a href="http://testapp.redimed.com.au:3003/RedimedJavaREST/api/document/COE/{{info.coe_id}}"
                        ng-disabled="isNew == true || infoChanged()"
                        class="btn btn-primary blue pull-right">Print PDF
                </a>
                <button ng-disabled="!infoChanged()" ng-click="resetForm()" class="btn btn-danger pull-right">Reset</button>
            </div>
        </div>
    </div>
    <div class="caption">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p style="font-size: x-large;text-align: center;font-weight: bolder">FAO: THE HUMAN RESOURCES DEPARTMENT</p>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="row">
            <label class="col-md-10">Redimed completed a work cover compliant hearing test on:</label>
        </div>
        <div class="row">
            <label class="col-md-1 col-sm-2">Name: </label>
            <label class="col-md-5 col-sm-6">{{patientInfo.First_name + " " + patientInfo.Sur_name + " " + patientInfo.Middle_name}}</label>
            <label class="col-md-1 col-sm-1">DOB: </label>
            <label class="col-md-5 col-sm-2">{{patientInfo.DOB | date : 'dd/MM/yyyy'}}</label>
        </div>
        <div class="row">
            <p class="font-blue large col-md-12" >
                AT THE REDIMED CLINIC, 1 FREDERICK ST, BELMONT, WA 6104
            </p>
            <p class="font-blue large col-md-12">
                In order that our Audiometric Officers may enter this 'Compliance Hearing Test' in to the WorkCover WA database within the required time frame,
                we need to confirm if the applicant stated above is now employed.
            </p>
        </div>
        <div class="row">
            <label class="col-md-2 col-lg-1 col-sm-2" style="margin-top: 10px;">EMPLOYED: </label>
            <div class="col-md-4 col-lg-3 col-sm-3 btn-group">
                <label class="btn">
                    <input type="radio" ng-model="info.isEmployed" value="0"/>Yes
                </label>
                <label class="btn">
                    <input type="radio" ng-model="info.isEmployed" value="1"/> No
                </label>
            </div>
            <label class="col-lg-2 col-md-3 col-sm-3" style="margin-top: 10px;">If yes, date employed:</label>
            <div class="col-md-3 col-sm-3">
                <input style="margin-top: 10px" type="text" ng-model="info.dateEmployed"  name="consentDate"  datepicker-popup="dd/MM/yyyy"  is-open="openConsentDate" ng-click="openConsentDate = true"  datepicker-options="dateOptions" close-text="Close" />
            </div>
        </div>
        <div class="row">
            <label class="col-lg-1 col-md-1 col-sm-2" style="margin-top: 7px;">By: </label>
        </div>
        <div class="row">
            <label class="col-lg-2 col-md-3 col-sm-3" style="margin-top: 7px;">In the position of:</label>
            <div class="col-md-7 col-lg-6 col-sm-7">
                <input class="form-control" ng-model="info.inPosition" type="text">
            </div>
        </div>
        <!--</br>-->
        <div class="row">
            <div class="col-md-7 col-sm-7">
                <div class="col-md-2 col-sm-2">
                    <a href="javascript:;" ng-click="showSignature()" ng-show="!isSignature"
                       class="btn green">Signature</a>
                </div>
                <div class="col-md-10 col-sm-10"
                     ng-show="info.Signature1!=null && info.Signature1!='' && !isSignature">
                    <img src="" ng-src="{{info.Signature1}}" alt=""
                         style="width: 200px;height: 150px;"/>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: center;" ng-show="isSignature">
            <div class="col-md-12 col-sm-12">
                <canvas width="500" height="400" id="canvas"
                        signature ng-model="info.Signature1" style="background-color: #8eece8">
                </canvas>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="break-row"></div>
                <div class="btn-group">
                    <button type="button" ng-click="cancelClick()" class="btn btn-danger btn-sm">
                        Cancel
                    </button>
                    <button type="button" ng-click="clearClick()" class="btn btn-warning btn-sm">Clear
                    </button>
                    <button type="button" ng-click="okClick()" class="btn green btn-sm">Ok</button>
                </div>
            </div>
        </div>
        </br>
        <div class="row">
            <label class="col-lg-1 col-md-1 col-sm-1" style="margin-top: 10px;">Name</label>
            <div class="col-md-3 col-lg-3 col-sm-3">
                <input class="form-control" ng-model="info.coeName" type="text">
            </div>
            <label class="col-lg-1 col-md-1 col-sm-1" style="margin-top: 10px;">Title</label>
            <div class="col-md-3 col-lg-3 col-sm-3">
                <input class="form-control" ng-model="info.coeTitle" type="text">
            </div>
            <label class="col-lg-1 col-md-1 col-sm-1" style="margin-top: 10px;">Date</label>
            <div class="col-md-3 col-lg-3 col-sm-3">
                <input style="margin-top: 10px" type="text" ng-model="info.coeDate"  name="consentDate1"  datepicker-popup="dd/MM/yyyy"  is-open="openConsentDate1" ng-click="openConsentDate1 = true"  datepicker-options="dateOptions" close-text="Close" />
            </div>
        </div>
        </br>
        <div class="row">
            <p class="font-blue large col-md-12">
                We require the form to be emailed to Redimed (healthscreening@redimed.com.au) within one month
                from the test date(28 days)
            </p>
            <p class="font-blue large col-md-12">
                If Redimed receives this form >1 month following the hearing test date, in accordance with Work
                Cover regulations, we will not be permitted to enter these results in to the Work Cover database.
            </p>
            <p class="font-blue large col-md-12">
                Note: If a Mines Health Surveillance has been performed we will not be able to process these forms
                and apply for registration from the Department of Mines
                and Petroleum on behalf of the applicant unless we receive this notification in specified time frame.
            </p>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-2">
            </div>
            <div class="col-md-10 col-sm-10">
                <label class="control-label">Kind Regards,</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <a href="javascript:;" ng-click="showSignature1()" ng-show="!isSignature1"
                   class="btn green">Signature</a>
            </div>
            <div class="col-md-10 col-sm-10"
                 ng-show="info.Signature2!=null && info.Signature2!='' && !isSignature1">
                <img src="" ng-src="{{info.Signature2}}" alt=""
                     style="width: 200px;height: 150px;"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-2">
            </div>
            <div class="col-md-10 col-sm-10">
                <label class="control-label">Audiometric Officer </br>
                    Redimed Total Injury Management</label>
            </div>
        </div>
        <div class="row" style="text-align: center;" ng-show="isSignature1">
            <div class="col-md-12 col-sm-12">
                <canvas width="500" height="400" id="canvas1"
                        signature ng-model="info.Signature2" style="background-color: #8eece8">
                </canvas>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="break-row"></div>
                <div class="btn-group">
                    <button type="button" ng-click="cancelClick1()" class="btn btn-danger btn-sm">
                        Cancel
                    </button>
                    <button type="button" ng-click="clearClick1()" class="btn btn-warning btn-sm">Clear
                    </button>
                    <button type="button" ng-click="okClick1()" class="btn green btn-sm">Ok</button>
                </div>
            </div>
        </div>
    </div>
</form>