<style>
    #modalSign .modal-dialog {
        width: 800px;
        height: 800px;
    }
</style>
<form name="mrsForm" novalidate method="post">
<div class="caption">
    <div class="row">
        <div class="col-md-12 ">
            <a href="javascript:;" ng-click="submit(mrsForm)" class="btn green pull-right">Submit</a>
            <a href="javascript:;" class="btn btn-primary blue pull-right">Print PDF</a>
            <a href="javascript:;" class="btn btn-danger pull-right">Reset</a>
        </div>
    </div>
</div>
<br/>

<div ng-repeat="(hIndex,header) in info.headers">
<!--begin input save headers-->
<input type="hidden" ng-model="info.headers[hIndex].MRS_DF_ID"/>
<input type="hidden" ng-model="info.headers[hIndex].PATIENT_ID"/>
<input type="hidden" ng-model="info.headers[hIndex].CAL_ID"/>
<input type="hidden" ng-model="info.headers[hIndex].DF_CODE"/>
<input type="hidden" ng-model="info.headers[hIndex].ITEM_ID"/>
<input type="hidden" ng-model="info.headers[hIndex].DESCRIPTION"/>
<input type="hidden" ng-model="info.headers[hIndex].ISENABLE"/>
<input type="hidden" ng-model="info.headers[hIndex].Created_by"/>
<input type="hidden" ng-model="info.headers[hIndex].Creation_date"/>
<input type="hidden" ng-model="info.headers[hIndex].Last_updated_by"/>
<input type="hidden" ng-model="info.headers[hIndex].Last_update_date"/>
<input type="hidden" ng-model="info.headers[hIndex].practitioner"/>
<input type="hidden" ng-model="info.headers[hIndex].practitionSign"/>
<input type="hidden" ng-model="info.headers[hIndex].practitionDate"/>
<input type="hidden" ng-model="info.headers[hIndex].isReview"/>
<!--end input save headers-->
<div class="caption">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <p style="font-size: xx-large;text-align: center;font-weight: bolder">{{header.DESCRIPTION}}</p>
        </div>
    </div>
</div>

<div class="row">
<div class="col-md-12 col-sm-12">
<!-- BEGIN FORM-->
<form class="form-horizontal form-bordered">
<div class="form-body">
<div class="portlet-body form">
<div class="row" style="text-align: left;">
    <div class="col-md-12 col-sm-12">
        <div class="col-md-12 col-sm-12">
            <label class="control-label bold">Applicant Details</label>
        </div>
    </div>
</div>
<hr/>

<div class="row" style="text-align: left;">
    <div class="col-md-12 col-sm-12">
        <div class="col-md-2 col-sm-3">
            <label class="control-label">Applicant Name:</label>
        </div>
        <div class="col-md-10 col-sm-9">
            <label class="control-label">
                {{header.patient_name}}
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="col-md-2 col-sm-3">
            <label class="control-label">Date of Birth:</label>
        </div>
        <div class="col-md-10 col-sm-9">
            <label class="control-label">
                {{header.patient_birth_day | date:'dd/MM/yyyy'}}
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="col-md-2 col-sm-3">
            <label class="control-label">Gender:</label>
        </div>
        <div class="col-md-10 col-sm-9">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="col-md-2 col-sm-3">
            <label class="control-label">Address:</label>
        </div>
        <div class="col-md-10 col-sm-9">
            <label class="control-label">
                {{header.patient_address}}
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="col-md-2 col-sm-3">
            <label class="control-label">Suburb / State / PC:</label>
        </div>
        <div class="col-md-1 col-sm-2">
            <label class="control-label">{{header.patient_suburb}}</label>
        </div>
        <div class="col-md-1 col-sm-2">
            <label class="control-label">{{header.patient_state}}</label>
        </div>
        <div class="col-md-1 col-sm-2">
            <label class="control-label">{{header.patient_post_code}}</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="col-md-2 col-sm-3">
            <label class="control-label">Contact No:</label>
        </div>
        <div class="col-md-10 col-sm-9">
            <label class="control-label">
                {{header.patient_contact_no}}
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="col-md-2 col-sm-3">
            <label class="control-label">Proposed Position:</label>
        </div>
        <div class="col-md-10 col-sm-9">

        </div>
    </div>
</div>
<br/>

<div class="row">
<div class="col-md-12 col-sm-12">
<div class="portlet box grey-cascade" ng-repeat="(gIndex,group) in header.group">
<!--begin input save group-->
<input type="hidden" ng-model="info.headers[hIndex].group[gIndex].MRS_GROUP_ID"/>
<input type="hidden" ng-model="info.headers[hIndex].group[gIndex].MRS_DF_ID"/>
<input type="hidden" ng-model="info.headers[hIndex].group[gIndex].PATIENT_ID"/>
<input type="hidden" ng-model="info.headers[hIndex].group[gIndex].CAL_ID"/>
<input type="hidden" ng-model="info.headers[hIndex].group[gIndex].ORD"/>
<input type="hidden" ng-model="info.headers[hIndex].group[gIndex].GROUP_NAME"/>
<input type="hidden" ng-model="info.headers[hIndex].group[gIndex].USER_TYPE"/>
<input type="hidden" ng-model="info.headers[hIndex].group[gIndex].ISENABLE"/>
<input type="hidden" ng-model="info.headers[hIndex].group[gIndex].Created_by"/>
<input type="hidden" ng-model="info.headers[hIndex].group[gIndex].Creation_date"/>
<input type="hidden" ng-model="info.headers[hIndex].group[gIndex].Last_updated_by"/>
<input type="hidden" ng-model="info.headers[hIndex].group[gIndex].Last_update_date"/>
<!--end input save group-->
<div class="portlet-title">
    <div class="caption">
        <i class="fa fa-gift"></i> {{group.GROUP_NAME}}
    </div>
    <div class="tools">
        <a href="javascript:;" class="collapse">
        </a>
    </div>
</div>
<div class="portlet-body form">
<div style="background-color: lightgrey; vertical-align: middle;">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="col-md-5 col-sm-3" style="text-align: center;">
                <label class="control-label bold" style="text-align: center;">Component
                    of Medical (as applicabel)</label>
            </div>
            <div class="col-md-3 col-sm-5" style="text-align: center;">
                <label class="control-label bold" style="text-align: center;">Satisfactory
                    (S) Conditional (C)
                    Unsatisfactory (US)</label>
            </div>
            <div class="col-md-4 col-sm-4" style="text-align: center;">
                <label class="control-label bold" style="text-align: center;">Comments/Further
                    information</label>
            </div>
        </div>
    </div>
</div>
<br/>

<div class="portlet-body form" ng-repeat="(lIndex,line) in group.line">
    <ng-form name="line{{lIndex}}">
        <div ng-if="line.COMP_TYPE == 3">
            <!--begin input save type =3-->
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].MRS_LINE_ID"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].MRS_GROUP_ID"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].MRS_DF_ID"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].PATIENT_ID"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].CAL_ID"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].ORD"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].COMP_TYPE"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].QUEST_LABEL"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].ISCOMMENT"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].COMMENT_LABEL"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].ISREQ_COMMENT"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].ISENABLE"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].Created_by"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].Creation_date"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].Last_updated_by"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].Last_update_date"/>
            <!--end input save type =3-->
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-5 col-sm-3">
                        <label class="control-label bold" style="text-align: left;">{{line.QUEST_LABEL}}</label>
                    </div>
                    <div class="col-md-3 col-sm-5">
                        <div class="btn-group" style="margin-left: 12%;">
                            <label class="btn">
                                <input type="radio"
                                       ng-model="info.headers[hIndex].group[gIndex].line[lIndex].QUEST_VALUE"
                                       ng-value="0"/> S
                            </label>
                            <label class="btn">
                                <input type="radio"
                                       ng-model="info.headers[hIndex].group[gIndex].line[lIndex].QUEST_VALUE"
                                       ng-value="1"/> C
                            </label>
                            <label class="btn">
                                <input type="radio"
                                       ng-model="info.headers[hIndex].group[gIndex].line[lIndex].QUEST_VALUE"
                                       ng-value="2"/> US
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div ng-show="info.headers[hIndex].group[gIndex].line[lIndex].ISREQ_COMMENT">
                            <div ng-class="{'has-error': line{{lIndex}}.comments.$error.required}">
                                <input type="text" class="form-control" name="comments"
                                       ng-model="info.headers[hIndex].group[gIndex].line[lIndex].comments"
                                       ng-required="info.headers[hIndex].group[gIndex].line[lIndex].QUEST_VALUE"/>

                                <div ng-show="line{{lIndex}}.comments.$error.required">
                                    <label class="control-label">Required!</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
        <div ng-if="line.COMP_TYPE == 1">
            <div ng-if="line.ORD == 8">
                <!--begin input save type =3 ord=8-->
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].MRS_LINE_ID"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].MRS_GROUP_ID"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].MRS_DF_ID"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].PATIENT_ID"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].CAL_ID"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].ORD"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].COMP_TYPE"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].QUEST_LABEL"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].QUEST_VALUE"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].ISCOMMENT"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].COMMENT_LABEL"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].ISREQ_COMMENT"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].ISENABLE"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].Created_by"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].Creation_date"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].Last_updated_by"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].Last_update_date"/>
                <!--end input save type =3 ord=8-->
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-12 col-sm-12">
                            <label class="control-label bold"
                                   style="text-align: left;">{{line.QUEST_LABEL}}</label>
                            <textarea class="form-control"
                                      ng-model="info.headers[hIndex].group[gIndex].line[lIndex].comments"></textarea>
                        </div>
                    </div>
                </div>
                <hr/>
            </div>
            <div ng-if="line.ORD == 9">
                <!--begin input save type =3 ord=9-->
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].MRS_LINE_ID"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].MRS_GROUP_ID"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].MRS_DF_ID"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].PATIENT_ID"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].CAL_ID"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].ORD"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].COMP_TYPE"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].QUEST_LABEL"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].QUEST_VALUE"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].ISCOMMENT"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].COMMENT_LABEL"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].ISREQ_COMMENT"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].ISENABLE"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].Created_by"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].Creation_date"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].Last_updated_by"/>
                <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].Last_update_date"/>
                <!--end input save type =3 ord=9-->
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-3 col-sm-4">
                            <label class="control-label" style="text-align: left;">
                                {{line.QUEST_LABEL}}</label>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <input type="text" class="form-control"
                                   ng-model="info.headers[hIndex].group[gIndex].line[lIndex].comments"/>
                        </div>
                        <div class="col-md-5 col-sm-7">
                            <label class="control-label">(name) is given the below
                                rating for the proposed job.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-form>
</div>
<br/>

<div class="portlet-body form">
    <div style="background-color: lightgrey; vertical-align: middle;">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="col-md-2 col-sm-2" style="text-align: center;">
                    <label class="control-label bold">Rating</label>
                </div>
                <div class="col-md-2 col-sm-2" style="text-align: center;">
                    <label class="control-label bold">Please Tick</label>
                </div>
                <div class="col-md-8 col-sm-8" style="text-align: center;">
                    <label class="control-label bold">Comments</label>
                </div>
            </div>
        </div>
    </div>
    <br/>
</div>
<div class="portlet-body form" ng-repeat="(lIndex,line) in group.line">
    <ng-form name="line{{lIndex}}">
        <div ng-if="line.COMP_TYPE == 2">
            <!--begin input save type =2-->
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].MRS_LINE_ID"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].MRS_GROUP_ID"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].MRS_DF_ID"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].PATIENT_ID"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].CAL_ID"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].ORD"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].COMP_TYPE"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].QUEST_LABEL"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].QUEST_VALUE"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].ISCOMMENT"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].COMMENT_LABEL"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].ISREQ_COMMENT"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].ISENABLE"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].Created_by"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].Creation_date"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].Last_updated_by"/>
            <input type="hidden" ng-model="info.headers[hIndex].group[gIndex].line[lIndex].Last_update_date"/>
            <!--end input save type =2-->
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-2 col-sm-2" style="text-align: center;">
                        <label class="control-label bold"
                               style="text-align: center;">{{line.QUEST_LABEL}}</label>
                    </div>
                    <div class="col-md-2 col-sm-2" style="margin-top: 1%;">
                        <input type="checkbox" class="form-control"
                               ng-model="info.headers[hIndex].group[gIndex].line[lIndex].checkComments"
                               ng-true-value="1"
                               ng-false-value="0"
                               ng-change="checkChange(hIndex,gIndex,lIndex)"/>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <label class="control-label" style="text-align: left;">{{line.COMMENT_LABEL}}</label>

                        <div ng-show="info.headers[hIndex].group[gIndex].line[lIndex].ISREQ_COMMENT">
                            <div ng-class="{'has-error': line{{lIndex}}.comments.$error.required}">
                                <textarea class="form-control" name="comments"
                                          ng-model="info.headers[hIndex].group[gIndex].line[lIndex].comments"
                                          ng-required="info.headers[hIndex].group[gIndex].line[lIndex].checkComments"></textarea>

                                <div ng-show="line{{lIndex}}.comments.$error.required">
                                    <label class="control-label">Required!</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="line.MRS_LINE_ID != group.line[group.line.length - 1].MRS_LINE_ID">
                <hr/>
            </div>
        </div>
    </ng-form>
</div>
<br/>
</div>
</div>

<div class="portlet-body form">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="col-md-5 col-sm-7">
                <label class="control-label bold">REVIEW REQUIRED BY INJURY MANAGEMENT TEAM</label>
            </div>
            <div class="col-md-7 col-sm-5">
                <div class="btn-group" style="margin-left: 12%;">
                    <label class="btn">
                        <input type="radio" ng-model="info.headers[hIndex].isReview" ng-value="1"/> Yes
                    </label>
                    <label class="btn">
                        <input type="radio" ng-model="info.headers[hIndex].isReview" ng-value="0"/> No
                    </label>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="col-md-2 col-sm-4">
                <label class="control-label">Name:</label>
            </div>
            <div class="col-md-10 col-sm-8">
                <input type="text" class="form-control"/>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="row">
                <div class="col-md-1 col-sm-1" style="margin-left: 10px;">
                    <a href="javascript:;" id="signBtn" class="btn green">Sign</a>
                    <script type="text/javascript">
                        $('#signBtn').click(function () {
                            $('#modalSign').modal({
                                show: true
                            });
                        });

                    </script>
                </div>
                <div class="col-md-6 col-sm-6" style="margin-left:10px;">
                    <img src="" id="signDisplay" ng-model="info.consentSign"
                         style="width:200px;height: 30px;"/>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="col-md-2 col-sm-2">
                <label class="control-label">Date:</label>
            </div>
            <div class="col-md-7 col-sm-8">
                <input type="text" class="form-control col-md-12" name="dob" required
                       datepicker-popup="dd/MM/yyyy" data-ng-model="info.dob"
                       is-open="openDOB" ng-click="openDOB = true"
                       datepicker-options="dateOptions3" ng-required="true"
                       close-text="Close"/>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</form>
<!--Signature-->
<div id="modalSign" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Signature</h4>
            </div>
            <div class="modal-body">
                <div id="signature"></div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn red" data-dismiss="modal">Cancel</a>
                <a href="javascript:;" id="resetSig" class="btn blue">Reset</a>
                <a href="javascript:;" id="okSig" class="btn green">OK</a>

            </div>
        </div>
    </div>
</div>

<script src="../../../theme/assets/global/plugins/jSignature/jSignature.min.noconflict.js"></script>

<script>
    (function ($) {
        $(document).ready(function () {

            $('#signDisplay').hide();
            var $sigdiv = $("#signature").jSignature({lineWidth: 2, width: 700, height: 500});

            $('#resetSig').on('click', function () {
                $sigdiv.jSignature('reset')
            });

            $('#okSig').on('click', function () {
                var data = $sigdiv.jSignature('getData')
                if (data != null) {
                    $('#signDisplay').attr("src", data);
                    $('#signDisplay').show();
                }

                $('#modalSign').modal('hide');

            });

        })
    })(jQuery)
</script>