<form name="FAForm" accessible-form novalidate>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p style="font-size: xx-large;text-align: center;font-weight: bolder">{{header.FA_NAME}}</p>
		</div>
	</div>
	<!-- this is section -->
	<div class="portlet box blue-hoki">
		<div class="portlet-title">
			<div class="caption">Assessment Possibility Confirmation</div>
		</div>
		<div class="portlet-body">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<label class="control-label">
						This assessment is designed to test your functional capacity in relation to the required physical demands to complete your proposed role. You will not be required to complete any task that you feel you are unable to perform safely and or confidently. The evaluator will cease the assessment if they are of the opinion that you are either unable or unsafe to proceed. You are expected to set your own limits and cease any task if you experience pain or fear that the task will exacerbate any preexisting injuries or conditions. You will be given a comprehensive set of instructions prior to commencing each task and you may ask for clarification at any point prior attempting the task.
					</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6">
					<label class="control-label">
						Is there any reason that you could not perform the work fitness assessment today?
					</label>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2 btn-group">
					<label class="btn">
						<input type="radio" ng-model="header.can_perform_today" value="1"> Yes
					</label>
					<label class="btn">
						<input type="radio" ng-model="header.can_perform_today" value="0"> No
					</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-2">
					<button class="btn btn-default green" ng-click="showSignature()">Signature</button>
				</div>
				<div class="col-md-10 col-sm-10"
                     ng-show="header.PATIENT_SIGN!==null && header.PATIENT_SIGN!=='' && isSignatureShow===false">
                    <img ng-src="{{header.PATIENT_SIGN}}" alt=""
                         style="width: 200px;height: 150px;"/>
                </div>
			</div>
			<div class="row" style="text-align: center;" ng-show="isSignatureShow">
	            <div class="col-md-12 col-sm-12">
	                <canvas width="500" height="400" id="canvas"
	                        signature ng-model="header.PATIENT_SIGN" style="background-color: #8eece8">
	                </canvas>
	            </div>
	            <div class="col-md-12 col-sm-12">
	                <div class="break-row"></div>
	                <div class="btn-group">
	                    <button type="button" ng-click="cancelClick()" class="btn btn-danger btn-sm">
	                        Cancel
	                    </button>
	                    <button type="button" ng-click="clearClick()" class="btn btn-warning btn-sm">Clear
	                    </button>
	                    <button type="button" ng-click="okClick()" class="btn green btn-sm">Ok</button>
	                </div>
	            </div>
	        </div>
		</div>
	</div>
	<div class="portlet box blue-hoki" ng-if="header.is_have_resting_measurement===1">
		<div class="portlet-title">
			<div class="caption">Resting Measurements</div>
		</div>
		<div class="portlet-body">
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-2">
					<label class="control-label pull-right" style="margin-top:10px;" >Height: </label>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="text" class="form-control" ng-model="header.height">
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<label class="control-label pull-right" style="margin-top:10px;" >Weight: </label>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="text" class="form-control" ng-model="header.weight">
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<label class="control-label pull-right" style="margin-top:10px;" >BMI: </label>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="text" class="form-control" ng-model="header.bmi">
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-2">
					<label class="control-label pull-right" style="margin-top:10px;" >Waist Girth: </label>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="text" class="form-control" ng-model="header.waist_girth">
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<label class="control-label pull-right" style="margin-top:10px;" >Hip Girth: </label>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="text" class="form-control" ng-model="header.hip_girth">
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<label class="control-label pull-right" style="margin-top:10px;" >Waist/Hip Raito: </label>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="text" class="form-control" ng-model="header.w_h_Raito">
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-2">
					<label class="control-label pull-right" style="margin-top:10px;" >Ishihara Colour Vision: </label>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 btn-group">
					<label class="btn">
						<input type="radio" ng-model="header.colour_vision" value="0"> Normal
					</label>
					<label class="btn">
						<input type="radio" ng-model="header.colour_vision" value="1"> Abnormal
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="portlet box blue-hoki" ng-repeat="section in header.sections">
		<div class="portlet-title">
			<div class="caption">{{section.SECTION_NAME}}</div>
		</div>
		<div class="portlet-body">
			<!-- this is line -->
			<div class="portlet box grey-cascade" ng-repeat="line in section.lines" ng-if="line.LineType!==1">
				<div class="portlet-title">
					<div class="caption">{{line.QUESTION}}</div>
				</div>
				<div class="portlet-body">
					<!-- this is line image if that line has image -->
					<div class="row" ng-if="line.PICTURE!==null && line.PICTURE!==''">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<img ng-src="{{line.previewPath}}" height="100px" />
						</div>
					</div>
					<!-- this is end line image -->
					<div ng-repeat="detail in line.details">
						<ng-form name="detailForm">
							<!-- this is detail title -->
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<label class="control-label"><b>{{detail.QUESTION}}</b></label>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12">
									<label class="control-label"><i>{{detail.DESCRIPTION}}</i></label>
								</div>
							</div>
							<!-- this is end detail title -->
							<!-- this is detail image if that detail has image  -->
							<div class="row" style="margin-bottom:15px;" ng-if="detail.PICTURE!==null && detail.PICTURE!==''">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<img ng-src="{{detail.previewPath}}" height="100px" />
								</div>
							</div>
							<!-- this is end detail image -->

							<!-- text box with detail comment-->
							<div class="row">
								<div class="col-md-2 col-sm-2 col-xs-2" ng-if="detail.VAL1_ISVALUE===1 || detail.VAL1_ISVALUE===7 || detail.VAL1_ISVALUE===8 || detail.VAL1_ISVALUE===9 || detail.VAL1_ISVALUE===10">
									<label class="control-label pull-right" style="margin-top:10px;" >{{detail.VAL1_NAME}}</label>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2" ng-if="detail.VAL1_ISVALUE===1 || detail.VAL1_ISVALUE===7 || detail.VAL1_ISVALUE===8 || detail.VAL1_ISVALUE===9 || detail.VAL1_ISVALUE===10">
									<input type="text" class="form-control" ng-model="detail.VAL1_VALUE" ng-change="autoCalculationVal1(line, detail)">
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2" ng-if="detail.VAL2_ISVALUE===1 || (detail.VAL2_ISVALUE!==7 && detail.VAL2_ISVALUEQ==8 && detail.VAL2_ISVALUE===9 && detail.VAL2_ISVALUE===10)">
									<label class="control-label pull-right" style="margin-top:10px;">{{detail.VAL2_NAME}}</label>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2"ng-if="detail.VAL2_ISVALUE===1 || (detail.VAL2_ISVALUE!==7 && detail.VAL2_ISVALUEQ==8 && detail.VAL2_ISVALUE===9 && detail.VAL2_ISVALUE===10)">
									<input type="text" class="form-control" ng-model="detail.VAL2_VALUE" ng-change="autoCalculationVal2(line)">
								</div>
								
							<!-- end text box with detail comment -->

							<!-- simple check box with detail comment -->
								<div class="col-md-2 col-sm-2 col-xs-2" ng-if="detail.VAL1_ISCHECKBOX===1">
									<label class="control-label pull-right" >{{detail.VAL1_NAME}}</label>
								</div>
								<div class="col-md-1 col-sm-1 col-xs-1" ng-if="detail.VAL1_ISCHECKBOX===1">
									<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="detail.VAL1_CHECKBOX">
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2" ng-if="detail.VAL2_ISCHECKBOX===1">
									<label class="control-label pull-right">{{detail.VAL2_NAME}}</label>
								</div>
								<div class="col-md-1 col-sm-1 col-xs-1" ng-if="detail.VAL2_ISCHECKBOX===1">
									<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="detail.VAL2_CHECKBOX">
								</div>
							<!-- end simple check box with detail comment -->


							<!-- Yes/No checkbox with detail comment -->
								<div class="col-md-1 col-sm-1 col-xs-1" ng-if="detail.VAL1_ISCHECKBOX===3">
									<label class="control-label pull-right" style="margin-top:10px;">{{detail.VAL1_NAME}}</label>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2 btn-group" ng-if="detail.VAL1_ISCHECKBOX===3">
									<label class="btn">
										<input type="radio" ng-model="detail.VAL1_CHECKBOX" value="1"> Yes
									</label>
									<label class="btn">
										<input type="radio" ng-model="detail.VAL1_CHECKBOX" value="0"> No
									</label>
								</div>
								<div class="col-md-1 col-sm-1 col-xs-1" ng-if="detail.VAL2_ISCHECKBOX===3">
									<label class="control-label pull-right" style="margin-top:10px;">{{detail.VAL2_NAME}}</label>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2 btn-group" ng-if="detail.VAL2_ISCHECKBOX===3">
									<label class="btn">
										<input type="radio" ng-model="detail.VAL2_CHECKBOX" value="1"> Yes
									</label>
									<label class="btn">
										<input type="radio" ng-model="detail.VAL2_CHECKBOX" value="0"> No
									</label>
								</div>
							<!-- end yes/no checkbox with detail comment -->

							<!-- Normal/Abnormal checkbox with detail comment -->
								<div class="col-md-1 col-sm-1 col-xs-1" ng-if="detail.VAL1_ISCHECKBOX===11">
									<label class="control-label pull-right" style="margin-top:10px;">{{detail.VAL1_NAME}}</label>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2 btn-group" ng-if="detail.VAL1_ISCHECKBOX===11">
									<label class="btn">
										<input type="radio" ng-model="detail.VAL1_CHECKBOX" value="0"> Normal
									</label>
									<label class="btn">
										<input type="radio" ng-model="detail.VAL1_CHECKBOX" value="1"> Abnormal
									</label>
								</div>
								<div class="col-md-1 col-sm-1 col-xs-1" ng-if="detail.VAL2_ISCHECKBOX===11">
									<label class="control-label pull-right" style="margin-top:10px;">{{detail.VAL2_NAME}}</label>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2 btn-group" ng-if="detail.VAL2_ISCHECKBOX===11">
									<label class="btn">
										<input type="radio" ng-model="detail.VAL2_CHECKBOX" value="0"> Normal
									</label>
									<label class="btn">
										<input type="radio" ng-model="detail.VAL2_CHECKBOX" value="1"> Abnormal
									</label>
								</div>
							<!-- end Normal/Abnormal checkbox with detail comment -->

							<!-- Satisfactory/Unsatisfactory checkbox with detail comment -->
								<div class="col-md-1 col-sm-1 col-xs-1" ng-if="detail.VAL1_ISCHECKBOX===12">
									<label class="control-label pull-right" style="margin-top:10px;">{{detail.VAL1_NAME}}</label>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2 btn-group" ng-if="detail.VAL1_ISCHECKBOX===12">
									<label class="btn">
										<input type="radio" ng-model="detail.VAL1_CHECKBOX" value="1" ng-change="autoCalculationVal1(line,detail)"> Satisfactory
									</label>
									<label class="btn">
										<input type="radio" ng-model="detail.VAL1_CHECKBOX" value="0" ng-change="autoCalculationVal1(line,detail)"> Unsatisfactory
									</label>
								</div>
								<div class="col-md-1 col-sm-1 col-xs-1" ng-if="detail.VAL2_ISCHECKBOX===12">
									<label class="control-label pull-right" style="margin-top:10px;">{{detail.VAL2_NAME}}</label>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2 btn-group" ng-if="detail.VAL2_ISCHECKBOX===12">
									<label class="btn">
										<input type="radio" ng-model="detail.VAL2_CHECKBOX" value="1"> Satisfactory
									</label>
									<label class="btn">
										<input type="radio" ng-model="detail.VAL2_CHECKBOX" value="0"> Unsatisfactory
									</label>
								</div>
							<!-- end Satisfactory/Unsatisfactory checkbox with detail comment -->

							<!-- Unable/Partial/Able checkbox with detail comment-->
								<div class="col-md-1 col-sm-1 col-xs-1" ng-if="detail.VAL1_ISCHECKBOX===2">
									<label class="control-label pull-right" style="margin-top:10px;">{{detail.VAL1_NAME}}</label>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4 btn-group" ng-if="detail.VAL1_ISCHECKBOX===2 || detail.VAL1_ISCHECKBOX===4 || detail.VAL1_ISCHECKBOX===5">
									<label class="btn">
										<input type="radio" ng-model="detail.VAL1_CHECKBOX" value="0" ng-change="autoCalculationVal1(line,detail)"> UNABLE
									</label>
									<label class="btn">
										<input type="radio" ng-model="detail.VAL1_CHECKBOX" value="1" ng-change="autoCalculationVal1(line,detail)"> PARTIAL
									</label>
									<label class="btn">
										<input type="radio" ng-model="detail.VAL1_CHECKBOX" value="2" ng-change="autoCalculationVal1(line,detail)"> ABLE
									</label>
								</div>
								<div class="col-md-1 col-sm-1 col-xs-1" ng-if="detail.VAL2_ISCHECKBOX===2">
									<label class="control-label pull-right" style="margin-top:10px;">{{detail.VAL2_NAME}}</label>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4 btn-group" ng-if="detail.VAL2_ISCHECKBOX===2">
									<label class="btn">
										<input type="radio" ng-model="detail.VAL2_CHECKBOX" value="0"> UNABLE
									</label>
									<label class="btn">
										<input type="radio" ng-model="detail.VAL2_CHECKBOX" value="1"> PARTIAL
									</label>
									<label class="btn">
										<input type="radio" ng-model="detail.VAL2_CHECKBOX" value="2"> ABLE
									</label>
								</div>
								<!-- Dominant hand radio -->
								<div class="col-md-1 col-sm-1 col-xs-1" ng-if="detail.VAL1_ISCHECKBOX===6">
									<label class="control-label pull-right" style="margin-top:10px;">{{detail.VAL1_NAME}}</label>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2 btn-group" ng-if="detail.VAL1_ISCHECKBOX===6">
									<label class="btn">
										<input type="radio" ng-model="detail.VAL1_VALUE" value="L" ng-change="autoCalculationVal1(line,detail)"> Left
									</label>
									<label class="btn">
										<input type="radio" ng-model="detail.VAL1_VALUE" value="R" ng-change="autoCalculationVal1(line,detail)"> Right
									</label>
								</div>

								<label class="control-label col-md-1 col-sm-1 col-xs-1 caption" style="margin-top:10px;" ng-if="detail.IsCommentText===1">Comment</label>
								<div class="col-md-3 col-sm-3 col-xs-3" ng-if="detail.IsCommentText===1" >
									<input type="text" name="detailComment" class="form-control" ng-model="detail.COMMENTS" ng-required="(detail.VAL1_ISCOMMENT_WHEN_YES === 1 && detail.VAL1_CHECKBOX==='1') || (detail.VAL1_ISCOMMENT_WHEN_NO === 1 && detail.VAL1_CHECKBOX!=='1') || (detail.VAL2_ISCOMMENT_WHEN_YES === 1 && detail.VAL2_CHECKBOX==='1') || (detail.VAL2_ISCOMMENT_WHEN_NO === 1 && detail.VAL2_CHECKBOX!=='1')">
									<!-- <input type="text" name="detailComment" class="form-control" ng-model="detail.COMMENTS" ng-required="(detail.VAL1_ISCOMMENT_WHEN_NO === 1 && detail.VAL1_CHECKBOX!=='1') || (detail.VAL2_ISCOMMENT_WHEN_NO === 1 && detail.VAL2_CHECKBOX!=='1')"> -->
									<label style="color: #8b0000" ng-show="clickedValidation && detailForm.detailComment.$invalid">Required!</label>
								</div>
							<!-- end Unable/Partial/Able checkbox with detail comment -->
							</div>
						<!-- this is end line details -->
						</ng-form>
					</div>
					
					<!-- Detail Score -->
					<div class="row" ng-if="line.ISSCORE1 === 1 || line.ISSCORE2 === 1">
						<!-- AVG Score -->
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISSCORE1 === 1 && (line.SCORE_TYPE1 === 3 || line.SCORE_TYPE1 === 20)">
							<label class="control-label pull-right" style="margin-top:15px;">Score (AVG): </label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISSCORE1 === 1 && (line.SCORE_TYPE1 === 3 || line.SCORE_TYPE1 === 20)">
							<label class="control-label" style="margin-top:10px;" ><b style="font-size:16pt;">{{line.SCORE1}}</b> </label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISSCORE2 === 1 && (line.SCORE_TYPE2 === 3 || line.SCORE_TYPE2 === 20)">
							<label class="control-label pull-right" style="margin-top:15px;">Score (AVG): </label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISSCORE2 === 1 && (line.SCORE_TYPE2 === 3 || line.SCORE_TYPE2 === 20)">
							<label class="control-label" style="margin-top:10px;" ><b style="font-size:16pt;">{{line.SCORE2}}</b></label>
						</div>
						<!-- end AVG Score -->
						<!-- MAX Score -->
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISSCORE1 === 1 && (line.SCORE_TYPE1 === 10 || line.SCORE_TYPE1 === 9 || line.SCORE_TYPE1 === 17 || line.SCORE_TYPE1 === 18 || line.SCORE_TYPE1 === 19)">
							<label class="control-label pull-right" style="margin-top:15px;" ng-if="line.SCORE_TYPE1 !== 9 && SCORE_TYPE1 !== 17 && SCORE_TYPE1 !== 18 && SCORE_TYPE1 !== 19">Score (MAX): </label>
							<label class="control-label pull-right" style="margin-top:15px;" ng-if="line.SCORE_TYPE1 === 9">Managed (kg): </label>
							<label class="control-label pull-right" style="margin-top:15px;" ng-if="line.SCORE_TYPE1 === 17">Managed (mm): </label>
							<label class="control-label pull-right" style="margin-top:15px;" ng-if="line.SCORE_TYPE1 === 18">Comfortable managed (kg): </label>
							<label class="control-label pull-right" style="margin-top:15px;" ng-if="line.SCORE_TYPE1 === 19">Comfortable managed (mm): </label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISSCORE1 === 1 && (line.SCORE_TYPE1 === 10 || line.SCORE_TYPE1 === 9 || line.SCORE_TYPE1 === 17 || line.SCORE_TYPE1 === 18 || line.SCORE_TYPE1 === 19)">
							<label class="control-label" style="margin-top:10px;"><b style="font-size:16pt;">{{line.SCORE1}}</b> </label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISSCORE2 === 1 && (line.SCORE_TYPE2 === 10 || line.SCORE_TYPE2 === 9 || line.SCORE_TYPE2 === 17 || line.SCORE_TYPE2 === 18 || line.SCORE_TYPE2 === 19)">
							<label class="control-label pull-right" style="margin-top:15px;" ng-if="line.SCORE_TYPE2 !== 9 && SCORE_TYPE2 !== 17 && SCORE_TYPE2 !== 18 && SCORE_TYPE2 !== 19">Score (MAX): </label>
							<label class="control-label pull-right" style="margin-top:15px;" ng-if="line.SCORE_TYPE2 === 9">Managed (kg): </label>
							<label class="control-label pull-right" style="margin-top:15px;" ng-if="line.SCORE_TYPE2 === 17">Managed (mm): </label>
							<label class="control-label pull-right" style="margin-top:15px;" ng-if="line.SCORE_TYPE2 === 18">Comfortable managed (kg): </label>
							<label class="control-label pull-right" style="margin-top:15px;" ng-if="line.SCORE_TYPE2 === 19">Comfortable managed (mm): </label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISSCORE2 === 1 && l(line.SCORE_TYPE2 === 10 || line.SCORE_TYPE2 === 2 || line.SCORE_TYPE2 === 17 || line.SCORE_TYPE2 === 18 || line.SCORE_TYPE2 === 19)">
							<label class="control-label" style="margin-top:10px;"><b style="font-size:16pt;">{{line.SCORE2}}</b></label>
						</div>
						<!-- end MAX Score -->
						<!-- MIN Score -->
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISSCORE1 === 1 && line.SCORE_TYPE1 === 11">
							<label class="control-label pull-right" style="margin-top:15px;">Score (MIN): </label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISSCORE1 === 1 && line.SCORE_TYPE1 === 11">
							<label class="control-label" style="margin-top:10px;"><b style="font-size:16pt;">{{line.SCORE1}}</b> </label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISSCORE2 === 1 && line.SCORE_TYPE2 === 11">
							<label class="control-label pull-right" style="margin-top:15px;">Score (MIN): </label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISSCORE2 === 1 && line.SCORE_TYPE2 === 11">
							<label class="control-label" style="margin-top:10px;"><b style="font-size:16pt;">{{line.SCORE2}}</b></label>
						</div>
						<!-- end MIN Score -->
						<!-- SUM Score -->
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISSCORE1 === 1 && line.SCORE_TYPE1 === 30">
							<label class="control-label pull-right" style="margin-top:15px;">Total: </label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISSCORE1 === 1 && line.SCORE_TYPE1 === 30">
							<label class="control-label" style="margin-top:10px;"><b style="font-size:16pt;">{{line.SCORE1}}</b> </label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISSCORE2 === 1 && line.SCORE_TYPE2 === 30">
							<label class="control-label pull-right" style="margin-top:15px;">Total: </label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISSCORE2 === 1 && line.SCORE_TYPE2 === 30">
							<label class="control-label" style="margin-top:10px;"><b style="font-size:16pt;">{{line.SCORE2}}</b></label>
						</div>
						<!-- end SUM Score -->
					</div>
					<!-- End Detail Score -->
					<div class="row" ng-if="line.ISRATING1 === 1 || line.ISRATING2 === 1">
						<!-- Normal Rate -->
						<div class="row">
							<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISRATING1 === 1 && line.SCORE_TYPE1 === 3">
								<label class="control-label pull-right" style="margin-top:15px;">Normal Range (NR): </label>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISRATING1 === 1 && line.SCORE_TYPE1 === 3">
								<label class="control-label" style="margin-top:10px;"><b style="font-size:16pt;">{{line.RATE1}}</b></label>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISRATING2 === 1 && line.SCORE_TYPE2 === 3">
								<label class="control-label pull-right" style="margin-top:15px;">Normal Range (NR): </label>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISRATING2 === 1 && line.SCORE_TYPE2 === 3">
								<label class="control-label" style="margin-top:10px;"><b style="font-size:16pt;">{{line.RATE2}}</b></label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISRATING1 === 1 && line.SCORE_TYPE1 === 3">
								<label class="control-label pull-right" style="margin-top:15px;">Result: </label>
							</div>
							<div ng-switch on="line.RATING_VALUE1" class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISRATING1 === 1 && line.SCORE_TYPE1 === 3">
								<label ng-switch-when="1" class="control-label" style="margin-top:10px;"><b style="font-size:16pt;">Below NR</b></label>
								<label ng-switch-when="2" class="control-label" style="margin-top:10px;"><b style="font-size:16pt;">Within NR</b></label>
								<label ng-switch-when="3" class="control-label" style="margin-top:10px;"><b style="font-size:16pt;">Above NR</b></label>
							</div>

							<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISRATING1 === 1 && line.SCORE_TYPE1 === 20">
								<label class="control-label pull-right" style="margin-top:15px;">Rating: </label>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISRATING1 === 1 && line.SCORE_TYPE1 === 20">
								<label class="btn">
									<input type="radio" ng-model="line.RATING_VALUE1" value="0" ng-change="autoCalculationVal1(line)"> Normal 
								</label>
								<label class="btn">
									<input type="radio" ng-model="line.RATING_VALUE1" value="1" ng-change="autoCalculationVal1(line)"> Abnormal 
								</label>
							</div>

							<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISRATING2 === 1 && line.SCORE_TYPE2 === 3">
								<label class="control-label pull-right" style="margin-top:15px;">Result: </label>
							</div>
							<div ng-switch on="line.RATING_VALUE2" class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISRATING2 === 1 && line.SCORE_TYPE2 === 3">
								<label ng-switch-when="1" class="control-label" style="margin-top:10px;"><b style="font-size:16pt;">Below NR</b></label>
								<label ng-switch-when="2" class="control-label" style="margin-top:10px;"><b style="font-size:16pt;">Within NR</b></label>
								<label ng-switch-when="3" class="control-label" style="margin-top:10px;"><b style="font-size:16pt;">Above NR</b></label>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISRATING2 === 1 && line.SCORE_TYPE2 === 20">
								<label class="control-label pull-right" style="margin-top:15px;">Rating: </label>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISRATING2 === 1 && line.SCORE_TYPE2 === 20">
								<label class="btn">
									<input type="radio" ng-model="line.RATING_VALUE2" value="0" ng-change="autoCalculationVal1(line)"> Normal 
								</label>
								<label class="btn">
									<input type="radio" ng-model="line.RATING_VALUE2" value="1" ng-change="autoCalculationVal1(line)"> Abnormal 
								</label>
							</div>

						</div>
						<!-- End Normal Rate -->
						<!-- MAX Score, MIN Score, Recovery and Simple Rating-->
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISRATING1 === 1 && (line.SCORE_TYPE1 === 10 || line.SCORE_TYPE1 === 4 || line.SCORE_TYPE1 === 6 || line.SCORE_TYPE1 === 11 || line.SCORE_TYPE1 === 30)">
							<label class="control-label pull-right" style="margin-top:15px;">Rating: </label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISRATING1 === 1 && (line.SCORE_TYPE1 === 10 || line.SCORE_TYPE1 === 4 || line.SCORE_TYPE1 === 6 || line.SCORE_TYPE1 === 11 || line.SCORE_TYPE1 === 30)">
							<label class="control-label" style="margin-top:10px;"><b style="font-size:16pt;">{{line.RATE1}}</b></label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISRATING2 === 1 && (line.SCORE_TYPE2 === 10 || line.SCORE_TYPE2 === 4 || line.SCORE_TYPE2 === 6 || line.SCORE_TYPE2 === 11 || line.SCORE_TYPE2 === 30)">
							<label class="control-label pull-right" style="margin-top:15px;">Rating: </label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISRATING2 === 1 && (line.SCORE_TYPE2 === 10 || line.SCORE_TYPE2 === 4 || line.SCORE_TYPE2 === 6 || line.SCORE_TYPE2 === 11 || line.SCORE_TYPE2 === 30)">
							<label class="control-label" style="margin-top:10px;"><b style="font-size:16pt;">{{line.RATE2}}</b></label>
						</div>
						<!-- End MAX Score, MIN Score, Recovery and Simple Rating-->
						<!-- Excellent/Good/Fair/Poor radio Rating -->
						<div class="col-md-1 col-sm-1 col-xs-1" ng-if="line.ISRATING1 === 1 && line.SCORE_TYPE1 === 8">
							<label class="control-label pull-right" style="margin-top:10px;">Rating: </label>
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5" ng-if="line.ISRATING1 === 1 && line.SCORE_TYPE1 === 8">
							<label class="btn">
								<input type="radio" ng-model="line.SCORE1" value="4" ng-change="autoCalculationVal1(line)"> Excellent 
							</label>
							<label class="btn">
								<input type="radio" ng-model="line.SCORE1" value="3" ng-change="autoCalculationVal1(line)"> Good 
							</label>
							<label class="btn">
								<input type="radio" ng-model="line.SCORE1" value="2" ng-change="autoCalculationVal1(line)"> Fair 
							</label>
							<label class="btn">
								<input type="radio" ng-model="line.SCORE1" value="1" ng-change="autoCalculationVal1(line)"> Poor 
							</label>
						</div>
						<div class="col-md-1 col-sm-1 col-xs-1" ng-if="line.ISRATING2 === 1 && line.SCORE_TYPE2 === 8">
							<label class="control-label pull-right" style="margin-top:10px;">Rating: </label>
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5" ng-if="line.ISRATING2 === 1 && line.SCORE_TYPE2 === 8">
							<label class="btn">
								<input type="radio" ng-model="line.SCORE2" value="4" ng-change="autoCalculationVal2(line)"> Excellent 
							</label>
							<label class="btn">
								<input type="radio" ng-model="line.SCORE2" value="3" ng-change="autoCalculationVal2(line)"> Good 
							</label>
							<label class="btn">
								<input type="radio" ng-model="line.SCORE2" value="2" ng-change="autoCalculationVal2(line)"> Fair 
							</label>
							<label class="btn">
								<input type="radio" ng-model="line.SCORE2" value="1" ng-change="autoCalculationVal2(line)"> Poor 
							</label>
						</div>	
						<!-- End Excellent/Good/Fair/Por radio Rating-->
						<!-- Unable/Partial/Able Rating -->
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISRATING1 === 1 && (line.SCORE_TYPE1 === 9 || line.SCORE_TYPE1 === 7 || line.SCORE_TYPE1 === 15 || line.SCORE_TYPE1 === 17 || line.SCORE_TYPE1 === 18 || line.SCORE_TYPE1 === 19)">
							<label class="control-label pull-right" style="margin-top:15px;">Rating: </label>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4" ng-if="line.ISRATING1 === 1 && (line.SCORE_TYPE1 === 9 || line.SCORE_TYPE1 === 7 || line.SCORE_TYPE1 === 15 || line.SCORE_TYPE1 === 17 || line.SCORE_TYPE1 === 18 || line.SCORE_TYPE1 === 19)">
							<label class="btn">
								<input type="radio" ng-model="line.RATING_VALUE1" value="0" ng-change="autoLineSummary(line)"> UNABLE 
							</label>
							<label class="btn" ng-if="header.TYPE!=='Crown'">
								<input type="radio" ng-model="line.RATING_VALUE1" value="1" ng-change="autoLineSummary(line)"> PARTIAL 
							</label>
							<label class="btn">
								<input type="radio" ng-model="line.RATING_VALUE1" value="2" ng-change="autoLineSummary(line)"> ABLE 
							</label>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2" ng-if="line.ISRATING2 === 1 && (line.SCORE_TYPE2 === 9 || line.SCORE_TYPE2 === 7 || line.SCORE_TYPE2 === 15 || line.SCORE_TYPE2 === 17 || line.SCORE_TYPE2 === 18 || line.SCORE_TYPE2 === 19)">
							<label class="control-label pull-right" style="margin-top:15px;">Rating 2: </label>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4" ng-if="line.ISRATING2 === 1 && (line.SCORE_TYPE2 === 9 || line.SCORE_TYPE2 === 7 || line.SCORE_TYPE2 === 15 || line.SCORE_TYPE2 === 17 || line.SCORE_TYPE2 === 18 || line.SCORE_TYPE2 === 19)">
							<label class="btn">
								<input type="radio" ng-model="line.RATING_VALUE2" value="0" ng-change="autoLineSummary(line)"> UNABLE 
							</label>
							<label class="btn" ng-if="header.TYPE!=='Crown'">
								<input type="radio" ng-model="line.RATING_VALUE2" value="1" ng-change="autoLineSummary(line)"> PARTIAL 
							</label>
							<label class="btn">
								<input type="radio" ng-model="line.RATING_VALUE2" value="2" ng-change="autoLineSummary(line)"> ABLE 
							</label>
						</div>
						<!-- End Unable?Partial/Able Rating -->
					</div>

					<!-- Heart Rate Rating -->
					<div class="row" ng-if="(line.ISRATING1 === 1 && line.SCORE_TYPE1 === 4) || (line.ISRATING2 === 1 && line.SCORE_TYPE2 === 4)">
						<div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-11 col-sm-11 col-xs-11">
							<label class="control-label" style="margin-top:15px;"><b>Age predicted max HR max: {{220-patient_age}}</b></label>
							<br>
							<label class="control-label text-info">85% Max HR: {{(85/100)*(220-patient_age)}} bpm</label>

						</div>
					</div>
					<!-- End Heart Rate Rating -->
					
					<!-- this is end line rating and scoring -->
					<!-- this is line comments -->
					<div class="panel panel-default" ng-if="line.IsCommentsText === 1 || line.comments.length > 0">
						<div class="panel-body">
							<label class="control-label bold">Questions comment</label>

							<!-- Textbox comment -->
							<div class="row" ng-if="line.IsCommentsText === 1">
								<div class="col-md-12 col-sm-12 col xs-12">
									<textarea rows="4" class="form-control" ng-model="line.COMMENTS"></textarea>
								</div>
							</div>
							<!-- End textbox comment -->

							
							<div class="row" ng-repeat="comment in line.comments">
								<!-- Checkbox comment -->
								<div class="col-md-6 col-sm-6 col xs-6" ng-if="comment.Comment_Type === 1 && comment.NAME !== null && comment.NAME !== ''">
									<label class="control-label text-info" style="margin-top:10px;">{{comment.NAME}}</label>
								</div>
								<div class="col-md-6 col-sm-6 col xs-6" ng-if="comment.Comment_Type === 1">
									<label class="btn">
										<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-checked="comment.VALUE === 1 || comment.VALUE === '1'" ng-model="comment.VALUE"/>
									</label>
									
								</div>
								<!-- End Checkbox comment -->
								<!-- Yes/No comment -->
								<div class="col-md-6 col-sm-6 col xs-6" ng-if="comment.Comment_Type === 3 && comment.NAME !== null && comment.NAME !== ''">
									<label class="control-label text-info" style="margin-top:10px;">{{comment.NAME}}</label>
								</div>
								<div class="col-md-6 col-sm-6 col xs-6" ng-if="comment.Comment_Type === 3">
									<label class="btn">
										<input type="radio" ng-model="comment.VALUE" value="1"> Yes 
									</label>
									<label class="btn">
										<input type="radio" ng-model="comment.VALUE" value="0"> No 
									</label>
								</div>
							<!-- End Yes/No comment -->
							<!-- Good/Avg/Poor comment -->
								<div class="col-md-6 col-sm-6 col xs-6" ng-if="comment.Comment_Type === 4 && comment.NAME !== null && comment.NAME !== ''">
									<label class="control-label text-info" style="margin-top:10px;">{{comment.NAME}}</label>
								</div>
								<div class="col-md-6 col-sm-6 col xs-6" ng-if="comment.Comment_Type === 4">
									<label class="btn">
										<input type="radio" ng-model="comment.VALUE" value="3"> Good 
									</label>
									<label class="btn">
										<input type="radio" ng-model="comment.VALUE" value="2"> Average 
									</label>
									<label class="btn">
										<input type="radio" ng-model="comment.VALUE" value="1"> Poor 
									</label>
								</div>
							<!-- End Good/Avg/Poor comment -->
							<!-- Min/Mor/Max comment -->
								<div class="col-md-6 col-sm-6 col xs-6" ng-if="comment.Comment_Type === 5 && comment.NAME !== null && comment.NAME !== ''">
									<label class="control-label text-info" style="margin-top:10px;">{{comment.NAME}}</label>
								</div>
								<div class="col-md-6 col-sm-6 col xs-6" ng-if="comment.Comment_Type === 5">
									<label class="btn">
										<input type="radio" ng-model="comment.VALUE" value="1"> Minimal
									</label>
									<label class="btn">
										 <input type="radio" ng-model="comment.VALUE" value="2"> Moderate
									</label>
									<label class="btn">
										 <input type="radio" ng-model="comment.VALUE" value="3"> Maximal
									</label>
								</div>
							<!-- End Min/Mor/Max comment -->
							<!-- Above/Within/Below comment -->
								<div class="col-md-5 col-sm-5 col xs-5" ng-if="comment.Comment_Type === 6 && comment.NAME !== null && comment.NAME !== ''">
									<label class="control-label text-info" style="margin-top:10px;">{{comment.NAME}}</label>
								</div>
								<div class="col-md-7 col-sm-7 col xs-7" ng-if="comment.Comment_Type === 6">
									<label class="btn">
										<input type="radio" ng-model="comment.VALUE" value="3" /> Above normal range 
									</label>
									<label class="btn">
										<input type="radio" ng-model="comment.VALUE" value="2" /> Within normal range 
									</label>
									<label class="btn">
										 <input type="radio" ng-model="comment.VALUE" value="1" /> Below normal range
									</label>
								</div>
							<!-- End Above/Within/Below comment -->
							</div>
						</div>
					</div>
					<!-- this is end line comments -->
				</div>
			</div>
			<!-- this is end line -->
		</div>
	</div>
	<!-- This is end section -->


	<!-- This is functional assessment summary -->
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p style="font-size: xx-large;text-align: center;font-weight: bolder">Functional Assessment Summary</p>
		</div>
	</div>
	<div ng-repeat="section in header.sections">
		<div class="portlet box blue-hoki" ng-repeat="line in section.lines" ng-if="line.LineType===1">
			<div class="portlet-title">
				<div class="caption">{{line.QUESTION}}</div>
			</div>
			<div class="portlet-body">
				<div ng-if="(line.SCORE_TYPE1 === 27 || line.SCORE_TYPE1===-5)">
					<div class="row" ng-repeat="detail in line.details">
						<div class="col-md-3 col-sm-3 col-xs-3">
							<label class="control-label" style="margin-top:10px;"><b>{{detail.QUESTION}}</b></label>
						</div>
						<div class="col-md-1 col-sm-1 col-xs-1">
							<label class="control-label pull-right" style="margin-top:10px;">{{detail.VAL1_NAME}}</label>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-3" ng-if="detail.VAL1_ISCHECKBOX === 3" >
                            <div class="btn-group ">
                                <label class="btn">
                                    <input type="radio" ng-model="detail.VAL1_CHECKBOX" value="1" /> Yes
                                </label>
                                <label class="btn">
                                    <input type="radio" ng-model="detail.VAL1_CHECKBOX" value="0" /> No
                                </label>
                            </div>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1" ng-if="detail.IsCommentText===1">
							<label class="control-label pull-right" style="margin-top:10px;">Comment</label>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4" ng-if="detail.IsCommentText===1" >
                            <textarea rows="4" class="form-control" ng-model="line.COMMENTS"></textarea>
                        </div>
					</div>
				</div>
				<div ng-if="line.SCORE_TYPE1 === 5 || line.SCORE_TYPE1 === 24 || line.SCORE_TYPE1 === 25 || line.SCORE_TYPE1 === 26">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6">
						</div>
						<div class="col-md-3 col-sm-3 col-xs-3" ng-if="line.SCORE_TYPE1 === 5 || line.SCORE_TYPE1 === 25">
							<label class="control-label" style="margin-top:10px;"><b>Score</b></label>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-3">
							<label class="control-label" style="margin-top:10px;"><b>Rating</b></label>
						</div>
					</div>
					<div class="row" ng-repeat="detail in line.details">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<label class="control-label" style="margin-top:10px;"><b>{{detail.QUESTION}}</b></label>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-3" ng-if="line.SCORE_TYPE1 === 5 || line.SCORE_TYPE1 === 25">
							<label class="control-label" style="margin-top:10px;" >{{detail.VAL1_VALUE}}/4</label>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-3">
							<label class="control-label" style="margin-top:10px;" >{{detail.VAL2_VALUE}}</label>
						</div>
					</div>
					<div class="row" ng-if="line.SCORE_TYPE1 === 5 || line.SCORE_TYPE1 === 24">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<label class="control-label" style="margin-top:10px;"><b>Total</b></label>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-3" ng-if="line.SCORE_TYPE1 === 5 || line.SCORE_TYPE1 === 25">
							<label class="control-label" style="margin-top:10px;">{{line.RATING_VALUE1}}/{{line.details.length*4}}</label>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-3">
							<label class="control-label" style="margin-top:10px;">{{line.RATE1}}</label>
						</div>
					</div>
				</div>

				<div ng-if="line.SCORE_TYPE1 === 28">
					<!-- <div class="row">
						
						<div class="col-md-3 col-sm-3 col-xs-3">
							<label class="control-label" style="margin-top:10px;"><b>Rating</b></label>
						</div>
					</div> -->
					<div class="row" ng-repeat="detail in line.details">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<label class="btn">
								<input type="checkbox" ng-model="detail.VAL1_CHECKBOX" ng-checked="detail.VAL1_CHECKBOX === 1 || detail.VAL1_CHECKBOX === '1'" />
								{{detail.QUESTION}} <i>({{detail.DESCRIPTION}})</i>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	

	<!-- Overral Rating -->
	<div class="panel panel-default" ng-if="header.TYPE === 'Boart'">
	    <div class="panel-body">
	    	<label class="control-label text-info bold" style="margin-top:10px;">Overall rating</label>
	        <div class="row">
	            <div class="col-md-12 col-sm-12 col-xs-12">
	                <label class="control-label">
	                	<input type="checkbox" ng-model="header.met_all_req" ng-checked="header.met_all_req===1"/>
	                	Candidate <b>met all testing requirements</b> & demonstrated the physical capacity to perform the proposed occupation. 
	                </label>
	                <label class="control-label">
	                	For improved health and wellbeing, it was noted the candidate could improve on the below.
	                </label>
	            </div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12 col-sm-12 col-xs-12">
	        		<textarea class="form-control" rows="4" ng-model="header.improve_comment"></textarea>
	        	</div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12 col-sm-12 col-xs-12">
	        		<label class="control-label">
	        			<i>Advice and stretches were provided at the time of the assessment.</i>
	        		</label>
	        	</div>
	        </div>
	        <div class="row">
	            <div class="col-md-12 col-sm-12 col-xs-12">
	                <label class="control-label">
	                	<input type="checkbox" ng-model="header.not_met_all_req" ng-checked="header.not_met_all_req===1"/>
	                	Candidate <b>did not</b> demonstrate the physical capacity to perform the proposed occupation, due to:
	                </label>
	            </div>
	        </div>
	        <div class="row">
	        	<div class="col-md-12 col-sm-12 col-xs-12">
	        		<textarea class="form-control" rows="4" ng-model="header.not_met_all_reason"></textarea>
	        	</div>
	        </div>
	    </div>
	</div>

	<!-- Risk rating and additional test -->
	<div class="panel panel-default">
		<div class="panel-body">
			<label class="control-label text-info bold" style="margin-top:10px;">Risk rating</label>

			<div class="row" ng-if="header.is_have_risk_rating===1">
				<div class="col-md-2 col-sm-2 col-xs-2">
					<label class="control-label bold">Risk rating:</label>
				</div>
				<div class="col-md-10 col-sm-10 col-xs-10">
					<label class="btn">
						Low Risk <input type="radio" ng-model="header.Risk" value="0">
					</label>
					<label class="btn">
						Medium Risk <input type="radio" ng-model="header.Risk" value="1">
					</label>
					<label class="btn">
						High Risk <input type="radio" ng-model="header.Risk" value="2">
					</label>
				</div>
			</div>

			<div class="row" ng-if="header.is_have_fit_rating===1">
				<div class="col-md-2 col-sm-2 col-xs-2">
					<label class="control-label bold">Fit rating:</label>
				</div>
				<div class="col-md-10 col-sm-10 col-xs-10">
					<label class="btn">
						Fit <input type="radio" ng-model="header.fit_rating" value="2">
					</label>
					<label class="btn">
						Fit Pending <input type="radio" ng-model="header.fit_rating" value="1">
					</label>
					<label class="btn">
						Unfit <input type="radio" ng-model="header.fit_rating" value="0">
					</label>
				</div>
			</div>
			
			<div class="row" ng-if="header.is_have_comments_recommendations===1">
				<div class="col-md-3 col-sm-3 col-xs-3">
					<label class="control-label bold">*Comments/Recommendations:</label>
				</div>
				<div class="col-md-9 col-sm-9 col-xs-9">
					<textarea rows="4" class="form-control" ng-model="header.Comments"></textarea>
				</div>
			</div>

			<div class="row" ng-if="header.is_have_health_reharb_recommend===1">
				<div class="col-md-6 col-sm-6 col-xs-6">
					<label class="control-label bold" style="margin-top:10px;">Health and Rehab Coorinator Review Recommended:</label>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<label class="btn">
						Yes <input type="radio" ng-model="header.Recommend" value="1">
					</label>
					<label class="btn">
						No <input type="radio" ng-model="header.Recommend" value="0">
					</label>
				</div>
			</div>

			<div class="row" ng-if="header.is_have_build_rating">
				<div class="col-md-2 col-sm-2 col-xs-2">
					<label class="control-label bold">Build rating:</label>
				</div>
				<div class="col-md-10 col-sm-10 col-xs-10">
					<label class="btn">
						Light Build <input type="radio" ng-model="header.Build" value="0">
					</label>
					<label class="btn">
						Medium Build <input type="radio" ng-model="header.Build" value="1">
					</label>
					<label class="btn">
						Heavy Build <input type="radio" ng-model="header.Build" value="2">
					</label>
				</div>
			</div>
			
			<label class="control-label text-info bold" ng-if="header.is_have_additional_test===1">Additional Tests Attached:</label>
			<div class="row" ng-if="header.is_have_additional_test===1">
				<div class="col-md-3 col-sm-3 col-xs-3" >
					<label class="control-label pull-right">Ankle</label>
				</div>
				<div class="col-md-1 col-sm-1 col-xs-1">
					<input type="checkbox"  ng-checked="header.Att_Flexibility===1 || header.Att_Flexibility==='1'" ng-model="header.Att_Flexibility"/>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3">
					<label class="control-label pull-right">Knee</label>
				</div>
				<div class="col-md-1 col-sm-1 col-xs-1">
					<input type="checkbox"  ng-checked="header.Att_Core_Stability===1 || header.Att_Core_Stability==='1'" ng-model="header.Att_Core_Stability"/>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3">
					<label class="control-label pull-right">Hip</label>
				</div>
				<div class="col-md-1 col-sm-1 col-xs-1">
					<input type="checkbox"  ng-checked="header.Att_Wirst_Elbow_func===1 || header.Att_Wirst_Elbow_func==='1'" ng-model="header.Att_Wirst_Elbow_func"/>
				</div>
			</div>
			<div class="row" ng-if="header.is_have_additional_test===1">
				<div class="col-md-3 col-sm-3 col-xs-3">
					<label class="control-label pull-right">Back</label>
				</div>
				<div class="col-md-1 col-sm-1 col-xs-1">
					<input type="checkbox" ng-checked="header.Att_Shoulder_func===1 || header.Att_Shoulder_func==='1'" ng-model="header.Att_Shoulder_func"/>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3">
					<label class="control-label pull-right">Elbow/Wrist</label>
				</div>
				<div class="col-md-1 col-sm-1 col-xs-1">
					<input type="checkbox"  ng-checked="header.Att_Lower_Limb_func===1 || header.Att_Lower_Limb_func==='1'" ng-model="header.Att_Lower_Limb_func"/>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3">
					<label class="control-label pull-right">Shoulder</label>
				</div>
				<div class="col-md-1 col-sm-1 col-xs-1">
					<input type="checkbox"  ng-checked="header.Att_Balance===1 || header.Att_Balance==='1'" ng-model="header.Att_Balance"/>
				</div>
			</div>
			
		</div>
		
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<label class="control-label text-info bold">Functional Assessment Info</label>
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-2">
					<label class="control-label bold">Assessed name: </label>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2"
	               <label class="control-label">{{header.ASSESSED_NAME}} </label>
	            </div>
	            <div class="col-md-2 col-sm-2 col-xs-2">
					<label class="control-label bold">Assessed date: </label>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2"
	               <label class="control-label">{{header.ASSESSED_DATE}} </label>
	            </div>
				<div class="col-md-1 col-sm-1 col-xs-1">
					<label class="control-label bold">Signature</label>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
	                <img ng-src="{{header.ASSESSED_SIGN}}" alt=""
	                     style="width: 100px;height: 50px;"/>
	            </div>
			</div>
		</div>
	</div>

	<div class="row">
    <div class="col-md-12 ">
        <button ng-click="newFASubmit()" class="btn green pull-right" ng-show="editMode===false"> Submit
        </button>
        <button ng-click="faUpdate()" class="btn green pull-right" ng-show="editMode===true"> Update
        </button>
        <a class="btn blue pull-right" ng-show="editMode===true" href="http://testapp.redimed.com.au:3003/RedimedJavaREST/api/document/FA/{{print_fa_id}}/{{print_cal_id}}/{{print_patient_id}}" target="_blank"> Print
        </a>
        <!-- <a href="http://testapp.redimed.com.au:3003/RedimedJavaREST/api/document/FA/{{infoH.FA_ID}}/{{infoH.CAL_ID}}/{{infoH.PATIENT_ID}}"
           ng-disabled="isNew " target="_blank"
           class="btn btn-primary blue pull-right">Print PDF
        </a> -->
<!--         <a href="javascript:;" ng-disabled="!infoChanged()"  ng-click="resetForm()" class="btn btn-danger pull-right">Reset</a> -->
    </div>
</form>