<form name="PEMedicalForm" accessible-form method="post" novalidate>
	
	<!-- tittle -->
	<div class="caption">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<b style="text-align:center;color:blue;"><h1>PRE-EMPLOYMENT MEDICAL</h1></b>
			</div>
			<div class="col-md-12 col-sm-12">
				<b style="text-align:center;color:blue;"><h1>For Employees and Long-Term Contractors</h1></b>
			</div>
			<div class="col-md-12 col-sm-12">
				<b style="text-align:center;color:red;"><h1>CONFIDENTIAL</h1></b>
			</div>
		</div>
	</div>
	<!-- end tittle -->

</form>