<!--ACTION-->
<!--<div class="row" style="margin-bottom: 15px;">
	<div class="col-md-2 col-sm-3 col-xs-6">
		<button class="btn btn-sm btn-block green" ng-click="clickAction()" ng-show="params.permission.create">
			<i class="fa fa-plus"></i>
		</button>
		<button class="btn btn-sm btn-block green" ng-click="clickAction()" ng-show="params.permission.edit">
			<i class="fa fa-pencil"></i> Edit
		</button>
	</div>
</div>-->
<!--END ACTION -->

<form class="grid-form" name="mdtappointmentForm" novalidate>
	<fieldset>
		<legend>Appointment Info</legend>
		<div data-row-span="4">
			<!-- DOCTOR -->
			<div data-field-span="1">
				<label>Doctor</label>
				<input type="text" disabled placeholder="Doctor" name="Doctor" ng-model="mdtAppointmentMap.doctor.NAME" class="form-control" id="doctor_id" float-label>
			</div>
			<!-- END DOCTOR -->
			<!-- SITE -->
			<div data-field-span="1">
				<label>Site</label>
				<select disabled class="form-control" name="SITE_ID"
					ng-model="mdtAppointmentMap.SITE_ID"
					ng-options="site.id as site.Site_name for site in options.redimedsites">
				</select>
			</div>
			<!-- END SITE -->
			<!-- FROM TIME -->
			<div data-field-span="1">
				<label>From Time</label>
				<input readonly ui-date="{dateFormat: 'dd/mm/yy'}" placeholder="From time" name="from_time" ng-model="mdtAppointmentMap.FROM_TIME" class="form-control" id="from_time" float-label>
			</div>
			<!-- END FROM TIME -->
			<!-- TO TIME -->
			<div data-field-span="1">
				<label>To Time</label>
				<input readonly ui-date="{dateFormat: 'dd/mm/yy'}" placeholder="To time" name="to_time" ng-model="mdtAppointmentMap.TO_TIME" class="form-control" id="to_time" float-label>
			</div>
			<!-- END TO TIME -->
		</div>
	</fieldset>
</form>