<form class="form" name="loginForm" novalidate ng-submit="login()" method="POST">
    <div class="form-group" ng-class="{'has-error' : loginForm.username.$invalid && loginForm.username.$dirty, 'has-success'
     : loginForm.username.$valid && loginForm.username.$dirty} ">
        <label for="" class="control-label">Username</label>
        <input type="text" name="username" class="form-control" ng-model="user.name" required cu-focus/>
        <p class="help-block" ng-show="loginForm.username.$invalid && loginForm.username.$dirty && !loginForm.username.$focused">
            wrong username
        </p>
    </div>
    <div class="form-group" ng-class="{'has-error' : loginForm.username.$invalid && loginForm.username.$dirty, 'has-success'
     : loginForm.username.$valid && loginForm.username.$dirty} ">
        <label for="" class="control-label">Password</label>
        <input type="password" name="password" class="form-control" ng-model="user.pass" required cu-focus=""/>
        <p class="help-block" ng-show="loginForm.password.$invalid && loginForm.password.$dirty && !loginForm.password.$focused">
            wrong password
        </p>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit" ng-disabled="loginForm.$invalid">Login</button>
    </div>

</form>