<h3 class="page-title">Tree List</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="loggedIn.home">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="loggedIn.ListFunction">Functions</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="loggedIn.ListTree">Trees</a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
</div>
<div class="portlet green-meadow box">
    <div class="portlet-title">
        <a ui-sref="loggedIn.addSystem" class="btn green pull-right btn-sm" style="margin-top:7px;" ng-click="AddTree()">New tree</a>
        <div class="caption">
            <i class="fa fa-cogs"></i>List of tree
        </div>
    </div>
    <div class="portlet-body">
        <!-- PAGINATION -->
        <div style="float: left">
            <pagination boundary-links="true" total-items="list.count" ng-model="searchObjectMap.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="searchObjectMap.limit" max-size="searchObjectMap.maxSize" ng-change="setPage()"></pagination>
        </div>
        <div style="float: right; padding-top: 10px;">
            <button class="btn btn-sm" ng-click="reset()">Reset</button>
            <b>Total system:</b>{{list.count}}
            <select ng-model="searchObjectMap.limit" ng-options="row.code as row.code for row in rows" ng-change="loadList()"></select>
        </div>
        <!-- END PAGINATION -->

        <!-- TABLE LIST  -->
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Tree name</th>
                    <th>Company name</th>
                    <th>Decription</th>
                    <th></th>
                </tr>
                <!-- SEARCH -->
                <tr>
                    <td>
                        <input class="input-sm form-control" type="text" ng-model="searchObjectMap.data.GROUP_NAME" ng-change="loadList()">
                    </td>
                    <!-- END SEARCH -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="l in list.result" style="cursor: pointer;">
                    <td>{{l.GROUP_NAME || ""}}</td>
                    <td>{{l.Company_name || ""}}</td>
                    <td>{{l.DECRIPTION || ""}}</td>
                    <td>
                        <!-- DOPDOWN ACTION -->
                        <div class="btn-group" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-circle btn-sm green dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Action
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ng-click="goTotreeApproveDetail(l)"><i class="fa fa-check"></i>Detail</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a ng-click="EditTree(l.GROUP_ID)"><i class="fa fa-pencil"></i>Edit</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a ng-click="DeleteTree(l.GROUP_ID, $index)"><i class="fa fa-times"></i>Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- END DROPDOWN ACTION -->
                    </td>
                </tr>
            </tbody>
            </tabel>
            <!-- END TABLE LIST -->
    </div>
</div>
<!-- MODULE ADD DEPARTMENT -->
<script type="text/ng-template" id="AddTree">
    <add-tree on-cancel="getReturnedValue(return)" ng-model="TreeIdEdit" on-save="getInfo(return)"></add-tree>
</script>
<!-- END MODULE ADD DEPARTMENT -->
