.info-injury-pickup {
    margin-top: 50px;
}
.wrapper-info-company {
    background-color: #fbca01;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}
.span-input-color{
    color: white;
    font-size: 17px;
    font-weight: bolder;
    margin-left: 2%;
    text-align: left;
}
.span-value-infoinjurypickup {
    color: white;
    font-size: 15px;
    text-align: right;
    position: absolute;
    right: 5%;
    margin-top: 10px;
}
.forget-password a {
    text-decoration: none;
}

.forget-password {
    color: #ffffff;
}

.fLeft {
    float: left;
}
.fRight {
    float: right;
}
.has-error  {
    border-bottom: 2px solid red ;
}
input[type=text].has-error  {

    border-bottom: 2px solid red ;
}

input[type=email].has-error  {

    border-bottom: 2px solid red ;
}
input[type=date].has-error  {

    border-bottom: 2px solid red ;
}
input[type=number].has-error  {

    border-bottom: 2px solid red ;
}
input[type=tel].has-error  {

    border-bottom: 2px solid red ;
}
textarea.materialize-textarea.has-error{
    border-bottom: 2px solid red ;
}
hr.customHr.has-error  {

    border-bottom: 2px solid red ;
}


form i.icon.error {
    color: #ef4e3a;
    padding: 0;
}
.wide-as-needed {
    overflow: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.searchform{
    z-index: 9999;
    width: 95%;
    height: auto;
    max-height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 10px auto;
    background-color: #0169ff;
    box-shadow: 2px 2px 11px -1px rgba(0,0,0,0.4) inset;
    border: none;
    padding: 0px;
}
.child-ion-scroll-searchform {
    border-bottom: 2px solid rgba(0, 93, 200, .5);
    padding: 10px 10px 0px 20px;
    text-align: left;
}
.child-ion-scroll-searchform h2 {
    color:#f3c90a;
    font-weight: bold;
    line-height: 20px;
}
.child-ion-scroll-searchform h4 {
    color:white;
    line-height: 20px;
}
.itemsearch{
    width: 100%;
    background-color: #F7F7F7;
}
.has-show{
    display: none;
}
.footer_injury{
    margin: 0 auto 20px auto;
    width: 100%;
    white-space: nowrap;
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.full{
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    display: table;
    table-layout: fixed;
}
.child {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.blackbg {
    background-color: rgba(0, 0, 0, 0.7) !important;
}
.bg-descImg {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0;
    text-align: left !important;
}
.h-descImg{
    color: rgba(255, 255, 255, 1);
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
}
.cssFade {
    transition: 0.5s linear all;
    opacity: 1;
    text-align: right;
}
.cssFade.ng-hide {
    opacity: 0;
}
.border-none{
    border: none !important;
}
.transparent {
    background: #2B2B2B !important;
}
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
}
.bg-menu-left{
    background-color: #312E3C;
}
.bg-menu-right{
    background-color: #312E3C;
}
.item-menu {
    background-color: rgba(0, 0, 0, 0) !important;
    color: rgba(232, 231, 234, 0.8);
    border: none;
    padding: 0 20px 0 0px;
}
.item-menu a {
    background-color: rgba(0, 0, 0, 0) !important;
    margin: 0 10px 0 10px;
    border-bottom: 2px solid rgba(70, 67, 87, 0.5) !important;
}
.item-menu a:active, .item-menu a:focus, .item-menu a:visited {
    background-color: rgba(189, 191, 191, 0.7) !important;
    margin: 0 3px 0 3px;
    color: rgba(232, 231, 234, 1);
}
.done-btn{
    background-color: rgba(0, 0, 0, 0.7) !important;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px !important;
}
.heightcs {
    height: 100% !important;
}
.heightcs div{
    height: 100% !important;
}
.custom-texarea{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 84px;
    margin-right: 100px;
    padding: 0 5px 0 5px;
}

.btn-emer {
    color: #000000;
    border-radius: 15px;
    border: 2px solid #f5f5f5;
    line-height: 30px;
    min-height: 35px;
}


.btn-emer.activated, .btn-emer:active {
    border: 3px solid #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7) inset;
    color: inherit;
}

.btn-non-emer {
    color: #000000;
    border-radius: 15px;
    border: 2px solid #fbca01;
    line-height: 30px;
    min-height: 35px;
    background-color: #fbca01;
}
.btn-non-emer.activated, .btn-non-emer.active {
    border: 2px solid #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7) inset;
    background-color: #fbca01;
    color: inherit;
}


.ion-scroll-custom{
    border:none;
    border-radius: 5px !important;
    padding: 0px !important;
}

.a-img-custom{
    width: 165px;
    height: 150px;
    float: left;
    margin-left: 20px;
    border: 3px solid #fff;
}

.bar-sub-color{
    background-color: rgba(255, 255, 255, 0.6) !important;
}

.bg-info-success{
    padding-top: 46px;
    background-position-y: 480px;
}
.img-infoInjury {
    margin: auto;
    width: 150px;
    height: 150px;
    color: white;
    position: relative;
    top: -45px;
    box-shadow: 0 0 90px #C7C7CC;
    background-color: whitesmoke;
    font-weight: lighter;
    line-height: 150px;
    text-align: center;
}
.img-infoInjury span {
    font-size: 100px;
    color: whitesmoke;
}
#mainView {
    clear: both;
    padding: 1em 1em;
}
.active-btn-info {
    background-color: rgba(0,0,0,0.1) !important;
    border-bottom: 2px solid #7a1587 !important;
    color: #f0f6fa;
}
.active-btn-info span {
    text-shadow:0 0 10px #8E8E93;
}
.button-custom-info {
    background-color: rgba(255,255,255,0.6);
    border: none;
}
.button-custom-info:hover {
    color: #f0f6fa;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {box-shadow: 0 0 90px #C7C7CC;}
}

/* Standard syntax */
@keyframes mymove {
    50% {box-shadow: 0 0 90px #C644FC;}
}

.border-radius-button {
    border-radius: 10px !important;
}
.bg-btn-custom {
    background-color: #FF5E3A;
    border-color: #FF5E3A ;
    color: #F5F5F5;
}
.name-info-injury {
    text-shadow: 0 0 15px #8E8E93;
    position: relative;
    top: -20px;
    font-size: 25px;
    color: #fff;
    font-weight: 100;
}
.wrap-btn-tap-toogle{
    position: absolute;
    top: 293px;
    margin: auto;
    width: 100%;
}
.custom-icon-info {
    color: #f0f0f0 !important;
    position: absolute;
    left: 0;
    bottom: 0;
}
.custom-icon-info:hover {
    color: #f0f0f0 !important;
}
.custom-icon-power {
    color: #f0f0f0 !important;
    position: absolute;
    right: 0;
    bottom: 0;
}
.custom-icon-power:before {
    font-size: 28px !important;
}
.custom-icon-power:hover {
    color: #f0f0f0 !important;
}

.img-image-name{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #027cdc;
}
.img-detail-injurypickup {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #027cdc;
    position: absolute;
    left: 4%;
    top: 375px;
}
.img-image-name-phone{
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: #080808;
    font-size: 30px;
    font-weight: lighter;
    background-color: #1bbc9b;
}
.img-phone-call{
    font-weight: lighter;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.img-phone-call span {
    font-size: 60px;
    color: whitesmoke;
}
.img-modal-receiveCall{
    font-weight: lighter;
    width: 80px;
    height: 80px;
    line-height: 85px;
    text-align: center;
}
.img-modal-receiveCall span{
    font-size: 60px;
    color: whitesmoke;
}
.custom-item-listpatient {
    padding: 0;
    background-color: #ffffff;
}
.custom-item-listpatient:active {
    background-color: rgba(137, 140, 144, 0.5) !important;
}
.item-input-wrapper input {
    color: floralwhite;
}
.lstinjury-div-info {
    padding-top: 20px;
}
.ionic-refresher-content i {
    color: whitesmoke;
}
.lstinjury-address {
    padding: 0px;
    margin: 0px;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    /*width: 390px;*/
    color: #fff;
}
.span-new {
    background-color: #f3c90a;
    /*margin: -10px 2% auto auto;*/
    padding: 2px 15px 2px 15px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bolder;
    float: right;
    color: #000;
}
.color-new-iconstatus {
    color: #f3c90a;
}
.span-waiting {
    background-color: rgba(249, 105, 14, 1);
    /*margin: -10px 2% auto auto;*/
    padding: 2px 15px 2px 15px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bolder;
    float: right;
}
.color-waiting-iconstatus {
    color: rgba(249, 105, 14, 1);
}
.span-done {
    background-color: #95a5a6;
    /*margin: -10px 2% auto auto;*/
    padding: 2px 15px 2px 15px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bolder;
    float: right;
    color: #fff;
}
.color-done-iconstatus {
    color: #95a5a6;
}
.lstinjury-date {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 15px;
    padding-top: 5px;
}
.bg-list {
    background-color: #cecece;
    /*background-image: url('../img/bg-blur-list.jpg');*/
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-size: cover;
    width: 100%;
    height: 100%;
}
/*end pickup list patient*/


/*start profile.css file*/
#profile-bg {
    position: fixed;
    left: 0;
    top: 44px;
    width: 100%;
    height: 150px;
    background-size: 100%;
    background-position: 50% 20%;

    text-align: center;
}

#content {
    margin-top: 90px;
}

#profile-info {
    text-align: center;
}
#profile-name {
    color: #444;
    font-size: 26px;
}
#profile-description {
    font-size: 15px;
    color: #888;
}
#profile-description a {
    color: #888;
}

#profile-image {
    display: block;
    border-radius: 100px;
    border: 1px solid #fff;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}

.list-item-content {
    padding: 5px;
}

.list-item {
    color: #666666;
}

.post {
    color: #444;
}

.post-time {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 11px;
    color: #888;
}

.post-profile-image {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    margin-right: 10px;
}
.post-options {
    position: absolute;
    font-size: 16px;
    right: 5px;
    bottom: 5px;
    color: #888;
}

.login {
    background-color: #444 !important;
}

.login .logo {
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
    text-align: center;
}



.login .content h3 {
    color: #000;
}

.login .content p {
    color: #222;
}

.login .content .login-form,
.login .content .forget-form {
    padding: 0px;
    margin: 0px;
}

.login .content .input-icon {
    border-left: 2px solid #35aa47 !important;
}

.login .content .input-icon .form-control {
    border-left: 0;
}

.login .content .forget-form {
    display: none;
}

.login .content .register-form {
    display: none;
}

.login .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
}

.login .content .form-actions {
    background-color: #fff;
    clear: both;
    border: 0px;
    padding: 0px 30px 25px 30px;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: 60px;
}

.login .content .form-actions .checkbox {
    margin-left: 0;
    padding-left: 0;
}

.login .content .forget-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.login .content .register-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
    margin-top: 8px;
    display: inline-block;
}

.login .content .form-actions .btn {
    margin-top: 1px;
}

.login .content .forget-password {
    position: relative;
    top: 25px;
}

.login .content .create-account {
    border-top: 1px dotted #eee;
    padding-top: 10px;
    margin-top: 15px;
}

.login .content .create-account a {
    display: inline-block;
    margin-top: 5px;
}

/* select2 dropdowns */
.login .content .select2-container {
    border-left: 2px solid #35aa47 !important;
}

.login .content .select2-container .select2-choice {
    border-left: none !important;
}

.login .content .select2-container i {
    display: inline-block;
    position: relative;
    color: #ccc;
    z-index: 1;
    top: 1px;
    margin: 4px 4px 0px -1px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
}

.login .content .has-error .select2-container i {
    color: #b94a48;
}

.login .content .select2-container a span {
    font-size: 13px;
}

.login .content .select2-container a span img {
    margin-left: 4px;
}

.login .copyright {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: #999;
    font-size: 13px;
}

.controllers-call {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    z-index: 1;
    padding: 0 70px 0 70px;
    margin-bottom: 10px;
}
.div_controlButton {
    text-align: center;
    margin: auto;
    background-color: rgba(255,255,255,0.2);
}
.controllers-call-black {
    background-color: black !important;
}

.modal-phone {
    background-color: rgba(0,0,0,0);
    display: table;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}
.modal-phone-child {
    position: absolute;
    margin: auto;
    width: 25%;
    height: 100px;
    background-color: rgba(0,0,0, .6);
    border-radius: 8px !important;
    display: table-cell;
    vertical-align: middle;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

/*End Call page css*/
.transparent-modal-phone {
    background-color: rgba(0,0,0,0);
    display: table;
    position: absolute;
    text-align: center;
}
.cus-content-modal-phone {
    display: table-cell;
    vertical-align: middle;
}
.content-modal-calling {
    background-color: rgba(0,0,0, .6);
    border-radius: 8px !important;
}
.custom-bottom-answer {
    background-color: #5AD427;
    border: none;
    width: 50%;
    margin-right: 5px;
}
.custom-bottom-cancel {
    background-color: #FF3A2D;
    border: none;
    width: 50%;
    margin-left: 5px;
}
.buttonCall-control {
    width: 19.38%;
    height: 100%;
    padding: 5px 0 5px 0;
}
.active-buttonCall-control {
    border-bottom: 3px solid #019875;
    color: #019875 !important;
}

.image-count {
    background-color: #E74C3C;
    color: #ffffff;
    position: relative;
    top: -25px;
    border-radius: 5px;
}
.image-count span {
    padding: 0 10px 0 10px;
    font-size: 10px;
    font-family: fantasy;
}

.margin-auto {
    margin: auto;
}
.content-scroll-custom {
    background-color: rgba(74, 74, 74, .3);
    background: #5A6883;
    background-image: linear-gradient(#5A6883, #3D4D6B);
    background: -moz-linear-gradient(top,  #5A6883 0%, #3D4D6B 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5A6883), color-stop(100%,#3D4D6B));
    background: -webkit-linear-gradient(top,  #5A6883 0%,#3D4D6B 100%);
    background: -o-linear-gradient(top,  #5A6883 0%,#3D4D6B 100%);
    background: -ms-linear-gradient(top,  #5A6883 0%,#3D4D6B 100%);
    background: linear-gradient(to bottom,  #5A6883 0%,#3D4D6B 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ad6fd', endColorstr='#1d62f0',GradientType=0 );
    height: 100%;
}
.content-scroll .scroll {
    width: 100%;
    height: 100%;
}
.content-scroll-custom .scroll {
    width: 100%;
    height: 100%;
}

.btn-login-custom {
    background-color: #fbca01;
    border: none;
    border-radius: 2px;
    line-height: 0;
    min-height: 45px;
    width: 98%;
}

.btn-login-custom * {
    color: #ffffff;
}

.input-login-form {
    border: none;
    padding: 0;
}
.input-login-form input {
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    padding-right: 0;
    text-align: center;
}
.btn-cus-sendMail {
    background-color: #5AD427 !important;
    color: #ffffff !important;
    width: 100%;
    border-radius: 100px;
    min-height: 35px !important;
    line-height: 0;
    margin-top: 50px;
}
.wrapper-login {
    display: table;
    position: absolute;
    text-align: center;
}
.input-login-form ::-webkit-input-placeholder {
    text-align: center;
}
.label-custom-field {
    border: none;
    padding-bottom: 0;
    color: white
}
.custom-hr {
    width: 100%;
    margin-top: 1px;
    margin-bottom: 10px;
}
.btn-process-refresh {
    background-color: #8E8E93 !important;
    color: whitesmoke !important;
    width: 80%;
}

.btn-process-next {
    background-color: #34AADC !important;
    color: whitesmoke !important;
    width: 80%;
}

.current {
    border-left: 5px solid;
}

.btn-success-custom {
    background-color: #4CD964;
    border-color: #4CD964;
}
.li-list-onlineUser {
    background-color: rgba(0, 0, 0, .3);
    border-color: rgba(0, 0, 0, .3);
    color: whitesmoke;
    font-size: 20px;
}
.li-list-onlineUser button {
    color: whitesmoke;
}

/*phone call screen*/
@keyframes main {
    0% { box-shadow: 0 0 100px #4CD964; }
    50% { box-shadow: none; }
    100% { box-shadow: 0 0 100px #4CD964; }
}

@-webkit-keyframes main {
    0% { box-shadow: 0 0 100px #4CD964; }
    50% { box-shadow: 0 0 0; }
    100% { box-shadow: 0 0 100px #4CD964; }
}

.main {
    -webkit-animation: main 3.2s linear infinite;
    -moz-animation: main 3.0s linear infinite;
    -ms-animation: main 3.0s linear infinite;
    -o-animation: main 3.0s linear infinite;
    -webkit-animation-direction: alternate;
    animation: main 3.0s linear infinite;
}

@keyframes div1 {
    0% { box-shadow: 0 0 50px rgba(255, 255, 255, .5); }
    50% { box-shadow: none; }
    100% { box-shadow: 0 0 50px rgba(255, 255, 255, .5); }
}

@-webkit-keyframes div1 {
    0% { box-shadow: 0 0 50px rgba(255, 255, 255, .5); }
    50% { box-shadow: 0 0 0; }
    100% { box-shadow: 0 0 50px rgba(255, 255, 255, .5); }
}

.div1 {
    -webkit-animation: div1 3.2s linear infinite;
    -moz-animation: div1 3.0s linear infinite;
    -ms-animation: div1 3.0s linear infinite;
    -o-animation: div1 3.0s linear infinite;
    -webkit-animation-direction: alternate;
    animation: div1 3.0s linear infinite;
}

@keyframes div2 {
    0% { box-shadow: 0 0 50px rgba(255, 255, 255, .3); }
    50% { box-shadow: none; }
    100% { box-shadow: 0 0 50px rgba(255, 255, 255, .3); }
}

@-webkit-keyframes div2 {
    0% { box-shadow: 0 0 50px rgba(255, 255, 255, .3); }
    50% { box-shadow: 0 0 0; }
    100% { box-shadow: 0 0 50px rgba(255, 255, 255, .3); }
}

.div2 {
    -webkit-animation: div2 3.2s linear infinite;
    -moz-animation: div2 3.0s linear infinite;
    -ms-animation: div2 3.0s linear infinite;
    -o-animation: div2 3.0s linear infinite;
    -webkit-animation-direction: alternate;
    animation: div2 3.0s linear infinite;
}

.waiting-screen {
    margin: auto;
    top: 0;
    bottom: 100px;
    position: absolute;
    left: 0;
    right: 0;
}

.avatar-calling {
    margin: auto;
    top: 0;
    bottom: 100px;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 50%;
    background-color: whitesmoke;
}

.pac-matched,.pac-item-query {
    width: inherit !important;
}
.pac-item{
    padding:10px;
}

/*3D scroll cube*/
.container {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto 40px;
    text-align: center;
    border: 1px dashed #CCC;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
}

#cube {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}

#cube figure {
    display: block;
    position: absolute;
    width: 196px;
    height: 196px;
    border: 2px solid black;
    line-height: 196px;
    font-size: 120px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#cube.panels-backface-invisible figure {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

#cube .front  { background: hsla(   0, 100%, 50%, 0.7 ); }
#cube .back   { background: hsla(  60, 100%, 50%, 0.7 ); }
#cube .right  { background: hsla( 120, 100%, 50%, 0.7 ); }
#cube .left   { background: hsla( 180, 100%, 50%, 0.7 ); }
#cube .top    { background: hsla( 240, 100%, 50%, 0.7 ); }
#cube .bottom { background: hsla( 300, 100%, 50%, 0.7 ); }

#cube .front  { transform: rotateY(   0deg ) translateZ( 100px ); }
#cube .back   { transform: rotateX( 180deg ) translateZ( 100px ); }
#cube .right  { transform: rotateY(  90deg ) translateZ( 100px ); }
#cube .left   { transform: rotateY( -90deg ) translateZ( 100px ); }
#cube .top    { transform: rotateX(  90deg ) translateZ( 100px ); }
#cube .bottom { transform: rotateX( -90deg ) translateZ( 100px ); }



/*GIap*/
.error {
    color: yellow;
    text-transform: uppercase;
    font-weight: bold;
}
.item-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 48px 16px 16px;
    max-width: 65%;
    border: none;
    background: #fff;
    color: #333;
    text-indent: 0.01px;
    text-overflow: '';
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    direction: rtl;
}
.customHr{
    border-bottom: 1px solid #9e9e9e;
    width: 100%;
    margin-top: 39px;
    margin-bottom: 1px;
    border-top: none;
}

.cus-selfVideo {
    position:absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-left: 15px;
    z-index: 99999;
}
.cus-selfVideo * {
    z-index: 99999;
}

.wrap_callerVideo {
    width: 100%;
    height: 80%;
    display: table;
    table-layout: fixed;
    border-spacing: 10px;
    z-index: -1 !important;
}

.wrap_callerVideo * {
    z-index: -1 !important;
}

.childCallerVideo {
    display: table-cell;
    z-index: -1 !important;
}

.wrapper-funCall {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: black;
}

.OT_bar {
    display: none;
}

.OT_mute {
    display: none;
}


.infoDevice {
    padding-left: 20px;
}
.custom-item-listDevice {
    padding-left: 10px;
    background-color: #ffffff;
    border-top: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 2px;
}
.custom-item-listDevice:active {
    background-color: rgba(137, 140, 144, 0.5) !important;
}
.border-top {
    border-top: 2px solid #ddd !important;
}
.status-device {
    margin-left: 10px;
}
.info-device {
    padding-top: 15px;
}
.cus-icon-arrow-R {
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: 25px;
}

.loadingImage{
    text-align: center;
}

.Center-Container {
    padding: 5% 0 0 0;
}

.font-responsive {
    font-size: 100px;
    font-weight: lighter;
}

.btn-reset {
    background-color: #8E8E93 !important;
    width: 100%;
}
.btn-reset span {
    color: #f5f5f5;
    font-size: 15px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 4px;
}

.btn-save {
    background-color: #5AD427 !important;
    width: 100%;
}
.btn-save span {
    color: #f5f5f5;
    font-size: 15px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 4px;
}
#inputSearch:focus {
    border-bottom: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.tabs {
    position: relative;
    height: 48px;
    background-color: #015190;
    margin: 0 auto;
    width: 100%;
    white-space: nowrap;
    background-image: none;
}
.tabs li.tab {
    display: block;
    float: left;
    line-height: 48px;
    height: 48px;
    margin: 0;
    width: 15%;
}
.tabs li.tab a {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: color 0.28s ease;
    -moz-transition: color 0.28s ease;
    -o-transition: color 0.28s ease;
    -ms-transition: color 0.28s ease;
    transition: color 0.28s ease; }
.tabs li.tab a:hover {
    color: #f9c9cb; }
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #f6b2b5;
    will-change: left, right; }

ul.tabs li.tab {
    padding: 0;
    -webkit-box-shadow: 0px -4px 12px 0px rgba(54, 50, 50, 0.84);
    -moz-box-shadow:    0px -4px 12px 0px rgba(54, 50, 50, 0.84);
    box-shadow:         0px -4px 12px 0px rgba(54, 50, 50, 0.84);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.margin-bot0 {
    margin-bottom: 0 !important;
}
.margin-top50 {
    margin-top: 50px;
}
.hr-data-device {
    background-color: red;
}

.green-text {
    color: #59ff38;
}
.red-text {
    color: #ff3a44;
}

.next-button-submitinjury {
    background-color: #fbca01 !important;
    color: #444;
    width: 60px;
    -webkit-box-shadow: inset 0px 0px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 12px -2px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 12px -2px rgba(0,0,0,0.75);
    border: none;
    border-radius: 10px;
}
.btn-submitinjury {
    background-color: rgba(13, 13, 14, .4) !important;
    color: #fff;
    width: 60px;
    -webkit-box-shadow: inset 0px 0px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 12px -2px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 12px -2px rgba(0,0,0,0.75);
    border: none;
    border-radius: 10px;
}
.btn-submitinjury:active, .btn-submitinjury:focus {
    background-color: rgba(13, 13, 14, .4) !important;
    color: #fff !important;
}

.opacity02 {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}
.opacity1 {
    opacity: 1;
}
.custom-modal-size {
    margin: auto;
    top: 20%;
    right: 0;
    bottom: 20%;
    left: 0;
    overflow: visible;
    min-height: 50%;
    text-align: center;
    border-radius: 5px;
}
.btn-modal-parent {
    margin-top: 5%;
}
.btn-modal-talk {
    width: 80%;
    border-radius: 15px;
    border: 2px solid #fff;
    padding: 7px 30px 7px 30px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #fff;
    -webkit-box-shadow: inset 2px 4px 9px 0px rgba(163,163,163,1);
    -moz-box-shadow: inset 2px 4px 9px 0px rgba(163,163,163,1);
    box-shadow: inset 2px 4px 9px 0px rgba(163,163,163,1);
}

.btn-modal-later {
    border-radius: 15px;
    border: 2px solid #fff;
    padding: 7px 30px 7px 30px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #fbca01;
    -webkit-box-shadow: inset 2px 4px 9px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 2px 4px 9px 0px rgba(0, 0, 0, 0.7);
    box-shadow: inset 2px 4px 9px 0px rgba(0, 0, 0, 0.7);
}
.parent-img-caller {
    margin-top: 25px;
}
.img-content {
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    padding: 3px;
    background-color: #FFFFFF;
}

.name-caller {
    margin-top: 10px;
    background-color: #FFFFFF;
    padding: 20px;
}
.name-caller label {
    font-size: 45px;
    font-weight: 200;
    color: #be947f;
}
.name-caller span {
    font-size: 17px;
    font-weight: 300;
    color: #000;
}
.reveal-animation.ng-enter, .reveal-animation.ng-leave {
    -webkit-transition:0.3s linear all;
    transition:0.3s linear all;
}

.reveal-animation.ng-enter {
    opacity: 0;
}

.reveal-animation.ng-enter.ng-enter-active {
    opacity: 1;
}

.reveal-animation.ng-leave {
    opacity: 1;
}

.reveal-animation.ng-leave.ng-leave-active {
    opacity: 0;
}

.img-shareCall {
    margin: 0 10px 0 10px;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background-color: wheat;
    padding: 5px;
}
.imgShareCallSelect {
    border: 2px solid #4d4d4d;
}
.wrap-lstImageShare {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 150px;
    height: 100%;
    transition: width 0.1s;
}
.listImgShare-show {
    width: 30px;
}

.wrap-ble {
    background-color: #EAE9E3;
    width: 100%;
    height: 100%;
}
.wrap-imgShare {
    width: 100%;
    height: 100%;
    background-color: #EAE9E3;
}

ion-scroll[direction=y] {
    height: calc(100vh - 33px - 33px - 90px - 15px);
}
.preFileShare {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}
.popup {
    border-radius: 5px !important;
}
/*custom icon show in popup*/
.iconPopup {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.iconPopup.error {
    border-color: #f27474;
}
.iconPopup.error .x-mark {
    position: relative;
    display: block;
}
.iconPopup.error .line {
    position: absolute;
    height: 5px;
    width: 47px;
    background-color: #f27474;
    display: block;
    top: 37px;
    border-radius: 2px;
}
.iconPopup.error .line.left {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 17px;
}
.iconPopup.error .line.right {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 16px;
}
.iconPopup.warning {
    border-color: #f8bb86;
}
.iconPopup.warning .body {
    position: absolute;
    width: 5px;
    height: 47px;
    left: 50%;
    top: 10px;
    border-radius: 2px;
    margin-left: -2px;
    background-color: #f8bb86;
}
.iconPopup.warning .dot {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -3px;
    left: 50%;
    bottom: 10px;
    background-color: #f8bb86;
}
.iconPopup.info {
    border-color: #c9dae1;
}
.iconPopup.info::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 29px;
    left: 50%;
    bottom: 17px;
    border-radius: 2px;
    margin-left: -2px;
    background-color: #c9dae1;
}
.iconPopup.info::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -3px;
    top: 19px;
    background-color: #c9dae1;
}
.iconPopup.success {
    border-color: #a5dc86;
}
.iconPopup.success::before,
.iconPopup.success::after {
    content: '';
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 120px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.iconPopup.success::before {
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 60px 60px;
    -ms-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
}
.iconPopup.success::after {
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0px 60px;
    -ms-transform-origin: 0px 60px;
    transform-origin: 0px 60px;
}
.iconPopup.success .placeholder {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(165, 220, 134, 0.2);
    border-radius: 50%;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}
.iconPopup.success .fix {
    width: 5px;
    height: 90px;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.iconPopup.success .line {
    height: 5px;
    background-color: #a5dc86;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}
.iconPopup.success .line.tip {
    width: 25px;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.iconPopup.success .line.long {
    width: 47px;
    right: 8px;
    top: 38px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.iconPopup.custom {
    background-size: contain;
    border-radius: 0;
    border: none;
    background-position: center center;
    /*
 * Animations
 */

    background-repeat: no-repeat;
}
@-webkit-keyframes showSweetAlert {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
    }
    45% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-tranform: scale(0.95);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
@keyframes showSweetAlert {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
    }
    45% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        -webkit-tranform: scale(0.95);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
@-webkit-keyframes hideSweetAlert {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    100% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
}
@keyframes hideSweetAlert {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    100% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
}
.showSweetAlert {
    -webkit-animation: showSweetAlert 0.3s;
    animation: showSweetAlert 0.3s;
}
.hideSweetAlert {
    -webkit-animation: hideSweetAlert 0.2s;
    animation: hideSweetAlert 0.2s;
}
@-webkit-keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}
@keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}
@-webkit-keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}
@keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}
@-webkit-keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
}
@keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
}
.animateSuccessTip {
    -webkit-animation: animateSuccessTip 0.75s;
    animation: animateSuccessTip 0.75s;
}
.animateSuccessLong {
    -webkit-animation: animateSuccessLong 0.75s;
    animation: animateSuccessLong 0.75s;
}
.iconPopup.success.animate::after {
    -webkit-animation: rotatePlaceholder 4.25s ease-in;
    animation: rotatePlaceholder 4.25s ease-in;
}
@-webkit-keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg);
        -webkit-transform: rotateX(100deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        opacity: 1;
    }
}
@keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg);
        -webkit-transform: rotateX(100deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        opacity: 1;
    }
}
.animateErrorIcon {
    -webkit-animation: animateErrorIcon 0.5s;
    animation: animateErrorIcon 0.5s;
}
@-webkit-keyframes animateXMark {
    0% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0;
    }
    50% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0;
    }
    80% {
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
        margin-top: -6px;
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        margin-top: 0;
        opacity: 1;
    }
}
@keyframes animateXMark {
    0% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0;
    }
    50% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0;
    }
    80% {
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
        margin-top: -6px;
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        margin-top: 0;
        opacity: 1;
    }
}
.animateXMark {
    -webkit-animation: animateXMark 0.5s;
    animation: animateXMark 0.5s;
}
@-webkit-keyframes pulseWarning {
    0% {
        border-color: #f8d486;
    }
    100% {
        border-color: #f8bb86;
    }
}
@keyframes pulseWarning {
    0% {
        border-color: #f8d486;
    }
    100% {
        border-color: #f8bb86;
    }
}
.pulseWarning {
    -webkit-animation: pulseWarning 0.75s infinite alternate;
    animation: pulseWarning 0.75s infinite alternate;
}
@-webkit-keyframes pulseWarningIns {
    0% {
        background-color: #f8d486;
    }
    100% {
        background-color: #f8bb86;
    }
}
@keyframes pulseWarningIns {
    0% {
        background-color: #f8d486;
    }
    100% {
        background-color: #f8bb86;
    }
}
.pulseWarningIns {
    -webkit-animation: pulseWarningIns 0.75s infinite alternate;
    animation: pulseWarningIns 0.75s infinite alternate;
}
/*------------------------*/
.wrap-mes-popup {
    text-align: center;
}

.wrap-mes-popup h2 {
    margin-bottom: 35px;
}

.color-fff {
    color: #ffffff !important;
}

.active-li {
    background-color: #f3c90a;
    margin-right: 39px;
    width: 0px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}
.active-li a {
    color: #000 !important;
}

.has-error-input-pass  {
    border-bottom: 2px solid #ee6e73 !important;
    box-shadow: none !important;
}

/*New Design*/
.login .content {
    background-color: #015190;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    height: 100%;
}
.input-login{
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: 0.3s;
    text-align: center;
    border-radius: 2px;
}
.header-logo{
    background-image: url(../img/1_01.png);
    width: 168px;
    height: 50px;
    float: left;
    margin-left: -1px;
}

.background-header-logo-child{
    width: 100%;
    height: 26px;
    background-color: #ffffff;
    float: right;
    position: absolute;
}
.img-header{
    padding-top: 13px;
    width: 120px;
    position: absolute;
    z-index: 100;
    margin-left: -75px;
}
.span-header{
    float: right;
    padding-right: 10%;
    padding-top: 2px;
    font-weight: 600;
}
.bd-bottom{
    background: url(../img/manhinh.png);
    width: 95%;
    height: 3px;
    margin:0 auto;
    background-position-y: -41px;

}
.select-custom{
    border: none;
    background-color: #015190;
    color: white;

}
.pl{
    color: white
}
.pl::-webkit-input-placeholder {
    color: white;

}
.pl::-moz-placeholder {
    color: white;

}
.pl:-moz-placeholder {   /* Older versions of Firefox */
    color:white;

}
.pl:-ms-input-placeholder {
    color: white;

}
input[disabled], input[readonly]:not(.cloned-text-input), select[disabled], select[readonly], textarea[disabled], textarea[readonly]:not(.cloned-text-input){
    background-color:#015190;
}
.actionBar{
    float: left;
    width: 100%;
    padding: 0 10px 0 10px;
}
.customrow {
    color: white;
    padding: 15px;
}
.modal-forgotpass {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.child-modalforgot {
    position: absolute;
    top: 70px;
    bottom: 70px;
    left: 0;
    right: 0;
}
.input-mail-forgot {
    width: 100%;
}
.btn-forgotpassword {
    border-radius: 15px;
    border: 2px solid #fff;
    padding: 2% 25px 2% 25px;
    color: #000;
    font-size: 18px;
    background-color: #fff;
    -webkit-box-shadow: inset 2px 4px 9px 0px rgba(163,163,163,1);
    -moz-box-shadow: inset 2px 4px 9px 0px rgba(163,163,163,1);
    box-shadow: inset 2px 4px 9px 0px rgba(163,163,163,1);
    margin: 10px auto 10px auto;
}
.btn-bgImage:focus {
    background-color: inherit;
    box-shadow: none !important;
}
.btn-close-bgImage {
    position: absolute;
    right: 0;
    border-radius: 50%;
    background-color: #c8a100;
    color: #ffffff;
    border: 1px solid #191400;
    font-weight: bolder;
    margin-right: 10px;
    margin-top: 10px;
}
.btn-close-bgImage:hover, .btn-close-bgImage:focus {
    color: #ffffff;
    background-color: #c8a100;
    border: 1px solid #191400;
    box-shadow: none !important;
}
.btn-bgImage-popUp {
    background: url("../img/1c_07.png") no-repeat center transparent;
    border: none;
    background-size: 137px 48px;
    width: 100%;
}
.btn-bgImage-popUp:focus {
    background-color: transparent;
    box-shadow: none !important;
}
.btn-cancel-popUp {
    background: url("../img/4_05.png") no-repeat center transparent;
    border: none;
    background-size: 112px 40px;
    width: 100%;
    padding-bottom: 5px;
}
.btn-cancel-popUp:focus {
    background-color: inherit;
    box-shadow: none !important;
}
.button-addbooking {
    border-bottom: 5px solid #fff !important;
    border-top: 5px solid #fff !important;
    -webkit-box-shadow: inset -1px -2px 22px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -2px 22px -2px rgba(0,0,0,0.75);
    box-shadow: inset -1px -2px 22px -2px rgba(0,0,0,0.75);
    color: #000 !important;
    font-weight: bold;
}

.icon-error {
    color: #f3c90a;
    font-size: 25px;
    margin-right: 25px;
}
#day{
    width: 50px;
    float: left;
    color: white;

}
#month{
    width: 54px;
    float: left;
    color: white
}
#year{
    width:  70px;
    color: white
}
.button-changepass {
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    background-color: #015190;
    border: 2px solid #fff;
    color: #fff;
    -webkit-box-shadow: inset 0px 0px 20px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 20px -3px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 20px -3px rgba(0,0,0,0.75);
}
.button-saveprofile {
    border-radius: 15px;
    border: 2px solid #fff;
    padding: 7px 30px 7px 30px;
    color: #000;
    font-size: 18px;
    background-color: #fff;
    -webkit-box-shadow: inset 2px 4px 9px 0px rgba(163,163,163,1);
    -moz-box-shadow: inset 2px 4px 9px 0px rgba(163,163,163,1);
    box-shadow: inset 2px 4px 9px 0px rgba(163,163,163,1);
}
.button-savechangepass {
    border-radius: 15px;
    border: 2px solid #fff;
    padding: 7px 30px 7px 30px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #fff;
    -webkit-box-shadow: inset 2px 4px 9px 0px rgba(163,163,163,1);
    -moz-box-shadow: inset 2px 4px 9px 0px rgba(163,163,163,1);
    box-shadow: inset 2px 4px 9px 0px rgba(163,163,163,1);
}
.button-cancelchangepass {
    border-radius: 15px;
    border: 2px solid #fff;
    padding: 7px 30px 7px 30px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #f3c90a;
    text-decoration: none;
    -webkit-box-shadow: inset 3px 4px 15px -6px rgba(0,0,0,1);
    -moz-box-shadow: inset 3px 4px 15px -6px rgba(0,0,0,1);
    box-shadow: inset 3px 4px 15px -6px rgba(0,0,0,1);
}
.label-field-changepass {
    padding-left: 5%;
}
.status-listinjury {
    float: right;
}
.button-pickup {
    border-radius: 15px;
    border: 2px solid #fff;
    padding: 7px 20px 7px 20px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #fff;
    -webkit-box-shadow: inset 2px 4px 9px 0px rgba(163,163,163,1);
    -moz-box-shadow: inset 2px 4px 9px 0px rgba(163,163,163,1);
    box-shadow: inset 2px 4px 9px 0px rgba(163,163,163,1);
}
.button-done {
    border-radius: 15px;
    border: 2px solid #fff;
    padding: 7px 30px 7px 30px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #f3c90a;
    text-decoration: none;
    -webkit-box-shadow: inset 3px 4px 15px -6px rgba(0,0,0,1);
    -moz-box-shadow: inset 3px 4px 15px -6px rgba(0,0,0,1);
    box-shadow: inset 3px 4px 15px -6px rgba(0,0,0,1);
}
.label-custom-field input {
    margin-left: 2%;
}

/*start Responsive custom*/
@media (min-width: 680px) {
    .custom-modal-size {
        width: 50%;
    }
}

@media (max-width: 680px) {
    .custom-modal-size {
        width: 55%;
    }
}

@media (max-width: 440px) {
    .custom-modal-size {
        width: 90%;
    }
}
@media(max-width: 480px) {
    .custom-bottom-answer {
        background-color: #5AD427;
        margin-left: 20px;
        border: none;
        width: 110px;
        margin-right: 10px;
        min-height: 35px;
    }
    .custom-bottom-cancel {
        min-height: 35px;
        background-color: #FF3A2D;
        border: none;
        width: 110px;
    }
    .login .logo {
        margin-top: 10px;
    }

    .login .content h3 {
        font-size: 22px;
    }

    .login .checkbox {
        font-size: 13px;
    }
    .font-responsive {
        font-size: 70px;
    }
    .button-savechangepass {
        padding: 7px 10px 7px 10px;
    }
}
@media (max-height: 780px) {
    .btn-forgotpassword {
        padding: 3% 25px 10% 25px;
    }
}
/*end*/

/*icon loading*/
.spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 20px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
.ion-input-select,
select {
    -webkit-appearance: none;
    border: none;
    font-weight: 300;
    display: inline;
    vertical-align: middle;
    color: white;
    overflow: hidden;
    box-sizing: border-box;
}



.ion-input-select {
    width: 210px;
    font-size: 1rem;
    background-image: url(../img/sl.png);
    background-position-x: 225px;
    background-position-y: 35px;
    white-space: normal;
}

option {
    background:#015190;
}

select::-ms-expand {
    display: none;
}

:focus {
    outline:none;
}
.btn-black {
    color: black;
}