.span-input-color{
    color: rgba(149,165,166,1);
}
.has-error {
    border-left: 3px solid #cc2511;
    border-right: 3px solid #cc2511;
}
form i.icon.error {
    color: #ef4e3a;
}
.wide-as-needed {
    overflow: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.searchform{
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 300px;
}
.itemsearch{
    width: 100%;
    background-color: #F7F7F7;
}
.has-show{
    display: none;
}
.footer_injury{
    margin-top: 10px;
    width: 100%;
    height: 60px;
    /*background-color: rgba(217, 223, 225, 0.6);*/
    white-space: nowrap;
}
.full{
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    display: table;
    table-layout: fixed;
}
.child {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.blackbg {
    background-color: rgba(0, 0, 0, 0.7) !important;
}
.bg-descImg {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0;
    text-align: left !important;
}
.h-descImg{
    color: rgba(255, 255, 255, 1);
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
}
.cssFade {
    transition: 0.5s linear all;
    opacity: 1;
    text-align: right;
}
.cssFade.ng-hide {
    opacity: 0;
}
.border-none{
    border: none !important;
}
.transparent {
    background: #2B2B2B !important;
}
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
}
.bg-menu-left{
    background: url("../img/bg-menu-left.jpg");
    background-size: cover;
}
.item-menu {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none;
    color: rgba(232, 231, 234, 0.8);
    margin-bottom: 1px;
}
.item-menu a {
    background-color: rgba(0, 0, 0, 0) !important;
    margin: 0 3px 0 3px;
}
.item-menu a:active, .item-menu a:focus, .item-menu a:visited {
    background-color: rgba(68, 0, 94, 0.3) !important;
    margin: 0 3px 0 3px;
    color: rgba(232, 231, 234, 1);
}
.margin-statusbar{
    margin-top: 20px;
}
.done-btn{
    background-color: rgba(0, 0, 0, 0.7) !important;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px !important;
}
.heightcs {
    height: 100% !important;
}
.heightcs div{
    height: 100% !important;
}
.custom-texarea{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 84px;
    margin-right: 100px;
    padding: 0 5px 0 5px;
}
