.span-input-color{
    color: rgba(149,165,166,1);
}
.has-error {
    border-left: 3px solid #cc2511;
    border-right: 3px solid #cc2511;
}
form i.icon.error {
    color: #ef4e3a;
}
.wide-as-needed {
    overflow: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.searchform{
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 300px;
}
.itemsearch{
    width: 100%;
    background-color: #ececec;
}
.has-show{
    display: none;
}
.footer_injury{
    margin-top: 10px;
    width: 100%;
    height: 60px;
    background-color: rgba(217, 223, 225, 0.6);
    white-space: nowrap;
}
.full{
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    display: table;
    table-layout: fixed;
}
.child {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.blackbg {
    background-color: rgba(0, 0, 0, 0.7) !important;
}
.cssFade {
    transition: 0.5s linear all;
    opacity: 1;
}
.cssFade.ng-hide {
    opacity: 0;
}
.border-none{
    border: none !important;
}