<ion-view >
    <ion-content class="content-scroll">  
            <div>
                    <img src="img/bk.png" style="width:200px">
              </div>
              <div class="title-0">
                  <div class="title-1" style="font-size: 18px;color: white;margin-left: 28px;padding-top: 15px;float:right;width: 160px;">Type Booking</div>
                   <button id="register-back-btn" type="button" class="button button-clear" ui-sref="security.login" style="margin-top: 9px;
  margin-left: 6px;color:white">
                           <i class="fa fa-reply fa-2x"></i> </button>
                        </div>
        <ion-list>
            <div class="bl" ng-click="chooseBookingType('Specialist')"><div class="i1"><span style="position: absolute;
  margin-top: 11px;">Specialist</span></div></div>
            <div class="bl1" ng-click="chooseBookingType('GP')"><div class="i2"><span style="position: absolute;
  margin-top: 11px;">GP</span></div></div>
            <div class="bl" ng-click="chooseBookingType('Physio')"><div class="i3"><span style="position: absolute;
  margin-top: 11px;">Physio</span></div></div>
            <div class="bl1" ng-click="chooseBookingType('HandTherapy')"><div class="i4"><span style="position: absolute;
  margin-top: 11px;">Hand Therapy</span></div></div>
           
        </ion-list>
         
    </ion-content>
</ion-view>