<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.injurymanagement949685" version="1.1.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>InjuryManagement</name>
  <description>&#xD;
    An Ionic Framework and Cordova project.&#xD;
  </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">&#xD;
    Ionic Framework Team&#xD;
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <plugin name="Bluetooth" value="org.apache.cordova.bluetooth.BluetoothPlugin" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="PushPlugin">
      <param name="ios-package" value="PushPlugin" />
  </feature>
  <feature name="http://api.phonegap.com/1.0/camera" />
  <feature name="http://api.phonegap.com/1.0/file" />
  <icon src="www/img/icons/android/mipmap-hdpi/ic_launcher.png" width="72" height="72" />
  <icon src="www/img/icons/android/mipmap-mdpi/ic_launcher.png" width="48" height="48" />
  <icon src="www/img/icons/android/mipmap-xdpi/ic_launcher.png" width="96" height="96" />
  <icon src="www/img/icons/android/mipmap-xxdpi/ic_launcher.png" width="144" height="144" />
  <icon src="www/img/icons/android/mipmap-xxxdpi/ic_launcher.png" width="192" height="192" />
  <feature name="Media">
    <param name="android-package" value="org.apache.cordova.media.AudioHandler" />
  </feature>
  <feature name="Camera">
    <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
  </feature>
</widget>