<ion-view >
    <div class="logo">
        <a ui-sref="login">
            <img src="theme/assets/logo.png">
        </a>
    </div>
    <div class="content">
        <form method="post" class="" novalidate name="forgetForm" style="display: block;"   >
            <h3>Forget Password ?</h3>
            <p>
                Enter your e-mail address below to reset your password.

            </p>

            <div class="form-group" >
                <div class="input-icon">
                    <input type="text" ng-model="email" placeholder="Email"/>
                </div>
            </div>

            <div class="form-actions">
                <button type="button" id="back-btn" ui-sref="security.login" class="button button-small button-positive">
                    Back </button>
                <button class="button button-small button-positive" ng-click="forgotPass()">
                    Submit
                </button>
            </div>
        </form>
    </div>


    <div class="copyright ">
        2014 &copy; REDIMED Dashboard
    </div>

</ion-view>