<!--<div class="row">
	<div class="col-lg-12">
		<table class="mdt-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>
						Creation Date&nbsp-->
						<!-- <a ng-if="alert.search.Creation_date === 'asc'" ng-click="alert.onOrderBy({field: 'Creation_date', order: 'desc'})">
							<i class="fa fa-caret-up"></i>
						</a>
						<a ng-if="alert.search.Creation_date === 'desc'" ng-click="alert.onOrderBy({field: 'Creation_date', order: 'asc'})">
							<i class="fa fa-caret-down"></i>
						</a> -->
					<!--</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	<div class="col-lg-12">
</div>-->

<label class="un-label-popup-header-m un-bg-label-B41E46-m" ng-show='alert.checkedit == false'>Select Alert</label>
<button class="un-button un-bgBlack pull-right un-margin-bottom-6px" ng-if="action.checkbox" ng-click="onSavecheck({data: alert.checkbox})">Save</button>
<div class="row">
	<div class="col-lg-12">
		<table class="mdt-table">
			<thead>
				<tr>
					<th ng-show="alert.checkedit == false"></th>
					<th>Name</th>
					<th>Description</th>
					<th>
						Creation Date&nbsp
						<!-- <a ng-if="alert.search.Creation_date === 'asc'" ng-click="alert.onOrderBy({field: 'Creation_date', order: 'desc'})">
							<i class="fa fa-caret-up"></i>
						</a>
						<a ng-if="alert.search.Creation_date === 'desc'" ng-click="alert.onOrderBy({field: 'Creation_date', order: 'asc'})">
							<i class="fa fa-caret-down"></i>
						</a> -->
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="l in alert.list" ng-show='alert.checkedit == false'>
					<td style="text-align: center" ng-if="action.checkbox">
						<input type="checkbox" class="form-control" ng-model="itemcheck" 
							ng-change="alert.onCheckbox({value: itemcheck, list: l})">
					</td>
					<td>{{l.name}}</td>
					<td>{{l.description}}</td>
					<td>{{l.Creation_date | filterdate: 'DD/MM/YYYY'}}</td>
				</tr>
				<tr ng-repeat="l in alert.bylist" ng-show='alert.checkedit == true'>
					<td>{{l.name}}</td>
					<td>{{l.description}}</td>
					<td>{{l.Creation_date | filterdate: 'DD/MM/YYYY'}}</td>
				</tr>
			</tbody>
		</table>
		<div style="text-align: right;" ng-show='alert.checkedit == false'>
			<pagination boundary-links="true" total-items="alert.count_list" ng-model="alert.searchlist.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="alert.searchlist.limit" max-size="alert.searchlist.max_size" ng-change="setPage(alert.searchlist.page)" >
			</pagination>
		</div>
		<div style="text-align: right;" ng-show='alert.checkedit == true'>
			<pagination boundary-links="true" total-items="alert.count" ng-model="alert.bysearch.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="alert.bysearch.limit" max-size="alert.bysearch.max_size" ng-change="onPaging(alert.bysearch.page)" >
			</pagination>
		</div>
	</div>
</div>
<!--
<script type="text/ng-template" id="dialogAlertRemove">
    <div class="modal-body">
        <p>Do you want to remove this alert ?</p>
    </div>
    <div class="modal-footer">
        <button class="un-button-submit-m ng-scope" ng-click="ok()">OK</button>
        <button class="un-button-submit-m ng-scope" ng-click="cancel()">Cancel</button>
    </div>
 </script>

 <script type="text/ng-template" id="dialogAlertEdit">
 	<style type="text/css">
          .modal.in .modal-dialog {
           margin-top:50px;
          }
     </style>
    <div class="modal-body">
        <alert-edit alert-id="alert.id" success="alert.success"></alert-edit>
    </div>
 </script>-->