<div>
	<label class="un-label-popup-header-m un-bg-label-B41E46-m" ng-show='alert.checkedit == false'>Add Referral</label>
	<button class="btn pull-right un-save-m ng-scope" ng-if="action.checkbox" ng-click="onSavecheck({data: alert.checkbox})">Save</button>
</div>
<table class="mdt-table">
	<thead>
		<tr>
			<th ng-if="action.checkbox"></th>
			<th>Name</th>
			<th>Description</th>
			<th>
				Creation Date&nbsp
				<a ng-if="alert.search.Creation_date === 'asc'" ng-click="alert.onOrderBy({field: 'Creation_date', order: 'desc'})">
					<i class="fa fa-caret-up"></i>
				</a>
				<a ng-if="alert.search.Creation_date === 'desc'" ng-click="alert.onOrderBy({field: 'Creation_date', order: 'asc'})">
					<i class="fa fa-caret-down"></i>
				</a>
			</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="l in alert.list">
			<td ng-if="action.checkbox">
				<input type="checkbox" class="form-control" ng-model="itemcheck" 
					ng-change="alert.onCheckbox({value: itemcheck, list: l})">
			</td>
			<td>{{l.name}}</td>
			<td>{{l.description}}</td>
			<td>{{l.Creation_date | filterdate: 'DD/MM/YYYY'}}</td>
			<td align="center">
				<button class="un-button-submit-m" ng-click="alert.dialog.edit(l)" ng-if="action.edit">
				<i class="fa fa-pencil-square-o"></i>
				Edit</button>
				<button class="un-button-submit-m" ng-click="alert.dialog.remove(l)" ng-if="action.remove">
				<i class="fa fa-times"></i>
				Remove</button>
			</td>
		</tr>
	</tbody>
</table>
<div align="right">
	<pagination boundary-links="true" total-items="alert.count" ng-model="alert.search.page" 
    class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
    items-per-page="alert.search.limit" max-size="alert.search.max_size" ng-change="alert.onPage(alert.search.page)">
	</pagination>
</div>

<script type="text/ng-template" id="dialogAlertRemove">
    <div class="modal-body">
        <p>Do you want to remove this alert ?</p>
    </div>
    <div class="modal-footer">
        <button class="un-button-submit-m ng-scope" ng-click="ok()">OK</button>
        <button class="un-button-submit-m ng-scope" ng-click="cancel()">Cancel</button>
    </div>
 </script>

 <script type="text/ng-template" id="dialogAlertEdit">
 	<style type="text/css">
          .modal.in .modal-dialog {
           margin-top:50px;
          }
     </style>
    <div class="modal-body">
        <alert-edit alert-id="alert.id" success="alert.success"></alert-edit>
    </div>
 </script>