<ion-view>
 <img src="img/6.png" style="width:100%;height:100%" >
    <ion-content >
          <div class="wrapper-login has-header" style="width: 100%; height: 100%;margin-left: -5px;">
            <div class="cus-content-modal-phone content">
              <div class="backgr" style="">
                <a ui-sref="login" >
                    <img src="img/logo.png" style="width: 287px;">
                </a>
                <div class="form-group-home" style="margin-top: 30px;" >
                  <div>
                    <div class="urgent" ng-click="emergency()" style="">
                    </div>
                      <div class="hot-line " ng-click="dialNumber(01654901590)"  >
                    </div>
                    <br>
                    <div class="online-booking" ng-click="emergency()" >
                    </div>
                    <br>
                     <div class="online-sport" ng-click="noneEmergency()" >
                    </div>
                  </div>
                </div>
                  <div class="copyright">
                   <div class="f-2"></div>
                   <div class="f-1"></div>
                </div>
             </div>
            </div>
        </div>
    </ion-content>
</ion-view>