 <div class="portlet box blue ng-scope">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-medkit"></i> Edit Company
        </div>
        <div class="pull-right navbar-right">
            <!-- Single button -->
         <button style="margin-right: 0;" type="button" class="btn btn-default green" ng-click="company.save()">
                    Save
              </button>
        </div>
    </div>
    <div class="portlet-body">
		 <!-- FORM --> 
	   	<form name="FirstForm" novalidate>
			<div class="row">
			  <div class="col-md-3">
			  	<div class="form-group">
				    <label for="company.form.Company_name"  >Company name</label>
				    <input type="text" class="form-control" ng-model="company.form.Company_name" name="CompanyName" id="Company_name">
				 </div>
			  </div>
			  <div class="col-md-3">
			  	<div class="form-group">
				    <label for="company.form.Industry">Industry</label>
				    <input type="text" class="form-control" ng-model="company.form.Industry">
				 </div>
			  </div>
			   <div class="col-md-3">
			  	<div class="form-group">
				    <label for="company.form.Addr">Addr</label>
				    <input type="text" class="form-control" ng-model="company.form.Addr">
				 </div>
			  </div>
			  <div class="col-md-3">
			  	<div class="form-group">
				    <label for="company.form.CODE">CODE</label>
				    <input type="text" class="form-control" ng-model="company.form.CODE" >
				 </div>
			  </div>
			</div>

			<div class="row">
			<div class="col-md-3">
			  	<div class="form-group">
				    <label for="company.form.country">Country</label>
				    <input type="text" class="form-control" ng-model="company.form.country">
				 </div>
			  </div>
			  <div class="col-md-3">
			  	<div class="form-group">
				    <label for="company.form.Phone">Phone</label>
				    <input type="text" class="form-control" ng-model="company.form.Phone" >
				 </div>
			  </div>
			  <div class="col-md-3">
			  	<div class="form-group">
				    <label for="company.form.State">State</label>
				    <input type="text" class="form-control" ng-model="company.form.State" >
				 </div>
			  </div>
			  <div class="col-md-3">
			  	<div class="form-group">
				    <label for="company.form.Description">Description</label>
				    <input type="text" class="form-control" ng-model="company.form.Description" >
				 </div>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-3">
			  	<div class="form-group">
				    <label for="company.form.latitude">Latitude</label>
				    <input type="text" class="form-control" ng-model="company.form.latitude" id="latitude" name="latitude">
				 </div>
			  </div>
			  <div class="col-md-3">
			  	<div class="form-group">
				    <label for="company.form.longitude">Longitude</label>
				    <input type="text" class="form-control" ng-model="company.form.longitude" id="longitude" name="longitude">
				 </div>
			  </div>
			  <div class="col-md-3">
			  	<div class="form-group">
				    <label for="company.form.PO_number">PO Number</label>
				    <input type="text" class="form-control" ng-model="company.form.PO_number" id="PO_number" name="PO_number">
				 </div>
			  </div>
			  <div class="col-md-3">
			  	<div class="form-group">
				    <label for="company.form.postcode">Postcode</label>
				    <input type="text" class="form-control" ng-model="company.form.postcode" name="postcode" id="postcode">
				 </div>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-2">
			  	<div class="form-group">
				    <input type="checkbox" id="company.form.isExtra" ng-model="company.form.isExtra"  ng-true-value=1 ng-false-value=0 ng-checked="company.form.isExtra">
				    <label for="company.form.isExtra">Is Extra</label>
				 </div>
			  </div>
			  <div class="col-md-2">
			  	<div class="form-group">
				    <input type="checkbox" id="company.form.isPO" ng-model="company.form.isPO" ng-true-value=1 ng-false-value=0 ng-checked="company.form.isPO">
				     <label for="company.form.isPO">Is PO</label>
				 </div>
			  </div>
			  <div class="col-md-2">
			  	<div class="form-group">
				    <input type="checkbox" id="company.form.isProject" ng-model="company.form.isProject" ng-true-value=1 ng-false-value=0 ng-checked="company.form.isProject">
				     <label for="company.form.isProject">Is Project</label>
				 </div>
			  </div>
			  <div class="col-md-2">
			  	<div class="form-group">
				    <input type="checkbox" id="company.form.isCalendar" ng-model="company.form.isCalendar" ng-true-value=1 ng-false-value=0 ng-checked="company.form.isCalendar">
				    <label for="company.form.isCalendar">Is Calendar</label>
				 </div>
			  </div>
			  <div class="col-md-2">
			  	<div class="form-group">
				    <input type="checkbox" id="company.form.isInvoiceEmailToUser" ng-model="company.form.isInvoiceEmailToUser" ng-true-value=1 ng-false-value=0 ng-checked="company.form.isInvoiceEmailToUser">
				    <label for="company.form.isInvoiceEmailToUser">Is Invoice</label>
				 </div>
			  </div>
			   <div class="col-md-2">
			  	<div class="form-group">    
				    <input type="checkbox" id="company.form.isAddContactEmailToResult" ng-model="company.form.isAddContactEmailToResult" ng-true-value=1 ng-false-value=0 ng-checked="company.form.isAddContactEmailToResult">
				    <label for="company.form.isAddContactEmailToResult">Is Add To Result</label>
				 </div>
			  </div>
			</div>
			<div class="row">
		        <div class="col-md-3">
				  	<div class="form-group">
					    <label for="company.form.invoice_email">Invoice Email</label>
					    <input type="email" class="form-control" ng-model="company.form.invoice_email" name="invoice_email" id="invoice_email">
					</div>
				</div>
				 <div class="col-md-3">
				  	<div class="form-group">
					    <label for="company.form.report_to_email">Report to email</label>
					    <input type="email" class="form-control" ng-model="company.form.report_to_email" id="report_to_email" name="report_to_email">
					 </div>
				  </div>
				<div class="col-md-3">
				  	<div class="form-group">
					    <label for="company.form.Email">Email</label>
					    <input type="email" class="form-control" ng-model="company.form.Email" name="Email" id="Email" >
					 </div>
				  </div>
			    <div class="col-md-3">
			  	<div class="form-group">
				    <label for="company.form.result_email">Result Email</label>
				    <input type="email" class="form-control" ng-model="company.form.result_email" name="result_email" id="result_email">
				 </div>
			    </div>
			</div>
			<div class="row">
			 <div class="col-md-3">
			  	<div class="form-group">
				    <label for="company.form.Site_medic">Site Medic</label>
				    <input type="text" class="form-control" ng-model="company.form.Site_medic">
				 </div>
			  </div>
			  <div class="col-md-3">
			  	<div class="form-group">
				    <label for="company.form.IMA">IMA</label>
				    <input type="text" class="form-control" ng-model="company.form.IMA">
				 </div>
			  </div>
			  <div class="col-md-3">
			  	<div class="form-group">
				    <label for="company.form.Site_name">Site Name</label>
				    <input type="text" class="form-control" ng-model="company.form.Site_name">
				 </div>
			  </div>
			  <div class="col-md-3">
			  	<div class="form-group">
				    <label for="company.form.Medic_contact_no">Medic Contact No</label>
				    <input type="text" class="form-control" ng-model="company.form.Medic_contact_no">
				 </div>
			  </div>
			</div>

			<div class="row">
			<div class="col-md-3">
			  	<div class="form-group">
				    <label for="company.form.default_status">Default Status</label>
				    <input type="text" class="form-control" ng-model="company.form.default_status">
				 </div>
			  </div>
			  <!-- parent_id -->
			  <div class="col-md-3">
			  	<div class="form-group">
				    <label for="company.form.parent_id">Parent Company</label>
				   <!--  <input type="text" class="form-control" ng-model="company.form.parent_id" placeholder="parent_id"> -->
				   <button class="form-control btn btn-default green" ng-model="company.form.parent_id" ng-click="company.addCompany()">
				   	<span  ng-if="company.Company_name_Parent">{{company.Company_name_Parent}}</span>
					<span  ng-if="!company.Company_name_Parent">Select Parent Company</span>
				   </button>
				 </div>
			  </div>
			 <!-- parent_id -->
			<div class="row">
			  <div class="col-md-4">
			  </div>
			  <div class="col-md-4">
			  	<div class="form-group">
				   <button class="form-control btn btn-default green" ng-model="company.form.Insurer" ng-click="company.addInsurer()">Select Insurer</button>
				 </div>
			  </div>
			<!-- add -->
			</div>
			<!-- -->
			<div class="row">
			<div class="col-md-12">
			<div class="portlet box blue ng-scope">
			   <div class="portlet-title">
			        <div class="caption">
			            List Insurer
			        </div>
		    	</div>
		    </div>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Insurer Name</th>
								<th>Address</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in company.listInsurer track by $index" ng-dblclick="onRowClick(row)" ng-style="row.id === company.checkColor  &&  {'background-color':'green'}">
								<td>{{row.insurer_name}}</td>
								<td>{{row.address}}</td>
								<!--<td align="center">
								<a>
								   	<span  ng-if="row.checkisEnable"  ng-click="disableInsurer(row)">Enable{{row.isEnable}}</span>
									<span  ng-if="!row.checkisEnable"  ng-click="disableInsurer(row)">Disable {{row.isEnable}}</span>
								</a>
								</td>-->
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- -- -->
		</form>
	<!--  END FORM -->
	</div>
</div>