<div class="row">
	<div class="col-md-12">
		<!-- PAGINATION -->
		<pagination boundary-links="true" total-items="company.count" ng-model="company.search.page" 
	        class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
	        items-per-page="company.search.limit" max-size="company.search.max_size" ng-change="setPage(company.search.page)">
	    </pagination>
		<!-- END PAGINATION -->
		<table class="mdt-table table-hover ">
			<thead>
				<tr>
					<th>Company Name</th>
					<th>Industry</th>
					<th>Address</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in company.list" ng-click="onRowClick({row: row})">
					<td>{{row.Company_name}}</td>
					<td>{{row.Industry}}</td>
					<td>{{row.Addr}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>