<div  class="col-lg-12 un-bgXam-colBlack un-margin-top-30">
	<label class="un-label-popup-header un-bg-label-333333">Companies</label>
	<div class="un-padding-top-bottom-10 ">
		<div class="un-div-content un-bgWhite-boxshadow-bottom un-padding-10">
			<div class="pull-right un-padding-bottom-5">
				<button style="margin-right: 0;" type="button" class="un-button un-bgXam-colBlack" ng-click="SelectCompany()">
			        Select Company
			    </button>
			 	<button style="margin-right: 0;" type="button" class="un-button un-bgBlack" ng-click="addNewCompany()">
			        Add Company
			    </button>
			</div>
			<div class="un_tn_panel_body">
				<div class="row">
			    	<div class="col-md-12">
			    		<table class="mdt-table">
							<thead>
								<tr>
									<th>Company Name</th>
									<th>Industry</th>
									<th>Address</th>
									<th>From date</th>
									<th>To date</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="row in company.list">
									<td >{{row.Company_name}}</td>
									<td>{{row.Industry}}</td>
									<td>{{row.Addr}}</td>
									<td ng-if='row.from_date'>{{row.from_date | filterdate: 'DD/MM/YYYY'}}</td>
									<td ng-if='!row.from_date'>{{row.from_date}}</td>

									<td ng-if='row.to_date && row.id !== company.company_idActive'>{{row.to_date | filterdate: 'DD/MM/YYYY'}}</td>
									<td ng-if='!row.to_date && row.id !== company.company_idActive'>{{row.to_date}}</td>
									<td ng-if='row.to_date && row.id == company.company_idActive'></td>
									<td ng-if='!row.to_date && row.id == company.company_idActive'></td>
									<td align="center">
										<a>
										   	<button class="un_tn_btn un-bgBlack"  ng-if="row.id === company.company_idActive"  ng-click="onRowClick(row)">Active</button>
											<button  class="un_tn_btn un_tn_btn_gray" ng-if="row.id !== company.company_idActive"  ng-click="onRowClick(row)">Inactive</button>
										</a>
										<a><button class="un_tn_btn un-bgBlack" ng-click="clickEdit(row)">Edit</button></a>
										<a>
										   	<button  class="un_tn_btn un-bgXam-colBlack"  ng-if="row.checkisEnable"  ng-click="disableCompany(row)">Enable</button>
											<button  class="un_tn_btn un-bgBlack"  ng-if="!row.checkisEnable"  ng-click="disableCompany(row)">Disable</button>
										</a>
									</td> 
								</tr>
							</tbody>
						</table>
			    	</div>
			    </div>
			</div>
		</div>
	</div>
</div>


