<button ng-click="addNewInsurer()">add new insurer</button>
<div class="row">
	<div class="col-md-12">
		<!-- PAGINATION -->
		<pagination boundary-links="true" total-items="company.count" ng-model="company.search.page" 
	        class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
	        items-per-page="company.search.limit" max-size="company.search.max_size" ng-change="company.setPage(company.search.page)">
	    </pagination>
		<!-- END PAGINATION -->
		<table class="mdt-table table-hover">
			<thead>
				<tr>
					<th>Insurer Name</th>
					<th>Address</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<input class="form-control input-sm" ng-model="company.search.insurer_name" ng-enter="company.onSearch({field: 'insurer_name', value: company.search.insurer_name})">
					</td>
					<td>
						<input class="form-control input-sm" ng-model="company.search.address" ng-enter="company.onSearch({field: 'insurer_name', value: company.search.insurer_name})">
					</td>
				</tr>
				<tr ng-repeat="row in company.list" ng-click="onRowClick({row: row})">
					<td>{{row.insurer_name}}</td>
					<td>{{row.address}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>