<div class="portlet box blue ng-scope">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-medkit"></i> Patient Company
        </div>
        <div class="pull-right navbar-right">
            <!-- Single button -->
         <button style="margin-right: 0;" type="button" class="btn btn-default green" ng-click="addClick()">
                    Add
              </button>
        </div>
    </div>
		<div class="portlet-body">
		    <div class="row">
			<div class="col-md-12">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Company Name</th>
							<th>Industry</th>
							<th>Address</th>
							<th>Country</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in company.list" ng-style="row.id === company.company_idActive && {'background-color':'green'}" ng-dblclick="onRowClick(row)">
							<td >{{row.Company_name}}</td>
							<td>{{row.Industry}}</td>
							<td>{{row.Addr}}</td>
							<td>{{row.country}}</td>
							<td align="center">
								<a><i class="fa fa-pencil-square-o" ng-click="clickEdit(row)"></i></a>
								<a>
								   	<span  ng-if="row.checkisEnable"  ng-click="disableCompany(row)">Enable</span>
									<span  ng-if="!row.checkisEnable"  ng-click="disableCompany(row)">Disable</span>
								</a>
							</td> 
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>