<div class="portlet box blue ng-scope">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-medkit"></i> Patient Company
        </div>
        <div class="pull-right navbar-right">
        <button style="margin-right: 0;" type="button" class="btn btn-default green" ng-click="Select()">
                    Select
              </button>
            <!-- Single button -->
         <button style="margin-right: 0;" type="button" class="btn btn-default green" ng-click="addClick()">
                    Add
              </button>
        </div>
    </div>
		<div class="portlet-body">
		    <div class="row">
			<div class="col-md-12">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Company Name</th>
							<th>Industry</th>
							<th>Address</th>
							<th>Country</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in company.list">
							<td >{{row.Company_name}}</td>
							<td>{{row.Industry}}</td>
							<td>{{row.Addr}}</td>
							<td>{{row.country}}</td>
							<td align="center">
								<a>
								   	<button class="btn btn-primary"  ng-if="row.id === company.company_idActive"  ng-click="onRowClick(row)">Active</button>
									<button class="btn btn-secondary" ng-if="row.id !== company.company_idActive"  ng-click="onRowClick(row)">Inactive</button>
								</a>
								<a><button class="btn btn-primary" ng-click="clickEdit(row)">Edit</button></a>
								<a>
								   	<button class="btn btn-primary"  ng-if="row.checkisEnable"  ng-click="disableCompany(row)">Enable</button>
									<button class="btn btn-secondary"  ng-if="!row.checkisEnable"  ng-click="disableCompany(row)">Disable</button>
								</a>
							</td> 
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>