<form name="wafirstform" novalidate>
    <accordion close-others="oneAtATime">
        <accordion-group heading="WORKER'S DETAILS">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <span class="field">
                            <label class="control-label" for="first_name">First name</label>
                            <input class="form-control" name="first_name" ng-model="patient.First_name" placeholder="First name" float-label readonly="readonly">
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <span class="field">
                            <label class="control-label" for="last_name">Last name</label>
                            <input class="form-control" name="last_name" ng-model="patient.Sur_name" placeholder="Last name" float-label readonly="readonly">
                        </span>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <span class="field">
                            <label class="control-label" for="DOB">Date of birth</label>
                            <input class="form-control" readonly="readonly" name="DOB" ng-model="patient.DOB" placeholder="Date of birth" ui-date="{dateFormat: 'dd/mm/yy'}" float-label readonly="readonly">
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <span class="field">
                            <label class="control-label" for="Email">Email</label>
                            <input class="form-control" name="Email" ng-model="patient.Email" placeholder="Email" float-label readonly="readonly">
                        </span>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <span class="field">
                            <label class="control-label" for="Phone">Phone</label>
                            <input class="form-control" name="Phone" ng-model="patient.Phone" placeholder="Phone" float-label readonly="readonly">
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <span class="field">
                            <label class="control-label" for="Mobile">Mobile</label>
                            <input class="form-control" name="Mobile" ng-model="patient.Mobile" placeholder="Mobile" float-label readonly="readonly">
                        </span>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12">
                        <span class="field">
                            <label class="control-label" for="Address">Address</label>
                            <input class="form-control" name="Address" ng-model="patient.Address" placeholder="Address" float-label readonly="readonly">
                        </span>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
        </accordion-group>
        <accordion-group heading="EMPLOYMENT DETAILS">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <span class="field">
                            <label class="control-label" for="Industry">Worker's job title</label>
                            <input class="form-control" name="Industry" ng-model="company.Industry" placeholder="Worker's job title" float-label readonly="readonly">
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <span class="field">
                            <label class="control-label" for="Company_name">Employer's name</label>
                            <input class="form-control" name="Company_name" ng-model="company.Company_name" placeholder="Employer's name" float-label readonly="readonly">
                        </span>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12">
                        <span class="field">
                            <label class="control-label" for="Addr">Employer's address</label>
                            <input class="form-control" name="Addr" ng-model="company.Addr" placeholder="Employer's address" float-label readonly="readonly">
                        </span>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
        </accordion-group>
        <accordion-group heading="CONSENT AUTHORITY">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label class="col-md-12 col-sm-12 control-label">
                        I consent to any medical practitioner who treats me (whether named on this certificate or not) to diccus my medical condition with my employee, insurer and other medical of allied health professionals for the purpose of my claim for worker's compensation and return to work options.
                    </label>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <canvas width="400" height="300" id="canvas" style="background-color: grey;" signature ng-model="wafirst.signature">
                        </canvas>
                        <div class="brreak-row"></div>
                        <button class="btn btn-sm green" ng-click="clearSignature()">Clear</button>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="row">
                            <span class="field">
                                <label class="control-label" for="AssessmentName">Assessment Name</label>
                                <input class="form-control" name="AssessmentName" ng-model="wafirst.AssessmentName" placeholder="Assessment Name" float-label>
                            </span>
                        </div>
                        <div class="break-row"></div>
                        <div class="row">
                            <span class="field">
                                <label class="control-label" for="printDate">Date</label>
                                <input class="form-control" name="printDate" ng-model="wafirst.examDate" placeholder="Date" readonly="readonly" float-label  ui-date="{dateFormat: 'dd/mm/yy'}">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </accordion-group>
        <accordion-group heading="WORKER'S DESCRIPTION OF INJURY">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-3 col-sm-3">
                        <span class="field">
                            <label class="control-label" for="injuryDate">Date of injury</label>
                            <input class="form-control" name="injuryDate" ng-model="undefineInfo.injuryDate" placeholder="Date of injury" readonly="readonly" ui-date float-label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12">
                        <span class="field">
                            <label class="control-label" for="injuryReason">What happened?</label>
                            <input class="form-control" name="injuryReason" ng-model="undefineInfo.injuryReason" placeholder="What happened?" float-label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12">
                        <span class="field">
                            <label class="control-label" for="injurySymptoms">Worker's symptoms</label>
                            <input class="form-control" name="injurySymptoms" ng-model="undefineInfo.injurySymptoms" placeholder="Worker's symptoms" float-label>
                        </span>
                    </div>
                </div>
            </div>
        </accordion-group>
        <accordion-group heading="MEDICAL ASSESSMENT">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-3 col-sm-3">
                        <span class="field">
                            <label class="control-label" for="assessmentDate">Date of this assessment</label>
                            <input class="form-control" name="assessmentDate" ng-model="wafirst.examDate" placeholder="Date of this assessment" readonly="readonly" ui-date="{dateFormat: 'dd/mm/yy'}" float-label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12">
                        <span class="field">
                            <label class="control-label" for="clinicFind">Clinical findings</label>
                            <textarea rows="2" class="form-control" name="clinicFind" ng-model="wafirst.clinicFind" placeholder="Clinical findings" float-label></textarea>
                        </span>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12">
                        <span class="field">
                            <label class="control-label" for="Diagnosis">Diagnosis</label>
                            <input rows="2" class="form-control" name="diagnosis" ng-model="wafirst.diagnosis" placeholder="Diagnosis" float-label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label class="control-label inline">The injury is consistent with worker's description of how injury occurred:</label>
                    <input type="radio" class="mdt-radio" value="1" name="isConsistentYes" id="isConsistentYes" ng-model="wafirst.isConsistent">
                    <label for="isConsistentYes">yes</label>
                    <input type="radio" class="mdt-radio" value="0" name="isConsistentNo" id="isConsistentNo" ng-model="wafirst.isConsistent">
                    <label for="isConsistentNo">no</label>
                    <input type="radio" class="mdt-radio" value="-1" name="isConsistentUncertain" id="isConsistentUncertain" ng-model="wafirst.isConsistent">
                    <label for="isConsistentUncertain">uncertain</label>
                </div>
            </div>
            <div class="break-row-alt"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label class="control-label inline">The injury is:</label>
                    <input type="radio" class="mdt-radio" value="1" name="isConditionNew" id="isConditionNew" ng-model="wafirst.isCondition">
                    <label for="isConditionNew">a new condition</label>
                    <input type="radio" class="mdt-radio" value="0" name="isConditionOld" id="isConditionOld" ng-model="wafirst.isCondition">
                    <label for="isConditionOld">a recurrence of a pre-existing condition</label>
                </div>
            </div>
        </accordion-group>
        <accordion-group heading="WORK CAPACITY">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12">
                        <span class="field">
                            <label class="control-label" for="usualDuties">Worker's usual duties</label>
                            <input class="form-control" name="usualDuties" ng-model="wafirst.usualDuties" placeholder="Worker's usual duties" float-label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label class=" col-md-12 col-sm-12 control-label">
                        Having considered the health benefits of work, I find this worker to have:
                    </label>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12">
                        <input type="checkbox" class="mdt-checkbox" ng-true-value="1" ng-false-value="0" name="isFullCapacity" id="isFullCapacity" ng-model="wafirst.isFullCapacity">
                        <label for="isFullCapacity"><b>full capacity for work</b>
                        </label>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row" ng-show="wafirst.isFullCapacity==1">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-6">
                            <span class="field">
                            <label class="control-label" for="fullCapaFrom">Full capacity from</label>
                            <input class="form-control" name="fullCapaFrom" readonly="readonly" ng-model="wafirst.fullCapaFrom" placeholder="Full capacity from" ui-date="{dateFormat: 'dd/mm/yy'}" float-label>
                        </span>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <input type="checkbox" class="mdt-checkbox" ng-true-value="1" ng-false-value="0" name="isRequireTreat" id="isRequireTreat" ng-model="wafirst.isRequireTreat">
                            <label for="isRequireTreat">but requires further treatment</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12">
                        <input type="checkbox" class="mdt-checkbox" ng-true-value="1" ng-false-value="0" name="isSomeCapacity" id="isSomeCapacity" ng-model="wafirst.isSomeCapacity">
                        <label for="isSomeCapacity"><b>some capacity for work</b>
                        </label>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row" ng-show="wafirst.isSomeCapacity == 1">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-5 col-sm-5">
                            <span class="field">
                            <label class="control-label" for="someCapaFrom">Some capacity from</label>
                            <input class="form-control" name="someCapaFrom" readonly="readonly" ng-model="wafirst.someCapaFrom" placeholder="Some capacity from" ui-date="{dateFormat: 'dd/mm/yy'}" float-label>
                        </span>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <span class="field">
                            <label class="control-label" for="someCapaTo">Some capacity to</label>
                            <input class="form-control" name="someCapaTo" readonly="readonly" ng-model="wafirst.someCapaTo" placeholder="Some capacity to" ui-date="{dateFormat: 'dd/mm/yy'}" float-label>
                        </span>
                        </div>
                        <label class="col-md-2 col-sm-2 control-label">performing:</label>
                    </div>

                </div>
            </div>
            <div class="break-row"></div>
            <div class="row" ng-show="wafirst.isSomeCapacity == 1">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-4 col-sm-4">
                            <input type="checkbox" class="mdt-checkbox" ng-true-value="1" ng-false-value="0" name="isPreDuties" id="isPreDuties" ng-model="wafirst.isPreDuties">
                            <label for="isPreDuties">pre-injury duties</label>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <input type="checkbox" class="mdt-checkbox" ng-true-value="1" ng-false-value="0" name="isModiDuties" id="isModiDuties" ng-model="wafirst.isModiDuties">
                            <label for="isModiDuties">modified or alternative duties</label>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <input type="checkbox" class="mdt-checkbox" ng-true-value="1" ng-false-value="0" name="isWorkModifi" id="isWorkModifi" ng-model="wafirst.isWorkModifi">
                            <label for="isWorkModifi">workplace modifications</label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row" ng-show="wafirst.isSomeCapacity == 1">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-4 col-sm-4">
                            <input type="checkbox" class="mdt-checkbox" ng-true-value="1" ng-false-value="0" name="isPreHours" id="isPreHours" ng-model="wafirst.isPreHours">
                            <label for="isPreHours">pre-injury hours</label>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <input type="checkbox" class="mdt-checkbox" ng-true-value="1" ng-false-value="0" name="isModiHrs" id="isModiHrs" ng-model="wafirst.isModiHrs">
                            <label for="isModiHrs">modified hours of
                                <input type="text" class="form-control input-mini inline" ng-model="wafirst.modiHrs">hrs/day
                                <input type="text" class="form-control input-mini inline" ng-model="wafirst.modiDays">days/week
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="break-row-alt" ng-show="wafirst.isSomeCapacity == 1"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12">
                        <input type="checkbox" class="mdt-checkbox" ng-true-value="1" ng-false-value="0" name="isNoCapacity" id="isNoCapacity" ng-model="wafirst.isNoCapacity">
                        <label for="isNoCapacity"><b>no capacity for work</b>
                        </label>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row" ng-show="wafirst.isNoCapacity == 1">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-4 col-sm-4">
                            <span class="field">
                            <label class="control-label" for="noCapaFrom">No capacity from</label>
                            <input class="form-control" name="noCapaFrom" readonly="readonly" ng-model="wafirst.noCapaFrom" placeholder="No capacity from" ui-date="{dateFormat: 'dd/mm/yy'}" float-label>
                        </span>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <span class="field">
                            <label class="control-label" for="noCapaTo">No capacity to</label>
                            <input class="form-control" name="noCapaTo" readonly="readonly" ng-model="wafirst.noCapaTo" placeholder="No capacity to" ui-date="{dateFormat: 'dd/mm/yy'}" float-label>
                        </span>
                        </div>
                        <label class="col-md-4 col-sm-4 control-label"> <i>(outline clinical reason below)</i> 
                        </label>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label class="control-label col-md-12 col-sm-12">Worker has capacity to:</label>
                </div>
                <div class="col-md-12 col-sm-12">
                    <label class="control-label col-md-12 col-sm-12"><i>(Please outline the worker physical and/or psychosocial capacity - refer to explanatory notes for examples. Where there is no capacity for work, please provide clinical reasoning)</i>
                    </label>
                </div>
            </div>
            <div class="break-row"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-4 col-sm-4">
                        <input type="checkbox" class="mdt-checkbox" ng-true-value="1" ng-false-value="0" name="isLiftUp" id="isLiftUp" ng-model="wafirst.isLiftUp">
                        <label for="isLiftUp">lift up to
                            <input type="text" class="form-control input-mini inline" ng-model="wafirst.liftUpKg">kg</label>
                        <input type="checkbox" class="mdt-checkbox" ng-true-value="1" ng-false-value="0" name="isSitUp" id="isSitUp" ng-model="wafirst.isSitUp">
                        <label for="isSitUp">sit up to
                            <input type="text" class="form-control input-mini inline" ng-model="wafirst.sitUpMins">mins</label>
                        <input type="checkbox" class="mdt-checkbox" ng-true-value="1" ng-false-value="0" name="isLiftUp" id="isStandUp" ng-model="wafirst.isStandUp">
                        <label for="isStandUp">stand up to
                            <input type="text" class="form-control input-mini inline" ng-model="wafirst.standUpMins">mins</label>
                        <input type="checkbox" class="mdt-checkbox" ng-true-value="1" ng-false-value="0" name="isWalkUp" id="isWalkUp" ng-model="wafirst.isWalkUp">
                        <label for="isWalkUp">walk up to
                            <input type="text" class="form-control input-mini inline" ng-model="wafirst.walkUpMeter">kg</label>
                        <input type="checkbox" class="mdt-checkbox" ng-true-value="1" ng-false-value="0" name="isWorkBelow" id="isWorkBelow" ng-model="wafirst.isWorkBelow">
                        <label for="isWorkBelow">work below shoulder height</label>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <textarea class="textarea-custom-style form-control" rows="11" ng-model="capaCmt"></textarea>
                    </div>
                </div>
            </div>
        </accordion-group>

        <accordion-group heading="INJURY MANAGEMENT PLAN">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" style="width:20% !important">
                                        Activities/interventions
                                    </th>
                                    <th scope="col">
                                        Purpose/goal <i>(likely change in symptoms, function, activity and work participation)</i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <span class="field">
                                        <input class="form-control" type="text" ng-model="wafirst.activities_1">
                                    </span>
                                    </td>
                                    <td>
                                        <span class="field">
                                        <input class="form-control" type="text" ng-model="wafirst.goal_1">
                                    </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="field">
                                        <input class="form-control" type="text" ng-model="wafirst.activities_2">
                                    </span>
                                    </td>
                                    <td>
                                        <span class="field">
                                        <input class="form-control" type="text" ng-model="wafirst.goal_2">
                                    </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="field">
                                        <input class="form-control" type="text" ng-model="wafirst.activities_3">
                                    </span>
                                    </td>
                                    <td>
                                        <span class="field">
                                        <input class="form-control" type="text" ng-model="wafirst.goal_3">
                                    </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="field">
                                        <input class="form-control" type="text" ng-model="wafirst.activities_4">
                                    </span>
                                    </td>
                                    <td>
                                        <span class="field">
                                        <input class="form-control" type="text" ng-model="wafirst.goal_4">
                                    </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="field">
                                        <input class="form-control" type="text" ng-model="wafirst.activities_5">
                                    </span>
                                    </td>
                                    <td>
                                        <span class="field">
                                        <input class="form-control" type="text" ng-model="wafirst.goal_5">
                                    </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="field">
                                        <input class="form-control" type="text" ng-model="wafirst.activities_6">
                                    </span>
                                    </td>
                                    <td>
                                        <span class="field">
                                        <input class="form-control" type="text" ng-model="wafirst.goal_6">
                                    </span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label class="col-md-2 col-sm-2 control-label">I would like:</label>
                    <div class="col-md-10 col-sm-10">
                        <input type="checkbox" class="mdt-checkbox" ng-true-value="1" ng-false-value="0" name="isMoreInfo" id="isMoreInfo" ng-model="wafirst.isMoreInfo">
                        <label for="isMoreInfo">more information about available duties</label>
                        <input type="checkbox" class="mdt-checkbox" ng-true-value="1" ng-false-value="0" name="isRTW" id="isRTW" ng-model="wafirst.isRTW">
                        <label for="isRTW">a RTW program to be established</label>
                        <input type="checkbox" class="mdt-checkbox" ng-true-value="1" ng-false-value="0" name="isInvolved" id="isInvolved" ng-model="wafirst.isInvolved">
                        <label for="isInvolved">to be involved in developing the RTW program</label>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label class="control-label">
                        <i>
                            <ul>Examples of injury management activities/interventions include:
                                <li>further assessment - dianostic imaging, medical specialist consults, worksite assessment.</li>
                                <li>intervention - physiotherapy, clinical psychology, exercise psychology, prescribed medications, workplace mediation</li>
                                <li>return to work planning - identify suitable duties, establish return to work program</li>
                            </ul>
                        </i>
                    </label>
                </div>
            </div>
        </accordion-group>
        <accordion-group heading="NEXT REVIEW DATE">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <input type="radio" class="mdt-radio" value="0" name="isReviewYes" id="isReviewYes" ng-model="wafirst.isReview">
                    <label class="control-label col-md-12 col-sm-12" for="isReviewYes">Workers does not need to be reviewed again (FIRST and FINAL certificate of capacity)</label>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <input type="radio" class="mdt-radio" value="1" name="isReviewNo" id="isReviewNo" ng-model="wafirst.isReview">
                    <label class="control-label col-md-12 col-sm-12" for="isReviewNo">I will review worker again on

                        <input type="text" class="form-control input-small inline" style="background: #ffffff;" readonly="readonly" ui-date="{dateFormat: 'dd/mm/yy'}" ng-model="wafirst.reviewOn">

                        <i>(If greater than 14 days, please provide clinical reasoning)</i>
                    </label>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <span class="field">
                        <label class="control-label" for="reviewCmt">Comments</label>
                        <input class="form-control" name="reviewCmt" ng-model="wafirst.reviewCmt" placeholder="Comments" float-label>
                    </span>
                </div>
            </div>
        </accordion-group>
        <accordion-group heading="MEDICAL PRACTITIONER'S DETAILS">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <span class="field">
                            <label class="control-label" for="doc_name">Name</label>
                            <input class="form-control" name="doc_name" ng-model="doctor.NAME" placeholder="Name" float-label readonly="readonly">
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <span class="field">
                            <label class="control-label" for="Provider_no">AHPRA no. MED</label>
                            <input class="form-control" name="Provider_no" ng-model="doctor.Provider_no" placeholder="AHPRA no. MED" float-label readonly="readonly">
                        </span>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <span class="field">
                            <label class="control-label" for="doc_Address">Address</label>
                            <input class="form-control" name="doc_Address" ng-model="doctor.Address" placeholder="Address" float-label readonly="readonly">
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <span class="field">
                            <label class="control-label" for="doc_email">Email</label>
                            <input class="form-control" name="doc_email" ng-model="doctor.Email" placeholder="Email" float-label readonly="readonly">
                        </span>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <span class="field">
                            <label class="control-label" for="doc_Phone">Phone</label>
                            <input class="form-control" name="doc_Phone" ng-model="doctor.Phone" placeholder="Phone" float-label readonly="readonly">
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <img src="{{doctor.Signature}}" style="width:100%" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                        <span class="field">
                            <label class="control-label" for="doc_Fax">Fax</label>
                            <input class="form-control" name="doc_Fax" ng-model="doctor.Fax" placeholder="Fax" float-label readonly="readonly">
                        </span>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <span class="field">
                            <label class="control-label" for="examDate">Date</label>
                            <input class="form-control" name="examDate" ng-model="wafirst.examDate" placeholder="Date" readonly="readonly" ui-date="{dateFormat: 'dd/mm/yy'}" float-label>
                        </span>
                    </div>
                </div>
            </div>
        </accordion-group>
        <div class="break-row-alt"></div>
        <div class="row">
            <div class="col-md-offset-10 col-sm-offset-10 col-md-2 col-sm-2">
                <button type="button" class="btn-lg btn green" ng-show="params.edit===false" ng-click="clickAction()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Submit
                </button>
                <button type="button" class="btn-lg btn green" ng-show="params.edit===true" ng-click="clickAction()">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Update
                </button>
            </div>
        </div>

    </accordion>

</form>