<ion-view>
    <ion-content class="content-scroll" style="background:#24c1e0">
        <div class="wrapper-login" style="width: 100%; height: 100%">
            <div style="width:100%;height:160px;background: #333;">
                <div style="width: 100%;height: 130px;background: #e0e0e0;position:absolute;margin-top:25px;">
                      <div style="width: 129px;margin: 0 auto;"><img src="img/Design-App-1_02.png" alt=""></div>
                      
                </div>
            </div>
            <div  style="margin-top:70px">
               
                <div class="form-group">
                    
                    <label class="item item-input input_us" >
                          <span class="input-label span-input-color">User Name</span><div class="im1"></div>
                          <input ng-keypress="keyPress($event.keyCode)" style="background:white;height: 36px;" type="text" name="username" ng-model="modelUser.username" required />
                    </label>
                    <br>
                   <label class="item item-input input_us " >
                          <span class="input-label span-input-color">Password</span>
                         <input ng-keypress="keyPress($event.keyCode)"  style="background:white;height: 36px;" type="password" name="password" ng-model="modelUser.password" required />
                    </label>
                   
                   

                       <button class="button btn-login-custom button-full btn-red waves-effect" ng-click="login()">
                       Sign in
                    </button>
                     <!-- <md-button class="md-raised md-primary b_login" ng-click="login()">Sign in</md-button> -->
                     <div style="width:100%">
                       
                        <div class="signup" >
                        No account?  <a data-tap-disabled="true" ng-click="goStateSignUp()" style="color:white">Sign up</a>  or <a style="color:white" ui-sref="security.forgot">Forgot</a> Password ?
                      </div>
                     </div>
                      
                </div> 
            </div>
        </div>
    </ion-content>
</ion-view>