
<div class="col-lg-12 un-bgXam-colBlack un-margin-top-30">
  <div>
    <label class="un-label-popup-header un-bg-label-333333">Document</label>
      <div class="un-padding-top-bottom-10 ">
        <div class="un-div-content un-bgWhite-boxshadow-bottom un-padding-10">
          <button type="button" class="btn un-btn-red un-btn-position" ng-click="openUploader()" >Upload Documents</button>
            <div class="row">
            <div class="col-md-12 col-sm-12">
              <div ng-if="uploader.queue.length> 0">
                <table class="mdt-table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th ng-show="uploader.isHTML5">Size</th>
                        <th ng-show="uploader.isHTML5">Progress</th>
                        <th>Actions</th>
                      </tr>
                     </thead>
                     <tbody>  
                      <tr ng-repeat="item in uploader.queue" class="ng-scope"><!-- ngRepeat: item in uploader.queue -->
                        <td>{{item.file.name}}
                        </td>
                        <td ng-show="uploader.isHTML5">{{item.file.size/1024/1024 | number:2}} MB
                        </td>
                        <td ng-show="uploader.isHTML5">
                          <div class="un-padding-right-top-bottom-10-left-15-bgWhite-margin-right-bot" style="background-color: #B0C4DE;height: 35px">
                            <div class="progress progress-sm" style="margin-bottom: 0;">
                              <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }" style="width: 0%;"></div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                          </div>
                        </td>
                      </tr><!-- end ngRepeat: item in uploader.queue -->
                    </tbody>
                </table>
              </div>
            </div>
        </div>
      </div>
      <div ng-if="uploader.queue.length> 0" class="progress progress-striped active">
          <div class="progress-bar progress-bar-danger" role="progressbar"  ng-style="{ 'width': info_upload.progress_percent + '%' }" >
          </div>
      </div>
      <div ng-if="uploader.queue.length> 0">
        <button type="button" class="btn un-btn-blue btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Upload all
        </button>
        <button type="button" class="btn un-btn-red btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
          <span class="glyphicon glyphicon-trash"></span> Remove all
        </button>
      </div>
      <my-data-table options="docs.options" rowclass="docs.class" numrows="10"></my-data-table>
    <div class="clearfix"></div>
  </div>
</div>
<input id="appt_doc_upload" ng-hide="true" type="file" multiple nv-file-select uploader="uploader" />