
<div class="col-lg-12 un-bgXam-colBlack un-margin-top-30">
    <div>
          <label class="un-label-popup-header un-bg-label-333333">Appointment List</label>
           <div class="un-padding-top-bottom-10 ">
             <div class="un-div-content un-bgWhite-boxshadow-bottom un-padding-10">
              <button type="button" class="btn un-btn-red un-btn-position" ng-click="formRecall.open()"> New Recall</button>
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <table class="mdt-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Appointment Time</th>
                                    <th>Doctor</th>
                                    <th>Department</th>
                                    <th>Service</th>
                                </tr>
                            </thead>   
                            <tbody>                   
                                <tr ng-repeat="item in appt_listNew" >
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.FROM_TIME}} - {{item.TO_TIME}}</td>
                                    <td>{{item.NAME}}</td>
                                    <td>{{item.CLINICAL_DEPT_NAME}}</td>
                                    <td >{{item.SERVICE_NAME}}</td>
                                </tr>
                            </tbody>
                        </table>       
                    </div>
                  </div>
             </div>
           </div>
         <div class="un-div-content un-bgXam-colBlack" style="margin-top: 20;">
            <div  ng-if="formRecall.is_show">
                <div>
                    <label class="un-label-header un-bgWhite un-label-title"><i class="fa fa-calendar"></i>  Make a recall </label>
                </div>
                <div class="un-padding-15" style="background-color: #C0C0C0;">
                    <div class="row">
                         <!-- BOOKING DATE -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <span class="field" style="height:60px">
                                <label style="background-color: #708090; height:30px; font-size:15px; " for="booking-date">Booking Date</label>
                                <input ui-date="{dateFormat: 'dd/mm/yy'}" placeholder="Booking Date" 
                                    ng-change="refreshAppointment()"
                                    name="booking-date" ng-model="modelObjectMap.datepicker" float-label>
                            </span>
                        </div>
                        <!-- END BOOKING DATE -->

                        <!-- CHOOSE REDIMEDSITE -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <span class="field" style="height:60px">
                                <label style="background-color: #708090; height:30px; font-size:15px;" for="site">Redimed Site</label>
                                <select ng-options="site.id as site.Site_name for site in options.redimedsites" 
                                    ng-change="refreshAppointment()"
                                    name="site" ng-model="modelObjectMap.site" id="site" float-label>
                                    <option  style="background-color: #708090; height:30px; font-size:15px;" value="" disabled selected>Redimed Site</option>
                                </select>
                            </span>
                        </div>
                        <!-- END CHOOSE REDIMEDSITE -->

                        <!-- CHOOSE DEPT -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <span class="field" style="height:60px">
                                <label style="background-color: #708090; height:30px; font-size:15px;" for="dept">Department</label>
                                <select ng-options="dept.CLINICAL_DEPT_ID as dept.CLINICAL_DEPT_NAME for dept in options.departments" 
                                    ng-change="refreshAppointment('department')"
                                    name="dept" ng-model="modelObjectMap.dept" id="dept" float-label>
                                </select>
                            </span>
                        </div>
                        <!-- END CHOOSE DEPT -->


                          <!-- CHOOSE DEPT -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <span class="field" style="height:60px">
                                <label style="background-color: #708090; height:30px; font-size:15px;" for="dept">Service</label>
                                <select ng-options="dept.SERVICE_ID as dept.SERVICE_NAME for dept in opt_services" 
                                    name="dept" ng-model="modelObjectMap.service" id="dept" float-label>
                                </select>
                            </span>
                        </div>
                        <!-- END CHOOSE DEPT -->
                    </div>  

                    <div class="row">
                        <table class="mdt-booking-table" id="main-table">
                        <thead>
                            <tr>
                                <th ng-repeat="doctor in options.doctors">
                                    <a ng-click="goToAppointmentDoctor(doctor)">
                                        {{doctor.NAME}}
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in overviewAppointment track by $index" ng-init="overviewIndex=$index" 
                                id="overview{{overviewIndex}}">
                                <td class="time-booking"><b>{{data.from_time_map}}</b></td>
                                <td ng-click="bookingPatient(data, overviewIndex, doctorIndex)" 
                                    ng-repeat="status in data.patients track by $index" 
                                    ng-init="doctorIndex=$index"
                                    id="status{{overviewIndex}}{{doctorIndex}}" 
                                    ng-style="{'background': data.service_colors[doctorIndex]}">

                                    <ul class="mdt-list-booking-patient">
                                        <li ng-repeat="p in status track by $index">
                                            <a ng-if="p.Patient_name === 'No Patient'">
                                                No Patient
                                            </a>
                                            <a ng-click="goToPatientDetail(p, data, doctorIndex)" ng-if="p.Patient_name !== 'No Patient'">
                                                {{p.Patient_name}}
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                    </div>
                </div>
            </div>
         </div>           
    </div>
</div>





