
<div class="un_body_content_left_bottom_right un-giang-padding-left-bottom" style="width:100%">

  <div style="width:90%; margin-left: auto; margin-right: auto;">
      <label class="un-label-header un-bgWhite" style="width: 12%; text-align: center; height: 2%; padding-bottom: 3%; font-size: 17px;background-color: #808285; color:white"><b>Document</b></label>
      <button class="un-button-giang un-btn-Xam-right-header" style=" width: 10%; height: 5%; font-size: 15px; color:white; margin-top: 15px" ng-click="openUploader()" >
                Upload Documents
      </button>
      <div class="un-div-content un-bgXam-colBlack">
        <div class="un-padding-15" style="background-color: #F8F8FF">
          <div class="row">
            
        <div ng-if="uploader.queue.length> 0">
          <table style="width:90%; margin-left: 5%">
              <tr style="color: white">
                <td width="30%">
                  <div class="un-padding-right-top-bottom-10-left-15-bgWhite-margin-right-bot" style="height: 35px; background-color: #708090;"><b>Name</b></div>
                </td>
                <td width="30%" ng-show="uploader.isHTML5" class="">
                  <div class="un-padding-right-top-bottom-10-left-15-bgWhite-margin-right-bot" style="height: 35px; background-color: #708090;"><b>Size</b></div>
                </td>
                <td width="20%" ng-show="uploader.isHTML5" class="">
                  <div class="un-padding-right-top-bottom-10-left-15-bgWhite-margin-right-bot" style="height: 35px; background-color: #708090;"><b>Progress</b></div>
                </td>
                <td width="20%">
                  <div class="un-padding-right-top-bottom-10-left-15-bgWhite-margin-right-bot" style="height: 35px; background-color: #708090;"><b>Actions</b></div>
                </td>
              </tr>
              <tr ng-repeat="item in uploader.queue" class="ng-scope"><!-- ngRepeat: item in uploader.queue -->
                <td width="30%">
                  <div class="un-padding-right-top-bottom-10-left-15-bgWhite-margin-right-bot" style="background-color: #B0C4DE;height: 35px">{{item.file.name}}</div>
                </td>
                <td width="30%" ng-show="uploader.isHTML5" nowrap="" class="ng-binding">
                  <div class="un-padding-right-top-bottom-10-left-15-bgWhite-margin-right-bot" style="background-color: #B0C4DE;height: 35px">{{item.file.size/1024/1024 | number:2}} MB</div>
                </td>
                <td width="30%" ng-show="uploader.isHTML5" class="">
                  <div class="un-padding-right-top-bottom-10-left-15-bgWhite-margin-right-bot" style="background-color: #B0C4DE;height: 35px">
                    <div class="progress progress-sm" style="margin-bottom: 0;">
                      <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }" style="width: 0%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td width="30%" nowrap="">
                  <div class="un-padding-right-top-bottom-10-left-15-bgWhite-margin-right-bot" style="background-color: #B0C4DE;height: 35px">
                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                  </div>
                </td>
              </tr><!-- end ngRepeat: item in uploader.queue -->
          </table>
        </div>

        <div ng-if="uploader.queue.length> 0" class="progress progress-striped active">
            <div class="progress-bar progress-bar-danger" role="progressbar"  ng-style="{ 'width': info_upload.progress_percent + '%' }" >
            </div>
        </div>
        <div ng-if="uploader.queue.length> 0">
          <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-upload"></span> Upload all
          </button>
          <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
            <span class="glyphicon glyphicon-trash"></span> Remove all
          </button>
        </div>


        <my-data-table options="docs.options" rowclass="docs.class" numrows="10"></my-data-table>
      <div class="clearfix"></div>
    </div>
          </div>
        </div>
      
  </div>
                  
                </div>





<input id="appt_doc_upload" ng-hide="true" type="file" multiple nv-file-select uploader="uploader" />