<div class="portlet box grey-cascade" style="positon: relative;">
    <div class="portlet-body">
            <button ng-click="openCompanySearch()" class="pull-right btn btn-small blue"><i class="fa fa-search"></i> Search </button>
            <button ng-click="openCompanyForm()" class="pull-right btn btn-small green"><i class="fa fa-plus"></i> Add </button>
            <!-- POPUP FORM-COMPANY  -->
            <div class="mdt-search" style="display: block;" ng-if="show_company_form">
                <div class="pull-right text-center ng-scope">
                    <button class="btn btn-sm btn-block red" ng-click="closeCompanyForm()">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="break-row" style="margin-bottom: 15px;"></div>
                <company-detail id="add-form" data="{}" options="options" onsuccess="updateCompany"></company-detail>
            </div>
             <!-- POPUP FORM-COMPANY  -->
            <!-- POPUP SEARCH-COMPANY  -->
            <div class="mdt-search" style="display: block;" ng-if="show_company_search">
                <div class="pull-right text-center ng-scope">
                    <button class="btn btn-sm btn-block red" ng-click="closeCompanySearch()">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <my-data-table options="company_search_options" rowclick="chooseCompany">
            </div>
             <!-- POPUP SEARCH-COMPANY  -->


            <patient-companies data="{Patient_id: {{patient.Patient_id}}}"></patient-companies>	
    </div>
</div>