<div class="col-lg-12 un-bgXam-colBlack un-margin-top-30">
 <label class="un-label-popup-header un-bg-label-333333">Invoices</label>
  <div class="un-padding-top-bottom-10 ">
    <div class="un-div-content un-bgWhite-boxshadow-bottom un-padding-10">
    <button class="un-button un-bgBlack pull-right un-margin-bottom-6px" ng-click="addFormInvoice.open()"> Add invoice</button>
      <div class="row">
        <div class="col-md-12 col-sm-12">
           <my-data-table options="invoiceOption" rowclick="invoiceClick" rowclass="invoiceClass" numrows="50"></my_data-table>
        </div>
        
    </div>
    </div>
  </div>
</div>
<!--<h3 class="page-title"> Invoices </h3>-->

<!--POPUP FORM ADD INVOICE -->
<div class="mdt-search" style="display: block; width: 100%" ng-if="addFormInvoice.is_show">
    <div class="pull-right text-center ng-scope">
        <button class="btn btn-sm btn-block red" ng-click="addFormInvoice.close()">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="clearfix" style="margin-bottom: 10px"></div>
    <invoice-add options="options" patient="patient_id" calendar="cal_id" params="invoiceParams" onsuccess="addFormInvoice.success" />
</div>
<!--END POPUP FORM ADD INVOICE -->