<div class="col-lg-12 un-bgXam-colBlack un-margin-top-30">
    <label class="un-label-header un-bgBlack un-label-header-padding">Item Sheet</label>
    <div class="un-padding-top-bottom-10 ">
        <div class="un-div-content un-bgWhite-boxshadow-bottom un-padding-10">
            <div class="pull-right navbar-right">
            
                <button ng-click="updateItems()" class="un-button un-bgXam-colBlack"> Save </button>

                <!-- Single button -->
                <div class="btn-group" dropdown>

                  <button style="margin-right: 0;" type="button" class="un-button un-bgBlack dropdown-toggle" ng-disabled="disabled">
                        More <span class="caret"></span>
                  </button>

                  <ul class="dropdown-menu" role="menu">
                    <!-- <li><a ui-sref="loggedIn.doctor.items.add"><i class="fa fa-plus"></i> New Item </a></li> -->
                    <li><a ng-click="itemSearch.open()"><i class="fa fa-search"></i> Search Item</a></li>
                    
                  </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-scrollable">
                        <table class="table table-bordered items-table">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-check-square-o"></i></th>
                                    <th>ITEM CODE</th>
                                    <th>ITEM NAME</th>
                                    <th width="10%">QUANITY</th>
                                    <th width="10%">TIME SPENT</th>
                                    <th width="10%">PRICE</th>
                                    <th width="10%">TAX CODE</th>
                                    <th width="10%">TAX RATE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat-start="cat in deptItems" class="item-label">
                                    <td colspan="8" style="text-transform: uppercase;" class="text-center bold"> {{cat.POPULAR_NAME}} </td>
                                </tr>
                                <tr ng-repeat-end ng-repeat="item in cat.items" 
                                            ng-class="{success: (item.inserted && item.checked =='1'), warning: (item.inserted && item.checked =='0')} ">
                                    <td>
                                        <input class="form-control" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="item.checked" />
                                    </td>
                                    <td>{{item.ITEM_CODE}}</td>
                                    <td>
                                        <!-- {{item.ITEM_NAME}} -->
                                        <span popover="{{item.ITEM_NAME}}" popover-trigger="mouseenter">
                                            {{item.ITEM_NAME| limitTo:70}}{{item.ITEM_NAME.length>70?'...':''}}
                                        </span>
                                    </td>
                                            <td><input type="number" min="1" class="form-control" ng-model="item.QUANTITY"></td>
                                    <td><input type="number" min="0" class="form-control" ng-model="item.TIME_SPENT"></td>
                                    <td><input type="number" ng-disabled="item.disable_fee" min="0"  class="form-control" ng-model="item.PRICE"></td>
                                    <td>{{item.TAX_CODE}}</td>
                                    <td>{{item.TAX_RATE}}</td>
                                </tr>
                    
                                <tr ng-show="extraItems.length > 0" class="item-label">
                                    <td colspan="8" style="text-transform: uppercase;" class="text-center bold"> EXTRA ITEMS </td>
                                </tr>
                                <tr ng-repeat="item in extraItems" 
                                            ng-class="{success: (item.inserted && item.checked =='1'), warning: (item.inserted && item.checked =='0')}">
                                    <td>
                                        <input class="form-control"  type="checkbox"  ng-true-value="1" ng-false-value="0" ng-model="item.checked" />
                                    </td>
                                    <td>{{item.ITEM_CODE}}</td>
                                    <td>
                                        <!-- {{item.ITEM_NAME}} -->
                                        <span popover="{{item.ITEM_NAME}}" popover-trigger="mouseenter">
                                            {{item.ITEM_NAME| limitTo:70}}{{item.ITEM_NAME.length>70?'...':''}}
                                        </span>
                                    </td>
                                    <td><input type="number" min="1" class="form-control" ng-model="item.QUANTITY"></td>
                                    <td><input type="number" min="1" class="form-control" ng-model="item.TIME_SPENT"></td>
                                    <td><input type="number" ng-disabled="item.disable_fee" min="0" class="form-control" ng-model="item.PRICE"></td>
                                    <td>{{item.TAX_CODE}}</td>
                                    <td>{{item.TAX_RATE}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  

         <!-- POPUP SEARCH-ITEM  -->

<div class="mdt-search un-popup-config" style="display: block;" ng-if="itemSearch.is_show">
    <label class="un-label-popup-header un-bg-label-B41E46"> Search Item</label>
    <div class="pull-right text-center ng-scope">
        <button class="btn btn-sm btn-block red" ng-click="itemSearch.close()">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <my-data-table options="itemOptions.options" rowclass="itemOptions.class" rowclick="itemOptions.click"></my-data-table>
</div>
 <!-- POPUP SEARCH-ITEM  -->