<h1 class="text-center"> REFFERALSSSSS </h1>
<div class="portlet box red">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-medkit"></i> Item Sheet
        </div>

        <div class="pull-right navbar-right">
            <button ng-click="submit()" class="btn blue"><i class="fa fa-save"></i> Choose </button>
        </div>
    </div>
    <div class="portlet-body">
        <my-data-table options="data_options">
    </div>
</div>
    <!--<my-data-table options="data_options"></my-data-table>-->