<div>
    <div class="col-md-12 col-xs-12" align="center">
        <br/>
        <div><img width="200px" height="200px" ng-src="{{img}}" class="img-circle"/></div>
        <br/>
        <h3><span class="bold">{{username}}</span> Is Calling ...</h3>
        <br/>
        <a href="javascript:;" class="btn btn-circle btn-md green" ng-click='acceptCall()'>Accept</a>
        <a href="javascript:;" class="btn btn-circle btn-md red" ng-click='ignoreCall()'>Ignore</a>
    </div>
</div>
<div class="modal-footer">
</div>
