.modal-header {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #C5CFC2;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}


.skype {
  background: #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  border-radius: 150px !important;
  border: solid 15px #fff;
  animation: play 1.5s ease infinite;
  -moz-animation: play 1.5s ease infinite;
  -webkit-animation: play 1.5s ease infinite;
  -ms-animation: play 1.5s ease infinite;
  -o-animation: play 1.5s ease infinite;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  box-sizing: content-box !important; 
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  
}
.skype:before {
  content: "";
  width: 233px;
  height: 104px;
  position: absolute;
  top: 13px;
  right: 16px;
  z-index: 99998;
  transform: rotate(45deg);
  transform-origin: bottom;
}

.skype:after {
  background-size: 100% 100%;
  line-height: 205px;
  color: #fff;
  font-size: 150px;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
  border-radius: 150px !important;
  z-index: 99999 !important;
}

.skype .content-img{
  margin: 0 auto;
   position: absolute;
   width: 200px;
    height: 200px;
    box-sizing: content-box !important; 
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box !important;
    
}

.calling-title{
  font-size: 50px;
  font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
  font-weight: bold;
  color: white;
}

@keyframes play {
  0% {
    transform: scale(1);
  }
  15% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2);
  }
  25% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0.2);
  }
  80% {
    transform: scale(1);
  }
}

@-webkit-keyframes play {
  0% {
    transform: scale(1);
  }
  15% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2);
  }
  25% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0.2);
  }
  80% {
    transform: scale(1);
  }
}

@-moz-keyframes play {
  0% {
    transform: scale(1);
  }
  15% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2);
  }
  25% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0.2);
  }
  80% {
    transform: scale(1);
  }
}

@-ms-keyframes play {
  0% {
    transform: scale(1);
  }
  15% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2);
  }
  25% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0.2);
  }
  80% {
    transform: scale(1);
  }
}

@-o-keyframes play {
  0% {
    transform: scale(1);
  }
  15% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2);
  }
  25% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0.2);
  }
  80% {
    transform: scale(1);
  }
}

#facePublisher {
    width: 178px;
    height: 100px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    z-index: 99;
    transition: width 200ms, height 200ms ease;
}

#facePublisher ot-publisher {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#facePublisher #myMiniVideo {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#session {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
ot-layout ot-subscriber {
    background-color: #262422;
    display: inline-block;
}
ot-layout {
    display: block;
    width: 100%;
    height: 100%;
}

ot-layout button.resize-btn {
    transition-property: top,bottom,opacity;
    transition-duration: .5s;
    transition-timing-function: ease-in;
    opacity: 0;
    width: 25px;
    height: 25px;
    font-size: 27px;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    top: -25px;
    margin-top: 2px;
    right: 38px;
    border: none;
    z-index: 99;
}

ot-layout > .OT_big button.resize-btn:before {
    content: "\f267";
}

ot-layout > :hover button.resize-btn {
    top: 0;
    opacity: 1;
}

ot-whiteboard {
    display: block;
    background-color: #FFFFFF;
}

medical-device {
    display: block;
    background-color: #FFFFFF;
}

.statusMessage {
    background-color: #565853;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0 10px 0;
    color: #DCD9CD;
    margin-bottom: 5px;
    padding: 10px;
}

#statusMessages {
    transition: opacity 200ms ease;
    /*opacity: 0;*/
    position: absolute;
    width: 465px;
    left: calc(50% - 242.5px);
    bottom: 80px;
    z-index: 98;
}

@media screen and (max-width: 650px) {  
  #facePublisher {
      width: 89px;
      height: 50px;
  }
  
  #statusMessages {
      width: 340px;
      left: calc(50% - 180px);
  }
}

@media only screen and (orientation: portrait) {
    #facePublisher {
        width: 100px;
        height: 150px;
    }
}

@media only screen and (orientation: portrait) and (max-width: 650px) {
    #facePublisher {
        width: 50px;
        height: 75px;
    }
}

body.mouse-move #statusMessages {
  opacity: 1;
}

#screenShareUnsupported {
    opacity: 0;
    transition: opacity 200ms ease;
}

@import url(http://fonts.googleapis.com/css?family=Lato:100);
body {
  background:#3498db;
}
h1 {
  font-size:30px;
  font-family:'Lato',sans-serif;
  color:#fff;
}
h2 {
  font-size:16px;
  font-family:'Lato',sans-serif;
  color:#fff;
}

.btn-bottom-menu {
  padding:40px 30px 30px 30px;
  margin:0 1px 0 0;
  text-decoration:none;
  text-align:center;
  color:#7f8c8d;
  cursor:pointer;
  background:#2c3e50;
  border-bottom:10px solid #34495e;
  transition-property:border-bottom .6s linear 0s;
  -moz-transition:border-bottom .6s linear 0s;
  -webkit-transition:border-bottom .6s linear 0s;
  -o-transition:border-bottom .6s linear 0s;
  font-size:25px;
}
.btn-bottom-menu.active {
  border-bottom:10px solid #2ecc71;
  color:#2ecc71;
}
.button-group-navigation li {
  display:inline-block;
  list-style:none;
  padding:0;
  margin:0;
  zoom:1;
  background:#7f8c8d;
}
.button-group-navigation li .btn-bottom-menu {
  float:left;
  margin-left:-4px;
}

.button-group-navigation>.btn-bottom-menu:first-child,.button-group-navigation li:first-child .btn-bottom-menu {
  margin-left:0;
  -webkit-border-top-left-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-bottomleft: 3px;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
}
.button-group-navigation>.btn-bottom-menu:last-child,.button-group-navigation li:last-child>.btn-bottom-menu {
  margin-right: 0;
  -webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}

.subscriber-small{
  width: 100% !important; 
  height: 100% !important
}

.modal-body-small
{
  height: 200px !important;
}

.modal-body-big
{
  height: 450px !important;
}
