

<div role="tabpanel" class="tab-pane active">
    <pagination total-items="totalItemsReport1"
                ng-model="currentPageReport1"
                max-size="maxSizeReport1"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                items-per-page="itemsPerPageReport1"
                ng-change="pagingHandlerUpcommingBooking()">
    </pagination>
     <div style="margin-bottom: 10px;color: #555555 !important;margin-top: 10px;margin-left: -10px;" class="row">
        <div class="col-md-12">
            Docment status : 
            &nbsp;&nbsp;<span style="background-color: #f2dede;" class="label label-sm warning">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp; Not received
            
            &nbsp;&nbsp;<span style="background-color: #d9edf7;"  class="label label-sm">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp; Received

            <!-- &nbsp;&nbsp;<span style="background-color: #fcf8e3;" class="label label-sm danger">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp; Not confirmed -->
            
        </div>
    </div>
    <table class="table table-hover table-light">
        <thead class="flip-content">
        <tr>
            <th>
                APPOINTMENT DATE
            </th>
            <th>
                FULLNAME
            </th>
            <th>
                LOCATION
            </th>
            <th>
                TYPE
            </th>
            <th>
                DOCTOR
            </th>
        </tr>
        <tr>
            <td>
                <rlob-choose-period from-date="filterInfo.FromAppointmentDate" to-date="filterInfo.ToAppointmentDate"></rlob-choose-period>
            </td>
            <td>
                <input class="form-control input-sm" type="text" ng-model="filterInfo.Surname" ng-change="initPagingReportUpcommingBooking()">
            </td>
            <td>
                <!-- <input class="form-control input-sm" type="text" ng-model="filterInfo.Location" ng-change="initPagingReportUpcommingBooking()"> -->
                <select class="form-control input-sm"
                        ng-model="locationSelected"
                        ng-options="location.Site_name for location in locationList"
                        ng-change="initPagingReportUpcommingBooking()">
                    <option  value="">ALL</option>
                </select>
            </td>
            <td>
                <select class="form-control input-sm"
                        ng-model="rlTypeSelected"
                        ng-options="rltype.Rl_TYPE_NAME for rltype in rlTypeList"
                        ng-change="initPagingReportUpcommingBooking()">
                    <option  value="">ALL</option>
                </select>
            </td>
            <td>
                <!-- <input class="form-control input-sm" type="text" ng-model="filterInfo.Doctor" ng-change="initPagingReportUpcommingBooking()"> -->
                <select class="form-control input-sm"
                        ng-model="doctorSelected"
                        ng-options="doctor.NAME for doctor in doctorList"
                        ng-change="initPagingReportUpcommingBooking()">
                    <option  value="">ALL</option>
                </select>
            </td>
            
            <!-- END SEARCH -->
        </tr>
        </thead>
        <tbody ng-repeat="upcomming in listUpcommingBookings">
        <tr ng-class='upcomming.style_class' ng-click="setSelectedBooking(upcomming.BOOKING_ID)">
            <td><label>{{upcomming.APPOINTMENT_DATE | date:'dd/MM/yyyy HH:mm'}}</label></td>
            <td><label>{{upcomming.FULL_NAME}}</label></td>
            <td><label>{{upcomming.Site_name}}</label></td>
            <td><label>{{upcomming.Rl_TYPE_NAME}}</label></td>
            <td><label>{{upcomming.NAME}}</label></td>
        </tr>
        </tbody>
    </table>
</div>