<!--<script src="/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>-->

<style>

    .lob_admin_date_node{
        background-color: rgba(67, 140, 202, 0.16);
        /*background-color:red!important;*/
    }

    .lob_admin_date_node:hover{
        background-color:rgba(191, 201, 210, 0.30);
    }

    .lob_admin_doctor_node{
        /*background-color: #5bc0de;*/
        background-color: rgba(70, 182, 176, 0.18);
    }

    .lob_admin_doctor_node:hover{
        /*background-color: #5bc0de;*/
        background-color: rgba(210, 230, 229, 0.31);
    }


    .lob_admin_booking_node{
        background-color: rgba(223, 186, 74, 0.12);
        /*background-color:blue!important;*/
    }

    .lob_admin_booking_node:hover{
        background-color: rgba(238, 234, 221, 0.40);
        /*background-color:blue!important;*/
    }

    .lob_admin_booking_node .lob_booking_status{
        color:rgba(223, 186, 74, 0.99);
    }

    .lob_admin_booking_file_node{
        /*background-color:gray!important;*/
    }

    .lob_status{
        font-weight: normal!important;
    }

    /*----------------------------------------*/
    /*Dinh nghia style submenu khi right click*/
    .dropdown{
        /*z-index: 9999;*/
    }

    .lob_admin_sub_context_menu{
        position: relative;
    }

    .lob_admin_sub_context_menu ul{
        display: none;

    }

    .lob_admin_sub_context_menu ul li{
        list-style: none;
    }
    .lob_admin_sub_context_menu:hover ul{
        display: block;
        left: 150px;
        top:0px;
        position: absolute;
        z-index: 9999;
    }

    .new-position{
        border-width:4px;
        border-color:red;
    }

    /*---------------------------------------*/

    .pointer {
        cursor: pointer;
        color: white;
        text-decoration: none;
    }
    .pointer:hover {
        cursor: pointer;
        color: white;
        text-decoration: none;
    }
    .highlight {
        color: #fff;
        background-color: #3498db;
    }
    .expanded {
        height: 400px;
    }
    .position-fixed {
        position: fixed;
    }

    /*--------------------------------------------*/
    .panel-explorer{
        /*height: 500px;
        overflow-y:auto;*/
        max-height: 700px;
        overflow: overlay;
    }

    .admin-notification-box{
        font-size: 10pt;
        font-weight: bold;
        border-right: 2px solid rgba(117, 117, 117, 0.21);
        padding-left: 5px;
        padding-right: 5px;
    }
    /*chien document status
    phanquocchien.c1109g@gmail.com
    */
    #documentstatusdiv2{
        position: fixed;
        width: 25%;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin: auto;
        z-index: 9000;
        background-color: rgba(150, 164, 166, 0.862745);
        display: table;
    }
    /*chien booking status
    phanquocchien.c1109g@gmail.com
    */
    #bookingstatusdiv2{
        position: fixed;
        width: 40%;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin: auto;
        z-index: 9000;
        background-color: rgba(150, 164, 166, 0.862745);
        display: table;
    }
    /*chien style class
    phanquocchien.c1109g@gmail.com
    */
    .rlob_document_status_not_confirmed{
        background-color: rgba(255, 255, 141, 0.55);
    }
    .rlob_document_status_checked{
        background-color: rgba(128, 216, 255, 0.65);
    }
    .rlob_document_status_no_document{
        background-color: rgba(255, 138, 128, 0.44);
    }
    .rlob_document_status_not_confirmed:hover{
        background-color: rgba(255, 255, 141, 0.45);
    }
    .rlob_document_status_checked:hover{
         background-color: rgba(128, 216, 255, 0.55);
     }
    .rlob_document_status_no_document:hover{
        background-color: rgba(255, 138, 128, 0.35);
    }
    /*chien message*/
    .message:hover{
        color: #01b070;
    }
</style>

<!--Bookmark Begin Page-->
<div id="rlob_admin_begin_page"></div>

<div class="portlet light">



<div class="portlet-title">
    <div class="caption">
        <i class="fa fa-check font-green-sharp"></i>
        <span class="caption-subject font-green-sharp bold uppercase">{{bookingTypeObj.display}} Online Booking (Admin)</span>

    </div>

</div>




<div class="actions">

    <div class="row">

        <div class="col-md-12 ">
            <span>
                <i class="fa fa-exclamation-triangle" style="color: #f3575e"></i>
            </span>
            <!--label label-warning-->
            <span class="  admin-notification-box">
                <a ng-click="showListBookingNotification(localNotificationType.type3.alias);">
                    {{listPassBookingHaveNotResult.length}} Outstanding reports
                </a>
            </span>
            <span class=" admin-notification-box">
                <a ng-click="showListBookingNotification(localNotificationType.type2.alias);">
                    {{listUpcommingBookingHaveNotClientDocument.length}} Waiting on Paperwork 
                </a>
            </span>
            <span class="   admin-notification-box">
                <a ng-click="showListBookingNotification(localNotificationType.type1.alias);">
                    {{listPassBookingNotChangeStatus.length}} Change Appointment Status
                </a>
            </span>
            <span class="pull-right">
                <a style="color: #4db3a2 !important;" ng-click="openOutlook()">
                    Newsletter
                </a>
            </span>
        </div>

    </div>
    <hr>




    <div class="row" style="margin-top:20px;margin-bottom: 10px">
        <div class="col-md-2">
            From Date:
            <div class=" form-group">

                    <div  class="input-group date date-picker" style="width: 150px;" data-date-format="dd-mm-yyyy">
                        <input  ng-model="lobAdminSearch.fromDateKey" id="fromDateKey" type="text" style="height: 35px;" class="form-control form-filter input-sm" readonly  name="order_date_from" >
                    <span class="input-group-btn">
                        <button class="btn btn-sm default" type="button" style="height: 35px;"><i class="fa fa-calendar"></i></button>
                    </span>
                    </div>

            </div>
        </div>

        <div class="col-md-2">
            To Date:
            <div class=" form-group">

                    <div class="input-group date date-picker " style="width: 150px;" data-date-format="dd-mm-yyyy">
                        <input  ng-model="lobAdminSearch.toDateKey" id="toDateKey" type="text" style="height: 35px;" class="form-control form-filter input-sm" readonly name="order_date_from" placeholder="To Date">
                    <span class="input-group-btn">
                        <button class="btn btn-sm default" type="button" style="height: 35px;"><i class="fa fa-calendar"></i></button>
                    </span>

                </div>
            </div>
        </div>

        <div ng-hide="doctorInfo.doctor_id" class="col-md-2">
            Doctor Name:
            <div  class=" form-group">
                <input class="form-control" type="text" ng-model="lobAdminSearch.doctorKey" id="doctorKey"/>
            </div>
        </div>
        <div class="col-md-2">
            Worker:
            <div class=" form-group">
                <input class="form-control" type="text" ng-model="lobAdminSearch.workerKey" id="workerKey"/>
            </div>
        </div>
        <div class="col-md-2">
            Document Status:
            <select class="form-control"
                    ng-model="lobAdminSearch.documentStatusKey"
                    ng-options="value.display for (key,value) in documentStatus" >
                <option  value="">All</option>
            </select>
        </div>
        <div class="col-md-2">

            <button style="margin-top: 20px" type="button" class="btn btn-info" ng-click="filterBooking();">Search</button>
        </div>

    </div>


    <!--mydata-->
    <div ng-show="mydata.length>0" class="row" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <a href="" class="btn btn-primary " ng-click="collapseAll()">Collapse all</a>
            <a href="" class="btn btn-primary " ng-click="expandAll()">Expand all</a>
            <div ng-show="showDetailPanel" class="btn-group dropdown pull-right">
                <button class="btn btn-success" style="height:36px" ng-click="setBookingIdInPaperless(selectedBooking.BOOKING_ID)">Go to paperless</button>
                <a type="button" class="dropdown-toggle btn btn-primary" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon glyphicon-th-list  btn btn-xs" style="width:30px">

                                    </span>
                    <!--{{selectedBooking.STATUS}}-->
                    Choose Actions
                </a>

                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a class="pointer" role="menuitem" tabindex="1"
                           ng-click="show_lob_upload_file_dialog(selectedBooking.BOOKING_ID,currentNodeBooking)">
                            Upload Files
                        </a>

                    </li>

                    <li>
                        <a class="pointer" role="menuitem" tabindex="2"
                           ng-click="showDialogSendBookingMessage(selectedBooking.ASS_ID,selectedBooking.BOOKING_ID)">
                            <!--Item 0- {{node.BOOKING_ID}}-->
                            Send Message
                        </a>
                    </li>

                    <li ng-show="node.STATUS == bookingStatus.confirmed">
                        <a class="pointer" role="menuitem" tabindex="3"
                           ng-click="showDialogChangeAppointmentCalendar(selectedBooking.BOOKING_ID,selectedBooking.CAL_ID,selectedBooking.APPOINTMENT_DATE,selectedBooking.ASS_ID)">
                            Change Appointment Calendar
                        </a>

                    </li>   
                    <!--chien set status
                    phanquocchien.c1109g@gmail.com-->
                    <li>
                       <a class="pointer" role="menuitem" tabindex="2" ng-click="bookingstatusfadeIn()">
                           Set Bookings Status
                       </a>
                    </li>
                    <li>
                        <a class="pointer" role="menuitem" tabindex="2" ng-click="documentstatusfadeIn()">
                            Set Documents Status
                        </a>
                    </li>
                    <!--<p style="border-top: 1px solid rgba(0, 0, 0, 0.23);" role="menuitem"></p>-->
                    <!--Set Bookings Status:-->
                    <!--<li ng-hide="selectedBooking.STATUS=='Confirmed'" >-->
                        <!--<a ng-hide="selectedBooking.STATUS=='Confirmed'" class="pointer" role="menuitem" tabindex="4"-->
                           <!--ng-click="lob_change_status(selectedBooking.ASS_ID,selectedBooking.BOOKING_ID,'Confirmed',currentNodeBooking)">-->
                            <!--<span>Confirmed</span>-->

                        <!--</a>-->
                    <!--</li>-->

                    <!--<li ng-hide="selectedBooking.STATUS=='Arrived'">-->
                        <!--<a  class="pointer" role="menuitem" class="pointer" role="menuitem" tabindex="5"-->
                            <!--ng-click="lob_change_status(selectedBooking.ASS_ID,selectedBooking.BOOKING_ID,'Arrived',currentNodeBooking)">-->
                            <!--<span>Arrived</span>-->

                        <!--</a>-->
                    <!--</li>-->

                    <!--<li ng-hide="selectedBooking.STATUS=='Not Arrived'">-->
                        <!--<a class="pointer" role="menuitem" lass="pointer" role="menuitem" tabindex="6"-->
                           <!--ng-click="lob_change_status(selectedBooking.ASS_ID,selectedBooking.BOOKING_ID,'Not Arrived',currentNodeBooking)">-->
                            <!--<span>Not Arrived</span>-->

                        <!--</a>-->
                    <!--</li>-->

                    <!--<li ng-hide="selectedBooking.STATUS=='Completed'">-->
                        <!--<a  class="pointer" role="menuitem" lass="pointer" role="menuitem" tabindex="7"-->
                            <!--ng-click="lob_change_status(selectedBooking.ASS_ID,selectedBooking.BOOKING_ID,'Completed',currentNodeBooking)">-->
                            <!--<span>Completed</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li ng-hide="selectedBooking.STATUS=='Cancel'">-->
                        <!--<a  class="pointer" role="menuitem" lass="pointer" role="menuitem" tabindex="8"-->
                            <!--ng-click="lob_change_status(selectedBooking.ASS_ID,selectedBooking.BOOKING_ID,'Cancel',currentNodeBooking)">-->
                            <!--<span>Cancel</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<p style="border-top: 1px solid rgba(0, 0, 0, 0.23);" role="menuitem"></p>-->
                    <!--Set Documents Status:-->
                    <!--<li ng-hide="selectedDocument.DOCUMENT_STATUS=='Not Confirmed'" >-->
                        <!--<a ng-hide="selectedDocument.DOCUMENT_STATUS=='Not Confirmed'" class="pointer" role="menuitem" tabindex="4"-->
                           <!--ng-click="rlob_document_change_status(selectedDocument.BOOKING_ID,'Not Confirmed')">-->
                            <!--<span>Not Confirmed</span>-->
                        <!--</a>-->
                    <!--</li>-->

                    <!--<li ng-hide="selectedDocument.DOCUMENT_STATUS=='Checked'">-->
                        <!--<a  class="pointer" role="menuitem" class="pointer" role="menuitem" tabindex="5"-->
                            <!--ng-click="rlob_document_change_status(selectedDocument.BOOKING_ID,'Checked')">-->
                            <!--<span>Checked</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li ng-hide="selectedDocument.DOCUMENT_STATUS=='No Documents'">-->
                        <!--<a class="pointer" role="menuitem" lass="pointer" role="menuitem" tabindex="6"-->
                           <!--ng-click="rlob_document_change_status(selectedDocument.BOOKING_ID,'No Documents')">-->
                            <!--<span>No Documents</span>-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>

    </div>
</div>
<!--scroller-->
<div class="portlet-body">
    <div class="row">
        <div  class="col-md-6 col-sm-6 col-xs-6 treePanel">
            <script type="text/ng-template" id="nodes_renderer.html">
                <!--{{node.BOOKING_ID!=null && node.BOOKING_ID==currentUpdatingItem.bookingId?'new-position':''}}-->
                <div  ng-class="[node.style_class,node.BOOKING_ID!=null && node.BOOKING_ID==currentUpdatingItem.bookingIdChangeSuccess?newPosition:'']"
                      ui-tree-handle class="tree-node tree-node-content "
                      ng-click="getBookingDetailWhenCursor(node.BOOKING_ID,this)">
                    <a class="btn btn-xs"
                       ng-class="{'btn-primary':node.APPOINTMENT_DATETIME,'btn-success':node.DOCTOR_ID}"
                       ng-if="node.nodes && node.nodes.length > 0"
                       nodrag ng-click="toggle(this)">
                        <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}">
                        </span>
                    </a>
                    <!--<a ng-if="!node.BOOKING_ID">-->
                            <!--<span >-->
                                <!--{{node.DISPLAY}}-->
                            <!--</span>-->
                    <!--</a>-->
                    <!--<a ng-if="node.BOOKING_ID" ng-click="getBookingDetailWhenClick(node.BOOKING_ID);">-->
                        <!--<p >-->
                            <!--{{node.DISPLAY}}-->
                        <!--</p>-->
                    <!--</a>-->

                    <a>
                            <span ng-if="!node.BOOKING_ID">
                                {{node.DISPLAY}}
                                <!-- chien
                                phanquocchien.c1109g@gmail.com
                                show doctor name and booking -->
                                <span ng-if="node.IS_DATE_ITEM">
                                    <br/>
                                    <span style="font-size: 10px;" ng-repeat="item in node.nodes">
                                        <span ng-show="$first">{{item.NAME}}({{item.nodes.length}})</span>
                                        <span ng-show="!$first"><color style="color:rgb(129, 126, 126)">|</color> {{item.NAME}}({{item.nodes.length}})</span>
                                    </span>

                                </span>

                            </span>

                            <span ng-if="node.BOOKING_ID" ng-click="getBookingDetailWhenClick(node.BOOKING_ID,this);">
                                {{node.DISPLAY}}
                            </span>
                    </a>


                    <div ng-if="node.BOOKING_ID>0" class="btn-group dropdown pull-right" >
                        <a type="button" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon glyphicon-th-list  lob_booking_status btn btn-xs pull-right" style="width:30px"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a class="pointer" role="menuitem" tabindex="1"
                                   ng-click="showBookingDetailDialog(node.BOOKING_ID)">
                                    <!--Item 0- {{node.BOOKING_ID}}-->
                                    View Booking Details
                                </a>
                            </li>
                            <li>
                                <a class="pointer" role="menuitem" tabindex="1"
                                   ng-click="showDialogSendBookingMessage(node.ASS_ID,node.BOOKING_ID)">
                                    <!--Item 0- {{node.BOOKING_ID}}-->
                                    Send Message
                                </a>
                            </li>
                            <li>
                                <a class="pointer" role="menuitem" tabindex="2"
                                   ng-click="show_lob_upload_file_dialog(node.BOOKING_ID,this)">
                                    Upload Files
                                </a>
                            </li>

                            <li ng-show="node.STATUS == bookingStatus.confirmed">
                                <a class="pointer" role="menuitem" tabindex="2"
                                   ng-click="showDialogChangeAppointmentCalendar(node.BOOKING_ID,node.CAL_ID,node.APPOINTMENT_DATETIME,node.ASS_ID)">
                                    Change appointment calendar
                                </a>
                            </li>
                            <!--chien set status
                            phanquocchien.c1109g@gmail.com-->

                            <li>
                                <a class="pointer" role="menuitem" tabindex="2" ng-click="bookingstatusfadeIn()">
                                    Set Bookings Status
                                </a>
                            </li>
                            <li>
                                <a class="pointer" role="menuitem" tabindex="2" ng-click="documentstatusfadeIn()">
                                    Set Documents Status
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div ng-if="node.FILE_ID>0" class="btn-group dropdown pull-right" >
                        <a type="button" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon glyphicon-th-list btn btn-xs pull-right" style="width:30px"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a class="pointer" role="menuitem" tabindex="1"
                                   ng-click="lob_download_file(node.FILE_ID)">
                                    Download file
                                </a>
                            </li>
                            <p style="border-top: 1px solid rgba(0, 0, 0, 0.23)"></p>
                            <li ng-hide="node.isClientDownLoad==1" >
                                <a class="pointer" role="menuitem" tabindex="2"
                                   ng-click="lob_change_booking_file_role(node.ASS_ID,node.FILE_ID,'1',this)">
                                    Set: Is file result
                                </a>
                            </li>
                            <li ng-hide="node.isClientDownLoad!=1">
                                <a class="pointer" role="menuitem" tabindex="3"
                                   ng-click="lob_change_booking_file_role(node.ASS_ID,node.FILE_ID,'0',this)">
                                    Set: Is not file result
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!--<span class="label label-warning">Warning</span>-->
                    <!--<span ng-if="node.BOOKING_ID" class="pull-right lob_status lob_booking_status ">{{node.STATUS}}</span>-->
                    <div>
                        <span ng-if="node.BOOKING_ID" class=" lob_status lob_booking_status">{{node.STATUS}}</span>
                        <span ng-if="node.FILE_ID" class="  lob_status">{{node.isClientDownLoad==1?'Result':''}}</span>
                    </div>

                </div>
                <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                    <li
                            ng-class="{ 'highlight': panel.highlight, 'expanded': panel.expanded }"
                            ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                    </li>
                </ol>


            </script>
            <div ui-tree data-drag-enabled="false" id="tree-root" class="panel-explorer treeScroll">
                <ol ui-tree-nodes data-drag-enabled="false" ng-model="mydata">
                    <li
                            ng-class="{ 'highlight': panel.highlight, 'expanded': panel.expanded }"
                            ng-repeat="node in mydata" ui-tree-node ng-include="'nodes_renderer.html'">
                    </li>
                </ol>
                <div id="rlob_admin_end_page" style="width: 100%;height: 150px"></div>
                <!--Bookmark End List-->

            </div>


        </div>

        <div ng-show="showDetailPanel" class="col-md-6 col-sm-6 col-xs-6 detailPanel" >
            <!--<div class="panel-explorer detailScroll" >-->
            <!--</div>-->

            <div ng-class="selectedBooking.style_class" class="alert alert-info" role="alert" style="text-align: center;text-decoration: underline">
                Booking Status: {{selectedBooking.STATUS}} <br />
                Documents Status : {{documentStatusDisplay[selectedBooking.DOCUMENT_STATUS]}}
            </div>


            <accordion >
                <accordion-group class="panel panel-success"  is-open="accordionStatus.status1">
                    <accordion-heading>
                        <h3 class="panel-title">Documents</h3>
                    </accordion-heading>
                    <div>
                        <!--files-update-flag
                        tham chieu toi cung mot bien se giup dong bo hoa giua upload va download
                        -->
                        <rlob-file-download
                                selected-booking="selectedBooking"
                                booking-type="bookingType"
                                is-admin-get-files="isAdminGetFiles"
                                files-update-flag="filesUpdateFlag">

                        </rlob-file-download>
                    </div>
                </accordion-group>
            </accordion>

            <rlob-booking-detail-compact booking-type="bookingType" selected-booking="selectedBooking">

            </rlob-booking-detail-compact>
        </div>
    </div>

</div>
</div>









<!--SHOW BOOKING DETAIL DIALOG TEMPLATE-->

<div id="view-detail-booking-dialog" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row" style="margin-right: 0;margin-bottom: -5px;"> 
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title col-md-3 col-sm-4 col-xs-5">Success</h4>
                    <img style="height: 35px;float: right;margin-top: -5px; width: 190px;" class="col-md-5 col-sm-5 col-xs-5" src="modules/rediLegalOnlineBooking/images/legal-logo.png">
                </div>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Success</h4> -->
            </div>

            <div class="modal-body">
                <rlob-booking-detail booking-type="bookingType" selected-booking="selectedBooking"></rlob-booking-detail>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                <!--<a class="btn btn-primary" href="{{mailtoLink}}">Send Email</a>-->
            </div>
        </div>
    </div>
</div>



<!--UPLOAD DIALOG LAYOUT-->
<div  id="lob-upload-file-dialog" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row" style="margin-right: 0;margin-bottom: -5px;"> 
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title col-md-3 col-sm-4 col-xs-5">Upload files</h4>
                    <img style="height: 35px;float: right;margin-top: -5px; width: 190px;" class="col-md-5 col-sm-5 col-xs-5" src="modules/rediLegalOnlineBooking/images/legal-logo.png">
                </div>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload files</h4> -->
            </div>

            <div class="modal-body">
                <div class="row">
                    <!--files-update-flag
                        tham chieu toi cung mot bien se giup dong bo hoa giua upload va download
                    -->
                    <rlob-upload selected-booking="selectedBooking"
                                 is-admin-upload="isAdminUpload"
                                 files-update-flag="filesUpdateFlag"></rlob-upload>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                <!--<a class="btn btn-primary" href="{{mailtoLink}}">Send Email</a>-->
            </div>
        </div>
    </div>
</div>

<div  id="lob-send-booking-message" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row" style="margin-right: 0;margin-left: 0;margin-bottom: -5px;"> 
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="caption">
                        <i class="fa fa-plus-square font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo bold uppercase">Enter</span>
                        <span style="padding: 0;margin: 0;line-height: 13px;color: #9eacb4;font-size: 13px;font-weight: 400;">Message</span>
                    </div>
                    <img style="height: 35px;float: right;margin-top: -25px; width: 190px;margin-right: 10px;" class="col-md-5 col-sm-5 col-xs-5" src="modules/rediLegalOnlineBooking/images/legal-logo.png">
                </div>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                <!--<h4 class="modal-title">Enter message</h4>-->
               <!--  <div class="caption">
                    <i class="fa fa-plus-square font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">Enter</span>
                    <span style="padding: 0;margin: 0;line-height: 13px;color: #9eacb4;font-size: 13px;font-weight: 400;">Message</span>
                </div> -->
            </div>

            <div class="modal-body">
            <textarea style="margin-bottom: 20px;" placeholder="Enter message" class="form-control" rows="2" ng-model="bookingMessage.message"/>
            <!--<div ng-repeat="item in ListBookingMessages">-->
                <!--&lt;!&ndash;<input type="radio" name="bookingMessage.message" ng-model="color" name="milestone" ng-value="item.CONTENTS" ng-click="check(color)" ng-model="color" ng-change="check(color)"> &nbsp; {{item.CONTENTS}}&ndash;&gt;-->
                <!--<label style="margin-left: 15px;margin-top: 3px color:red" ng-click="check(item.CONTENTS)"><i class="fa fa-bars"></i> &nbsp; {{item.CONTENTS}}</label>-->
            <!--</div>-->
            <div  style="width: 98%;margin-left: 10px;overflow-y: scroll;min-height: 300px;max-height: 310px;}" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" data-initialized="1">
            <ul class="feeds">
            <li ng-repeat="item in ListBookingMessages" class="message" ng-click="check(item.CONTENTS)">
                <div class="col1">
                    <div class="cont">
                        <div class="cont-col1">
							<div class="label label-sm label-danger">
								<i class="fa fa-envelope-o"></i>
							</div>
						</div>
                        <div class="cont-col2">
                            <div class="desc" style="min-height: 25px">
                                {{item.CONTENTS}}.
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            </ul>
            </div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-success" ng-click="sendBookingMessage()">OK</button>-->
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button type="submit" class="btn red" ng-click="sendBookingMessage()">OK</button>
                <button type="button" class="btn default" data-dismiss="modal">Cancel</button>

                <!--<a class="btn btn-primary" href="{{mailtoLink}}">Send Email</a>-->
            </div>
        </div>
    </div>
</div>


<!--MESSAGE DIALOG LAYOUT-->
<rlob-dialog dialog-class="lob-msg-dialog" status="msgStatus" header="msgHeader" msg="msgContent"></rlob-dialog>

<div  id="lob-change-appointment-calendar-dialog" class="modal fade">
    <!--<div  id="lob-change-appointment-calendar-dialog">-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row" style="margin-right: 0;margin-bottom: -5px;"> 
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title col-md-3 col-sm-4 col-xs-5">Change Appointment Calendar</h4>
                    <img style="height: 35px;float: right;margin-top: -5px; width: 190px;" class="col-md-5 col-sm-5 col-xs-5" src="modules/rediLegalOnlineBooking/images/legal-logo.png">
                </div>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Change Appointment Calendar</h4> -->
            </div>

            <div class="modal-body">
                <div class="portlet light">
                    <rlob-choose-appointment-calendar-dialog
                            selected-appointment-calendar="selectedAppointmentCalendar"
                            using-for-dialog-flag="usingForDialogFlag"
                            booking-type="bookingType">

                    </rlob-choose-appointment-calendar-dialog>



                </div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-success" ng-click="sendBookingMessage()">OK</button>-->
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


                <!--<a class="btn btn-primary" href="{{mailtoLink}}">Send Email</a>-->
            </div>
        </div>
    </div>
</div>


<div  id="list-booking-notification-popup" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row" style="margin-right: 0;margin-bottom: -5px;"> 
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title col-md-4 col-sm-4 col-xs-5">{{listBookingNotificationHeader}}</h4>
                    <img style="height: 35px;float: right;margin-top: -5px; width: 190px;" class="col-md-5 col-sm-5 col-xs-5" src="modules/rediLegalOnlineBooking/images/legal-logo.png">
                </div>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                <!-- <h4 class="modal-title">{{listBookingNotificationHeader}}</h4> -->
            </div>

            <div class="modal-body">
                <rlob-admin-local-notification list-booking-notification="listBookingNotification" booking-type="bookingType"></rlob-admin-local-notification>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class='notifications top-right rlob_admin_local_notification_popup'></div>
        <!--chien teamplate booking status
        phanquocchien.c1109g@gmail.com-->
<div id="bookingstatus" style="display: none">
    <div id="bookingstatusdiv2">
        <i style="color: #ffffff;position: absolute;right: 10px;top: 10px;font-size: 25px;" class="fa fa-times-circle-o" ng-click="bookingstatusfadeOut()"></i>
        <div class="row" style="display: table-cell;padding-top: 10px;">
            <ul style="margin-left: -30px;">
                <li style="width: 100px;margin-top: 5px" ng-hide="selectedBooking.STATUS=='Confirmed'" class="btn btn-primary" >
                    <a ng-hide="selectedBooking.STATUS=='Confirmed'" class="pointer" role="menuitem" tabindex="4"
                       ng-click="lob_change_status(selectedBooking.ASS_ID,selectedBooking.BOOKING_ID,'Confirmed',currentNodeBooking,selectedBooking.CAL_ID,selectedBooking.PATIENT_ID)">
                        <span>Confirmed</span>
                    </a>
                </li>

                <li style="width: 100px;margin-top: 5px" ng-hide="selectedBooking.STATUS=='Arrived'" class="btn btn-success">
                    <a  class="pointer" role="menuitem" class="pointer" role="menuitem" tabindex="5"
                        ng-click="lob_change_status(selectedBooking.ASS_ID,selectedBooking.BOOKING_ID,'Arrived',currentNodeBooking,selectedBooking.CAL_ID,selectedBooking.PATIENT_ID)">
                        <span>Arrived</span>
                    </a>
                </li>

                <li style="width: 100px;margin-top: 5px" ng-hide="selectedBooking.STATUS=='Not Arrived'" class="btn btn-info">
                    <a class="pointer" role="menuitem" lass="pointer" role="menuitem" tabindex="6"
                       ng-click="lob_change_status(selectedBooking.ASS_ID,selectedBooking.BOOKING_ID,'Not Arrived',currentNodeBooking,selectedBooking.CAL_ID,selectedBooking.PATIENT_ID)">
                        <span>Not Arrived</span>
                    </a>
                </li>

                <li style="width: 100px;margin-top: 5px" ng-hide="selectedBooking.STATUS=='Completed'" class="btn btn-warning">
                    <a  class="pointer" role="menuitem" lass="pointer" role="menuitem" tabindex="7"
                        ng-click="lob_change_status(selectedBooking.ASS_ID,selectedBooking.BOOKING_ID,'Completed',currentNodeBooking,selectedBooking.CAL_ID,selectedBooking.PATIENT_ID)">
                        <span>Completed</span>
                    </a>
                </li>
                <li style="width: 100px;margin-top: 5px" ng-hide="selectedBooking.STATUS=='Cancel'" class="btn btn-danger">
                    <a  class="pointer" role="menuitem" lass="pointer" role="menuitem" tabindex="8"
                        ng-click="lob_change_status(selectedBooking.ASS_ID,selectedBooking.BOOKING_ID,'Cancel',currentNodeBooking,selectedBooking.CAL_ID,selectedBooking.PATIENT_ID)">
                        <span>Cancel</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--chien teamplate document status
phanquocchien.c1109g@gmail.com-->
<div id="documentstatus" style="display: none;" >
    <div id="documentstatusdiv2">
        <i style="color: #ffffff;position: absolute;right: 10px;top: 10px;font-size: 25px;" class="fa fa-times-circle-o" ng-click="documentstatusfadeOut()"></i>
        <div class="row" style="display: table-cell;padding-top: 10px;">
            <ul style="margin-left: -30px;">
                <li style="width: 120px;margin-top: 5px" ng-hide="selectedBooking.DOCUMENT_STATUS==documentStatus.notConfirmed.value" class="btn btn-warning" >
                    <a ng-hide="selectedBooking.DOCUMENT_STATUS==documentStatus.notConfirmed.value" class="pointer" role="menuitem" tabindex="4"
                       ng-click="rlob_document_change_status(selectedBooking.BOOKING_ID,documentStatus.notConfirmed.value)">
                        <span>{{documentStatus.notConfirmed.display}}</span>
                    </a>
                </li>

                <li style="width: 120px;margin-top: 5px" ng-hide="selectedBooking.DOCUMENT_STATUS==documentStatus.checked.value" class="btn btn-success">
                    <a  class="pointer" role="menuitem" class="pointer" role="menuitem" tabindex="5"
                        ng-click="rlob_document_change_status(selectedBooking.BOOKING_ID,documentStatus.checked.value)">
                        <span>{{documentStatus.checked.display}}</span>
                    </a>
                </li>
                <li style="width: 120px;margin-top: 5px" ng-hide="selectedBooking.DOCUMENT_STATUS==documentStatus.noDocuments.value" class="btn btn-danger">
                    <a class="pointer" role="menuitem" lass="pointer" role="menuitem" tabindex="6"
                       ng-click="rlob_document_change_status(selectedBooking.BOOKING_ID,documentStatus.noDocuments.value)">
                        <span>{{documentStatus.noDocuments.display}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
 

<!-- <input type='button' value='Button 1' id='button1'>
<input type='button' value='Button 2' id='button2'> -->
