

<div role="tabpanel" class="tab-pane active">
    <pagination total-items="totalItemsReport1"
                ng-model="currentPageReport1"
                max-size="maxSizeReport1"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                items-per-page="itemsPerPageReport1"
                ng-change="pagingHandlerUpcommingBookingHaveNotResult()">
    </pagination>
    <table class="table table-hover table-light">
        <thead class="flip-content">
        <tr>
            <th>
                APPOINTMENT DATE
            </th>
            <th>
                SURNAME
            </th>
            <th>
                LOCATION
            </th>
            <th>
                TYPE
            </th>
            <th>
                DOCTOR
            </th>
        </tr>
        <tr>
            <td>
                <rlob-choose-period from-date="filterInfo.FromAppointmentDate" to-date="filterInfo.ToAppointmentDate"></rlob-choose-period>
            </td>
            <td>
                <input class="form-control input-sm" type="text" ng-model="filterInfo.Surname" ng-change="initPagingReportUpcommingBookingHaveNotResult()">
            </td>
            <td>
                <!-- <input class="form-control input-sm" type="text" ng-model="filterInfo.Location" ng-change="initPagingReportUpcommingBookingHaveNotResult()"> -->
                <select class="form-control input-sm"
                        ng-model="locationSelected"
                        ng-options="location.Site_name for location in locationList"
                        ng-change="initPagingReportUpcommingBookingHaveNotResult()">
                    <option  value="">ALL</option>
                </select>
            </td>
            <td>
                <select class="form-control input-sm"
                        ng-model="rlTypeSelected"
                        ng-options="rltype.Rl_TYPE_NAME for rltype in rlTypeList"
                        ng-change="initPagingReportUpcommingBookingHaveNotResult()">
                    <option  value="">ALL</option>
                </select>
            </td>
            <td>
                <!-- <input class="form-control input-sm" type="text" ng-model="filterInfo.Doctor" ng-change="initPagingReportUpcommingBookingHaveNotResult()"> -->
                <select class="form-control input-sm"
                        ng-model="doctorSelected"
                        ng-options="doctor.NAME for doctor in doctorList"
                        ng-change="initPagingReportUpcommingBookingHaveNotResult()">
                    <option  value="">ALL</option>
                </select>
            </td>
            
            <!-- END SEARCH -->
        </tr>
        </thead>
        <tbody ng-repeat="booking1 in reportUpcommingBookingsList">
        <tr ng-class='booking1.style_class' ng-click="setSelectedBooking(booking1.BOOKING_ID)">
            <td><label>{{booking1.APPOINTMENT_DATE | date:'dd/MM/yyyy HH:mm'}}</label></td>
            <td><label>{{booking1.WRK_SURNAME}}</label></td>
            <td><label>{{booking1.Site_name}}</label></td>
            <td><label>{{booking1.Rl_TYPE_NAME}}</label></td>
            <td><label>{{booking1.NAME}}</label></td>
        </tr>
        </tbody>
    </table>
</div>