<div role="tabpanel" class="tab-pane active">

    <pagination total-items="totalItems"
                ng-model="currentPage"
                max-size="maxSize"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                num-pages="numPages"
                items-per-page="itemsPerPage"
                ng-change="pagingHandlerArchiveBooking()">
    </pagination>

    <table class="table table-responsive table-hover">
        <thead>
        <tr>
            <th >
                APPOINTMENT DATE
            </th>

            <th >
                LOCATION
            </th>

            <th >
                FULL NAME
            </th>
            
            <th >
                TYPE
            </th>
            <th >
                DOCTOR
            </th>
            <th >
                BOOKING STATUS
            </th>
            <th >
                DOCUMENT STATUS
            </th>
        </tr>
        <tr>
            <td >
                <rlob-choose-period from-date="searchKeys.fromAppointmentDate" to-date="searchKeys.toAppointmentDate"></rlob-choose-period>
            </td>

            <td >
                <!-- <input class="form-control input-sm" type="text" ng-model="searchKeys.location" ng-change="initPagingReportArchiveBooking(doctorId)"> -->
                <select class="form-control input-sm"
                        ng-model="locationSelected"
                        ng-options="location.Site_name for location in locationList"
                        ng-change="initPagingReportArchiveBooking(doctorId)">
                    <option  value="">ALL</option>
                </select>
            </td>

            <td >
                <input class="form-control input-sm" type="text" ng-model="searchKeys.surname" ng-change="initPagingReportArchiveBooking(doctorId)">
            </td>
            
            <td >
                <select class="form-control input-sm"
                        ng-model="rlTypeSelected"
                        ng-options="rltype.Rl_TYPE_NAME for rltype in rlTypeList"
                        ng-change="initPagingReportArchiveBooking(doctorId)">
                    <option  value="">ALL</option>
                </select>
            </td>
            <td >
                <!-- <input class="form-control input-sm" type="text" ng-model="searchKeys.doctor" ng-change="initPagingReportArchiveBooking(doctorId)"> -->
                <select class="form-control input-sm"
                        ng-model="doctorSelected"
                        ng-options="doctor.NAME for doctor in doctorList"
                        ng-change="initPagingReportArchiveBooking(doctorId)">
                    <option  value="">ALL</option>
                </select>
            </td>
            <td >
                <!-- <input class="form-control input-sm" type="text" ng-model="searchKeys.complete" ng-change="initPagingReportArchiveBooking(doctorId)"> -->
            </td>
            <td >
                <!-- DOCUMENT STATUS -->
            </td>
        </tr>

        </thead>
        <tbody>
        <tr ng-repeat="archive in listArchiveBookings"  style="cursor: pointer;" ng-click="setSelectedBooking(archive.BOOKING_ID)">
            <td >{{archive.APPOINTMENT_DATE | date:'HH:mm dd/MM/yyyy'}}</td>
            <td >{{archive.Site_name}}</td>
            <td >{{archive.FULL_NAME}}</td>
            <td >{{archive.Rl_TYPE_NAME}}</td>
            <td >{{archive.NAME}}</td>
            <td >{{archive.STATUS}}</td>
            <td >{{documentStatusDisplay[archive.DOCUMENT_STATUS]}}</td>
        </tr>
        </tbody>
    </table>


</div>
