<script src="/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>

<style>
    .lob_admin_date_node{
        background-color: rgba(67, 140, 202, 0.16);
        /*background-color:red!important;*/
    }

    .lob_admin_date_node:hover{
        background-color:rgba(191, 201, 210, 0.30);
    }

    .lob_admin_doctor_node{
        /*background-color: #5bc0de;*/
        background-color: rgba(70, 182, 176, 0.18);
    }

    .lob_admin_doctor_node:hover{
        /*background-color: #5bc0de;*/
        background-color: rgba(210, 230, 229, 0.31);
    }


    .lob_admin_booking_node{
        background-color: rgba(223, 186, 74, 0.12);
        /*background-color:blue!important;*/
    }

    .lob_admin_booking_node:hover{
        background-color: rgba(238, 234, 221, 0.40);
        /*background-color:blue!important;*/
    }

    .lob_admin_booking_node .lob_booking_status{
        color:rgba(223, 186, 74, 0.99);
    }

    .lob_admin_booking_file_node{
        /*background-color:gray!important;*/
    }

    /*----------------------------------------*/
    /*Dinh nghia style submenu khi right click*/
    .dropdown{
        z-index: 9999;
    }

    .lob_admin_sub_context_menu{
        position: relative;
    }
    .lob_admin_sub_context_menu ul{
        display: none;

    }

    .lob_admin_sub_context_menu ul li{
        list-style: none;
    }
    .lob_admin_sub_context_menu:hover ul{
        display: block;
        left: 150px;
        top:0px;
        position: absolute;
        z-index: 9999;
    }


    /*---------------------------------------*/

    .pointer {
        cursor: pointer;
    }
    .highlight {
        color: #fff;
        background-color: #3498db;
    }
    .expanded {
        height: 400px;
    }
    .position-fixed {
        position: fixed;
    }
</style>

<h3>Tree view
    <a href="" class="btn btn-default pull-right" ng-click="collapseAll()">Collapse all</a>
    <a href="" class="btn btn-default pull-right" ng-click="expandAll()">Expand all</a>
    <a href="" class="btn btn-default btn-warning pull-right" ng-click="moveLastToTheBegginig()">Move Last To The Begginig</a>

</h3>
<div class="row">
    <div class="col-md-2">
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group date date-picker " style="width: 150px;" data-date-format="dd-mm-yyyy">
                    <input ng-model="lobAdminSearch.fromDateKey" id="fromDateKey" type="text" style="height: 35px;" class="form-control form-filter input-sm" readonly name="order_date_from" placeholder="From Date">
                    <span class="input-group-btn">
                        <button class="btn btn-sm default" type="button" style="height: 35px;"><i class="fa glyphicon glyphicon-calendar "></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="row form-group">
            <div class="col-md-12">
                <div class="input-group date date-picker " style="width: 150px;" data-date-format="dd-mm-yyyy">
                    <input ng-model="lobAdminSearch.toDateKey" id="toDateKey" type="text" style="height: 35px;" class="form-control form-filter input-sm" readonly name="order_date_from" placeholder="To Date">
                    <span class="input-group-btn">
                        <button class="btn btn-sm default" type="button" style="height: 35px;"><i class="fa glyphicon glyphicon-calendar "></i></button>
                    </span>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-3">
                <label for="doctorKey">Doctor:</label>
            </div>
            <div class="col-md-9">
                <input class="form-control" type="text" ng-model="lobAdminSearch.doctorKey" id="doctorKey"/>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row form-group">
            <div class="col-md-3">
                <label for="workerKey">Worker:</label>
            </div>
            <div class="col-md-9">
                <input class="form-control" type="text" ng-model="lobAdminSearch.workerKey" id="workerKey"/>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <button type="button" class="btn btn-info" ng-click="filterBooking();">Search</button>
    </div>

</div>

<script type="text/ng-template" id="nodes_renderer.html">

    <div  ng-class="node.style_class" ui-tree-handle class="tree-node tree-node-content">
        <a class="btn btn-xs" ng-class="{'btn-primary':node.APPOINTMENT_DATETIME,'btn-success':node.DOCTOR_ID,'btn-warning':node.BOOKING_ID}" ng-if="node.nodes && node.nodes.length > 0" nodrag ng-click="toggle(this)">
            <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}">
            </span>
        </a>
        <span >{{node.DISPLAY}}</span>
        <span ng-if="node.BOOKING_ID" class="pull-right lob_booking_status">{{node.STATUS}}</span>
        <span ng-if="node.FILE_ID" class="pull-right">{{node.isClientDownLoad==1?'Client can download':'Client cannot download'}}</span>

        <div ng-if="node.BOOKING_ID>0" class="dropdown position-fixed" id="menux-booking-{{node.BOOKING_ID}}">
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a class="pointer" role="menuitem" tabindex="1"
                       ng-click="showBookingDetailDialog(node.BOOKING_ID)">
                        <!--Item 0- {{node.BOOKING_ID}}-->
                        View Booking Details
                    </a>
                </li>
                <li>
                    <a class="pointer" role="menuitem" tabindex="2"
                       ng-click="show_lob_upload_file_dialog(node.BOOKING_ID,this)">
                        Upload Files
                    </a>
                </li>
                <p style="border-top: 1px solid rgba(0, 0, 0, 0.23);" role="menuitem"></p>
                Set Status:
                <li ng-hide="node.STATUS=='Confirmed'" >
                    <a ng-hide="node.STATUS=='Confirmed'" class="pointer" role="menuitem" tabindex="3"
                       ng-click="lob_change_status(node.BOOKING_ID,'Confirmed',this)">
                        <span>Confirmed</span>

                    </a>
                </li>

                <li ng-hide="node.STATUS=='Arrived'">
                    <a  class="pointer" role="menuitem" class="pointer" role="menuitem" tabindex="4"
                        ng-click="lob_change_status(node.BOOKING_ID,'Arrived',this)">
                        <span>Arrived</span>

                    </a>
                </li>

                <li ng-hide="node.STATUS=='Not Arrived'">
                    <a class="pointer" role="menuitem" lass="pointer" role="menuitem" tabindex="5"
                       ng-click="lob_change_status(node.BOOKING_ID,'Not Arrived',this)">
                        <span>Not Arrived</span>

                    </a>
                </li>

                <li ng-hide="node.STATUS=='Completed'">
                    <a  class="pointer" role="menuitem" lass="pointer" role="menuitem" tabindex="6"
                        ng-click="lob_change_status(node.BOOKING_ID,'Completed',this)">
                        <span>Completed</span>
                    </a>
                </li>
                <li ng-hide="node.STATUS=='Cancel'">
                    <a  class="pointer" role="menuitem" lass="pointer" role="menuitem" tabindex="7"
                        ng-click="lob_change_status(node.BOOKING_ID,'Cancel',this)">
                        <span>Cancel</span>
                    </a>
                </li>

                <!--<hr/>-->
                <!--<li class="lob_admin_sub_context_menu">-->
                <!--<a class="pointer" role="menuitem">-->
                <!--<b>Change status</b>-->
                <!--<span class="glyphicon glyphicon-chevron-right pull-right" >-->
                <!--<span class="glyphicon glyphicon-chevron-right" >-->
                <!--</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu" role="menu">-->
                <!--<li ng-hide="node.STATUS=='Confirmed'" >-->
                <!--<a ng-hide="node.STATUS=='Confirmed'" class="pointer" role="menuitem" tabindex="3"-->
                <!--ng-click="lob_change_status(node.BOOKING_ID,'Confirmed',this)">-->
                <!--<span>Confirmed</span>-->

                <!--</a>-->
                <!--</li>-->

                <!--<li ng-hide="node.STATUS=='Arrived'">-->
                <!--<a  class="pointer" role="menuitem" class="pointer" role="menuitem" tabindex="4"-->
                <!--ng-click="lob_change_status(node.BOOKING_ID,'Arrived',this)">-->
                <!--<span>Arrived</span>-->

                <!--</a>-->
                <!--</li>-->

                <!--<li ng-hide="node.STATUS=='Not Arrived'">-->
                <!--<a class="pointer" role="menuitem" lass="pointer" role="menuitem" tabindex="5"-->
                <!--ng-click="lob_change_status(node.BOOKING_ID,'Not Arrived',this)">-->
                <!--<span>Not Arrived</span>-->

                <!--</a>-->
                <!--</li>-->

                <!--<li ng-hide="node.STATUS=='Completed'">-->
                <!--<a  class="pointer" role="menuitem" lass="pointer" role="menuitem" tabindex="6"-->
                <!--ng-click="lob_change_status(node.BOOKING_ID,'Completed',this)">-->
                <!--<span>Completed</span>-->
                <!--</a>-->
                <!--</li>-->
                <!--<li ng-hide="node.STATUS=='Cancel'">-->
                <!--<a  class="pointer" role="menuitem" lass="pointer" role="menuitem" tabindex="7"-->
                <!--ng-click="lob_change_status(node.BOOKING_ID,'Cancel',this)">-->
                <!--<span>Cancel</span>-->
                <!--</a>-->
                <!--</li>-->
                <!--</ul>-->


                <!--</li>-->
                <!--<li>-->
                <!--<a class="pointer" role="menuitem" tabindex="3"-->
                <!--ng-click="panel.expanded = true">-->
                <!--Item 2-->
                <!--</a>-->
                <!--</li>-->

            </ul>
        </div>

        <div ng-if="node.FILE_ID>0" class="dropdown position-fixed" id="menux-file-{{node.FILE_ID}}">
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a class="pointer" role="menuitem" tabindex="1"
                       ng-click="lob_download_file(node.FILE_ID)">
                        Download file
                    </a>
                </li>
                <p style="border-top: 1px solid rgba(0, 0, 0, 0.23)"></p>
                <li ng-hide="node.isClientDownLoad==1" >
                    <a class="pointer" role="menuitem" tabindex="2"
                       ng-click="lob_change_booking_file_role(node.FILE_ID,'1',this)">
                        Set: Client can download
                    </a>
                </li>
                <li ng-hide="node.isClientDownLoad!=1">
                    <a class="pointer" role="menuitem" tabindex="3"
                       ng-click="lob_change_booking_file_role(node.FILE_ID,'0',this)">
                        Set: Client cannot download
                    </a>
                </li>
            </ul>
        </div>



    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li context-menu="onRightClick('aaa')"
            data-target="menux{{node.BOOKING_ID?('-booking-'+node.BOOKING_ID):('-file-'+node.FILE_ID)}}"
            ng-class="{ 'highlight': panel.highlight, 'expanded': panel.expanded }"
            ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>



</script>


<div ui-tree data-drag-enabled="false" id="tree-root">
    <ol ui-tree-nodes data-drag-enabled="false" ng-model="mydata">
        <li context-menu="onRightClick('aaa')"
            data-target="menux{{node.BOOKING_ID?('-booking-'+node.BOOKING_ID):('-file-'+node.FILE_ID)}}"
            ng-class="{ 'highlight': panel.highlight, 'expanded': panel.expanded }"
            ng-repeat="node in mydata" ui-tree-node ng-include="'nodes_renderer.html'" notice-repeat-finish>
        </li>
    </ol>
    <div style="width: 100%;height: 150px"></div>
</div>


<!--SHOW BOOKING DETAIL DIALOG TEMPLATE-->
<div id="view-detail-booking-dialog" class="modal fade">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Success</h4>
</div>

<div class="modal-body">
<div class="row">
<div class="col-md-6 con-sm-6">
    <div class="portlet yellow-crusta box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>
                Detail of the person requesting the assessment
            </div>

        </div>
        <div class="portlet-body">
            <div class="row static-info">
                <div class="col-md-5 name">
                    Surname
                </div>
                <div class="col-md-7 value">
                    {{selectedBooking.ASS_SURNAME}}
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name">
                    Other name:
                </div>
                <div class="col-md-7 value">
                    {{selectedBooking.ASS_OTHERNAMES}}
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name">
                    Contact number:
                </div>
                <div class="col-md-7 value">
                    {{selectedBooking.ASS_CONTACT_NO}}
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name">
                    Email address:
                </div>
                <div class="col-md-7 value">
                    {{selectedBooking.ASS_EMAIL}}
                </div>
            </div>
        </div>
    </div>

    <div class="portlet yellow-crusta box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>
                Summary of Booking
            </div>

        </div>
        <div class="portlet-body">
            <div class="row static-info">
                <div class="col-md-5 name">
                    Date:
                </div>
                <div class="col-md-7 value">
                    {{getShortDateString(selectedBooking.APPOINTMENT_DATE)}}
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name">
                    Time:
                </div>
                <div class="col-md-7 value">
                    {{getTimeString(selectedBooking.APPOINTMENT_DATE)}}
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name">
                    Type of appointment:
                </div>
                <div class="col-md-7 value">
                    {{getRlTypeName(selectedBooking.RL_TYPE_ID)}}
                </div>
            </div>

            <div class="row static-info">
                <div class="col-md-5 name">
                    Doctor:
                </div>
                <div class="col-md-7 value">
                    {{getDoctorName(selectedBooking.DOCTOR_ID)}}
                </div>
            </div>
            <div class="row static-info">
                <div class="col-md-5 name">
                    Address:
                </div>
                <div class="col-md-7 value">
                    {{getLocationAddress(selectedBooking.SITE_ID)}}
                </div>
            </div>

            <div class="portlet light">
                <div class="portlet-title">
                    <div class="tools">
                        <label style="font-weight: bolder; color: #585858">Show on map</label>
                        <a class="collapse">
                        </a>
                    </div>
                </div>
                <div class="row  portlet-body">
                    <div id="map-canvas" class="col-md-12" style="height: 200px;"></div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="col-md-6 con-sm-6">
    <div class="portlet yellow-crusta box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>
                Worker's detail
            </div>

        </div>
        <div class="portlet-body">
            <div class="row form-group">
                <div class="col-md-4">
                    <label for="CLAIM_NO">Claim number:</label>
                </div>
                <div class="col-md-8">
                    <!--<input class="form-control" type="text" ng-model="newBooking.CLAIM_NO" id="CLAIM_NO"/>-->
                    <p id="CLAIM_NO" ng-bind="selectedBooking.CLAIM_NO"></p>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4">
                    <label for="WRK_SURNAME">Surname:</label>
                </div>
                <div class="col-md-8">
                    <!--<input class="form-control" type="text" ng-model="newBooking.WRK_SURNAME" id="WRK_SURNAME"/>-->
                    <p id="WRK_SURNAME" ng-bind="selectedBooking.WRK_SURNAME"></p>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4">
                    <label for="WRK_OTHERNAMES">Other name:</label>
                </div>
                <div class="col-md-8">
                    <!--<input class="form-control" type="text"  ng-model="newBooking.WRK_OTHERNAMES" id="WRK_OTHERNAMES"/>-->
                    <p id="WRK_OTHERNAMES" ng-bind="selectedBooking.WRK_OTHERNAMES"></p>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4">
                    <label for="WRK_DOB">Birthday: </label>
                </div>
                <div class="col-md-8">

                    <!--<div class="input-group date date-picker " style="width: 150px;" data-date-format="dd/mm/yyyy">-->
                    <!--<input ng-model="newBooking.WRK_DOB" id="WRK_DOB" type="text" style="height: 35px;" class="form-control form-filter input-sm" readonly name="order_date_from" placeholder="From">-->
                    <!--<span class="input-group-btn">-->
                    <!--<button class="btn btn-sm default" type="button" style="height: 35px;"><i class="fa glyphicon glyphicon-calendar "></i></button>-->
                    <!--</span>-->
                    <!--</div>-->
                    <p id="WRK_DOB" ng-bind="selectedBooking.WRK_DOB"></p>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4">
                    <label for="WRK_EMAIL">Email address:</label>
                </div>
                <div class="col-md-8">
                    <!--<input class="form-control" type="email" ng-model="newBooking.WRK_EMAIL" id="WRK_EMAIL"/>-->
                    <p id="WRK_EMAIL" ng-bind="selectedBooking.WRK_EMAIL"></p>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4">
                    <label for="WRK_CONTACT_NO">Contact number:</label>
                </div>
                <div class="col-md-8">
                    <!--<input class="form-control" type="text" ng-model="newBooking.WRK_CONTACT_NO" id="WRK_CONTACT_NO"/>-->
                    <p id="WRK_CONTACT_NO" ng-bind="selectedBooking.WRK_CONTACT_NO"></p>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-12">
                    <label for="ISNEW">Is the patient new to REDiMED:</label>
                    <input ng-disabled='true' type="checkbox" ng-true-value="1" ng-false-value="0"
                           ng-model="selectedBooking.ISNEW" id="ISNEW">

                </div>
            </div>

            <div class="row form-group">

                <div class="col-md-4">
                    <label for="ISNEW">Description of injury</label>
                </div>
                <div class="col-md-8">
                    <!--<textarea placeholder="Description of injury" class="form-control" rows="2" ng-model="newBooking.DESC_INJURY"/>-->
                    <p ng-bind="selectedBooking.DESC_INJURY"></p>
                </div>

            </div>


            <label style="font-weight: bolder; color: #585858; font-size: x-large">
                Appointment
            </label>

            <p>
                REDiLEGAL to contact the patient and arrage a time
                <input ng-disabled='true' type="checkbox" ng-true-value="1" ng-false-value="0"
                       ng-model="newBooking.ISCONTACTPATIENT">
            </p>

            <p>
                REDiLEGAL to contact the case manager to arrange a time for the worker
                <input ng-disabled='true' type="checkbox" ng-true-value="1" ng-false-value="0"
                       ng-model="newBooking.ISCONTACTMANAGER">
            </p>

            <p>
                Is this booking urgent ? Need REDiMED contacts immediately to arrage the appointment
                <input ng-disabled='true' title="sdfasdfadsf" type="checkbox" ng-true-value="1" ng-false-value="0"
                       ng-model="newBooking.isUrgent">
            </p>

            <div class="row form-group">
                <div class="col-md-4">
                    <label>Notes:</label>
                </div>
                <div class="col-md-8">
                    <!--<textarea placeholder="Description of injury" class="form-control" rows="2" ng-model="newBooking.DESC_INJURY"/>-->
                    <p ng-bind="selectedBooking.NOTES"></p>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

    <!--<a class="btn btn-primary" href="{{mailtoLink}}">Send Email</a>-->
</div>
</div>
</div>
</div>



<!--UPLOAD DIALOG LAYOUT-->
<div  id="lob-upload-file-dialog" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload files</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12" style="margin-bottom: 40px">
                        <input style="background-color: burlywood" type="file" nv-file-select="" uploader="uploader" multiple  /><br/>
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="40%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Client Download</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td class="text-center">
                                    <!--<input ng-model="item.isClientDownLoad" type="checkbox">-->
                                    <input type="checkbox" ng-model="item.formData[0].isClientDownLoad" ng-true-value="1" ng-false-value="0" ng-init="item.formData[0].isClientDownLoad=1">
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <!--<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">-->
                                    <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel-->
                                    <!--</button>-->
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div>
                            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                <span class="glyphicon glyphicon-upload"></span> Upload all
                            </button>
                            <!--<button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">-->
                            <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel all-->
                            <!--</button>-->
                            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> Clear all
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                <!--<a class="btn btn-primary" href="{{mailtoLink}}">Send Email</a>-->
            </div>
        </div>
    </div>
</div>


<!--MESSAGE DIALOG LAYOUT-->
<div  id="lob-msg-dialog" class="modal fade">
    <!--<div class="modal-dialog modal-sm">-->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{msgDialog.header}}</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12" style="margin-bottom: 40px">
                        <span  class="label" ng-class="{'label-success':msgDialog.status=='success','label-warning':msgDialog.status=='fail'}">
                            {{msgDialog.msg}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<a class="btn btn-primary" href="{{mailtoLink}}">Send Email</a>-->
            </div>
        </div>
    </div>
</div>












