

<div role="tabpanel" class="tab-pane active">
    <pagination total-items="totalItemsReport1"
                ng-model="currentPageReport1"
                max-size="maxSizeReport1"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                items-per-page="itemsPerPageReport1"
                ng-change="pagingHandlerUpcommingBookingHaveNotResult()">
    </pagination>
    <table class="table table-hover table-light">
        <thead class="flip-content">
        <tr>
            <th ng-if="bookingType=='REDiLEGAL'">
                CLAIM NO.
            </th>
            <th ng-if="bookingType=='Vaccination'">
                EMPLOYEE NUMBER
            </th>
            <th>
                SURNAME
            </th>
            <th>
                TYPE
            </th>
            <th>
                APPOINTMENT DATE
            </th>
        </tr>
        <tr>
            <td ng-if="bookingType=='REDiLEGAL'" >
                <input class="form-control input-sm" type="text" ng-model="filterInfo.ClaimNo" ng-change="initPagingReportUpcommingBookingHaveNotResult()">
            </td>
            <td ng-if="bookingType=='Vaccination'">
                <input class="form-control input-sm" type="text" ng-model="filterInfo.employeeNumber" ng-change="initPagingReportUpcommingBookingHaveNotResult()">
            </td>
            <td>
                <input class="form-control input-sm" type="text" ng-model="filterInfo.Surname" ng-change="initPagingReportUpcommingBookingHaveNotResult()">
            </td>
            <td>
                <select class="form-control input-sm"
                        ng-model="rlTypeSelected"
                        ng-options="rltype.Rl_TYPE_NAME for rltype in rlTypeList"
                        ng-change="initPagingReportUpcommingBookingHaveNotResult()">
                    <option  value="">ALL</option>
                </select>
            </td>

            <td>
                <rlob-choose-period from-date="filterInfo.FromAppointmentDate" to-date="filterInfo.ToAppointmentDate"></rlob-choose-period>
            </td>
            <!-- END SEARCH -->
        </tr>
        </thead>
        <tbody ng-repeat="booking1 in reportUpcommingBookingsList">
        <tr ng-class='booking1.style_class' ng-click="setSelectedBooking(booking1.BOOKING_ID)">
            <td ng-if="bookingType=='REDiLEGAL'"><label>{{booking1.CLAIM_NO}}</label></td>
            <td ng-if="bookingType=='Vaccination'"><label>{{booking1.EMPLOYEE_NUMBER}}</label></td>
            <td><label>{{booking1.WRK_SURNAME}}</label></td>
            <td><label>{{booking1.Rl_TYPE_NAME}}</label></td>
            <td><label>{{booking1.APPOINTMENT_DATE | date:'dd/MM/yyyy HH:mm'}}</label></td>
        </tr>
        </tbody>
    </table>
</div>