
<!--Date panigator-->
<!--
<script src="/assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-datepaginator/bootstrap-datepaginator.min.js" type="text/javascript"></script>
<script src="/sub/rediLegalOnlineBooking/js/my-date-paginator.js" type="text/javascript"></script>
-->

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-basket font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">{{bookingTypeObj.display}} Online Booking</span>

        </div>

    </div>

    <div class="actions">

        <div class="row">
            <div class="col-md-3 col-sm-3">
                <p>Location</p>
                <p>
                    <select class="form-control" ng-model="selectedInfo.locationSelected" ng-options="location.Site_name for location in locations" ng-change="updateAppoinmentsList();">
                        <option  value=""></option>
                    </select>
                </p>
            </div>
            <div ng-show="bookingType=='REDiLEGAL'"  class="col-md-3  col-sm-3">
                <p>Type</p>
                <p>
                    <select class="form-control "  ng-model="selectedInfo.rltypeSelected" ng-options="rltype.Rl_TYPE_NAME for rltype in rltypes" ng-change="typeChange();"></select>
                </p>
            </div>
            <div ng-show="bookingType=='REDiLEGAL'" class="col-md-3  col-sm-3">
                <p>
                    Specialty
                </p>
                <p>
                    <select class="form-control " ng-model="selectedInfo.clnSpecialitySelected" ng-options="speciality.Specialties_name for speciality in specialitiesOfType" ng-change="specialityChange();">
                        <option  value=""></option>
                    </select>
                </p>
            </div>
            <div ng-show="bookingType=='REDiLEGAL'" class="col-md-3  col-sm-3">
                <p>Doctor</p>
                <p>
                    <select class="form-control "  ng-model="selectedInfo.doctorSelected" ng-options="doctor.NAME for doctor in doctorsOfSpeciality" ng-change="updateAppoinmentsList();">
                        <option  value=""></option>
                    </select>
                </p>
            </div>
        </div>

        <!--<table cellspacing="200" width="100%" >-->
            <!--<tr align="center">-->
                <!--<td>Location</td>-->
                <!--<td>Type</td>-->
                <!--<td>Specialty</td>-->
                <!--<td>Doctor</td>-->
            <!--</tr>-->
            <!--<tr align="center">-->
                <!--<td>-->
                    <!--<select class="form-control" style="width: 200px;margin-left: 10px" ng-model="selectedInfo.locationSelected" ng-options="location.Site_name for location in locations" ng-change="updateAppoinmentsList();">-->
                        <!--<option  value=""></option>-->
                    <!--</select>-->


                <!--</td>-->
                <!--<td >-->
                    <!--<select class="form-control " style="width: 200px;margin-left: 10px" ng-model="selectedInfo.rltypeSelected" ng-options="rltype.Rl_TYPE_NAME for rltype in rltypes" ng-change="typeChange();"></select>-->

                <!--</td>-->
                <!--<td >-->
                    <!--<select class="form-control " style="width: 200px;margin-left: 10px" ng-model="selectedInfo.clnSpecialitySelected" ng-options="speciality.Specialties_name for speciality in specialitiesOfType" ng-change="specialityChange();">-->
                        <!--<option  value=""></option>-->
                    <!--</select>-->

                <!--</td>-->

                <!--<td >-->
                    <!--<select class="form-control " style="width: 200px;margin-left: 10px" ng-model="selectedInfo.doctorSelected" ng-options="doctor.NAME for doctor in doctorsOfSpeciality" ng-change="updateAppoinmentsList();">-->
                        <!--<option  value=""></option>-->
                    <!--</select>-->
                <!--</td>-->
            <!--</tr>-->
        <!--</table>-->
    </div>

    <div>

        <div class="portlet-body">
            <!--<h3>On Date Selected Event Hanlder(try to select a date)</h3>-->
            <div id="mydatepaginator">
            </div>
        </div>

        <!--<div class="table-responsive">-->
            <!--<table class="table table-hover table-bordered table-striped">-->
                <!--<tr>-->
                    <!--<td>Belmont-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<a class="btn btn-sm yellow filter-submit margin-bottom" style="margin-left: 10px;margin-bottom: 10px; width: 70px" ng-repeat="appointment in appointments" href="/online-booking/booking/patient-detail/{{appointment.CAL_ID}}">{{appointment.appointment_time}} </a>-->

                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</div>-->

        <!--<div class="table-responsive" style="margin-top: 20px">-->
            <!--<table class="table table-hover table-bordered table-striped" >-->
                <!--<tr ng-repeat="(key, value) in appointments | groupBy: 'SITE_ID'">-->
                    <!--<td width="15%">-->
                        <!--{{getLocationName(key)}}-->
                    <!--</td>-->
                    <!--<td width="70%">-->
                        <!--<a ng-repeat="appointment in value" class="btn btn-sm yellow filter-submit margin-bottom" style="margin-left: 10px;margin-bottom: 10px; width: 70px" ng-repeat="appointment in appointments" href="/online-booking/booking/patient-detail/{{appointment.SITE_ID}}/{{appointment.CAL_ID}}">{{ appointment.appointment_time }} </a>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</div>-->

        <!--<div class="table-responsive" style="margin-top: 20px">-->
            <!--<div ng-repeat="(site_key, site_item) in appointments | groupBy: 'SITE_ID'">-->
                <!--<hr/>-->
                <!--<div class="row" >-->
                    <!--<div class="col-md-2" >-->
                        <!--{{getLocationName(site_key)}}-->
                    <!--</div>-->
                    <!--<div class="col-md-10" >-->
                        <!--<div ng-repeat="(doctor_key,doctor_item) in site_item | groupBy: 'DOCTOR_ID'">-->
                            <!--<div class="row" >-->
                                <!--<div class="col-md-2">-->
                                    <!--{{getDoctorName(doctor_key)}}-->
                                <!--</div>-->
                                <!--<div class="col-md-10">-->
                                    <!--&lt;!&ndash;<a ng-repeat="appointment in doctor_item" class="btn btn-sm yellow filter-submit margin-bottom" style="margin-left: 10px;margin-bottom: 10px; width: 70px" href="/online-booking/booking/patient-detail/{{appointment.SITE_ID}}/{{appointment.DOCTOR_ID}}/{{appointment.CAL_ID}}">{{ appointment.appointment_time }} </a>&ndash;&gt;-->
                                    <!--<a ng-repeat="appointment in doctor_item" class="btn btn-sm yellow filter-submit margin-bottom" style="margin-left: 10px;margin-bottom: 10px; width: 70px" ui-sref="loggedIn.rlob_patient_detail({siteid:appointment.SITE_ID,doctorid:appointment.DOCTOR_ID,id:appointment.CAL_ID})">{{ appointment.appointment_time }} </a>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<hr/>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->

        <div class="table-responsive" style="margin-top: 20px">
            <div ng-repeat="location in appointmentsFilter">
                <div class="row">
                    <div class="col-md-2" >
                        {{location.SITE_NAME}}
                    </div>
                    <div class="col-md-10" >
                        <div ng-repeat="doctor in location.DOCTOR_ITEMS">
                            <div class="row">
                                <div class="col-md-2">
                                    {{doctor.DOCTOR_NAME}}
                                </div>
                                <div class="col-md-10">
                                    <!--<a ng-repeat="appointment in doctor.APPOINTMENT_ITEMS"-->
                                       <!--class="btn btn-sm yellow filter-submit margin-bottom"-->
                                       <!--style="margin-left: 10px;margin-bottom: 10px; width: 70px"-->
                                       <!--ng-click="changeAppointmentCalendar(appointment.CAL_ID,appointment.FROM_TIME,appointment.DOCTOR_ID,appointment.SITE_ID)">-->
                                        <!--{{ appointment.APPOINTMENT_TIME }}-->
                                    <!--</a>-->

                                    <a      ng-show="bookingType=='REDiLEGAL'"
                                            ng-repeat="appointment in doctor.APPOINTMENT_ITEMS"
                                            class="btn btn-sm yellow filter-submit margin-bottom"
                                            style="margin-left: 10px;margin-bottom: 10px; width: 70px"
                                            ui-sref="loggedIn.rlob_patient_detail({siteid:appointment.SITE_ID,doctorid:appointment.DOCTOR_ID,id:appointment.CAL_ID})">
                                        {{ appointment.APPOINTMENT_TIME }}
                                    </a>
                                    <a      ng-show="bookingType=='Vaccination'"
                                            ng-repeat="appointment in doctor.APPOINTMENT_ITEMS"
                                            class="btn btn-sm yellow filter-submit margin-bottom"
                                            style="margin-left: 10px;margin-bottom: 10px; width: 70px"
                                            ui-sref="loggedIn.vaccinob_patient_detail({bookingType:'Vaccination',siteid:appointment.SITE_ID,doctorid:appointment.DOCTOR_ID,id:appointment.CAL_ID})">
                                        {{ appointment.APPOINTMENT_TIME }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



            <!--<table class="table table-hover table-bordered table-striped" >-->
                <!--<tr ng-repeat="(site_key, site_item) in appointments | groupBy: 'SITE_ID'">-->
                    <!--<td width="15%">-->
                        <!--{{getLocationName(site_key)}}-->
                    <!--</td>-->
                    <!--<td width="70%">-->
                        <!--<table  >-->
                            <!--<tr ng-repeat="(doctor_key,doctor_item) in site_item | groupBy: 'DOCTOR_ID'">-->
                                <!--<td>-->
                                    <!--{{doctor_key}}{{getDoctorName(doctor_key)}}-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<a ng-repeat="appointment in doctor_item" class="btn btn-sm yellow filter-submit margin-bottom" style="margin-left: 10px;margin-bottom: 10px; width: 70px" href="/online-booking/booking/patient-detail/{{appointment.SITE_ID}}/{{appointment.CAL_ID}}">{{ appointment.appointment_time }} </a>-->
                                <!--</td>-->
                            <!--</tr>-->
                        <!--</table>-->

                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
        </div>


    </div>

</div>

<!--<rlob-choose-appointment-calendar-dialog-->
        <!--dialog-style-class="dialogStyleClass" selected-appointment-calendar="testAppointmentCalendar">-->

<!--</rlob-choose-appointment-calendar-dialog>-->

<!--<button ng-click="dialogTest();">Test Dialog</button>-->



