<div class="portlet grey-cascade box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>{{bookingTypeObj.display }} Booking List
        </div>

    </div>
    <div class="portlet-body">
        <!-- PAGINATION -->
        <div style="float: left;">

            <div class="form-group">
                <pagination total-items="searchInfo.totalItems"
                        ng-model="searchInfo.currentPage"
                        max-size="searchInfo.maxSize"
                        class="pagination-sm"
                        boundary-links="true"
                        rotate="false"
                        num-pages="searchInfo.numPages"
                        items-per-page="searchInfo.itemsPerPage"
                        ng-change="pagingHandle()">
                </pagination>
            </div>
            
            <form class="form-inline">
                <div class="form-group">
                    <label for="exampleInputName2">Page size:</label>
                    <select ng-model="searchInfo.itemsPerPage" class="form-control input-sm"
                        ng-options="item.value as item.display for item in sizePageList"
                        ng-change="searchHandle()">
                    </select>
                    
                </div>
                
            </form>
            
        </div>
        <div class="table-responsive">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th ng-if="bookingType=='REDiLEGAL'">
                            Claim No.
                            <rlob-order-by field-name="CLAIM_NO" startup-direct="NO_SORT" rlob-model="searchInfo.orderBy" ng-click="sortBy()" current-field-sort="currentFieldSort" ></rlob-order-by>
                        </th>
                        <th ng-if="bookingType=='Vaccination'">
                            Employee number
                            <rlob-order-by field-name="EMPLOYEE_NUMBER" startup-direct="NO_SORT" rlob-model="searchInfo.orderBy" ng-click="sortBy()" current-field-sort="currentFieldSort" ></rlob-order-by>
                        </th>
                        <th>
                            Surname
                            <rlob-order-by field-name="WRK_SURNAME" startup-direct="NO_SORT" rlob-model="searchInfo.orderBy" ng-click="sortBy()" current-field-sort="currentFieldSort" ></rlob-order-by>
                        </th>
                        <th>
                            Type
                            <rlob-order-by field-name="Rl_TYPE_NAME" startup-direct="NO_SORT" rlob-model="searchInfo.orderBy" ng-click="sortBy()" current-field-sort="currentFieldSort" ></rlob-order-by>
                        </th>

                        <th>
                            Appointment Date
                            <rlob-order-by field-name="APPOINTMENT_DATE" startup-direct="NO_SORT" rlob-model="searchInfo.orderBy" ng-click="sortBy()" current-field-sort="currentFieldSort" ></rlob-order-by>
                        </th>

                        <th>
                            Booking Status
                            <rlob-order-by field-name="STATUS" startup-direct="NO_SORT" rlob-model="searchInfo.orderBy" ng-click="sortBy()" current-field-sort="currentFieldSort" ></rlob-order-by>
                        </th>

                        <th>
                            Document Status
                            <rlob-order-by field-name="DOCUMENT_STATUS" startup-direct="NO_SORT" rlob-model="searchInfo.orderBy" ng-click="sortBy()" current-field-sort="currentFieldSort" ></rlob-order-by>
                        </th>

                        <th>
                            
                        </th>
                    </tr>
                    <tr>
                        <!-- SEARCH -->
                        <td ng-if="bookingType=='REDiLEGAL'">
                            <input class="form-control input-sm" type="text" ng-model="searchInfo.claimNo" ng-change="searchHandle()">
                        </td>
                        <td ng-if="bookingType=='Vaccination'">
                            <input class="form-control input-sm" type="text" ng-model="searchInfo.employeeNumber" ng-change="searchHandle()">
                        </td>
                        <td>
                            <input class="form-control input-sm" type="text" ng-model="searchInfo.surname" ng-change="searchHandle()">
                        </td>
                        <td>
                            <select ng-model="searchInfo.type" class="form-control input-sm"
                                ng-options="type.RL_TYPE_ID as type.Rl_TYPE_NAME for type in rl_types"
                                ng-change="searchHandle()">
                                <option value="">--Select All--</option>
                            </select>
                        </td>

                    
                        <td>
                            <rlob-choose-period from-date="searchInfo.appointmentDateFromTemp" to-date="searchInfo.appointmentDateToTemp"></rlob-choose-period>
                        </td>

                        <td>
                            <select ng-model="searchInfo.bookingStatus" class="form-control input-sm"
                                ng-options="key as value for (key,value) in bookingStatus"
                                ng-change="searchHandle()">
                                <option value="">--Select All--</option>
                            </select>
                        </td>

                        <td>
                            <select ng-model="searchInfo.documentStatus" class="form-control input-sm"
                                ng-options="value.value as value.display for (key,value) in documentStatus"
                                ng-change="searchHandle()">
                                <option value="">--Select All--</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="reset();">Reset</button>
                        </td>
                        <!-- END SEARCH -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="l in list" ng-click="goToBookingDetail(l)" style="cursor: pointer;">
                        <td ng-if="bookingType=='REDiLEGAL'">{{l.CLAIM_NO}}</td>
                        <td ng-if="bookingType=='Vaccination'">{{l.EMPLOYEE_NUMBER}}</td>
                        <td>{{l.WRK_SURNAME}}</td>
                        <td>{{l.Rl_TYPE_NAME}}</td>
                        <td>{{l.APPOINTMENT_DATE | date:'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{l.STATUS}}</td>
                        <td>{{documentStatusDisplay[l.DOCUMENT_STATUS]}}</td>
                        <td>
                            <!--action-->
                            <div  class="btn-group dropdown pull-right pull-right"  ng-click="clickActionMenu(l.BOOKING_ID);">
                                <a type="button" class="dropdown-toggle btn btn-primary" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon glyphicon-th-list  btn btn-xs" style="width:30px">
                                    </span>
                                    <!--{{selectedBooking.STATUS}}-->
                                </a>

                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a class="pointer" role="menuitem" tabindex="1" ng-click="printContent()">
                                            Print Booking Summary
                                        </a>
                                    </li>

                                    <li>
                                        <a ng-hide="selectedBooking.NUMBER_OF_RESULTS<=0" class="pointer" role="menuitem" tabindex="2" ng-click="downloadResult(l.BOOKING_ID)">
                                            Download Result
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>



<!--SHOW BOOKING DETAIL DIALOG TEMPLATE-->
<div id="view-detail-booking-dialog" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Booking Detail</h4>
            </div>

            <div class="modal-body">
                <rlob-booking-detail selected-booking="selectedBooking" booking-type="bookingType"></rlob-booking-detail>
                <!--<ocuments selected-booking="selectedBooking" is-can-upload="isCanUpload"></rlob-documents>-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="portlet yellow-crusta box">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-cogs"></i>
                                    <span ng-show="numberOfDocs>0" class="file-control pointer underline" ng-click="uploadPanel = false">Download</span>
                                    <span ng-show="selectedBooking.STATUS==bookingStatus.confirmed" class="file-control pointer underline" ng-click="uploadPanel = true">Upload</span>
                                    <span class="file-control pointer underline" ng-click="printContent();">Print Summary</span>
                                    <span class="file-control pointer underline" ng-click="showDialogSendDocument()">Send documents</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <div class="row form-group" ng-hide="uploadPanel" id="file-download-panel">
                                        <rlob-file-download
                                                selected-booking="selectedBooking"
                                                booking-type="bookingType" number-of-docs="numberOfDocs">
                                        </rlob-file-download>
                                    </div>
                                    <div class="row form-group" ng-show="uploadPanel" id="file-upload-panel">
                                        <rlob-upload selected-booking="selectedBooking" files-update-flag="filesUpdateFlag" >

                                        </rlob-upload>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<a class="btn btn-primary" href="{{mailtoLink}}">Send Email</a>-->
            </div>
        </div>
    </div>
</div>

<div  id="lob-client-send-document-dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Send documents</h4>
            </div>

            <div class="modal-body">
                <p>Do you want to upload documents or send email?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="uploadDocument();">Upload Documents</button>
                <button type="button" class="btn btn-primary" ng-click="sendEmail();">Send email</button>
            </div>
        </div>
    </div>
</div>
<div  id="lob-client-upload-dialog" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload documents</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <!--<rlob-upload selected-booking="newBooking">-->
                    <!--</rlob-upload>-->

                    <rlob-upload selected-booking="selectedBooking"
                                 files-update-flag="filesUpdateFlag"></rlob-upload>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
 <div style="display:none;">
     <div class="printable">
         <rlob-booking-detail-print booking-type="bookingType" selected-booking="selectedBooking"></rlob-booking-detail-print>
     </div>
 </div>

 <script>
     function printContent() {
         var printable = document.getElementsByClassName("printable");
         $(printable[0]).printArea();
     }
 </script>



<style>
    .file-control{ border-right: 1px solid white; padding: 0 10px;}
    .file-control:hover{cursor: pointer}
</style>

