<div style="">
	<h3 class="form-section">Medico-Legal Contacts Us</h3>
	<div>
		<h4>Address</h4>
		<address>
		<!-- <strong>Loop, Inc.</strong><br> -->
		1 Frederick Street<br>
		Belmont WA 6104<br>
		<abbr title="Phone">P:</abbr> (08) 9230 0900 </address>
		<address>
		<strong>Email</strong><br>
		<a href="mailto:#">
		reception@redimed.com.au </a>
		</address>
		<ul class="social-icons margin-bottom-10">
			<li>
				<a href="javascript:;" data-original-title="facebook" class="facebook">
				</a>
			</li>
			<li>
				<a href="javascript:;" data-original-title="github" class="github">
				</a>
			</li>
			<li>
				<a href="javascript:;" data-original-title="Goole Plus" class="googleplus">
				</a>
			</li>
			<li>
				<a href="javascript:;" data-original-title="linkedin" class="linkedin">
				</a>
			</li>
			<li>
				<a href="javascript:;" data-original-title="rss" class="rss">
				</a>
			</li>
			<li>
				<a href="javascript:;" data-original-title="skype" class="skype">
				</a>
			</li>
			<li>
				<a href="javascript:;" data-original-title="twitter" class="twitter">
				</a>
			</li>
			<li>
				<a href="javascript:;" data-original-title="youtube" class="youtube">
				</a>
			</li>
		</ul>
	</div>
</div>
