<div ui-view></div>

<!-- TANNV.DTS@GMAIL.COM
GOBAL POPUP -->
<!-- --------------------------------------------------------------------------------------- -->
<div id="rlob-global-msg-popup" class="modal fade">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row" style="margin-right: 0;margin-bottom: -5px;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title col-md-5 col-sm-5 col-xs-5"><div class="rlob-global-msg-popup-header"></div></h4>
                    <img class="col-md-5 col-sm-5 col-xs-5" src="modules/rediLegalOnlineBooking/images/legal-logo.png">
                </div>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12" style="margin-bottom: 40px">

                        <!--<span  class="label" ng-class="{'label-success':status=='success','label-warning':status=='fail'}">-->
                            <!--{{msg}}-->
                        <!--</span>-->
                        
                        <div  class="alert alert-success rlob-global-msg-popup-success" role="alert">
                            <div class='rlob-global-msg-popup-content'></div>
                        </div>
                        <div class="alert alert-danger rlob-global-msg-popup-error" role="alert">
                            <div class='rlob-global-msg-popup-content'></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<!-- --------------------------------------------------------------------------------------- -->