<div class="portlet light bordered">
	<div class="portlet-title">
		<div class="caption">
			<span class="caption-subject font-green-sharp bold uppercase">Plastic & Reconstructive Surgeons</span>
		</div>
	</div>
	<div class="portlet-body form">
		<!-- BEGIN FORM-->
		<div class="row">
			<div class="col-md-6">
				<div class="rl_specialty_profile_item">
					<p style="font-size: 25px;color: rgb(56, 150, 194);">Dr Hanh Nguyen</p>
					<p style="padding-left: 10px;">MBBS, FRACS (Plastic)</p>
					<p style="padding-left: 10px;">Approved Medical Specialist</p>
					<table class="table">
						<thead>
						<tr>
							<th>Type of Assessments</th>
							<th>Specialty</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>Permanent Impairment</td>
							<td>Plastic & Reconstructive</td>
						</tr>
						<tr>
							<td></td>
							<td>Hand & Finger Injuries</td>
						</tr>
						<tr>
							<td></td>
							<td>Burn & Scar Injuries</td>
						</tr>
						
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-6">
				<div class="rl_specialty_profile_item">
					<p style="font-size: 25px;color: rgb(56, 150, 194);">Professor René Zellweger</p>
					<p style="padding-left: 10px;">MD, FRACS (Ortho & Trauma), FACS</p>
					<p style="padding-left: 10px;">Approved Medical Specilaist</p>
					<table class="table">
						<thead>
						<tr>
							<th>Type of Assessments</th>
							<th>Specialty</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>Permanent Impairment</td>
							<td>Lower Limb Orthopaedic</td>
						</tr>
						<tr>
							<td></td>
							<td>Upper Limb Orthopaedic</td>
						</tr>
						<tr>
							<td></td>
							<td>Back & Spinal Injuries</td>
						</tr>
						<tr>
							<td>Independent Medical Examination</td>
							<td>Lower Limb Orthopaedic</td>
						</tr>
						<tr>
							<td></td>
							<td>Upper Limb Orthopaedic</td>
						</tr>
						<tr>
							<td></td>
							<td>Back & Spinal Injuries</td>
						</tr>
						
						</tbody>
					</table>
				</div>
			</div>

		</div>


		<div class="row">
			<div class="col-md-6">
				<div class="rl_specialty_profile_item">
					<p style="font-size: 25px;color: rgb(56, 150, 194);">Dr Adrian Brooks</p>
					<p style="padding-left: 10px;">MBBS, FRACS (Plastic)</p>
					<table class="table">
						<thead>
						<tr>
							<th>Type of Assessments</th>
							<th>Specialty</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>Permanent Impairment</td>
							<td>Plastic & Reconstructive</td>
						</tr>
						<tr>
							<td></td>
							<td>Hand & Finger Injuries</td>
						</tr>
						<tr>
							<td></td>
							<td>Burn & Scar Injuries</td>
						</tr>
						
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-6">
				<div class="rl_specialty_profile_item">
					<p style="font-size: 25px;color: rgb(56, 150, 194);">Dr Matthew Scaddan</p>
					<p style="padding-left: 10px;">MBBS, FRACS (Ortho), FAOrthA</p>
					<p style="padding-left: 10px;">Approved Medical Specialist</p>
					<table class="table">
						<thead>
						<tr>
							<th>Type of Assessments</th>
							<th>Specialty</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>Permanent Impairment</td>
							<td>Plastic & Reconstructive</td>
						</tr>
						<tr>
							<td></td>
							<td>Hand & Finger Injuries</td>
						</tr>
						<tr>
							<td></td>
							<td>Burn & Scar Injuries</td>
						</tr>
						<tr>
							<td>Independent Medical Examination</td>
							<td>Lower Limb Orthopaedic</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>


		<div class="row">
			<div class="col-md-6">
				<div class="rl_specialty_profile_item">
					<p style="font-size: 25px;color: rgb(56, 150, 194);">Dr Daniel Luo</p>
					<p style="padding-left: 10px;">MBBS, GradDipSurgAnat</p>
					<p style="padding-left: 10px;">FRACS (Plastic)</p>
					<table class="table">
						<thead>
						<tr>
							<th>Type of Assessments</th>
							<th>Specialty</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>Independent Medical Examination</td>
							<td>Plastic & Reconstructive</td>
						</tr>
						<tr>
							<td></td>
							<td>Hand & Finger Injuries</td>
						</tr>
						<tr>
							<td></td>
							<td>Burn & Scar Injuries</td>
						</tr>
						
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-6">
				<div class="rl_specialty_profile_item">
					<p style="font-size: 25px;color: rgb(56, 150, 194);">Dr Paul Khoo</p>
					<p style="padding-left: 10px;">MBBS, FRACS (Ortho), FAOrthA</p>
					<table class="table">
						<thead>
						<tr>
							<th>Type of Assessments</th>
							<th>Specialty</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>Independent Medical Examination</td>
							<td>Upper Limb Orthopaedic</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="rl_specialty_profile_item">
					<p style="font-size: 25px;color: rgb(56, 150, 194);">Dr Toby Leys</p>
					<p style="padding-left: 10px;">MBBS, FRACS (Ortho), FAOrthA</p>
					<table class="table">
						<thead>
						<tr>
							<th>Type of Assessments</th>
							<th>Specialty</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>Independent Medical Examination</td>
							<td>Lower Limb Orthopaedic</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		
		<!-- END FORM-->
	</div>
</div>