<ion-view title="Home" >
<div class="bar bar-subheader customHeaderBar">
    <h2 class="title customHeaderBar"  style="margin-left: 14%;font-size: 20px;top: 11px;">Post</h2>
</div>
  	<ion-content class="background-content">
  		<ion-list>
			<div ng-if="userInfo.user_type == 'Company'">
				<ion-item class="item-avatar background-content" collection-repeat="post in resultSearch | limitTo:pageSize"
				style="margin-left: -60px;">
					<div class="item item-avatar">
				      <img ng-src="img/app-icons/android/mipmap-hdpi/logo.png">
				      <h2>{{post.job_title}}</h2>
				      <p>Post Type: {{post.post_type}}</p>
				      <p>Job Description: {{post.job_description}}</p>
				      <p>Start Date: {{post.Start_date | date:MM/dd/yyyy}}</p>
				      <p>Shop name: {{post.shop_name}}</p>
				      <p> 
				        <a class="button icon-right ion-chevron-right button-calm" 
				           style="background-color:#26a69a; font-size: 15px;"
				           ng-click="getPostForShopId(post)">
				        	Details
				        </a>
				      </p>
				    </div>
				</ion-item>
			</div>
		</ion-list>
  		<ion-infinite-scroll on-infinite="loadMore()" distance="20%" 
  		ng-if="!noMoreItemsAvailable">
  		</ion-infinite-scroll>
  	</ion-content> 
</ion-view>