<ion-view title="Home" >
<div class="bar bar-subheader customHeaderBar">
<div class="welcom" style=" margin-left: 130px;">{{userInfo.firstname}} &nbsp; {{userInfo.surname}}</div>
	<div class="ava">
      	<img alt=""
      	ng-src="https://testapp.redimed.com.au:3000/phUser/getAvatar/{{userInfo.user_id}}" 
      	id="avatar"/>
	</div>
  <h2 class="title customHeaderBar " style="margin-left: 14%;font-size: 20px;top: 11px;">Home</h2>
</div>
<div class="sub-ss">
</div>
  	<ion-content class="background-content">
  		<div class="list card background-content" ng-if="userInfo.user_type == 'Pharmacist'">
			  <label class="item-input item-floating-label" >
                          <span class="input-label sp_custom">Kilometer</span><div class="im1"></div>
                          <input id="Keywords" placeholder="Enter kilometer(s)" type="number" maxlength="50" 
	           				 ng-model="search.kilometer" name="kilometer" ng-required="true" 
	           				 class="ip_custom pl">
               </label>
                <label class="item-input item-floating-label" >
                          <span class="input-label sp_custom">Title</span><div class="im1"></div>
                          <input id="Keywords" placeholder="Enter keyword(s)" type="text" maxlength="500" 
	            ng-model="search.job_title" name="title" ng-required="true" class="ip_custom pl">
               </label>
                <label class="item-input item-floating-label" >
                          <span class="input-label sp_custom">Description</span><div class="im1"></div>
                          <input id="Keywords" placeholder="Enter Description" type="text" maxlength="500" 
	            ng-model="search.description" name="description" ng-required="true" class="ip_custom pl">
               </label>
        
				<a class="button ion-chevron button-calm ion-ios-search-strong" 
		           style="background-color: transparent; font-size: 15px; float:right; margin: 15px 20px 0px 12px; border: 1px solid white;"
		           ng-click="searchPost(search)">
		        	Search
		        </a>
  		</div>

  		<div class="list"></div>
  		<ion-list>
			<ion-item class="item-avatar background-content" 
			collection-repeat="post in resultSearch | limitTo:pageSize"
			style="margin-left: -60px;">
				<div class="item item-avatar">
				    <img ng-src="img/app-icons/android/mipmap-hdpi/logo.png">
				    <h2>{{post.job_title}}</h2>
				    <p>Post Type: {{post.post_type}}</p>
				    <p>Job Description: {{post.job_description}}</p>
				    <p>Start Date: {{post.Start_date | date:MM/dd/yyyy}}</p>
				    <p>Shop name: {{post.shop_name}}</p>
				    <p> 
				    <a class="button icon-right ion-chevron-right button-calm" 
				        style="background-color:#26a69a; font-size: 15px;"
				        ng-click="getDetailPost(post)">
				      	Details
				    </a>
				    </p>
				</div>
			</ion-item>
		</ion-list>
  		<ion-infinite-scroll on-infinite="loadMore()" distance="10%" 
  		ng-if="!noMoreItemsAvailable">
  		</ion-infinite-scroll>
  	</ion-content> 
</ion-view>