a, a:active, a:focus{
    cursor: pointer;
}

.break-row{
    clear: both;
    margin-bottom: 15px;
}

.page-header-fixed .page-container{
    margin-top: 0;
}

.form-group label{
    padding-top: 6px;
}

.page-content-wrapper .page-content{
    min-height: 60em;
}

.form-group.detail > div{
    margin-top: 15px;
}

/**
* Khank Style
*/
.mdt-logo{
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
}
#appt_tab .nav-tabs {margin-bottom: 0px;}
#appt_tab .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover{
	border-left: 1px solid #b1bdbd;
	border-right: 1px solid #b1bdbd;
	border-top: 3px solid #f3565d;
	color: black;
	font-weight: bold;
}
#appt_paperless  .row{
	margin-right: 0px;
	margin-left: 0px;
}
#appt_paperless  .paperless a{
	display: block;
	padding: 7px;
	border-bottom: 1px solid #ddd;
}
/**
* End Khank Style
*/

/* Vuong Custom Timepicker */
.ui-timepicker-table td{
    padding: 0.2em;
}
.ui-timepicker-table td a{
    padding: 3px;
    width: auto;
}
/* END */

/* MODAL DIALOG */
.modal-lg{
    width: 98%;
}
/* END MODAL DIALOG */