a,
a:active,
a:focus {
    cursor: pointer;
}

.break-row {
    clear: both;
}

.page-header-fixed .page-container {
    margin-top: 0;
}

.form-group label {
    padding-top: 6px;
}

.page-content-wrapper .page-content {
    min-height: 60em;
}

.form-group.detail > div {
    margin-top: 15px;
}
/**
* Khank Style
*/

.mdt-logo {
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
}

#appt_tab .nav-tabs {
    margin-bottom: 0px;
}

#appt_tab .nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover {
    border-left: 1px solid #b1bdbd;
    border-right: 1px solid #b1bdbd;
    border-top: 3px solid #f3565d;
    color: black;
    font-weight: bold;
}

#appt_paperless .row {
    margin-right: 0px;
    margin-left: 0px;
}

#appt_paperless .paperless a {
    display: block;
    padding: 7px;
    border-bottom: 1px solid #ddd;
}
/**
* End Khank Style
*/
/* Vuong Custom Timepicker */

.ui-timepicker-table td {
    padding: 0.2em;
}

.ui-timepicker-table td a {
    padding: 3px;
    width: auto;
}
/* END */
/* MODAL DIALOG */

.modal-lg {
    width: 98%;
}
/* END MODAL DIALOG */
/* MEDITEK CHECKBOX */

.mdt-checkbox,
.mdt-selection,
.mdt-sex {
    display: none;
}

[class^="mdt-checkbox"] + label:before {
    border-radius: 100px;
    box-shadow: 0 12px 20px #fff inset;
    content: " ";
    display: none;
    height: 8px;
    position: absolute;
    right: 17px;
    top: 10px;
    width: 8px;
    z-index: 999;
}

[class^="mdt-checkbox"] + label:after {
    border-radius: 100px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4) inset;
    content: " ";
    height: 18px;
    position: absolute;
    right: 12px;
    top: 5px;
    width: 18px;
    background: white;
}

[class^="mdt-checkbox"]:checked + label:before {
    display: block;
}

input[class^="mdt-checkbox"] + label {
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    font-size: 1em;
    padding: 5px 50px 5px 16px;
    position: relative;
    width: 100%;
}
/* END MEDITEK CHECKBOX */
/* MEDITEK SELECTION */

.mdt-selection + label:after,
.mdt-selection + label:before,
.mdt-selection label,
.mdt-sex + label:after,
.mdt-sex + label:before,
.mdt-sex label {
    transition: all 0.1s ease-in 0s;
}

[class^="mdt-selection"]:checked + label:before {
    content: " ";
    left: 49px;
    position: absolute;
    z-index: 99999;
}

[class^="mdt-sex"]:checked + label:before {
    left: 80px;
}

[class^="mdt-selection"] + label:before,
[class^="mdt-sex"] + label:before {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    color: #fff;
    content: "";
    height: 35px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
    z-index: 99999;
}

[class^="mdt-selection"]:checked + label:after {
    content: "Yes";
    left: 6px;
}

[class^="mdt-sex"]:checked + label:after {
    content: "Female";
    left: 6px;
}

[class^="mdt-selection"] + label:after,
[class^="mdt-sex"] + label:after {
    left: 35px;
}

[class^="mdt-selection"] + label:after {
    color: #fff;
    content: "No";
    font-size: 1em;
    font-weight: 700;
    left: 8px;
    padding: 5px 15px;
    position: absolute;
    top: 4px;
}

[class^="mdt-sex"] + label:after {
    color: #fff;
    content: "Male";
    font-size: 1em;
    font-weight: 700;
    left: 8px;
    padding: 5px 15px;
    position: absolute;
    top: 4px;
}

[class^="mdt-selection"]:checked + label,
[class^="mdt-sex"]:checked + label {
    background: none repeat scroll 0 0 #67a5df;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(146, 196, 245, 0.4);
}

[class^="mdt-selection"] + label {
    background: none repeat scroll 0 0 #f7836d;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(245, 146, 146, 0.4);
    display: inline-block;
    height: 35px;
    margin-right: 15px;
    padding: 11px 9px;
    position: relative;
    width: 70px;
}

[class^="mdt-sex"] + label {
    background: none repeat scroll 0 0 #f7836d;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(245, 146, 146, 0.4);
    display: inline-block;
    height: 35px;
    margin-right: 15px;
    padding: 11px 9px;
    position: relative;
    width: 100px;
}
/* END MEDITEK SELECTION */
/* MEDITEK INPUT AND SELECT */

.field {
    margin-bottom: 20px;
    display: block;
    position: relative;
    height: 36px;
    border: 2px solid rgb(100, 160, 217);
    transition-duration: 0.1s;
    transition-property: height, border-width;
    transition-timing-function: ease-in;
}

.field.has-error {
    border: 2px solid rgb(239, 127, 106);
}

.field input,
.field select,
.field textarea {
    border: none;
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    padding-left: 10px;
}

.field select:disabled {
    background-color: rgb(240, 240, 240);
}

.field label {
    height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
    color: #fff;
    background: rgb(100, 160, 217);
    transition: max-height 0.1s ease-in 0s;
    margin-bottom: 0;
    padding: 0px 3px;
}

.field.has-error label {
    background: rgb(239, 127, 106);
}

.field.show-label {
    height: 48px;
    border-bottom: none;
}

.field.show-label input {
    height: 27px;
}

.field.show-label label {
    height: 18px;
}
/* END MEDITEK INPUT AND SELECT */
/* MEDITEK RADIO BUTTON */

.mdt-radio {
    display: none;
}

.mdt-radio + label {
    display: inline-block;
    margin: -2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.mdt-radio:checked + label {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #e0e0e0;
}
/* END MEDITEK RADIO BUTTON */
/* MEDITEK POPOVER */

.mdt-popover {
    background-color: rgb(239, 127, 106);
    border-radius: 5px;
    bottom: 45px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 12px;
    font-family: 'Helvetica', sans-serif;
    right: 0;
    padding: 7px 10px;
    position: absolute;
    width: 200px;
    z-index: 4;
}

.mdt-popover:before {
    border-top: 7px solid rgb(239, 127, 106);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    bottom: -7px;
    content: '';
    display: block;
    left: 50%;
    margin-left: -7px;
    position: absolute;
}
/* END MEDITEK POPOVER */
/* MEDITEK TABLE */

.mdt-table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 0px auto;
    text-align: left;
    width: 100%;
    border: 1px solid #ddd;
}

.mdt-table th {
    background: linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}

.mdt-table th:after {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

.mdt-table th:first-child {
    border-left: 1px solid #777;
    box-shadow: inset 1px 1px 0 #999;
}

.mdt-table th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

.mdt-table td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

.mdt-table td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}

.mdt-table td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}

.mdt-table tr {
    background: #f1f1f1;
}

.mdt-table tr.selected {
    font-weight: bold;
    text-decoration: underline;
}

.mdt-table tr:nth-child(odd) td {
    background: #f1f1f1;
}

.mdt-table tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff;
}

.mdt-table tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}

.mdt-table tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}
/*.mdt-table tr:hover {
    opacity: 0.7
}*/

.mdt-table td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
    vertical-align: middle !important;
}

.mdt-table td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}

.mdt-table td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}
/* END MEDITEK TABLE */
/* MEDITEK SEARCH */

@media screen and (min-width: 768px) {
    .mdt-search {
        background-color: rgb(241, 241, 241);
        position: fixed;
        width: 50%;
        top: 0;
        right: 0;
        padding: 10px 15px;
        z-index: 9999;
        border: 2px solid rgb(100, 160, 217);
        display: none;
        overflow-y: auto;
        max-height: 100%;
    }
}

@media screen and (max-width: 767px) {
    .mdt-search {
        background-color: rgb(241, 241, 241);
        position: fixed;
        width: 75%;
        top: 0;
        right: 0;
        padding: 10px 15px;
        z-index: 9999;
        border: 2px solid rgb(100, 160, 217);
        display: none;
        overflow-y: auto;
        max-height: 100%;
    }
}
/* END MEDITEK SEARCH */
/* MEDITEK BOOKING TABLE */

table.mdt-booking-table {
    width: auto;
}

table.mdt-booking-table thead tr th {
    background-color: rgb(2, 174, 112);
    padding: 6px 11px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid rgb(2, 174, 112);
}

table.mdt-booking-table thead tr th.no-border {
    background-color: rgb(241, 243, 250);
    border: none;
}

table.mdt-booking-table thead tr a {
    color: white;
}

table.mdt-booking-table tbody td {
    background-color: white;
    padding: 15px;
    text-align: center;
    font-size: 13px;
    border: 1px solid rgb(2, 174, 112);
    width: 150px;
}

table.mdt-booking-table tbody td.time-booking {
    width: 100px;
    background-color: rgb(2, 174, 112);
    color: white;
    border: 1px solid white;
}
/* END MEDITEK BOOKING TABLE */
/* MEDITEK LIST BOOKING PATIENT */

ul.mdt-list-booking-patient {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* END MEDITEK LIST BOOKING PATIENT */

.view-mode {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: none;
}

.tabbable-custom {
    overflow: visible;
}

.tabbable-custom > .nav-tabs > li.active > a {
    font-weight: bold;
}
/* TIMETABLE TABLE */

table.timetable-table {
    color: #333;
    font-family: sans-serif;
    font-weight: 300;
    text-align: left;
    line-height: 40px;
    border-spacing: 0;
    border: 1px solid #428bca;
    width: 100%;
    margin: 20px auto;
}

table.timetable-table thead tr:first-child {
    background: #428bca;
    color: #fff;
    border: none;
}

table.timetable-table th {
    font-weight: bold;
}
/*table.timetable-table th, td {padding: 0 15px 0 20px;}*/
/*tannv.dts@gmail.com disabled*/

table.timetable-table thead tr:last-child th {
    border-bottom: 2px solid #ddd;
}

table.timetable-table tbody tr:last-child td {
    border: none;
}

table.timetable-table tbody td {
    border-bottom: 1px solid #ddd;
}

table.timetable-table td:last-child {
    text-align: right;
    padding-right: 10px;
}

.mdt-input-mask {
    width: 100%;
    font-size: .9em;
    text-align: center;
    border: 1px solid #428bca;
    margin: 20px auto;
}
/* END TIMETABLE TABLE */

.mdt-green {
    color: #F0FBFF
}

.inner-content {
    height: 100%;
    overflow: auto;
}

.chat-header {
    height: 58px;
}

.side-widget {
    margin-top: 15px;
    display: block;
}

.side-widget-title {
    color: #808285;
    font-size: 10.5px;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding-left: 31px;
    padding-right: 31px;
    text-transform: uppercase;
}

.side-widget-content {
    display: block;
}

.side-widget-content ul.groups {
    list-style: none;
    margin: 0;
    margin-top: 10px;
    padding-left: 0;
}

.side-widget-content ul.groups li {
    line-height: 25px;
}

.side-widget-content ul.groups > li > a {
    color: #ffffff;
    font-size: 13px;
    padding: 5px 31px;
}

.side-widget-content ul.groups > li > a:hover {
    text-decoration: none;
}

.user-details-wrapper {
    display: block;
    margin: 8px;
    padding: 10px;
    border-radius: 3px;
}

.user-details-wrapper .status-icon {
    margin-right: 0px;
}

.user-details-wrapper.active {
    background-color: #372b32;
}

.user-details-wrapper.active:hover {
    background-color: #482f36;
    cursor: pointer;
}

.user-details-wrapper:hover {
    background-color: #22262e;
    cursor: pointer;
}

.user-details-wrapper > .user-profile {
    display: inline-block;
    float: left;
    border-radius: 100px 100px 100px 100px;
    height: 35px;
    overflow: hidden;
    width: 35px;
    margin-right: 13px;
}

.user-details-wrapper > .user-details {
    display: inline-block;
    float: left;
}

.user-details-wrapper > .user-details > .user-name {
    display: block;
    color: #ffffff;
    font-weight: 600;
}

.user-details-wrapper > .user-details > .user-more {
    display: block;
    color: #747b89;
    font-size: 11px;
    width: 120px;
}

.chat-messages {
    position: relative;
    overflow: auto;
    height: calc(100% - 155px);
}

.chat-messages .user-details-wrapper {
    padding: 6px;
}

.chat-messages .user-details-wrapper:hover {
    background-color: #22262e;
    cursor: auto;
}

.user-details-status-wrapper {
    display: inline-block;
    float: left;
    min-width: 32px;
    margin-top: 8px;
}

.user-details-count-wrapper {
    display: inline-block;
    float: left;
    margin-top: 8px;
}

.chat-header input[type="text"] {
    margin: 15px 0 15px 14px;
    width: 195px;
    border: transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none !important;
    color: #282323;
    outline: 0;
    height: 16px;
    padding: 6px 11px !important;
    line-height: 15px;
    font-size: 13px;
    font-weight: normal;
    vertical-align: top;
    background-color: #ffffff;
    min-height: 37px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e5e9ec;
    transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.chat-header .iconset {
    margin: 20px 15px;
}

.chat-messages-header {
    background-color: #1b1e24;
    color: #4c5264;
    padding: 8px;
    padding-left: 21px;
}

.chat-messages-header .status {
    height: 10px;
    width: 10px;
    border-radius: 8px;
    background-color: #e5e9ec;
    display: inline-block;
    margin-right: 12px;
}

.chat-messages-header .status.online {
    background-color: #0aa699;
}

.chat-messages-header .status.busy {
    background-color: #f35958;
}

.chat-messages-header .status.away {
    background-color: #0aa699;
}

.chat-messages-header a > i {
    color: #4c5264;
    font-size: 10px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.chat-footer {
    position: absolute;
    bottom: 0px;
    background-color: #e5e9ec;
    padding: 10px;
    padding-bottom: 0px;
    width: 92.6%;
}

.status-icon {
    background: url('../theme/assets/status.png') no-repeat;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    top: 2px;
}

.status-icon.green {
    background-position: -1px -1px;
    width: 14px;
    height: 14px;
}

.status-icon.red {
    background-position: -17px -1px;
    width: 14px;
    height: 14px;
}

.status-icon.blue {
    background-position: -33px -1px;
    width: 14px;
    height: 14px;
}

.status-icon.yellow {
    background-position: -48px -1px;
    width: 15px;
    height: 14px;
}

.status-icon.grey {
    background-position: -64px -1px;
    width: 14px;
    height: 14px;
}

.semi-bold {
    font-weight: 600;
}

.bubble {
    position: relative;
    width: 165px;
    min-height: 40px;
    padding: 0px;
    background: #e5e9ec;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #22262e;
    padding: 10px;
    cursor: pointer;
}

.bubble.old {
    background: #0d0f12;
    color: #4c5264;
}

.bubble.old:after {
    border-color: transparent #0d0f12;
}

.bubble.sender {
    background: #0ba195;
    color: #ffffff;
}

.bubble.sender:after {
    border-color: transparent #0ba195;
    border-width: 9px 0 9px 7px;
    right: -7px !important;
    left: auto;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 9px 7px 9px 0;
    border-color: transparent #e5e9ec;
    display: block;
    width: 0;
    z-index: 1;
    left: -7px;
    top: 12px;
}

.chat-input-wrapper {
    position: absolute;
    bottom: 0;
    background-color: #1b1e24;
    width: 256px;
    padding: 7px;
    z-index: 110;
}

.chat-input-wrapper textarea {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    width: 100%;
}

.user-chat-wrapper {
    display: block;
    padding: 10px 15px;
}

.user-chat-wrapper .profile-wrapper {
    float: left;
    border-radius: 100px 100px 100px 100px;
    display: inline-block;
    height: 35px;
    overflow: hidden;
    width: 35px;
    margin: 0px 10px 0 0px;
}

.user-chat-wrapper .user-chat {
    display: inline-block;
    float: left;
}

.user-chat-wrapper .user-chat .user-name {
    color: #22262e;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-chat-wrapper .user-chat .user-chat-preview {
    display: block;
    float: left;
}

.user-chat-wrapper .user-chat .more-details {
    display: inline-block;
    float: left;
    color: #8b8f92;
    margin-right: 10px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*css custom by thanh*/

.custom-timesheet {
    font-size: 14px;
}

.submited {
    color: #35aa47;
    font-weight: bold;
}

.reject {
    color: #DF5755;
    font-weight: bold;
}

.approved {
    color: #4b8df8;
    font-weight: bold;
}

.pending {
    color: #FFB848;
    font-weight: bold;
}

.re-submitted {
    color: #8E44AD;
    font-weight: bold;
}

.glyphicon-chevron-up:before {
    content: "\e113"
}

.glyphicon-chevron-down:before {
    content: "\e114"
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-up,
.table-dynamic .table-bordered thead th .glyphicon-chevron-down {
    position: absolute;
    color: #999;
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-up:hover,
.table-dynamic .table-bordered thead th .glyphicon-chevron-down:hover {
    color: #31c0be;
    cursor: pointer;
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-up.active,
.table-dynamic .table-bordered thead th .glyphicon-chevron-down.active {
    color: #31c0be;
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-up {
    top: 4px;
    right: 5px;
}

.table-dynamic .table-filters {
    margin: 10px 0;
    padding: 8px;
}

.table-dynamic .filter-result-info {
    padding: 7px;
}

.table-dynamic .table-bordered {
    border-top: 1.5px solid #ddd;
    border-bottom: 1.5px solid #ddd;
    font-size: 14px;
}

.table-dynamic .table-bordered thead th {
    position: relative;
    padding: 0;
    text-align: center;
    font-weight: bold;
    background-color: #67809f;
}

.table-dynamic .table-bordered thead th>.th {
    position: relative;
    padding: 4px 4px 4px 4px;
    font-size: 14px;
}

.table-dynamic .table-bordered tbody tr {
    position: relative;
    padding: 4px 4px 4px 4px;
}

.table-dynamic .table-bordered tbody tr td input>.checkbox {
    height: 15px;
    width: 15px;
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-up,
.table-dynamic .table-bordered thead th .glyphicon-chevron-down {
    position: absolute;
    color: #999;
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-up:hover,
.table-dynamic .table-bordered thead th .glyphicon-chevron-down:hover {
    color: #31c0be;
    cursor: pointer;
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-up.active,
.table-dynamic .table-bordered thead th .glyphicon-chevron-down.active {
    color: #31c0be;
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-up {
    top: 0px;
    right: 5px;
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-down {
    top: 11px;
    right: 6px;
}

.table-dynamic .table-footer {
    margin: 10px 0;
    padding: 8px;
}

.table-dynamic .page-num-info span {
    padding: 6px;
}

.table-dynamic .pagination-container ul {
    margin: 0;
}

.table-dynamic .pagination-container ul li:hover {
    cursor: pointer;
}

.table-dynamic .table-bordered tr:active {
    background: #F5F5F5;
}
/*tooltipster*/

.tooltip-error-theme {
    border-radius: 5px;
    background: #f3565d;
    color: #fff;
}
/* Use this next selector to style things like font-size and line-height: */

.tooltip-error-theme .tooltipster-content {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    padding: 8px 10px;
}

.table-dynamic .table-bordered {
    border-collapse: inherit;
}

.table-dynamic .table-bordered>thead>tr>th,
.table-dynamic .table-bordered>tbody>tr>th,
.table-dynamic .table-bordered>tfoot>tr>th,
.table-dynamic .table-bordered>thead>tr>td,
.table-dynamic .table-bordered>tbody>tr>td,
.table-dynamic .table-bordered>tfoot>tr>td {
    padding: 2px 5px 2px 5px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1.5px solid #ddd;
    border-right: 1.5px solid #ddd;
    -moz-user-select: none;
}

.odd {
    background-color: #fafafa;
}

.same {
    background-color: #EEEEEE;
}

.error-input {
    border: 1px solid #f3565d;
}

.table-dynamic .table-bordered>thead>tr>th>input[type=checkbox],
.table-dynamic .table-bordered>tbody>tr>th>input[type=checkbox],
.table-dynamic .table-bordered>tfoot>tr>th>input[type=checkbox],
.table-dynamic .table-bordered>thead>tr>td>input[type=checkbox],
.table-dynamic .table-bordered>tbody>tr>td>input[type=checkbox],
.table-dynamic .table-bordered>tfoot>tr>td>input[type=checkbox] {
    margin: 1px -15px -10px 2px;
    line-height: normal;
}
/*end tooltipster*/
/*tr chevron*/

.table-dynamic .table-bordered tbody tr .glyphicon-chevron-up:hover,
.table-dynamic .table-bordered tbody tr .glyphicon-chevron-down:hover {
    color: #31c0be;
    cursor: pointer;
}

.table-dynamic .table-bordered tbody tr .glyphicon-chevron-up.active,
.table-dynamic .table-bordered tbody tr .glyphicon-chevron-down.active {
    color: #31c0be;
}

.table-dynamic .table-bordered tbody tr .glyphicon-chevron-up {
    top: -3px;
    right: -14px;
}

.table-dynamic .table-bordered tbody tr .glyphicon-chevron-down {
    top: 7px;
    right: 1px;
}

.table-dynamic .table-bordered tbody tr .glyphicon-chevron-up:hover,
.table-dynamic .table-bordered tbody tr .glyphicon-chevron-down:hover {
    color: #31c0be;
    cursor: pointer;
}

.table-dynamic .table-bordered tbody tr .glyphicon-chevron-up.active,
.table-dynamic .table-bordered tbody tr .glyphicon-chevron-down.active {
    color: #31c0be;
}
/*end tr chevron*/
/*end css custom by thanh*/

.table-div {
    width: 100%;
}

.table-div .header {
    width: 14%;
    display: inline-block;
    font-weight: bold;
}

.table-div .table-div-row {
    width: 100%;
    padding: 5 5;
}

.table-div .table-div-row .content {
    width: 14%;
    display: inline-block;
}

.table-div .active {
    background-color: #2BEABB;
}

.appointment {}

.appointment .appointment-row {}

.appointment .appointment-block-time,
.appointment .appointment-block,
.appointment .appointment-block-header {
    display: inline-block;
}

.appointment .appointment-block-time {
    width: 100px;
}

.appointment .appointment-block {
    width: 150px;
    font-size: 11px;
    height: 70px;
    margin: 0 3px 3px 0;
    padding: 5px 0px 0px 5px;
    color: white;
}

.appointment .appointment-block-header {
    width: 150px;
    font-weight: bold;
}

.appointment .appointment-block a {
    color: white;
}

.block-transparent {
    background-color: #F9F9F9;
}

.block-active {
    background-color: #7FBFF3;
}
.seperate-section{
    height:5px;
}

[ng-drag].drag-over{
    opacity:0.5;
}

[ng-drag].dragging{
    opacity:0.5;
}

[ng-drop].drag-enter{
    border: dashed blue 20px;
    opacity: 0.5;
}

.bv-right-list{
    position: absolute;
    padding: 10px;
    right: 0;
    top: 0;
    min-height: 100%;
    width: 250px;
    color: white;
    background-color: #3D4A53;
    z-index: 888;
}
.bv-arrow {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
    z-index: 888;
    border-right:30px solid #1C2D5C;
    position: absolute;
    top: 5%;
    right: 250px;
}
/*Phan Quốc Chiên*/
.un-background{
    background-color: rgb(37, 33, 34)!important;
    position: relative;
    margin-top: 30px;

}
.un-bg-black{
    background-color: rgb(96, 95, 95)!important;
    /*height: 390px;*/
}
.un-title-label{
    position: absolute;
    top: -27px;
    color: white;
    background: rgb(39, 36, 37)!important;
    border-top-left-radius: 26px !important;
    border-top-right-radius: 26px !important;
    padding: 7px 25px 10px 25px;
    text-transform: uppercase;
    border-top: 1px solid;
}
.un-button-add-img{
    background: url('../theme/assets/icon-2_03.png') no-repeat;
}
.un-chose-img{
    width: 45px;
    position: absolute;
    right: 25px;
    bottom: 10px;
}
.un-form{
    padding-top: 15px;
}
.un-bg-black-label{
    color: white;
    background: rgb(49, 50, 50);
    padding: 5px 15px 5px 15px;
}
.un-label-form{
    color: rgb(186, 186, 185)!important;
    background: rgb(49, 50, 50)!important;
    margin-bottom: 0px;
    padding: 0px 10px 0px 10px;
    font-size: 12px;
}
.un-label-form-1{
    color: rgb(112, 112, 111)!important;
    background: rgb(204, 204, 203)!important;
    margin-bottom: 0px;
    padding: 0px 10px 0px 10px;
    font-size: 12px;
}
.un-label-form-2{
    color: rgb(201, 201, 200)!important;
    background: rgb(78, 79, 78)!important;
    margin-bottom: 0px;
    padding: 0px 10px 0px 10px;
    font-size: 12px;
}
.un-label-form-3{
    color: rgb(252, 252, 252)!important;
    background: rgb(153, 153, 153)!important;
    margin-bottom: 0px;
    padding: 0px 10px 0px 10px;
    font-size: 12px;
}
.un-form-left{
    padding-right: 0px;
    padding-top: 10px;
}
.un-form-right{
    padding-right: 0;
    padding-left: 0;
    padding-top: 10px;
}
.un-form-add{
    padding-left: 0px;
    padding-right: 0px;
    border-left: 5px solid rgb(37, 33, 34);
    /*height: 100%;*/
    background: rgb(153, 153, 153);
}
.un-from-add-div{
    background-color: rgb(153, 153, 153)!important;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}
.un-input-custom{
    height: 20px;
}
.un-input-custom-1{
    height: 20px;
    border: 2px solid rgb(196, 196, 196)!important;
}
.un-img-sex{
    width: 65px;
    margin-left: 0px;
    padding-top: 5px;
}
.un-icon-down{
    position: relative;
    top: 20px;
    font-size: 18px;
}
.un-bg-xanh{
    background: rgb(11, 14, 47)!important;
    margin-top: 3px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.un-checkbox{
    height: 25px;
    background: rgb(11, 14, 47) !important;
    color: white !important;
    border: 1px solid white !important;
    padding: 2px 50px 0px 16px !important;
}
.un-checkbox::after{
    height: 13px !important;
    right: 15px !important;
    width: 13px !important;
}
.un-checkbox::before{
    height: 5px !important;
    right: 19px !important;
    top: 9px !important;
    width: 5px !important;
}
.un-select{
    background: rgb(11, 14, 47);
    color: white;
    border: 1px solid;
    width: 100%;
    height: 25px;
    padding: 0px 10px;
}
.un-select:hover{
    border: 1px solid white;
    color: white;
}
.un-select:focus{
    border: 1px solid white;
    color: white;
}
.un-select-company{
    margin-left: -5px;
    background: white;
    text-align: left;
    padding-left: 15px;
    height: 25px;
    padding: 0 10px;
}
.un-icon-select{
    width: 25px;
    height: 21px;
    background: rgb(11, 14, 47);
    padding: 3px 6px;
    color: white;
    position: absolute;
    right: 22px;
    top: 2px;
}
.un-bg-trang{
    background: white;
    margin-top: 5px;
    padding: 10px 0px 5px 0px;
}
.un-label-white{
    background: rgb(96, 95, 95)!important;
    color: white;
    padding: 5px 15px 5px 15px;
    margin-left: 15px;
}
.un-form-white-p{
    padding-right: 0;
}
.un-form-white-p2{
    padding-right: 0;
    padding-left: 0;
}
.un-form-white-p3{
    padding-right: 5px;
    padding-left: 0px;
}
.un-img-avartar{
    background: white;
    border: 2px solid white;
}
.un-canvas canvas{
    width: 100% !important;
    height: 100% !important;
    border: 2px solid white;
}
.un-label-xam{
    color: white;
    background: rgb(102, 102, 102)!important;
    width: 100%;
    text-align: center;
    padding: 5px;
}
.un-label-xam-1{
    color: black;
    background: rgb(204, 204, 203)!important;
    width: 100%;
    text-align: center;
    padding: 5px;
}
.un-form-bg-xam{
    margin-top: 15px;
    background: rgb(60, 61, 61)!important;
    margin-left: 0;
    margin-right: 0;
}
.un-div-p-l-r-0{
    padding-right: 0;
    padding-left: 0;
}
.un-div-p-r-0{
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 0px;
}
.un-div-p-r-30{
    padding-right: 30px;
}
.un-div-p-r-5{
    padding-right: 5px;
}
.un-label-c-white{
    color: white;
    /*padding-top: 10px;*/
}
.un-height-img{
    height: 285px;
}
.un-div-l-r-15{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.un-submit{
    color: white;
    border-radius: 20px !important;
    border: 3px solid white;
    background: rgb(102, 102, 102) !important;
}
.un-submit:hover{
    color: white !important;
}
.un-select-p{
    padding: 0 0 0 2px !important;
}
.un-select-p-5{
    padding: 0px 0px 0px 7px !important;
}
.un-div-p-10{
    padding-right: 10px !important;
}
.un-label-isenable{
    padding: 0 !important;
    background: white !important;
}
.un-label-isenable::after{
    height: 13px !important;
    right: 12px !important;
    top: 2px !important;
    width: 13px !important;
} 
.un-label-isenable::before{
    height: 5px !important;
    right: 16px !important;
    top: 6px !important;
    width: 5px !important;
}
.un-label-whidth-85{
    width: 85px !important;
}
.un-label-whidth-97{
    width: 97px !important;
}
.un-label-whidth-130{
    width: 130px !important;
}
.ui-detail-config{
    background: rgb(23, 20, 76);
    margin-top: -20px;
}
.un-select-sex{
    width: 20px;
    position: relative;
    top: 19px;
}
/*Phan Quoc Chien Material 
