a,
a:active,
a:focus {
    cursor: pointer;
}

.break-row {
    clear: both;
}

.page-header-fixed .page-container {
    margin-top: 0;
}

.form-group label {
    padding-top: 6px;
}

.page-content-wrapper .page-content {
    min-height: 60em;
}

.form-group.detail > div {
    margin-top: 15px;
}
/**
* Khank Style
*/

.mdt-logo {
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
}

#appt_tab .nav-tabs {
    margin-bottom: 0px;
}

#appt_tab .nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover {
    border-left: 1px solid #b1bdbd;
    border-right: 1px solid #b1bdbd;
    border-top: 3px solid #f3565d;
    color: black;
    font-weight: bold;
}

#appt_paperless .row {
    margin-right: 0px;
    margin-left: 0px;
}

#appt_paperless .paperless a {
    display: block;
    padding: 7px;
    border-bottom: 1px solid #ddd;
}
/**
* End Khank Style
*/
/* Vuong Custom Timepicker */

.ui-timepicker-table td {
    padding: 0.2em;
}

.ui-timepicker-table td a {
    padding: 3px;
    width: auto;
}
/* END */
/* MODAL DIALOG */

.modal-lg {
    width: 98%;
}
/* END MODAL DIALOG */
/* MEDITEK CHECKBOX */

.mdt-checkbox,
.mdt-selection,
.mdt-sex {
    display: none;
}

[class^="mdt-checkbox"] + label:before {
    border-radius: 100px;
    box-shadow: 0 12px 20px #fff inset;
    content: " ";
    display: none;
    height: 8px;
    position: absolute;
    right: 17px;
    top: 10px;
    width: 8px;
    z-index: 999;
}

[class^="mdt-checkbox"] + label:after {
    border-radius: 100px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4) inset;
    content: " ";
    height: 18px;
    position: absolute;
    right: 12px;
    top: 5px;
    width: 18px;
}

[class^="mdt-checkbox"]:checked + label:before {
    display: block;
}

input[class^="mdt-checkbox"] + label {
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    font-size: 1em;
    padding: 5px 50px 5px 16px;
    position: relative;
    width: 100%;
}
/* END MEDITEK CHECKBOX */
/* MEDITEK SELECTION */

.mdt-selection + label:after,
.mdt-selection + label:before,
.mdt-selection label,
.mdt-sex + label:after,
.mdt-sex + label:before,
.mdt-sex label {
    transition: all 0.1s ease-in 0s;
}

[class^="mdt-selection"]:checked + label:before {
    content: " ";
    left: 49px;
    position: absolute;
    z-index: 99999;
}

[class^="mdt-sex"]:checked + label:before {
    left: 80px;
}

[class^="mdt-selection"] + label:before,
[class^="mdt-sex"] + label:before {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    color: #fff;
    content: "";
    height: 35px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
    z-index: 99999;
}

[class^="mdt-selection"]:checked + label:after {
    content: "Yes";
    left: 6px;
}

[class^="mdt-sex"]:checked + label:after {
    content: "Female";
    left: 6px;
}

[class^="mdt-selection"] + label:after,
[class^="mdt-sex"] + label:after {
    left: 35px;
}

[class^="mdt-selection"] + label:after {
    color: #fff;
    content: "No";
    font-size: 1em;
    font-weight: 700;
    left: 8px;
    padding: 5px 15px;
    position: absolute;
    top: 4px;
}

[class^="mdt-sex"] + label:after {
    color: #fff;
    content: "Male";
    font-size: 1em;
    font-weight: 700;
    left: 8px;
    padding: 5px 15px;
    position: absolute;
    top: 4px;
}

[class^="mdt-selection"]:checked + label,
[class^="mdt-sex"]:checked + label {
    background: none repeat scroll 0 0 #67a5df;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(146, 196, 245, 0.4);
}

[class^="mdt-selection"] + label {
    background: none repeat scroll 0 0 #f7836d;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(245, 146, 146, 0.4);
    display: inline-block;
    height: 35px;
    margin-right: 15px;
    padding: 11px 9px;
    position: relative;
    width: 70px;
}

[class^="mdt-sex"] + label {
    background: none repeat scroll 0 0 #f7836d;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(245, 146, 146, 0.4);
    display: inline-block;
    height: 35px;
    margin-right: 15px;
    padding: 11px 9px;
    position: relative;
    width: 100px;
}
/* END MEDITEK SELECTION */
/* MEDITEK INPUT AND SELECT */

.field {
    margin-bottom: 20px;
    display: block;
    position: relative;
    height: 36px;
    border: 2px solid rgb(100, 160, 217);
    transition-duration: 0.1s;
    transition-property: height, border-width;
    transition-timing-function: ease-in;
}

.field.has-error {
    border: 2px solid rgb(239, 127, 106);
}

.field input,
.field select,
.field textarea {
    border: none;
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    padding-left: 10px;
}

.field select:disabled {
    background-color: rgb(240, 240, 240);
}

.field label {
    height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
    color: #fff;
    background: rgb(100, 160, 217);
    transition: max-height 0.1s ease-in 0s;
    margin-bottom: 0;
    padding: 0px 3px;
}

.field.has-error label {
    background: rgb(239, 127, 106);
}

.field.show-label {
    height: 48px;
    border-bottom: none;
}

.field.show-label input {
    height: 27px;
}

.field.show-label label {
    height: 18px;
}
/* END MEDITEK INPUT AND SELECT */
/* MEDITEK RADIO BUTTON */

.mdt-radio {
    display: none;
}

.mdt-radio + label {
    display: inline-block;
    margin: -2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.mdt-radio:checked + label {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #e0e0e0;
}
/* END MEDITEK RADIO BUTTON */
/* MEDITEK POPOVER */

.mdt-popover {
    background-color: rgb(239, 127, 106);
    border-radius: 5px;
    bottom: 45px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 12px;
    font-family: 'Helvetica', sans-serif;
    right: 0;
    padding: 7px 10px;
    position: absolute;
    width: 200px;
    z-index: 4;
}

.mdt-popover:before {
    border-top: 7px solid rgb(239, 127, 106);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    bottom: -7px;
    content: '';
    display: block;
    left: 50%;
    margin-left: -7px;
    position: absolute;
}
/* END MEDITEK POPOVER */
/* MEDITEK TABLE */

.mdt-table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 0px auto;
    text-align: left;
    width: 100%;
    border: 1px solid #ddd;
}

.mdt-table th {
    background: linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}

.mdt-table th:after {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

.mdt-table th:first-child {
    border-left: 1px solid #777;
    box-shadow: inset 1px 1px 0 #999;
}

.mdt-table th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

.mdt-table td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

.mdt-table td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}

.mdt-table td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}

.mdt-table tr {
    background: #f1f1f1;
}

.mdt-table tr.selected {
    font-weight: bold;
    text-decoration: underline;
}

.mdt-table tr:nth-child(odd) td {
    background: #f1f1f1;
}

.mdt-table tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff;
}

.mdt-table tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}

.mdt-table tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}
/*.mdt-table tr:hover {
    opacity: 0.7
}*/

.mdt-table td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
    vertical-align: middle !important;
}

.mdt-table td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}

.mdt-table td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}
/* END MEDITEK TABLE */
/* MEDITEK SEARCH */

@media screen and (min-width: 768px) {
    .mdt-search {
        background-color: rgb(241, 241, 241);
        position: fixed;
        width: 50%;
        top: 0;
        right: 0;
        padding: 10px 15px;
        z-index: 9999;
        border: 2px solid rgb(100, 160, 217);
        display: none;
        overflow-y: auto;
        max-height: 100%;
    }
}

@media screen and (max-width: 767px) {
    .mdt-search {
        background-color: rgb(241, 241, 241);
        position: fixed;
        width: 75%;
        top: 0;
        right: 0;
        padding: 10px 15px;
        z-index: 9999;
        border: 2px solid rgb(100, 160, 217);
        display: none;
        overflow-y: auto;
        max-height: 100%;
    }
}
/* END MEDITEK SEARCH */
/* MEDITEK BOOKING TABLE */

table.mdt-booking-table {
    width: auto;
}

table.mdt-booking-table thead tr th {
    background-color: rgb(2, 174, 112);
    padding: 6px 11px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid rgb(2, 174, 112);
}

table.mdt-booking-table thead tr th.no-border {
    background-color: rgb(241, 243, 250);
    border: none;
}

table.mdt-booking-table thead tr a {
    color: white;
}

table.mdt-booking-table tbody td {
    background-color: white;
    padding: 15px;
    text-align: center;
    font-size: 13px;
    border: 1px solid rgb(2, 174, 112);
    width: 150px;
}

table.mdt-booking-table tbody td.time-booking {
    width: 100px;
    background-color: rgb(2, 174, 112);
    color: white;
    border: 1px solid white;
}
/* END MEDITEK BOOKING TABLE */
/* MEDITEK LIST BOOKING PATIENT */

ul.mdt-list-booking-patient {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* END MEDITEK LIST BOOKING PATIENT */

.view-mode {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: none;
}

.tabbable-custom {
    overflow: visible;
}

.tabbable-custom > .nav-tabs > li.active > a {
    font-weight: bold;
}
/* TIMETABLE TABLE */

table.timetable-table {
    color: #333;
    font-family: sans-serif;
    font-weight: 300;
    text-align: left;
    line-height: 40px;
    border-spacing: 0;
    border: 1px solid #428bca;
    width: 100%;
    margin: 20px auto;
}

table.timetable-table thead tr:first-child {
    background: #428bca;
    color: #fff;
    border: none;
}

table.timetable-table th {
    font-weight: bold;
}
/*table.timetable-table th, td {padding: 0 15px 0 20px;}*/
/*tannv.dts@gmail.com disabled*/

table.timetable-table thead tr:last-child th {
    border-bottom: 2px solid #ddd;
}

table.timetable-table tbody tr:last-child td {
    border: none;
}

table.timetable-table tbody td {
    border-bottom: 1px solid #ddd;
}

table.timetable-table td:last-child {
    text-align: right;
    padding-right: 10px;
}

.mdt-input-mask {
    width: 100%;
    font-size: .9em;
    text-align: center;
    border: 1px solid #428bca;
    margin: 20px auto;
}
/* END TIMETABLE TABLE */

.mdt-green {
    color: #F0FBFF
}

.inner-content {
    height: 100%;
    overflow: auto;
}

.chat-header {
    height: 58px;
}

.side-widget {
    margin-top: 15px;
    display: block;
}

.side-widget-title {
    color: #808285;
    font-size: 10.5px;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding-left: 31px;
    padding-right: 31px;
    text-transform: uppercase;
}

.side-widget-content {
    display: block;
}

.side-widget-content ul.groups {
    list-style: none;
    margin: 0;
    margin-top: 10px;
    padding-left: 0;
}

.side-widget-content ul.groups li {
    line-height: 25px;
}

.side-widget-content ul.groups > li > a {
    color: #ffffff;
    font-size: 13px;
    padding: 5px 31px;
}

.side-widget-content ul.groups > li > a:hover {
    text-decoration: none;
}

.user-details-wrapper {
    display: block;
    margin: 8px;
    padding: 10px;
    border-radius: 3px;
}

.user-details-wrapper .status-icon {
    margin-right: 0px;
}

.user-details-wrapper.active {
    background-color: #372b32;
}

.user-details-wrapper.active:hover {
    background-color: #482f36;
    cursor: pointer;
}

.user-details-wrapper:hover {
    background-color: #22262e;
    cursor: pointer;
}

.user-details-wrapper > .user-profile {
    display: inline-block;
    float: left;
    border-radius: 100px 100px 100px 100px;
    height: 35px;
    overflow: hidden;
    width: 35px;
    margin-right: 13px;
}

.user-details-wrapper > .user-details {
    display: inline-block;
    float: left;
}

.user-details-wrapper > .user-details > .user-name {
    display: block;
    color: #ffffff;
    font-weight: 600;
}

.user-details-wrapper > .user-details > .user-more {
    display: block;
    color: #747b89;
    font-size: 11px;
    width: 120px;
}

.chat-messages {
    position: relative;
    overflow: auto;
    height: calc(100% - 155px);
}

.chat-messages .user-details-wrapper {
    padding: 6px;
}

.chat-messages .user-details-wrapper:hover {
    background-color: #22262e;
    cursor: auto;
}

.user-details-status-wrapper {
    display: inline-block;
    float: left;
    min-width: 32px;
    margin-top: 8px;
}

.user-details-count-wrapper {
    display: inline-block;
    float: left;
    margin-top: 8px;
}

.chat-header input[type="text"] {
    margin: 15px 0 15px 14px;
    width: 195px;
    border: transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none !important;
    color: #282323;
    outline: 0;
    height: 16px;
    padding: 6px 11px !important;
    line-height: 15px;
    font-size: 13px;
    font-weight: normal;
    vertical-align: top;
    background-color: #ffffff;
    min-height: 37px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e5e9ec;
    transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.chat-header .iconset {
    margin: 20px 15px;
}

.chat-messages-header {
    background-color: #1b1e24;
    color: #4c5264;
    padding: 8px;
    padding-left: 21px;
}

.chat-messages-header .status {
    height: 10px;
    width: 10px;
    border-radius: 8px;
    background-color: #e5e9ec;
    display: inline-block;
    margin-right: 12px;
}

.chat-messages-header .status.online {
    background-color: #0aa699;
}

.chat-messages-header .status.busy {
    background-color: #f35958;
}

.chat-messages-header .status.away {
    background-color: #0aa699;
}

.chat-messages-header a > i {
    color: #4c5264;
    font-size: 10px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.chat-footer {
    position: absolute;
    bottom: 0px;
    background-color: #e5e9ec;
    padding: 10px;
    padding-bottom: 0px;
    width: 92.6%;
}

.status-icon {
    background: url('../theme/assets/status.png') no-repeat;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    top: 2px;
}

.status-icon.green {
    background-position: -1px -1px;
    width: 14px;
    height: 14px;
}

.status-icon.red {
    background-position: -17px -1px;
    width: 14px;
    height: 14px;
}

.status-icon.blue {
    background-position: -33px -1px;
    width: 14px;
    height: 14px;
}

.status-icon.yellow {
    background-position: -48px -1px;
    width: 15px;
    height: 14px;
}

.status-icon.grey {
    background-position: -64px -1px;
    width: 14px;
    height: 14px;
}

.semi-bold {
    font-weight: 600;
}

.bubble {
    position: relative;
    width: 165px;
    min-height: 40px;
    padding: 0px;
    background: #e5e9ec;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #22262e;
    padding: 10px;
    cursor: pointer;
}

.bubble.old {
    background: #0d0f12;
    color: #4c5264;
}

.bubble.old:after {
    border-color: transparent #0d0f12;
}

.bubble.sender {
    background: #0ba195;
    color: #ffffff;
}

.bubble.sender:after {
    border-color: transparent #0ba195;
    border-width: 9px 0 9px 7px;
    right: -7px !important;
    left: auto;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 9px 7px 9px 0;
    border-color: transparent #e5e9ec;
    display: block;
    width: 0;
    z-index: 1;
    left: -7px;
    top: 12px;
}

.chat-input-wrapper {
    position: absolute;
    bottom: 0;
    background-color: #1b1e24;
    width: 256px;
    padding: 7px;
    z-index: 110;
}

.chat-input-wrapper textarea {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    width: 100%;
}

.user-chat-wrapper {
    display: block;
    padding: 10px 15px;
}

.user-chat-wrapper .profile-wrapper {
    float: left;
    border-radius: 100px 100px 100px 100px;
    display: inline-block;
    height: 35px;
    overflow: hidden;
    width: 35px;
    margin: 0px 10px 0 0px;
}

.user-chat-wrapper .user-chat {
    display: inline-block;
    float: left;
}

.user-chat-wrapper .user-chat .user-name {
    color: #22262e;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-chat-wrapper .user-chat .user-chat-preview {
    display: block;
    float: left;
}

.user-chat-wrapper .user-chat .more-details {
    display: inline-block;
    float: left;
    color: #8b8f92;
    margin-right: 10px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*css custom by thanh*/

.custom-timesheet {
    font-size: 14px;
}

.submited {
    color: #35aa47;
    font-weight: bold;
}

.reject {
    color: #DF5755;
    font-weight: bold;
}

.approved {
    color: #4b8df8;
    font-weight: bold;
}

.pending {
    color: #FFB848;
    font-weight: bold;
}

.re-submitted {
    color: #8E44AD;
    font-weight: bold;
}

.glyphicon-chevron-up:before {
    content: "\e113"
}

.glyphicon-chevron-down:before {
    content: "\e114"
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-up,
.table-dynamic .table-bordered thead th .glyphicon-chevron-down {
    position: absolute;
    color: #999;
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-up:hover,
.table-dynamic .table-bordered thead th .glyphicon-chevron-down:hover {
    color: #31c0be;
    cursor: pointer;
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-up.active,
.table-dynamic .table-bordered thead th .glyphicon-chevron-down.active {
    color: #31c0be;
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-up {
    top: 4px;
    right: 5px;
}

.table-dynamic .table-filters {
    margin: 10px 0;
    padding: 8px;
}

.table-dynamic .filter-result-info {
    padding: 7px;
}

.table-dynamic .table-bordered {
    border-top: 1.5px solid #ddd;
    border-bottom: 1.5px solid #ddd;
    font-size: 13px;
}

.table-dynamic .table-bordered thead th {
    position: relative;
    padding: 0;
    text-align: center;
    font-weight: bold;
    background-color: #67809f;
}

.table-dynamic .table-bordered thead th>.th {
    position: relative;
    padding: 4px 4px 4px 4px;
    font-size: 13px;
}

.table-dynamic .table-bordered tbody tr {
    position: relative;
    padding: 4px 4px 4px 4px;
}

.table-dynamic .table-bordered tbody tr td input>.checkbox {
    height: 15px;
    width: 15px;
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-up,
.table-dynamic .table-bordered thead th .glyphicon-chevron-down {
    position: absolute;
    color: #999;
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-up:hover,
.table-dynamic .table-bordered thead th .glyphicon-chevron-down:hover {
    color: #31c0be;
    cursor: pointer;
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-up.active,
.table-dynamic .table-bordered thead th .glyphicon-chevron-down.active {
    color: #31c0be;
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-up {
    top: 0px;
    right: 5px;
}

.table-dynamic .table-bordered thead th .glyphicon-chevron-down {
    top: 11px;
    right: 6px;
}

.table-dynamic .table-footer {
    margin: 10px 0;
    padding: 8px;
}

.table-dynamic .page-num-info span {
    padding: 6px;
}

.table-dynamic .pagination-container ul {
    margin: 0;
}

.table-dynamic .pagination-container ul li:hover {
    cursor: pointer;
}

.table-dynamic .table-bordered tr:active {
    background: #F5F5F5;
}
/*tooltipster*/

.tooltip-error-theme {
    border-radius: 5px;
    background: #f3565d;
    color: #fff;
}
/* Use this next selector to style things like font-size and line-height: */

.tooltip-error-theme .tooltipster-content {
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    padding: 8px 10px;
}

.table-dynamic .table-bordered {
    border-collapse: inherit;
}

.table-dynamic .table-bordered>thead>tr>th,
.table-dynamic .table-bordered>tbody>tr>th,
.table-dynamic .table-bordered>tfoot>tr>th,
.table-dynamic .table-bordered>thead>tr>td,
.table-dynamic .table-bordered>tbody>tr>td,
.table-dynamic .table-bordered>tfoot>tr>td {
    padding: 2px 5px 2px 5px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1.5px solid #ddd;
    border-right: 1.5px solid #ddd;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.odd {
    background-color: #fafafa;
}

.same {
    background-color: #EEEEEE;
}

.error-input {
    border: 1px solid #f3565d;
}

.table-dynamic .table-bordered>thead>tr>th>input[type=checkbox],
.table-dynamic .table-bordered>tbody>tr>th>input[type=checkbox],
.table-dynamic .table-bordered>tfoot>tr>th>input[type=checkbox],
.table-dynamic .table-bordered>thead>tr>td>input[type=checkbox],
.table-dynamic .table-bordered>tbody>tr>td>input[type=checkbox],
.table-dynamic .table-bordered>tfoot>tr>td>input[type=checkbox] {
    margin: 1px -15px -10px 2px;
    line-height: normal;
}
/*end tooltipster*/
/*tr chevron*/

.table-dynamic .table-bordered tbody tr .glyphicon-chevron-up:hover,
.table-dynamic .table-bordered tbody tr .glyphicon-chevron-down:hover {
    color: #31c0be;
    cursor: pointer;
}

.table-dynamic .table-bordered tbody tr .glyphicon-chevron-up.active,
.table-dynamic .table-bordered tbody tr .glyphicon-chevron-down.active {
    color: #31c0be;
}

.table-dynamic .table-bordered tbody tr .glyphicon-chevron-up {
    top: -3px;
    right: -14px;
}

.table-dynamic .table-bordered tbody tr .glyphicon-chevron-down {
    top: 7px;
    right: 1px;
}

.table-dynamic .table-bordered tbody tr .glyphicon-chevron-up:hover,
.table-dynamic .table-bordered tbody tr .glyphicon-chevron-down:hover {
    color: #31c0be;
    cursor: pointer;
}

.table-dynamic .table-bordered tbody tr .glyphicon-chevron-up.active,
.table-dynamic .table-bordered tbody tr .glyphicon-chevron-down.active {
    color: #31c0be;
}
/*end tr chevron*/
/*end css custom by thanh*/

.table-div {
    width: 100%;
}

.table-div .header {
    width: 14%;
    display: inline-block;
    font-weight: bold;
}

.table-div .table-div-row {
    width: 100%;
    padding: 5 5;
}

.table-div .table-div-row .content {
    width: 14%;
    display: inline-block;
}

.table-div .active {
    background-color: #2BEABB;
}

.appointment {
    overflow: auto;
}

.appointment .appointment-row {
    display: block;
}

.appointment .appointment-block-time,
.appointment .appointment-block-times,
.appointment .appointment-block,
.appointment .appointment-block-header {
    display: inline-block;
    background-color: #ffffff;
    text-align: center;
}

.appointment .appointment-block-times {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 7px;
}
.appointment .appointment-block-time{
    width: 100px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
    margin-right: 7px;
    border-top: 1px solid rgb(96, 99, 94);
}

.appointment .appointment-block {
    vertical-align: top;
    width: 200px;
    font-size: 12px;
    height: 35px;
    line-height: 25px;
    color: white;
    margin-right: 7px;
}

.appointment .appointment-block-header {
    width: 200px;
    margin-right: 7px;
    font-weight: bold;
}

.appointment .appointment-block a {
    color: #ffffff;
    font-weight: bold;
}

.block-transparent {
    background-color: #F9F9F9;
}

.block-active {
    background-color: #7FBFF3;
}
.seperate-section{
    height:5px;
}

[ng-drag].drag-over{
    opacity:0.5;
}

[ng-drag].dragging{
    opacity:0.5;
}

[ng-drop].drag-enter{
    border: dashed blue 20px;
    opacity: 0.5;
}

.bv-right-list{
    position: absolute;
    padding: 10px;
    right: 0;
    top: 0;
    min-height: 100%;
    width: 250px;
    color: #000000;
    /*background-color: #3D4A53;*/
    background-color: #ffffff;
    border: 1px solid rgb(173, 188, 86);
    z-index: 888;
}
.bv-arrow {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
    z-index: 888;
    border-right:30px solid rgb(188, 186, 186);
    position: absolute;
    top: 5%;
    right: 250px;
}

/*Minh Hikari custom css. DO NOT DELETE. Especially CHIEN :v*/
.image-container-div {
    width:100%; 
    height:100%; 
    border:solid 1px #ddd;
    cursor:pointer;
    color: gray;
}

.image-container-div:hover {
    border:solid 5px #D84A38;
}


.outer-div {
    margin-top:10px; 
    height:200px; 
}
/*End Minh Hikari custom css. DO NOT DELETE. Especially CHIEN :v*/

/*Phan Qu?c Chiên tang dong :v*/
.un-background{
    background-color: rgb(37, 33, 34)!important;
    position: relative;
    margin-top: 30px;

}
.un-bg-black{
    background-color: rgb(96, 95, 95)!important;
     /*chien edit*/
    color: white;
    /*height: 390px;*/
}
.un-title-label{
    position: absolute;
    top: -27px;
    color: white;
    background: #2C2A2B!important;
    border-top-left-radius: 26px !important;
    border-top-right-radius: 26px !important;
    padding: 7px 25px 10px 25px;
    text-transform: uppercase;
    border-top: 1px solid;
}
.un-button-add-img{
    background: url('../theme/assets/icon-2_03.png') no-repeat;
}
.un-chose-img{
    width: 45px;
    position: absolute;
    right: 25px;
    bottom: 10px;
}
.un-form{
    padding-top: 15px;
}
.un-bg-black-label{
    color: white;
    background: rgb(49, 50, 50);
    padding: 5px 15px 5px 15px;
}
.un-label-form{
    color: rgb(186, 186, 185)!important;
    background: rgb(49, 50, 50)!important;
    margin-bottom: 0px;
    padding: 0px 10px 0px 10px;
    font-size: 12px;
}
.un-label-form-1{
    color: rgb(112, 112, 111)!important;
    background: rgb(204, 204, 203)!important;
    margin-bottom: 0px;
    padding: 0px 10px 0px 10px;
    font-size: 12px;
}
.un-label-form-2{
    color: rgb(201, 201, 200)!important;
    background: rgb(78, 79, 78)!important;
    margin-bottom: 0px;
    padding: 0px 10px 0px 10px;
    font-size: 12px;
}
.un-label-form-3{
    color: rgb(252, 252, 252)!important;
    background: rgb(153, 153, 153)!important;
    margin-bottom: 0px;
    padding: 0px 10px 0px 10px;
    font-size: 12px;
}
.un-form-left{
    padding-right: 0px;
    padding-top: 10px;
}
.un-form-right{
    padding-right: 0;
    padding-left: 0;
    padding-top: 10px;
}
.un-form-add{
    padding-left: 0px;
    padding-right: 0px;
    border-left: 5px solid rgb(37, 33, 34);
    /*height: 100%;*/
    background: rgb(153, 153, 153);
}
.un-from-add-div{
    background-color: rgb(153, 153, 153)!important;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}
.un-input-custom{
    height: 20px;
}
.un-input-custom-1{
    height: 20px;
    border: 2px solid rgb(196, 196, 196)!important;
}
.un-img-sex{
    width: 50px;
    margin-left: 0px;
    padding-top: 5px;
    position: relative;
    position: absolute;
    bottom: -10px;
}
.un-icon-down{
    position: relative;
    top: 20px;
    font-size: 18px;
}
.un-bg-xanh{
    background: rgb(11, 14, 47)!important;
    margin-top: 3px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.un-checkbox{
    height: 25px;
    background: rgb(11, 14, 47) !important;
    color: white !important;
    border: 1px solid white !important;
    padding: 2px 50px 0px 16px !important;
}
.un-checkbox::after{
    height: 13px !important;
    right: 15px !important;
    width: 13px !important;
}
.un-checkbox::before{
    height: 5px !important;
    right: 19px !important;
    top: 9px !important;
    width: 5px !important;
}
.un-select{
    background: rgb(11, 14, 47);
    color: white;
    border: 1px solid;
    width: 100%;
    height: 25px;
    padding: 0px 10px;
}
.un-select:hover{
    border: 1px solid white;
    color: white;
}
.un-select:focus{
    border: 1px solid white;
    color: white;
}
.un-select-company{
    margin-left: -5px;
    background: white;
    text-align: left;
    padding-left: 15px;
    height: 25px;
    padding: 0 10px;
}
.un-icon-select{
    width: 25px;
    height: 21px;
    background: rgb(11, 14, 47);
    padding: 3px 6px;
    color: white;
    position: absolute;
    right: 22px;
    top: 2px;
}
.un-bg-trang{
    background: white;
    margin-top: 5px;
    padding: 10px 0px 5px 0px;
}
.un-label-white{
    background: rgb(96, 95, 95)!important;
    color: white;
    padding: 5px 15px 5px 15px;
    margin-left: 15px;
}
.un-form-white-p{
    padding-right: 0;
}
.un-form-white-p2{
    padding-right: 0;
    padding-left: 0;
}
.un-form-white-p3{
    padding-right: 5px;
    padding-left: 0px;
}
.un-img-avartar{
    background: white;
    border: 2px solid white;
}
.un-canvas canvas{
    width: 100% !important;
    height: 100% !important;
    border: 2px solid white;
}
.un-label-xam{
    color: white;
    background: rgb(102, 102, 102)!important;
    width: 100%;
    text-align: center;
    padding: 5px;
}
.un-label-xam-1{
    color: black;
    background: rgb(204, 204, 203)!important;
    width: 100%;
    text-align: center;
    padding: 5px;
}
.un-form-bg-xam{
    margin-top: 15px;
    background: rgb(60, 61, 61)!important;
    margin-left: 0;
    margin-right: 0;
}
.un-div-p-l-r-0{
    padding-right: 0;
    padding-left: 0;
}
.un-div-p-r-0{
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 0px;
}
.un-div-p-r-30{
    padding-right: 30px;
}
.un-div-p-r-5{
    padding-right: 5px;
}
.un-label-c-white{
    color: white;
    /*padding-top: 10px;*/
}
.un-height-img{
    height: 285px;
}
.un-div-l-r-15{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.un-submit{
    color: white;
    border-radius: 20px !important;
    border: 3px solid white;
    background: rgb(102, 102, 102) !important;
    margin-bottom: 10px;
}
.un-submit:hover{
    color: white !important;
}
.un-select-p{
    padding: 0 0 0 2px !important;
}
.un-select-p-5{
    padding: 0px 0px 0px 7px !important;
}
.un-div-p-10{
    padding-right: 10px !important;
}
.un-label-isenable{
    padding: 0 !important;
    background: white !important;
}
.un-label-isenable::after{
    height: 13px !important;
    right: 12px !important;
    top: 2px !important;
    width: 13px !important;
} 
.un-label-isenable::before{
    height: 5px !important;
    right: 16px !important;
    top: 6px !important;
    width: 5px !important;
}
.un-label-whidth-85{
    width: 85px !important;
}
.un-label-whidth-97{
    width: 97px !important;
}
.un-label-whidth-130{
    width: 130px !important;
}
.ui-detail-config{
    background: rgb(23, 20, 76);
    margin-top: -20px;
}
.un-select-sex{
    width: 20px;
    position: relative;
    top: 18px;
}
.un_page_panel {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -25px;
}
.un_main_nav_item{
    font-weight: bold;
    padding-top: 8px;
    padding-left:20px;
    padding-right:20px;
    color:#565656;
    height:40px;
    font-size: 16px;
    float:left;
}

.un_main_nav_item:hover{
    background: -webkit-linear-gradient(#9F9F9F, #262626); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#9F9F9F, #262626); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#9F9F9F, #262626); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#9F9F9F, #262626); /* Standard syntax */
    color:white;
}

.un_main_nav_item a{
    color: black;
    text-decoration: none;
}
.un_main_nav_item:hover a{
    color: white;
    text-decoration: none;
}
.un-background-color-xam{
    background: rgb(231, 231, 236)!important
}
/*Phan Quoc Chien end 
/*Dinh nghia cac mau sac duoc su dung--begin*/
.un_bg_blue_0{
    background:rgb(24, 22, 78);;
}

.un_bg_silver_0{
    background-color: #EBEBEB;
}

.un_font_black_0{
    color:#565656;
}

.un_font_gray_0{
    color:#8D8D8D;
}

.un_font_white_0{
    color:rgb(224, 224, 224);
}

/*Dinh nghia cac mau sac duoc su dung--end*/

/*-----------------------------------------
Header panel begin*/
.un_header_panel{
    background-image: url('../img/un_header_panel.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
    height:114px;
}

.un_header_part_left{
    /*width: 575px;*/
    float:left;
    padding-top: 16px;
}

.un_header_part_right{
    /*width:575px;*/
    float:left;
    
}

.un_header_part_left img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.un_header_part_right_content{
    padding-top: 31px;
    color: white;
    font-size: 30px;
}

.un_header_part_right_btn{
    color: white;
    float: right;
    margin-right: 56px;
    margin-top: 2px;
}

/*-----------------------------------------
Header panel end*/


/*-------------------------------------------
nav bar begin*/

.un_main_nav_panel {
    background: rgb(6, 4, 44);
    /*height: 53px;*/ /*TANNV.DTS COMMENT*/
    float: right;
    width: 100%;
    /*chien edit*/
    border-bottom: 20px solid #0F1030;
}

.un_main_nav_bar {
    background: -webkit-linear-gradient(#DADADA, #FFFFFF);
    background: -o-linear-gradient(#DADADA, #FFFFFF);
    background: -moz-linear-gradient(#DADADA, #FFFFFF);
    background: linear-gradient(#DADADA, #FFFFFF);
    float:right;/*TANNV.DTS@GMAIL.COM ADD*/
    width: 100%;
    /*height: 40px;*/ /*TANNV.DTS@GMAIL.COM COMMENT*/
}


/*-------------------------------------------
nav bar end*/

.un_body_panel{
    float: right;
    width: 100%;
    background: rgb(24, 22, 78);
}

.un_body_center{
    margin-left:auto;
    margin-right:auto;
}

.un_body_content_left{
    float:left;
    margin-right: 3px;
    margin-top: 10px;
}


/**
 * body content left bottom begin
 */
.un_body_content_left_top{
    padding-bottom: 15px;
}
.un_body_content_left_top_right{
    width: 88%;
    float: left;
}
.un_body_content_left_top_photo{
    width: 12%;
    float: left;
    padding-right: 5px;
}
.un_body_content_left_bottom{
    margin-bottom: 15px;
}
.un_body_content_left_bottom_left{
    width: 30%;
    float: left;
    padding-right: 5px;
}
.un_body_content_left_bottom_right{
    width: 70%;
    float: left;
}
.un-button-content-left{
    background-image: linear-gradient(#dbddde, #898c90);
    color: white;
    border-radius: 0;
    border: none;
    width: 100%;
    padding: 10px 0px 10px 0px;
}
.un-button-content-left:focus{
    background-image: linear-gradient(#dbddde, #898c90);
    color: white;
    outline: 0;
}
.un-padding-bottom-20{
    padding-bottom: 20px;
}
 /*chien edit*/
.un-padding-bottom-0{
    padding-bottom: 0px !important;
}
.un-padding-label-table-header{
    padding: 5px 40px 0px 40px !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    margin-bottom: 0;
    font-weight: normal;
}
.un-padding-bottom-5{
    padding-bottom: 5px;
}
.un-padding-top-20{
    padding-top: 20px;
}
 /*chien edit*/
.un-padding-top-0{
    padding-top: 0px !important;
}
.un-padding-bottom-10{
    padding-bottom: 10px;
}
 /*chien edit*/
.un-padding-left-right-20-top-15-bottom-10{
    padding: 15px 20px 10px 20px ;
}
.un-padding-left-right-20-top-10-bottom-10{
    padding: 10px 20px 10px 20px ;
}
.un-padding-top-10{
    padding-top: 10px;
}
.un-padding-right-0{
    padding-right: 0px;
}
.un-padding-left-10{
    padding-left: 10px;
}
.un-padding-15{
    padding: 15px 15px 15px 15px;
}
.un-padding-right-top-bottom-10-left-15{
    padding: 5px 10px 5px 10px;
}
.un-padding-top-bottom-5-left-right-15{
    padding: 5px 15px 5px 15px;
}
 /*chien edit*/
.un-padding-10{
    padding: 10;
}
.un-label-header{
    padding: 0px 10px 2px 10px;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    margin-bottom: 0;
    font-weight: normal;
}
.un-div-content{
    width: 100%;
}
.un-div-content-icon{
    width: 80%;
    float: left;
    height: 46px;
}
.un-padding-5-margin-5{
    padding-left: 5px;
    margin-right: -5px;
    padding-top: 20px;
    padding-bottom: 22px;
}
.un-bgWhite-boxshadow-bottom{
    background: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.un-bgBlack{
    background: black;
    color: white;
}
 /*chien edit*/
.un-bgBlack:hover{
    background: black;
    color: white;
}
.un-bgWhite{
    background: white;
    color: black;
}
.un-bgXam-colBlack{
    background: rgb(221, 221, 221);
    color: black;
}
 /*chien edit*/
.un-btn-position{
    position: absolute;
    right: 0;
    top: -38px;
}
.un-border-top-left-right-1px{
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.un-border-1px{
    border: 1px solid white;
}
.un-margin-top--1px{
    margin-top: -1px;
    margin-bottom: 8px;
}
.un-label-group{
    background: #676767;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    top: 1px;
    margin-bottom: 0px;
    font-weight: normal;
}
 /*chien edit*/
.un-margin-top-30{
    margin-top: 30px;
}
.un-input-group{
    background: #B4B5B5 !important;
    border: 1px solid white !important;
    width: 100% !important;
    z-index: 10 !important;
    outline: none !important;
    padding-left: 10px !important;
}
.un-padding-top-bottom-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.un-btn-red{
    background: #B31E45 !important;
    color: white !important;
    border: 3px solid white !important;
    border-radius: 20px !important;
    padding: 5px 10px 5px 10px !important;
    box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.75) !important;
}
.un-position-left-160-top-60{
    position: relative;
    left: -160px;
    top: 60px;
}
.un-bg-XamDen{
    background: #808285;
    height: 208px;
    margin-top: 10px;
    padding: 10px;
}
.un-bg-avatar{
    background: rgb(49, 50, 50);
}
.un-height-119{
    height: 119px;
}
.un-margin-bottom-6px{
    margin-bottom: 6px;
}
label{
    font-weight: normal;
}
.un-position-relative{
    position: relative;
}
.un-img-avatar{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.un-img-icon{
    width: 50px;
}
.un-img-icon-left{
    float: left;
    width: 20%;
    padding-left: 5px;
}
.un-div-whith-20{
    width: 20px;
    position: absolute;
    bottom: 2px;
    left: -8px;
}
.un-padding-top-13px{
    padding-top: 13px;

}
.un-padding-20{
    padding: 20px;
}
 /*chien edit*/
.un-margin-left-right-20{
    margin-left: 20px;
    margin-right: 20px;
}
.un-btn-black-label{
    height: 25px !important;
    padding: 0px 10px 0px 10px !important;
    background: rgb(49, 50, 50)!important;
    color: white !important;
}
.un-btn-black-label-60{
    height: 60px !important;
    padding: 0px 10px 0px 10px !important;
    background: rgb(49, 50, 50)!important;
    color: white !important;
}
.un-input-xam-fig{
    height: 25px !important;
    background: rgb(102, 102, 102)!important;
    border: none !important;
    padding: 3px 5px 3px 5px !important;
    color: white !important;
}
.un-input-xam-fig-60{
    height: 60px !important;
    background: rgb(102, 102, 102)!important;
    border: none !important;
    padding: 3px 5px 3px 5px !important;
    color: white !important;
}
.un-div-width-90{
    width: 90%;
    float: left;
}
 /*chien edit*/
.un-div-width-10{
    width: 10%;
    float: left;
    border-left: 3px solid rgb(23, 20, 76);
    height: 153px;
    padding: 1px 1px 1px 2px;
}
.un-div-width-50{
    width: 50% !important;
}
/**
 * body content left bottom end
 */


/**
 * body content right css begin
 */
.un_body_content_right{
    float:right;
    /*width: 210px;*/
    margin-top:10px;
    margin-bottom:10px;
}

.un_body_content_right_header{
    margin-bottom: -200px;
    display:inline;
    position:relative;
    z-index: 18;
    background: #282828;
    color:rgb(224, 224, 224);
    border: 1px solid rgb(189, 189, 189);
    padding-top: 2px;
    padding-bottom: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    padding-right: 30px;
    /*box-shadow: 3px 5px 10px #767474;*/
    font-weight: bold;
}

.un_body_content_right_detail{
    background:#EBEBEB;
    position:relative;
    z-index: 19;
}
 /*chien edit*/
.un-label-header-padding{
    padding: 10px 60px 5px 60px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    position: absolute;
    top: -37px;
    left: 0px;
}
.un-label-popup-header{
    position: absolute;
    top: -36px;
    left: 0;
    color: white;
    padding: 10px 50px 5px 50px;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-top: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
}
.un-input-checkbox{
    width: 30px;
    height: 30px;
    opacity: 0;
    position: relative;
    top: 8px;
}
.un-input-checkbox + label{
    margin-left: -33px;
    padding-left: 40px;
    height: 33px;
    display: inline-block;
    line-height: 28px;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    cursor: pointer;
    background-image: url('un/imgcheckbox.png');
}
.un-input-checkbox:checked + label{
    margin-left: -33px;
    padding-left: 40px;
    height: 33px;
    display: inline-block;
    line-height: 28px;
    background-repeat: no-repeat;
    background-position: 0 -28px;
    vertical-align: middle;
    cursor: pointer;
    background-image: url('un/imgcheckbox.png');
}
.un-btn-save-xam{
    position: absolute;
    top: 25;
    left: 0;
    border-radius: 20px !important;
    color: white !important;
    background-color: #666767;
    border: 3px solid white;
}
.un-bg-label-333333{
    background-color: #333333 !important;
}
.un-bg-label-B41E46{
    background-color: #B41E46 !important;
}
.un-modal-body{
    position: relative;
    padding: 15px;
}
/**
 * body content right css end
 */




/**group white panel begin*/
.un_group_white_panel{
    padding:5px;
    margin-bottom:30px;

}

.un_group_white_header{
    display:inline;
    z-index: 20;
    background:white;
    padding-top: 2px;
    padding-bottom: 2px;
    /*border: 1px solid rgb(189, 189, 189);*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 3px 5px 10px #767474;
    position:relative;
    font-weight: bold;
    color:#8D8D8D;

}

.un_group_white_content{
    background:white;
    z-index: 21;
    /*margin-top: -2px;*/
    position:relative;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-top:5px;
}

/**group white panel end*/

/**group black panel begin*/
.un_group_black_panel{
    padding:5px;
    margin-bottom:30px;
}

.un_group_black_header{
    display:inline;
    z-index: 20;
    background: #282828;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid rgb(189, 189, 189);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 3px 5px 10px #767474;
    position:relative;
    font-weight: bold;
    color:rgb(224, 224, 224);

}

.un_group_black_content{
    background: #282828;
    z-index: 21;
    /*margin-top: -2px;*/
    position:relative;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-top:5px;
    margin-left:1px;
    color:rgb(224, 224, 224);
}
/**group black panel end*/


/*TAN NAV ITEM DROPDOWN BEGIN*/
.un_main_nav_item_dropdown{
    list-style:none;
    padding-left:0;
    font-weight:bold;
    float:left; 
    width:100%;
}
.un_main_nav_item_dropdown li{
    float:left;
    position:relative;
}
.un_main_nav_item_dropdown a{
    display:block;
    text-decoration:none;
}

.un_main_nav_item_dropdown ul li a{
    padding:5px;
}

/*--- DROPDOWN ---*/
.un_main_nav_item_dropdown ul{
    background:#fff; 
    list-style:none;
    padding-left:0;
    position:absolute;
    left:-9999px; /*an di neu chua hover*/
}
.un_main_nav_item_dropdown ul li{
    float:none;
}
.un_main_nav_item_dropdown ul a{
    white-space:nowrap; 

}
.un_main_nav_item_dropdown li:hover ul{ 
    left:-20; /*hien menu ra*/
    z-index: 99999;/*tan add*/

}

.un_main_nav_item_dropdown ul li a{ 
    background: -webkit-linear-gradient(#DADADA, #FFFFFF);
    background: -o-linear-gradient(#DADADA, #FFFFFF);
    background: -moz-linear-gradient(#DADADA, #FFFFFF);
    background: linear-gradient(#DADADA, #FFFFFF);
    /*background:#DADADA;*/
    color:black;
    text-decoration:underline;
}

.un_main_nav_item_dropdown ul li a:hover{ 
    background: -webkit-linear-gradient(#9F9F9F, #262626); 
    background: -o-linear-gradient(#9F9F9F, #262626); 
    background: -moz-linear-gradient(#9F9F9F, #262626); 
    background: linear-gradient(#9F9F9F, #262626);
    color:white;
}

.un_main_nav_item_dropdown li:hover a{ 
    color:black;
}

.un_main_nav_item_dropdown li:hover ul a{ 
    text-decoration:none;
}
.un-header-left{
    position: relative;
}
.un-header-right{
}
.un-img-header{
    margin-top: -65px
}
.un-btn-header{
    top: 8px;
    left: 8;
}
.un-header-top-menu{
    position: absolute;
    right: 0;
    top: 0px;
}
.un-header-logo-img{
    height: 30px;
    position: relative;
    top: 8;
    left: 4%;
    width: 200px;
}
/*TAN NAV ITEM DROPDOWN END*/

 /*chien edit*/
.un-button{
    margin-right: 0;
    border-radius: 20px !important;
    border: 3px solid white;
    padding: 5px 10px 5px 10px;
    box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.75);
    outline: none;
}
.un-popup-config{
    top: 50px !important;
    overflow: inherit !important;
    background-color: white;
    border: none;
}
.un-popup-button-config{
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
}

/*TAN PANEL DIFINITION BEGIN*/
/*---------------------------------------------*/
/*---------------------------------------------*/
/*khung panel lon*/
.un_tn_panel_lg{
    position: relative;
    margin-top: 30px;
}

.un_tn_panel_action{
    float: right;
    height: 30px;
    margin-top: -35px;
}

.un_tn_panel_body{
    padding:10px;
}

/*mau nen cho panel*/
.un_tn_panel_black{
    background-color: rgb(37, 33, 34)!important;
}

/*mau nen cho panel*/
.un_tn_panel_gray{
    background-color: rgb(221, 221, 221)!important;
}

.un_tn_panel_white{
    background-color: #F6F6F6!important;
}

/*bo tri label tren panel*/
.un_tn_panel_lg_label{
    position: absolute;
    top: -27px;
    height:27px;
    border-top-left-radius: 26px !important;
    border-top-right-radius: 26px !important;
    padding: 3px 25px 10px 25px;
    text-transform: uppercase;
    border-top: 1px solid;
}

/*mau cho label tren panel*/
.un_tn_panel_label_color_black{
    background: #2C2A2B!important;
    color: white;
}

/*mau cho label tren panel*/
.un_tn_panel_label_color_pink{
    background: #B41E46!important;
    color: white;
}

.un_tn_panel_border_white{
    border:2px solid white;
}
.un_tn_panel_border_white>label{
    left:-2px;
    border:2px solid white;
}

.un_tn_panel_border_gray{
    border:1px solid #B0B0B0;
}
.un_tn_panel_border_gray>label{
    left:-1px;
    border:1px solid #B0B0B0;
}

/*kieu ke khung cho table*/
.un_tn_table_border_black{
    
}
/*kieu ke khung cho table*/
.un_tn_table_border_black th, .un_tn_table_border_black td{
    border:1px solid #2B2B2B!important; 
}

/*kieu cho button*/
.un_tn_btn{
    border-radius: 20px !important;
    border: 3px solid white;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top:5px;
    margin-right:5px;
    font-size: 15px;
    font-weight: bold;
}

.un_tn_btn_rect{
    border-radius: 3px !important;
    border: 3px solid white;
    margin-bottom: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
/*mau cho button*/
.un_tn_btn_gray{
    color: white;
    background: rgb(102, 102, 102) !important;
}
/*mau cho button*/
.un_tn_btn_pink{
    color: white;
    background: #B41E46 !important;
}
.un_tn_btn_black{
    color: white;
    background: #525252 !important;
}
.un_tn_btn_orange{
    color: white;
    background: #F37A21 !important;
}

/*style cho input form*/
.un_tn_form_control{
    height: 20px;
}
.un_tn_form_control_gray{
    color: black!important;
    background-color: rgb(221, 221, 221)!important;
}

.un_tn_form_label{
    margin-bottom: 0px;
    padding: 0px 10px 0px 10px!important;
    font-size: 12px;
}

.un_tn_form_label_gray{
    color: #EAEAEA;
    background: #686868;
}

.un-checkbox-group {
    position:relative
}
 
/* Hide Checkbox Input */
.un-checkbox-group input[type=checkbox] {
    display:none
}
 
/* Style Label */
.un-checkbox-group label {
    padding-left:30px;
    cursor:pointer;
}
 
/* Style span tag */
.un-checkbox-group label span {
    display:block;
    position:absolute;
    left:0;
    -webkit-transition-duration:.3s;
    -moz-transition-duration:.3s;
    transition-duration:.3s
}
/* Style box */
.un-checkbox-group label .box {
    background:#B41E46;
    height: 30px;
    width: 30px;
    z-index:9;
    -webkit-transition-delay:.2s;
    -moz-transition-delay:.2s;
    transition-delay:.2s
}

.un-checkbox-group .text{
    padding-left: 5px;
    padding-top: 5px;
    font-weight: bold;
}
 
/* Style check icon. give it a border on the bottom and right only and then rotate */
.un-checkbox-group label .check {
    top: 5px;
    left: 12px;
    width:7px;
    height:15px;
    border:2px solid #fff;
    border-top:none;
    border-left:none;
    opacity:0;
    z-index:8;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    transform:rotate(180deg);
    -webkit-transition-delay:.3s;
    -moz-transition-delay:.3s;
    transition-delay:.3s
}
 
/* Change color of box when checkbox is checked */
.un-checkbox-group input[type=checkbox]:checked ~ label .box {
    background:#B41E46
}
 
/* Rotate and show check icon when checkbox is checked */
.un-checkbox-group input[type=checkbox]:checked ~ label .check {
    opacity:1;
    -webkit-transform:scale(1.5) rotate(45deg);
    -moz-transform:scale(1.5) rotate(45deg);
    transform:scale(1.5) rotate(45deg);
    z-index:10
}


.un_tn_panel_modal_label{
    position: absolute;
    top: -27px;
    left:0px;
    height:27px;
    border-top-left-radius: 26px !important;
    border-top-right-radius: 26px !important;
    padding: 3px 25px 10px 25px;
    text-transform: uppercase;
    border-top: 1px solid;
}
.un_tn_panel_modal_action{
    position: absolute;
    top: 25;
    left: 0;
}
/*---------------------------------------------*/
/*---------------------------------------------*/
/*TAN PANEL DEFINITION END*/

