<ion-view title="Submit Injury" ng-class="{'blackbg': !isShowImg}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <div class="bar bar-subheader cssFade" ng-show="isShowImg">

        <button class="button button-clear button-positive" ui-sref="app.injury.info">
            Back
        </button>

        <h1 class="title">Description Injury</h1>

        <a class="button button-clear button-positive" ng-click="uploadimage()">
            Upload
        </a>
    </div>

    <div class="has-header full" ng-click="changeisShowimg()">
        <img ng-src="{{imageDetail}}" class="img-responsive child" width="100%" height="100%" />
    </div>
    <div class="footer_injury padding cssFade" ng-show="isShowImg">
        <ion-scroll direction="x">

            <a class="button button-clear button-positive" ng-click="takePicture()">
                <i class="icon ion-ios7-plus"></i>
            </a>

            <a class="button button-clear button-positive"
               ng-repeat="imgDetail in imgURI" ng-click="selectImage(imgDetail.image)" style="width: 40px; height: 30px;">
                <img ng-src="{{imgDetail.image}}" class="img-responsive"/>
            </a>

        </ion-scroll>
    </div>
</ion-view>