<ion-view title="History Injury">
    <ion-nav-buttons side="left">
        <a menu-toggle="left" class="button button-icon icon ion-navicon " style="color:#fff"></a>
    </ion-nav-buttons>
    <!--<ion-nav-buttons side="right">-->
        <!--<a menu-toggle="right" class="button button-icon icon ion-android-contacts" style="color:#fff"></a>-->
    <!--</ion-nav-buttons>-->
    <ion-content class="padding">
        <div class="list" ng-repeat="history in historyCompany">
            <a class="item " ng-click="detailInjury(history.injury_id)" >
                <h2>{{history.FullName}}</h2>
                <p>{{history.pickup_address}}</p>
                <p>{{history.injury_date| date:'yyyy-MM-dd'}}</p>
            </a>
        </div>
    </ion-content>
    </div>
</ion-view>
