<ion-view title="Success">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon   " style="color:#fff"></button>
    </ion-nav-buttons>

    <div class="bar bar-subheader bar-sub-color">
        <button class="button button-icon icon ion-ios7-arrow-back" ui-sref="app.injury.desInjury">&nbsp;Back</button>
    </div>
    <ion-content style="background-color: #F7F7F7 !important;">

        <div class="bg-info-success text-center">

        <div class="portlet light">    
            <div id="map-canvas" mdt-map address="location.format_address" ad="ad" sc="sc" class="col-md-12" lo="test"  style="height: 300px; width: 100%"></div>
            <div class="clearfix"></div>
             <div class="item item-input-inset" >
                <ion-google-place placeholder="{{location.format_address}}" ng-model="location.format_address" ng-change="test=!test" />     
            </div>
            <!-- <input type="text" id="autocomplete" class="form-control" ng-autocomplete disable-tap ng-model="result1" /> -->
        </div>

        </div>

            <div class="col s12">
                <div id="Infomation" class="col s6">
                    <div class="row customrow">
                        <label class=" item .col text-left padding-right" style="border:none; border-radius: 5px !important">
                            <span>
                                 <i class="fa fa-user margin-right-10"></i> Name</span>
                        </label>
                        <label class=" item col-xs-6 text-left padding-left" style="border:none; border-radius: 5px !important">
                              <span >
                                    {{worker.Title}}<span ng-show="worker.Title != null">.</span>{{worker.First_name}} {{worker.Sur_name}} {{worker.Middle_name}}
                            </span>
                        </label>
                    </div>
                    <div class="row customrow">
                        <label class=" item .col text-left padding-right" style="border:none; border-radius: 5px !important">
                            <span>
                                 <i class="fa fa-birthday-cake margin-right-10"></i> Birthday</span>
                        </label>
                        <label class=" item col-xs-6 text-left padding-left" style="border:none; border-radius: 5px !important">
                            <span>
                               {{worker.DOB}}
                            </span>
                        </label>
                    </div>

                    <div class="row customrow">
                        <label class=" item col-xs-6 text-left padding-right" style="border:none; border-radius: 5px !important">
                            <span>
                                <img src="img/gender.ico" width="20px" height="20px" class="margin-right-10"/> Gender
                            </span>
                        </label>
                        <label class=" item col-xs-6 text-left padding-left" style="border:none; border-radius: 5px !important">
                            <span>{{worker.Sex}}</span>
                        </label>
                    </div>

                    <div class="row customrow">
                        <label class=" item col-xs-6 text-left padding-right" style="border:none; border-radius: 5px !important">
                            <span>
                                <i class="fa fa-mobile-phone margin-right-10"></i> Mobile</span>
                        </label>
                        <label class=" item col-xs-6 text-left padding-left" style="border:none; border-radius: 5px !important">
                            <span>{{worker.Mobile}}</span>
                        </label>
                    </div>

                    <div class="row customrow">
                        <label class=" item col-xs-6 text-left padding-right" style="border:none; border-radius: 5px !important">
                            <span>
                                <i class="fa fa-envelope-o margin-right-10"></i> Email</span>
                        </label>
                        <label class=" item col-xs-6 text-left padding-left" style="border:none; border-radius: 5px !important">
                            <span>{{worker.Email}}</span>
                        </label>
                    </div>
                </div>
                 <div id="Injury" class="col s6">
                     <div class="row customrow">
                        <label class=" item col-xs-6 text-left padding-right" style="border:none; border-radius: 5px !important">
                            <span>
                                <i class="fa fa-file-text-o margin-right-10"></i> Description</span>
                        </label>
                        <label class=" item col-xs-6 text-left padding-left" style="border:none; border-radius: 5px !important">
                            <span>{{worker.injury_description}}</span>
                        </label>
                    </div>

                    <div class="row customrow">
                        <label class=" item col-xs-6 text-left padding-right" style="border:none; border-radius: 5px !important">
                            <span>
                                <i class="fa fa-calendar-o margin-right-10"></i> Date</span>
                        </label>
                        <label class=" item col-xs-6 text-left padding-left" style="border:none; border-radius: 5px !important">
                            <span>{{worker.injury_date}}</span>
                        </label>
                    </div>

                    <div class="row customrow">
                        <label class=" item col-xs-6 text-left padding-left" style="border:none; border-radius: 5px !important">
                            <span>
                                <i class="fa fa-picture-o margin-right-10"></i> Image</span>
                        </label>

                        <label class="ion-scroll-custom item col-xs-6 text-left padding-left">
                            <ion-scroll direction="x">
                                <a ng-repeat="imgDetail in imgURI" ng-click="selectImg(imgDetail)">
                                    <img ng-src="{{imgDetail.image}}" class="a-img-custom img-thumbnail"/>
                                </a>
                            </ion-scroll>
                        </label>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col col-50 col-offset-25 padding-bottom">
                <button class="button button-block bg-btn-custom" ng-click="submitInjuryAll()">
                    Submit
                </button>
            </div>
        </div>
        </div>

    </ion-content>
</ion-view>