<ion-view title="Submit Injury">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <div class="bar bar-subheader">
        <button class="button button-clear button-positive" ui-sref="app.injury.desinjury">
            Back
        </button>
        <h1 class="title">Success Submit Injury</h1>
    </div>
    <ion-content style="background-color: #F7F7F7 !important;">
        <div class="list has-header has-subheader padding-left padding-right">
            <div class="row" style="padding-left: 35px;">
                <label class="item col-xs-6 text-right padding-right" style="border:none; border-radius: 5px !important">
                        <span class="span-input-color">Salutation:</span>
                </label>
                <label class=" item col-xs-6 text-left padding-left" style="border:none; border-radius: 5px !important">
                    <span>{{worker.Title}}</span>
                </label>
            </div>

            <div class="row" style="padding-left: 35px;">
                <label class=" item col-xs-6 text-right padding-right" style="border:none; border-radius: 5px !important">
                    <span class="span-input-color">First Name:</span>
                </label>
                <label class=" item col-xs-6 text-left padding-left" style="border:none; border-radius: 5px !important">
                    <span>{{worker.First_name}}</span>
                </label>
            </div>

            <div class="row" style="padding-left: 35px;">
                <label class=" item col-xs-6 text-right padding-right" style="border:none; border-radius: 5px !important">
                    <span class="span-input-color">Sur Name:</span>
                </label>
                <label class=" item col-xs-6 text-left padding-left" style="border:none; border-radius: 5px !important">
                    <span>{{worker.Sur_name}}</span>
                </label>
            </div>

            <div class="row" style="padding-left: 35px;">
                <label class=" item col-xs-6 text-right padding-right" style="border:none; border-radius: 5px !important">
                    <span class="span-input-color">Middle Name:</span>
                </label>
                <label class=" item col-xs-6 text-left padding-left" style="border:none; border-radius: 5px !important">
                    <span>{{worker.Middle_name}}</span>
                </label>
            </div>

            <div class="row" style="padding-left: 35px;">
                <label class=" item col-xs-6 text-right padding-right" style="border:none; border-radius: 5px !important">
                    <span class="span-input-color">Birthday:</span>
                </label>
                <label class=" item col-xs-6 text-left padding-left" style="border:none; border-radius: 5px !important">
                    <span>{{worker.DOB}}</span>
                </label>
            </div>

            <div class="row" style="padding-left: 35px;">
                <label class=" item col-xs-6 text-right padding-right" style="border:none; border-radius: 5px !important">
                    <span class="span-input-color">Gender:</span>
                </label>
                <label class=" item col-xs-6 text-left padding-left" style="border:none; border-radius: 5px !important">
                    <span>{{worker.Sex}}</span>
                </label>
            </div>

            <div class="row" style="padding-left: 35px;">
                <label class=" item col-xs-6 text-right padding-right" style="border:none; border-radius: 5px !important">
                    <span class="span-input-color">Mobile:</span>
                </label>
                <label class=" item col-xs-6 text-left padding-left" style="border:none; border-radius: 5px !important">
                    <span>{{worker.Mobile}}</span>
                </label>
            </div>

            <div class="row" style="padding-left: 35px;">
                <label class=" item col-xs-6 text-right padding-right" style="border:none; border-radius: 5px !important">
                    <span class="span-input-color">Email:</span>
                </label>
                <label class=" item col-xs-6 text-left padding-left" style="border:none; border-radius: 5px !important">
                    <span>{{worker.Email}}</span>
                </label>
            </div>

            <div class="row" style="padding-left: 35px;">
                <label class=" item col-xs-6 text-right padding-right" style="border:none; border-radius: 5px !important">
                    <span class="span-input-color">Injury Description:</span>
                </label>
                <label class=" item col-xs-6 text-left padding-left" style="border:none; border-radius: 5px !important">
                    <span>{{worker.injury_description}}</span>
                </label>
            </div>

            <div class="row" style="padding-left: 35px;">
                <label class=" item col-xs-6 text-right padding-right" style="border:none; border-radius: 5px !important">
                    <span class="span-input-color">Injury Date:</span>
                </label>
                <label class=" item col-xs-6 text-left padding-left" style="border:none; border-radius: 5px !important">
                    <span>{{worker.injury_date}}</span>
                </label>
            </div>

            <div class="row" style="padding-left: 35px;">
                <label class=" item col-xs-6 text-left padding-left" style="border:none; border-radius: 5px !important">
                    <span class="span-input-color">Image:</span>
                </label>

                <label class=" item col-xs-6 text-right padding-left" style="border:none; border-radius: 5px !important; padding: 0px !important;">
                    <ion-scroll direction="x" style="height: 100px">
                        <a ng-repeat="imgDetail in imgURI" class="button button-clear button-positive" ng-click="selectImg(imgDetail)" style="width: 80px; height: 50px;">
                            <img ng-src="{{imgDetail.image}}" class="img-responsive"/>
                        </a>
                    </ion-scroll>
                </label>
            </div>

            <button class="button button-block button-light" ng-click="submitInjuryAll()">
                Submit Injury
            </button>
        </div>

    </ion-content>

</ion-view>