<h3 class="page-title">
    New Functional Assessment Definition</h3>
<form name="wafirstform" novalidate>
		<!-- This is for header -->
		<div class="row" align="center">
			<div class="col-md-10 col-sm-10 col-xs-10">
				<input type="text" style="font-size: 18pt; font-weight: bolder; text-align: center;" class="form-control" value="Untitled Functional Assessment Header" ng-model="header.FA_NAME"/>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-2">
				<input type="text" style="font-size: 18pt; font-weight: bolder; text-align: center;" class="form-control" value="Untitled Functional Assessment Header" placeholder="FA Type" ng-model="header.TYPE"/>
			</div>
		</div>

	    <!-- This is for sections -->
	    <div ng-repeat="section in header.sections" ng-hide="section.action==='delete'">
	    	<!-- <div ng-drop="true"  class="seperate-section">
		    	
		    </div> -->
		    <div ng-drop="{{isSectionDropable}}" ng-drop-success="onSectionDropComplete($index, $data, $event, section, header)" class="portlet box red" ng-drag="true" ng-drag-data="section">
				<div class="portlet-title">
					<div class="caption" ng-drag-handle="true" style="cursor: move">
						<i class="fa fa-align-justify fa-3x"></i>
					</div>
					<div class="caption" style="width:50%;">
						<input color="white" class="form-control" type="text" value="Untitled section" style="background:none; color:white; border:none; border-bottom:1px solid; font-size:18pt;" width="100%" ng-model="section.SECTION_NAME">
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse" data-original-title="" title=""> 
						</a>
						<a href="javascript:;" class="remove" data-original-title="" title="" style="color:white; background:none;" ng-click="removeSection(section)">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<!-- This is for lines -->
					<div ng-drop="true" class="portlet box blue-hoki" ng-repeat="line in section.lines" ng-hide="line.action==='delete'">
						<div class="portlet-title">
							<div class="caption" style="width:50%;">
								<input color="white" class="form-control" type="text" value="Untitled line" style="background:none; color:white; border:none; border-bottom:1px solid; font-size:12pt;" width="100%" ng-model="line.QUESTION">
							</div>
							<div class="tools">
								<a href="javascript:;" class="collapse" data-original-title="" title="" style="color:white;">
								
								</a>
								<a href="javascript:;" class="remove" data-original-title="" title="" style="color:white; background:none;" ng-click="removeLine(section, line)">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</a>
								<a href="javascript:;" class="" data-original-title="" title="" style="color:white; background:none;" ng-click="moveLineUp(line, section)" ng-hide="section.lines.indexOf(line)===0">
									<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
								</a>
								<a href="javascript:;" class="" data-original-title="" title="" style="color:white; background:none;" ng-click="moveLineDown(line, section)" ng-hide="section.lines.indexOf(line)===section.lines.length-1">
									<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<accordion close-others="oneAtATime">
								<accordion-group heading="General line definitions">
									<h3 class="form-section">Scoring/Rating 1 definition</h3>
										<div class="row">
											<div class="col-md-4 col-sm-4 col-xs-4">
												<input type="text" class="form-control" placeholder="Name header" ng-model="line.VAL1_NAME_HEADER"/>
												<input type="text" class="form-control" placeholder="Value header" ng-model="line.VAL1_VALUE_HEADER"/>
											</div>
											<div class="col-md-4 col-sm-4 col-xs-4">
												<label>
													<input type="checkbox" ng-model="line.ISSCORE1" ng-true-value="1" ng-false-value="0" ng-checked="line.ISSCORE1===1"/> Is score?
												</label>
												<select class="form-control" ng-options="scr.id as scr.label for scr in score_type_opt" ng-model="line.SCORE_TYPE1">
													
												</select>
												
											</div>
											<div class="col-md-4 col-sm-4 col-xs-4">
												<label>
													<input type="checkbox" ng-model="line.ISRATING1" ng-true-value="1" ng-false-value="0" ng-checked="line.ISRATING1===1"/> Is rating?
												</label>

												<select class="form-control" ng-options="rt.RATING_ID as rt.DESCRIPTION for rt in rating_type_opt" ng-model="line.RATING_ID1">
													
												</select>
												
											</div>
										</div>
									<h3 class="form-section">Scoring/Rating 2 definition</h3>
										<div class="row">
											<div class="col-md-4 col-sm-4 col-xs-4">
												<input type="text" class="form-control" placeholder="Name header" ng-model="line.VAL2_NAME_HEADER"/>
												<input type="text" class="form-control" placeholder="Value header" ng-model="line.VAL2_VALUE_HEADER"/>
											</div>
											<div class="col-md-4 col-sm-4 col-xs-4">
												<label>
													<input type="checkbox" ng-model="line.ISSCORE2" ng-true-value="1" ng-false-value="0" ng-checked="line.ISSCORE2===1"/> Is score?
												</label>
												<select class="form-control" ng-options="scr.id as scr.label for scr in score_type_opt" ng-model="line.SCORE_TYPE2">
													
												</select>
												
											</div>
											<div class="col-md-4 col-sm-4 col-xs-4">
												<label>
													<input type="checkbox" ng-model="line.ISRATING2" ng-true-value="1" ng-false-value="0" ng-checked="line.ISRATING2===1"/> Is rating?
												</label>

												<select class="form-control" ng-options="rt.RATING_ID as rt.DESCRIPTION for rt in rating_type_opt" ng-model="line.RATING_ID2">
													
												</select>
												
											</div>
										</div>
									<h3 class="form-section">General definition</h3>
										<div class="row">
											<div class="col-md-4 col-sm-4 col-xs-4">
												<label>
														<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="line.IsCommentsText" ng-checked="line.IsCommentsText===1"/> Has comment text?
												</label>
											</div>
											<div class="col-md-4 col-sm-4 col-xs-4">
												<label>
														<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="line.LineType" ng-checked="line.LineType===1"/> Is in summary line?
												</label>
											</div>
											<div class="col-md-4 col-sm-4 col-xs-4">
												<label>
														<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="line.IS_SHOW_RANKING_TABLE" ng-checked="line.IS_SHOW_RANKING_TABLE===1"/> Is showing ranking table?
												</label>
											</div>
										</div>
									<h3 class="form-section">Image</h3>
										<div class="row">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<button class="btn btn-default" ng-click="openModal(line)"><i class="fa fa-file-image-o"></i> Select line image</button>
												<img ng-src="{{line.previewPath}}" style="width: 10%; heigth: 10%;" ng-show="line.PICTURE !== null"/>
											</div>
										</div>
										
								</accordion-group>
								<accordion-group heading="Line detail questions">
						    		<table class="table table-bordered table-hover">
										<thead>
										<tr>
											<th>
												 Detail questions
											</th>
											<th>
												 Detail definitions
											</th>
											<th>
												Action
											</th>
										</tr>
										</thead>
										<tbody>
											<tr ng-repeat="detail in line.details" ng-hide="detail.action==='delete'">
												<td width="20%">
													<div>
														<input type="text" class="form-control" value="Question 1" ng-model="detail.QUESTION"/>
													</div>
													<div>
														<button class="btn btn-default" ng-click="openModal(detail)"><i class="fa fa-file-image-o"></i> Select detail image</button><br/>
														<img ng-src="{{detail.previewPath}}" style="width: 50%; heigth: 50%;" ng-show="detail.PICTURE !== null"/>
													</div>
												</td>
												<td>
													<div class="col-md-7 col-xs-7 col-sm-7">
														<div>
															<label>
																<select class="form-control" ng-options="vl.id as vl.label for vl in value_type_opt" ng-model="val1_type" ng-change="value1TypeWatch(detail, val1_type)" ng-init="val1_type=value1TypeInit(detail)">
														
																</select>
															</label> 
															<input type="text" value="Untitled val 1" class="form-control input-small inline" ng-model="detail.VAL1_NAME" ng-disabled="val1_type===-1 || val1_type===7 || val1_type===8" placeholder="Value 1 name"/>
															<input type="text" value="Untitled val 1" class="form-control input-small inline" ng-model="detail.VAL1_VALUE" ng-disabled="val1_type===-1" ng-show="val1_type===7" placeholder="Weight in kgs"/>
															<input type="text" value="Untitled val 1" class="form-control input-small inline" ng-model="detail.VAL1_VALUE" ng-disabled="val1_type===-1" ng-show="val1_type===8" placeholder="Distance in m"/>
															&nbsp;
															<label ng-show="detail.VAL1_ISVALUE===1 && val1_type!==7 && val1_type!==8">
																<span><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-checked="detail.VAL1_VALUE_IS_NUMBER===1" ng-model="detail.VAL1_VALUE_IS_NUMBER"></span> Is numeric?
															</label>
														</div>
														<div>
															<label>
																<select class="form-control" ng-options="vl.id as vl.label for vl in value_type_opt" ng-model="val2_type" ng-change="value2TypeWatch(detail, val2_type)" ng-init="val2_type=value2TypeInit(detail)">
														
																</select>
															</label> 
															<input type="text" value="Untitled val 2" class="form-control input-small inline" ng-model="detail.VAL2_NAME" ng-disabled="val2_type===-1 || val2_type===7 || val2_type===8" placeholder="Value 2 name"/>
															<input type="text" value="Untitled val 2" class="form-control input-small inline" ng-model="detail.VAL2_VALUE" ng-disabled="val2_type===-1" ng-show="val2_type===7" placeholder="Weight in kgs"/>
															<input type="text" value="Untitled val 2" class="form-control input-small inline" ng-model="detail.VAL2_VALUE" ng-disabled="val2_type===-1" ng-show="val2_type===8" placeholder="Distance in m"/>
															&nbsp;
															<label ng-show="detail.VAL2_ISVALUE===1 && val2_type!==7 && val2_type!==8">
																<span><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-checked="detail.VAL2_VALUE_IS_NUMBER===1" ng-model="detail.VAL2_VALUE_IS_NUMBER"></span> Is numeric?
															</label>
														</div>
													</div>
													<div class="col-md-5 col-xs-5 col-sm-5">
														<div>
															<label>
																<span><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-checked="detail.IsCommentText===1 || detail.IsCommentText==='1'" ng-model="detail.IsCommentText" ng-change="IsCommentTextWatch(detail, detail.IsCommentText)"></span> Comment
															</label>
															<label ng-show="(detail.IsCommentText===1 || detail.IsCommentText==='1') && (detail.VAL1_ISCHECKBOX===1 || detail.VAL2_ISCHECKBOX===1)">
																required when
															</label>
														</div>
														<div>
															<label ng-show="(detail.VAL1_ISCHECKBOX===1 || detail.VAL1_ISCHECKBOX==='1') && (detail.IsCommentText===1 || detail.IsCommentText==='1')">
																<span><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-checked="detail.VAL1_ISCOMMENT_WHEN_YES === 1" ng-model="detail.VAL1_ISCOMMENT_WHEN_YES"></span> Value 1 checked
															</label> &nbsp;
															<label ng-show="(detail.VAL1_ISCHECKBOX===1 || detail.VAL1_ISCHECKBOX==='1') && (detail.IsCommentText===1 || detail.IsCommentText==='1')">
																<span><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-checked="detail.VAL1_ISCOMMENT_WHEN_NO === 1" ng-model="detail.VAL1_ISCOMMENT_WHEN_NO"></span> Value 1 unchecked
															</label>
															<label ng-show="(detail.VAL2_ISCHECKBOX===1 || detail.VAL2_ISCHECKBOX==='1') && (detail.IsCommentText===1 || detail.IsCommentText==='1')">
																<span><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-checked="detail.VAL2_ISCOMMENT_WHEN_YES === 1" ng-model="detail.VAL2_ISCOMMENT_WHEN_YES"></span> Value 2 checked
															</label> &nbsp;
															<label ng-show="(detail.VAL2_ISCHECKBOX===1 || detail.VAL2_ISCHECKBOX==='1') && (detail.IsCommentText===1 || detail.IsCommentText==='1')">
																<span><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-checked="detail.VAL2_ISCOMMENT_WHEN_NO === 1" ng-model="detail.VAL2_ISCOMMENT_WHEN_NO"></span> Value 2 unchecked
															</label>
														</div>
													</div>
													
												</td>
												<td width="5%">
													<i class="fa fa-chevron-up fa-lg" style="cursor: pointer;" ng-click="moveDetailUp(detail, line)" ng-hide="line.details.indexOf(detail)===0"></i>
													<i class="fa fa-chevron-down fa-lg" style="cursor: pointer;" ng-click="moveDetailDown(detail, line)" ng-hide="line.details.indexOf(detail)===line.details.length - 1"></i>
													<br />
													<br />
													<i class="fa fa-times fa-2x" style="cursor: pointer;" ng-click="removeDetail(detail, line)"></i>
												</td>
											</tr>
										</tbody>
									</table>
									<a class="btn default btn-block" ng-click="addDetail(line)"> <i class="fa fa-plus"></i> Add question </a>
						    	</accordion-group>

						    	<accordion-group heading="Line comments">
									<table class="table table-bordered table-hover">
										<thead>
											<tr>
												<th>Comment name</th>
												<th>Comment type</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="comment in line.comments" ng-hide="comment.action==='delete'">
												<td>
													<input type="text" class="form-control" value="Comment name 1" ng-model="comment.NAME"/>
												</td>
												<td>
													<select class="form-control" ng-options="cmtt.id as cmtt.label for cmtt in comment_type_opt" ng-model="comment.Comment_Type">
														
													</select>
												</td>
												<td>
													<i class="fa fa-chevron-up fa-lg" style="cursor: pointer;" ng-click="moveCommentUp(comment, line)" ng-hide="line.comments.indexOf(comment)===0"></i>
													<i class="fa fa-chevron-down fa-lg" style="cursor: pointer;" ng-click="moveCommentDown(comment, line)" ng-hide="line.comments.indexOf(comment)===line.comments.length - 1"></i>
													<br />
													<br />
													<i class="fa fa-times fa-2x" style="cursor: pointer;" ng-click="removeComment(comment, line)"></i>
												</td>
											</tr>
										</tbody>
									</table>
									<a class="btn default btn-block" ng-click="addComment(line)"> <i class="fa fa-plus"></i> Add comment </a>
						    	</accordion-group>
							</accordion>
							
						</div>
					</div>
					<a class="btn default btn-block" ng-click="addLine(section)"> <i class="fa fa-plus"></i> Add line </a>
				</div>
			</div>
	    </div>
		    
		<a class="btn default btn-block" ng-click="addSection()"> <i class="fa fa-plus" ></i> Add section </a>
		<div class="row-break"></div>
		<div class="row">
			<div class="col-md-10 col-sm-10 col-xs-10">
				
			</div>
			<div class="col-md-2 col-sm-2 col-xs-2">
				<button type="button" class="btn green btn-lg" ng-click="addFaDefinition()" ng-show="isEdit===false"><i class="fa fa-plus"></i> Add definition</button>
				<button type="button" class="btn green btn-lg" ng-click="editDefinition()" ng-show="isEdit===true"><i class="fa fa-pencil"></i> Edit definition</button>
			</div>
		</div>
</form>