<h1>Functional Assessment List</h1>

<div class="portlet box purple ng-scope">
	<div class="portlet-title">
        <div class="caption">
            <i class="fa fa-person"></i> Functional Assessment List
        </div>
        <div class="pull-right navbar-right">
            <!-- Single button -->
              <button style="margin-right: 0;" type="button" class="btn btn-default green">
                  <i class="fa fa-plus"></i>	New define
              </button>
        </div>
    </div>

    <div class="portlet-body">
    	<my-data-table options="fa.options" numrows="10"></my-data-table>
    </div>
</div>