<label class="un-label-popup-header-m un-bg-label-B41E46-m">Add new Outdoctor</label>
<div class="row">
	<!--provider_no-->
	 <div class="col-md-4">
	 	<div class="form-group">
	 		<label for="provider_no" class="un-label-form-3 un-label-whidth-130">Provider no</label>
			<input type="text" placeholder="Provider no" name="provider_no" ng-model="mdtOutdoctorMap.provider_no" class="form-control input-sm select-outside ng-pristine ng-valid" id="provider_no">	
	 	</div>
	 </div>
		
	<!--provider_no-->
	<!--name-->
	<div class="col-md-4">
		<div class="form-group">
			<label for="name" class="un-label-form-3 un-label-whidth-130">Name</label>
			<input type="text" placeholder="Name" name="name" ng-model="mdtOutdoctorMap.name"class="form-control input-sm select-outside ng-pristine ng-valid" id="name">
		</div>
	</div>
	<!--name-->

	<!--address-->
	<div class="col-md-4">
		<div class="form-group">
			<label for="address" class="un-label-form-3 un-label-whidth-130">Address</label>
			<input type="text" placeholder="Address" name="address" ng-model="mdtOutdoctorMap.address" class="form-control input-sm select-outside ng-pristine ng-valid" id="address">
		</div>
	</div>
	<!--address-->
</div>
<div class="row">
	<!--suburb-->
		<div class="col-md-4">
			<div class="form-group">
			<label for="suburb" class="un-label-form-3 un-label-whidth-130">Suburb</label>
			<input type="text" placeholder="Suburb" name="suburb" ng-model="mdtOutdoctorMap.suburb" class="form-control input-sm select-outside ng-pristine ng-valid" id="suburb">
			</div>
  		 </div>
	<!--suburb-->

	<!--state-->
	<div class="col-md-4">
		<div class="form-group">
			<label for="state" class="un-label-form-3 un-label-whidth-130">State</label>
			<input type="text" placeholder="State" name="state" ng-model="mdtOutdoctorMap.state" class="form-control input-sm select-outside ng-pristine ng-valid" id="state">
		</div>
	</div>
	<!--state-->

	<!--phone-->
	<div class="col-md-4">
		<div class="form-group">
			<label for="phone" class="un-label-form-3 un-label-whidth-130">Phone</label>
			<input type="text" placeholder="Phone" name="phone" ng-model="mdtOutdoctorMap.phone" class="form-control input-sm select-outside ng-pristine ng-valid" id="phone">
			</div>
	</div>
	<!--phone-->
</div>
<div class="row">
	<div class="col-md-4">
		<button class="un-button-m" ng-click="save()">Save</button>
	</div>
</div>