<div class='inline'>
	<label class="un-label-popup-header-m un-bg-label-B41E46-m">Select Outdoctor</label>
    <button class="btn pull-right un-save-m ng-scope" ng-click="OutSideDoctor()"><i class="fa fa-plus"></i> Add new Outdoctor</button>
</div>
<div class='row'>
	<div class='col-md-12'>
		<table class='mdt-table'>
			<thead>
				<tr>
					<th>Provider No</th>
					<th>name</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" class="form-control" ng-model="params.filters[0].value" ng-change="refresh()"></td>
					<td><input type="text" class="form-control" ng-model="params.filters[1].value" ng-change="refresh()"></td>
				</tr>
				<tr ng-repeat='l in list.data' ng-click='clickRow({row: l})' style='cursor: pointer;'>
					<td>{{l.provider_no}}</th>
					<td>{{l.name}}</th>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div align='right'>
	<pagination boundary-links='true' total-items='list.count' ng-model='params.pagination.current_page' class='pagination-sm' previous-text='&lsaquo;' next-text='&rsaquo;' first-text='&laquo;' last-text='&raquo;' items-per-page='params.pagination.limit' max-size='params.pagination.max_size' ng-change='setPage()'>
	</pagination>
</div>
