<ion-view title="Add Worker">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon  " style="color:#fff">
            
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a menu-toggle="right" class="button button-icon fa fa-phone-square" style="color:#fff"></a>
    </ion-nav-buttons>

        <div class="bar bar-subheader">
            <button class="button button-icon icon ion-ios7-arrow-back" ng-show="injurySubmitNonemer" ng-click="backdescInjury()">&nbsp;Back</button>
            <button class="button button-icon" ng-click="nextFormMain(infor)">Next <i class="icon ion-ios7-arrow-right"></i></button>
        </div>
    <form name="infor" novalidate>
    <ion-content class="padding has-header has-subheader">
            <ion-list>

                <label class="item item-input item-select label-custom-field" >
                    <span class="input-label span-input-color">Title</span>
                    <select ng-required="true" ng-model="worker.Title" name="Title" class="browser-default"
                            ng-options="row.name as row.name for row in titleIndex">
                        <option value="">--Select Title--</option>
                    </select>
                     <hr class="customHr" ng-class="{'has-error':isSubmit && infor.Title.$invalid}">
                </label>

               

                <label class="item item-input label-custom-field" >
                    <span class="input-label span-input-color">First Name</span>
                    <input ng-required="true" type="text" ng-model="worker.First_name" name="First_name" ng-class="{'has-error':isSubmit && infor.First_name.$invalid}"/>
                </label>

               

                <label class="item item-input label-custom-field" >
                    <span class="input-label span-input-color">Sur Name</span>
                    <input ng-required="true" type="text" ng-model="worker.Sur_name" name="Sur_name" ng-class="{'has-error':isSubmit && infor.Sur_name.$invalid}"/>
                    
                </label>

              

                <label class="item item-input label-custom-field">
                    <span class="input-label span-input-color">Middle Name</span>
                    <input type="text" ng-model="worker.Middle_name" name="Middle_name" />
                </label>

               

                <label class="item item-input label-custom-field">
                    <span class="input-label span-input-color">Know as</span>
                    <input type="text" ng-model="worker.Known_as" name="Known_as" />
                </label>

               
                <!--<label class="item item-input">-->
                <!--<span class="input-label span-input-color">Maiden Name</span>-->
                <!--<input type="text" ng-model="worker.Maiden_name" name="Maiden_name" />-->
                <!--</label>-->

                <label class="item item-input label-custom-field" >
                    <span class="input-label span-input-color">Address</span>
                    <input ng-required="true" type="text" ng-model="worker.Address1" name="Address1" ng-class="{'has-error':isSubmit && infor.Address1.$invalid}">
                   
                </label>

               

                <label class="item item-input label-custom-field">
                    <span class="input-label span-input-color">Address 2</span>
                    <input type="text" ng-model="worker.Address2" name="Address2">
                </label>

                

                <label class="item item-input label-custom-field">
                    <span class="input-label span-input-color">Suburb</span>
                    <input type="text" ng-model="worker.Suburb" name="Suburb">
                </label>

            

                <label class="item item-input label-custom-field">
                    <span class="input-label span-input-color">State</span>
                    <input type="text" ng-model="worker.State" name="State">
                </label>

               

                <label class="item item-input label-custom-field">
                    <span class="input-label span-input-color">Country</span>
                    <input type="text" ng-model="worker.Country" name="Country">
                </label>

               

                <label class="item item-input label-custom-field">
                    <span class="input-label span-input-color">Birthday</span>
                    <input ng-required="true" type="text" onfocus="this.type='date';
                    this.setAttribute('onfocus','');this.blur();
                    this.focus();" ng-model="worker.DOB" name="DOB"  ng-class="{'has-error':isSubmit && infor.DOB.$invalid}"/>
                
                </label>

               

                <label class="item item-input item-select label-custom-field" >
                    <span class="input-label span-input-color">Sex</span>
                    <select ng-required="true" ng-model="worker.Sex" name="Sex" class="browser-default"
                            ng-options="row.name as row.name for row in sexIndex">
                        <option value="">--Select Sex--</option>
                    </select>
                    <hr class="customHr" ng-class="{'has-error':isSubmit && infor.Sex.$invalid}">
                </label>
                 
                

                <label class="item item-input label-custom-field" >
                    <span class="input-label span-input-color">Email</span>
                    <input ng-required="true" type="email" ng-model="worker.Email" name="Email" ng-change="Checkfield(isMobile = false)" ng-class="{'has-error':isSubmit && infor.Email.$invalid || isFailEmail}">
                   
                </label>

               

                <label class="item item-input label-custom-field" >
                    <span class="input-label span-input-color">Mobile Phone</span>
                    <input ng-required="true" type="tel" ng-model="worker.Mobile" name="Mobile" ng-change="Checkfield(isMobile = true)" ng-class="{'has-error':isSubmit && infor.Mobile.$invalid || isFailMobile}">
                    
                </label>

               

                <label class="item item-input label-custom-field">
                    <span class="input-label span-input-color">Home Phone</span>
                    <input type="tel" ng-model="worker.Home_phone" name="Home_phone">
                </label>

                

                <label class="item item-input label-custom-field">
                    <span class="input-label span-input-color">Work Phone</span>
                    <input type="tel" ng-model="worker.Work_phone" name="Work_phone">
                </label>

               

            </ion-list>
        </ion-content>
    </form>
</ion-view>

