<ion-view title="Add Worker">
    <ion-nav-buttons>
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <div class="bar bar-subheader">
        <button class="button button-clear button-positive" ui-sref="app.worker.add">
            Back
        </button>
        <h1 class="title">Contact</h1>
    </div>
    <form name="contact" novalidate>
        <ion-content class="padding has-subheader has-header">
            <ion-list>
                <label class="item item-input" ng-class="{'has-error':isSubmit2 && contact.Address1.$invalid}">
                    <span class="input-label span-input-color">Address</span>
                    <input ng-required="true" type="text" ng-model="worker.Address1" name="Address1">
                    <i ng-class="{'icon ion-alert-circled error col col-10':isSubmit2 && contact.Address1.$invalid}"></i>
                </label>

                <label class="item item-input" ng-class="{'has-error':isSubmit2 && contact.Address2.$invalid}">
                    <span class="input-label span-input-color">Address 2</span>
                    <input ng-required="true" type="text" ng-model="worker.Address2" name="Address2">
                    <i ng-class="{'icon ion-alert-circled error col col-10':isSubmit2 && contact.Address2.$invalid}"></i>
                </label>

                <label class="item item-input" ng-class="{'has-error':isSubmit2 && contact.Post_code.$invalid}">
                    <span class="input-label span-input-color">Post Code</span>
                    <input ng-required="true" type="number" ng-model="worker.Post_code" name="Post_code">
                    <i ng-class="{'icon ion-alert-circled error col col-10':isSubmit2 && contact.Post_code.$invalid}"></i>
                </label>

                <label class="item item-input" ng-class="{'has-error':isSubmit2 && contact.Suburb.$invalid}">
                    <span class="input-label span-input-color">Suburb</span>
                    <input ng-required="true" type="text" ng-model="worker.Suburb" name="Suburb">
                    <i ng-class="{'icon ion-alert-circled error col col-10':isSubmit2 && contact.Suburb.$invalid}"></i>
                </label>

                <label class="item item-input" ng-class="{'has-error':isSubmit2 && contact.State.$invalid}">
                    <span class="input-label span-input-color">State</span>
                    <input ng-required="true" type="text" ng-model="worker.State" name="State">
                    <i ng-class="{'icon ion-alert-circled error col col-10':isSubmit2 && contact.State.$invalid}"></i>
                </label>

                <label class="item item-input" ng-class="{'has-error':isSubmit2 && contact.Country.$invalid}">
                    <span class="input-label span-input-color">Country</span>
                    <input ng-required="true" type="text" ng-model="worker.Country" name="Country">
                    <i ng-class="{'icon ion-alert-circled error col col-10':isSubmit2 && contact.Country.$invalid}"></i>
                </label>

                <label class="item item-input" ng-class="{'has-error':isSubmit2 && contact.Mobile.$invalid}">
                    <span class="input-label span-input-color">Mobile Phone</span>
                    <input ng-required="true" type="number" ng-model="worker.Mobile" name="Mobile">
                    <i ng-class="{'icon ion-alert-circled error col col-10':isSubmit2 && contact.Mobile.$invalid}"></i>
                </label>

                <label class="item item-input" ng-class="{'has-error':isSubmit2 && contact.Home_phone.$invalid}">
                    <span class="input-label span-input-color">Home Phone</span>
                    <input ng-required="true" type="number" ng-model="worker.Home_phone" name="Home_phone">
                    <i ng-class="{'icon ion-alert-circled error col col-10':isSubmit2 && contact.Home_phone.$invalid}"></i>
                </label>

                <label class="item item-input" ng-class="{'has-error':isSubmit2 && contact.Work_phone.$invalid}">
                    <span class="input-label span-input-color">Work Phone</span>
                    <input ng-required="true" type="number" ng-model="worker.Work_phone" name="Work_phone">
                    <i ng-class="{'icon ion-alert-circled error col col-10':isSubmit2 && contact.Work_phone.$invalid}"></i>
                </label>
            </ion-list>

            <div class="padding-right padding-left">
                <button type="submit" class="button button-block button-positive" ng-click="submit(workerForm, contact)">
                    Add Worker
                </button>
            </div>
        </ion-content>
    </form>
</ion-view>