<ion-view title="Add Worker">
    <ion-nav-buttons>
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
        <div class="bar bar-subheader">
            <button class="button button-clear button-positive" ui-sref="app.worker.add">
                Back
            </button>

            <h1 class="title">Contact</h1>
        </div>

        <ion-content class="padding has-subheader has-header">
            <ion-list>

                    <label class="item item-input">
                        <input type="text" placeholder="Address">
                    </label>

                    <label class="item item-input">
                        <input type="text" placeholder="Address2">
                    </label>

                    <label class="item item-input">
                        <input type="text" placeholder="Suburb">
                    </label>

                    <label class="item item-input">
                        <input type="text" placeholder="State">
                    </label>

                    <label class="item item-input">
                        <input type="text" placeholder="Post Code">

                    </label>

                    <label class="item item-input">
                        <input type="text" placeholder="Country">
                    </label>

                    <label class="item item-input">
                        <input type="text" placeholder="Mobile Phone">
                    </label>

                    <label class="item item-input">
                        <input type="text" placeholder="Home Phone">
                    </label>

                    <label class="item item-input">
                        <input type="text" placeholder="Work Phone">
                    </label>

                <div class="padding-right padding-left">
                    <button type="submit" class="button button-block button-positive">
                        Add Worker
                    </button>
                </div>
            </ion-list>
        </ion-content>
</ion-view>