<ion-view title="Add Worker">
    <ion-content class="content-scroll" style="background:#015190">
        <div class="transparent-modal-phone" style="width: 100%; height: 100%">
            <div >
                <div class="header-logo">
                    <img src="img/main_logo.png" class="img-header">
                </div>
                <div class="background-header-logo-child">
                    <span class="span-header">Injury Management</span>

                </div>
                <div style="width: 100%;height: 49px;float: left;position: absolute;">
                    <span style="float: right;padding-right: 2%;padding-top: 30px;font-weight: 600;color: white;">Last Infomation</span>
                </div>
            </div>
            <form name="last" novalidate style="margin-top:50px">
                <ion-list>
                    <div class="actionBar">
                        <a class="button button-icon icon ion-ios7-arrow-back color-fff" ui-sref="app.worker.main" style="float:left">&nbsp;Back</a>
                    </div>
                    <label class="item-input label-custom-field">
                        <span class="input-label span-input-color">Occupation</span>
                        <input type="text" ng-model="worker.Occupation" name="Occupation" class="pl" placeholder="--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------" style="color:white">
                    </label>
                    <div class="bd-bottom"></div>
                    <label class="item-input label-custom-field">
                        <span class="input-label span-input-color">Partner's Name</span>
                        <input type="text" ng-model="worker.Partner_name" name="Partner_name" class="pl" placeholder="--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------" style="color:white">
                    </label>
                    <div class="bd-bottom"></div>
                    <label class="item-input label-custom-field">
                        <span class="input-label span-input-color">Partner's DOB</span>
                        <input type="text" onfocus="this.type='date';
                    this.setAttribute('onfocus','');this.blur();
                    this.focus();" ng-model="worker.Partner_DOB" name="Partner_DOB" class="pl" placeholder="--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------" style="color:white"/>
                    </label>

                    <div class="bd-bottom"></div>
                    <label class="item-input label-custom-field">
                        <span class="input-label span-input-color">Partner's Occupation</span>
                        <input type="text" ng-model="worker.Partner_Occupation" name="Partner_Occupation" class="pl" placeholder="--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------" style="color:white">
                    </label>
                    <div class="bd-bottom"></div>
                    <label class="item-input label-custom-field">
                        <span class="input-label span-input-color">Alias First Name</span>
                        <input type="text" ng-model="worker.Alias_First_name" name="Alias_First_name" class="pl" placeholder="--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------" style="color:white">
                    </label>
                    <div class="bd-bottom"></div>
                    <label class="item-input label-custom-field">
                        <span class="input-label span-input-color">Alias Sur Name</span>
                        <input type="text" ng-model="worker.Alias_Sur_name" name="Alias_Sur_name" class="pl" placeholder="--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------" style="color:white">
                    </label>
                    <div class="bd-bottom"></div>
                    <label class="item-input label-custom-field">
                        <span class="input-label span-input-color">UR No</span>
                        <input type="tel" ng-model="worker.UR_no" name="UR_no" class="pl" placeholder="--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------" style="color:white">
                    </label>
                    <div class="bd-bottom"></div>
                    <label class="item-input label-custom-field">
                        <span class="input-label span-input-color">Custom</span>
                        <input type="text" ng-model="worker.Custom" name="Custom" class="pl" placeholder="--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------" style="color:white">
                    </label>
                    <div class="bd-bottom"></div>
                    <div class="row responsive-sm">
                        <div class="col col-80 col-offset-10">
                            <a class="button button-clear button-full" style="border: none; background-color: #1ABC9C;
                        color: #f0f0f0; font-size: 20px; border-radius: 5px;"
                               ng-click="submitInsertWorker(workerForm, last)">
                                Insert patient <i class="icon ion-person-add"></i>
                            </a>
                        </div>
                    </div>
                </ion-list>
            </form>

        </div>

    </ion-content>

</ion-view>

