<ion-view title="Add Worker">
    <ion-nav-buttons>
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
        <div class="bar bar-subheader">
            <button class="button button-clear button-positive" ui-sref="app.worker.add">
                Back
            </button>
            <h1 class="title">Main</h1>
            <button class="button button-clear button-positive" ng-click="nextFormSecond(main)">
                Next
            </button>
        </div>
    <form name="main" novalidate>
        <ion-content class="padding has-subheader has-header">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label span-input-color">Post Code</span>
                    <input type="number" ng-model="worker.Post_code" name="Post_code">
                </label>

                <label class="item item-input item-select">
                    <span class="input-label span-input-color">Account Type</span>
                    <select ng-model="worker.Account_type"
                            ng-options="row.Account_id as row.Account_name for row in accTypeIndex">
                        <option value="">--Select Type--</option>
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label span-input-color">Account Holder</span>
                    <textarea type="text" ng-model="worker.Account_holder" name="worker.Account_holder"></textarea>
                </label>

                <label class="item item-input" ng-class="{'has-error':isSubmit2 && main.Medicare_no.$invalid}">
                    <span class="input-label span-input-color">Medicare No</span>
                    <input ng-required="true" type="tel" ng-model="worker.Medicare_no" name="Medicare_no" >
                    <i ng-class="{'icon ion-alert-circled error col col-10':isSubmit2 && main.Medicare_no.$invalid}"></i>
                </label>

                <label class="item item-input">
                    <span class="input-label span-input-color">Expire Medicare</span>
                    <input type="text" onfocus="this.type='date';
                    this.setAttribute('onfocus','');this.blur();
                    this.focus();" ng-model="worker.Exp_medicare" name="Exp_medicare" />
                </label>

                <label class="item item-input">
                    <span class="input-label span-input-color">MemberShip No</span>
                    <input type="tel" ng-model="worker.MemberShip_no" name="MemberShip_no">
                </label>

                <label class="item item-input">
                    <span class="input-label span-input-color">DVA No</span>
                    <input ng-model="worker.DVA_No" type="number" name="DVA_No">
                </label>

                <!--<label class="item item-input">-->
                    <!--<span class="input-label span-input-color">DVA Disability</span>-->
                    <!--<input ng-model="worker.DVA_disability" type="number" name="DVA_disability">-->
                <!--</label>-->

                <!--<label class="item item-input">-->
                    <!--<span class="input-label span-input-color">DVA Card Colour</span>-->
                    <!--<input ng-model="worker.DVA_card_colour" type="number" name="DVA_card_colour">-->
                <!--</label>-->

                <label class="item item-input">
                    <span class="input-label span-input-color">HCC/Pension No</span>
                    <input ng-model="worker.HCC_Pension_No" type="number" name="HCC_Pension_No">
                </label>

                <label class="item item-input">
                    <span class="input-label span-input-color">Expiry</span>
                    <input type="text" onfocus="this.type='date';
                    this.setAttribute('onfocus','');this.blur();
                    this.focus();" ng-model="worker.Exp_pension" name="Exp_pension" />
                </label>

                <div class="row" style="padding-left: 9px; padding-top: 0px; padding-right: 8px; width: 103%;">
                    <div class="col col-75" style="padding-top: 1px">
                        <label class="item item-input">
                            <span class="input-label span-input-color">Health Fund</span>
                            <select ng-model="worker.Private_fund_id"
                                    ng-options="row.PF_id as row.Fund_name for row in fundIndex">
                                <option value="">--Select Fund--</option>
                            </select>
                        </label>
                    </div>
                    <div class="col" style="padding-top: 1px">
                        <label class="item item-input" style="padding-bottom: 8px;">
                            <input type="tel" ng-model="worker.UPI" name="UPI" placeholder="UPI">
                        </label>
                    </div>
                </div>

            </ion-list>
        </ion-content>
    </form>
</ion-view>