.span-input-color{
    color: rgba(149,165,166,1);
    font-weight: 300;
    font-size: 17px;
}
.fLeft {
    float: left;
}
.fRight {
    float: right;
}
.has-error {
    border-left: 3px solid #cc2511 !important;
    border-right: 3px solid #cc2511 !important;
}
form i.icon.error {
    color: #ef4e3a;
    padding: 0;
}
.wide-as-needed {
    overflow: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.searchform{
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 300px;
}
.itemsearch{
    width: 100%;
    background-color: #F7F7F7;
}
.has-show{
    display: none;
}
.footer_injury{
    margin-top: 10px;
    width: 100%;
    white-space: nowrap;
    position: relative;
    bottom: 0;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
}
.full{
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    display: table;
    table-layout: fixed;
}
.child {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.blackbg {
    background-color: rgba(0, 0, 0, 0.7) !important;
}
.bg-descImg {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0;
    text-align: left !important;
}
.h-descImg{
    color: rgba(255, 255, 255, 1);
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
}
.cssFade {
    transition: 0.5s linear all;
    opacity: 1;
    text-align: right;
}
.cssFade.ng-hide {
    opacity: 0;
}
.border-none{
    border: none !important;
}
.transparent {
    background: #2B2B2B !important;
}
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
}
.bg-menu-left{
    background: url("../img/Medicine - 1.jpg");
    background-size: cover;
}
.bg-menu-right{
    background: url("../img/Medicine - 1.jpg");
    background-size: cover;
    background-position: right;
}
.item-menu {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none;
    color: rgba(232, 231, 234, 0.8);
    margin-bottom: 1px;
}
.item-menu a {
    background-color: rgba(0, 0, 0, 0) !important;
    margin: 0 3px 0 3px;
}
.item-menu a:active, .item-menu a:focus, .item-menu a:visited {
    background-color: rgba(68, 0, 94, 0.3) !important;
    margin: 0 3px 0 3px;
    color: rgba(232, 231, 234, 1);
}
.done-btn{
    background-color: rgba(0, 0, 0, 0.7) !important;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px !important;
}
.heightcs {
    height: 100% !important;
}
.heightcs div{
    height: 100% !important;
}
.custom-texarea{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 84px;
    margin-right: 100px;
    padding: 0 5px 0 5px;
}
/*btn emergency*/
.btn-emer {
    background-color: #FF5E3A !important;
    width: 100%;
}
.btn-emer i {
    color: #f5f5f5;
    font-size: 17px !important;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;
}
.btn-emer span {
    color: #f5f5f5;
    font-size: 15px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 4px;
}

/*btn non-emergency*/
.btn-non-emer {
    background-color: #34AADC !important;
    width: 100%;
}
.btn-non-emer i {
    color: #f5f5f5;
    font-size: 17px !important;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;
}
.btn-non-emer span {
    color: #f5f5f5;
    font-size: 15px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 5px;
}

/*custom ion-scroll success injury*/
.ion-scroll-custom{
    border:none;
    border-radius: 5px !important;
    padding: 0px !important;
}

/*ion-scroll a img custom */
.a-img-custom{
    width: 165px;
    height: 150px;
}
/*background color sub-header*/

.bar-sub-color{
    background-color: rgba(255, 255, 255, 0.6) !important;
}

.bg-info-success{
    background: url("../img/bg-menu-left.jpg");
    background-size: cover;
    padding-top: 125px;
    padding-bottom: 50px;
    background-position-y: 480px;
}
.img-infoInjury{
    margin: auto;
    width: 150px;
    height: 150px;
    color: white;
    position: relative;
    top: -45px;
    box-shadow: 0 0 90px #C7C7CC;
    /*-webkit-animation: mymove 1s infinite; *//* Chrome, Safari, Opera */
    /*animation: mymove 1s infinite;*/
}

#mainView {
    clear: both;
    padding: 1em 1em;
}
.active-btn-info {
    background-color: rgba(0,0,0,0.1) !important;
    border-bottom: 2px solid #C644FC !important;
    color: #f0f6fa;
}
.active-btn-info span {
    text-shadow:0 0 10px #8E8E93;
}
.button-custom-info {
    background-color: rgba(255,255,255,0.6);
    border: none;
}
.button-custom-info:hover {
    color: #f0f6fa;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {box-shadow: 0 0 90px #C7C7CC;}
}

/* Standard syntax */
@keyframes mymove {
    50% {box-shadow: 0 0 90px #C644FC;}
}

.border-radius-button {
    border-radius: 10px !important;
}
.bg-btn-custom {
    background-color: #FF5E3A;
    border-color: #FF5E3A ;
    color: #F5F5F5;
}
.name-info-injury {
    text-shadow: 0 0 15px #8E8E93;
    position: relative;
    top: -20px;
    font-size: 25px;
    color: #fff;
    font-weight: 100;
}
.wrap-btn-tap-toogle{
    position: absolute;
    top: 293px;
    margin: auto;
    width: 100%;
}
.custom-icon-info {
    color: #f0f0f0;
    position: relative;
    left: -30px;
    top: -40px;
    text-shadow: 0 0 5px #f0f0f0;
}
.custom-icon-info:hover {
    color: #f0f0f0 !important;
}
.custom-icon-power {
    color: #f0f0f0;
    position: relative;
    left: 30px;
    top: -40px;
    text-shadow: 0 0 5px #f0f0f0;
}
.custom-icon-power:hover {
    color: #f0f0f0 !important;
}

/*start pickup list patient*/
.img-image-name{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
    font-size: 60px;
    font-weight: lighter;
}
.img-image-name-phone{
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: #080808;
    font-size: 30px;
    font-weight: lighter;
    background-color: #1bbc9b;
}
.custom-item-listpatient {
    padding: 0;
    background-color: transparent;
}
.item-input-wrapper input {
    color: floralwhite;
}
.custom-item-listpatient:active {
    background-color: rgba(137, 140, 144, 0.5) !important;
}
.lstinjury-div-info {
    padding-top: 20px;
}
.lstinjury-div-info * {
    color: whitesmoke !important;
}
.ionic-refresher-content i {
    color: whitesmoke;
}
.lstinjury-address {
    padding: 0px; margin: 0px;
}
.new * {
    font-weight: 900 !important;
    font-size: 25px;
}
.waiting  {
    background-color: rgba(255, 149, 0, 0.6) !important;
}
.done {
    background-color: rgba(52, 170, 220, 0.8) !important;
}
.lstinjury-date {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 15px;
    padding-top: 5px;
}
.bg-list {
    background-image: url('../img/bg-blur-list.jpg');
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-size: cover;
    width: 100%;
    height: 100%;
}
/*end pickup list patient*/


/*start profile.css file*/
#profile-bg {
    position: fixed;
    left: 0;
    top: 44px;
    width: 100%;
    height: 150px;
    background-size: 100%;
    background-position: 50% 20%;

    text-align: center;
}

#content {
    margin-top: 90px;
}

#profile-info {
    text-align: center;
}
#profile-name {
    color: #444;
    font-size: 26px;
}
#profile-description {
    font-size: 15px;
    color: #888;
}
#profile-description a {
    color: #888;
}

#profile-image {
    display: block;
    border-radius: 100px;
    border: 1px solid #fff;
    width: 128px;
    height: 128px;
    margin: 30px auto 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}

.list-item-content {
    padding: 5px;
}

.list-item {
    color: #666666;
}

.post {
    color: #444;
}

.post-time {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 11px;
    color: #888;
}

.post-profile-image {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    margin-right: 10px;
}
.post-options {
    position: absolute;
    font-size: 16px;
    right: 5px;
    bottom: 5px;
    color: #888;
}
/*end profile.css file*/

/*start login.css file*/
.login {
    background-color: #444 !important;
}

.login .logo {
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
    text-align: center;
}

.login .content {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.login .content h3 {
    color: #000;
}

.login .content h4 {
    color: #555;
}

.login .content p {
    color: #222;
}

.login .content .login-form,
.login .content .forget-form {
    padding: 0px;
    margin: 0px;
}

.login .content .input-icon {
    border-left: 2px solid #35aa47 !important;
}

.login .content .input-icon .form-control {
    border-left: 0;
}

.login .content .forget-form {
    display: none;
}

.login .content .register-form {
    display: none;
}

.login .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
}

.login .content .form-actions {
    background-color: #fff;
    clear: both;
    border: 0px;
    padding: 0px 30px 25px 30px;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: 60px;
}

.login .content .form-actions .checkbox {
    margin-left: 0;
    padding-left: 0;
}

.login .content .forget-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.login .content .register-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
    margin-top: 8px;
    display: inline-block;
}

.login .content .form-actions .btn {
    margin-top: 1px;
}

.login .content .forget-password {
    position: relative;
    top: 50px;
}

.login .content .create-account {
    border-top: 1px dotted #eee;
    padding-top: 10px;
    margin-top: 15px;
}

.login .content .create-account a {
    display: inline-block;
    margin-top: 5px;
}

/* select2 dropdowns */
.login .content .select2-container {
    border-left: 2px solid #35aa47 !important;
}

.login .content .select2-container .select2-choice {
    border-left: none !important;
}

.login .content .select2-container i {
    display: inline-block;
    position: relative;
    color: #ccc;
    z-index: 1;
    top: 1px;
    margin: 4px 4px 0px -1px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
}

.login .content .has-error .select2-container i {
    color: #b94a48;
}

.login .content .select2-container a span {
    font-size: 13px;
}

.login .content .select2-container a span img {
    margin-left: 4px;
}

/* footer copyright */
.login .copyright {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: #999;
    font-size: 13px;
}

@media (max-width: 480px) {
    /***
    Login page
    ***/
    .login .logo {
        margin-top: 10px;
    }

    .login .content {
        width: 280px;
    }

    .login .content h3 {
        font-size: 22px;
    }

    .login .checkbox {
        font-size: 13px;
    }
}
/*end login.css file*/

/*Call page css*/
.progress-bar-icon {
    font-size: 36px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 36px;
    width: 36px;
    z-index: 3;
}

.calling-container {
    text-align: center;
    margin-bottom: 20px;
    z-index: 9999;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.calling-container p {
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    color: #ffffff;
}

.video-container {
    background-color: #4A4A4A;
    margin: auto;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}

/*End Call page css*/

.transparent-modal-phone {
    background-color: rgba(0,0,0,0);
    display: table;
    position: absolute;
    text-align: center;
}
.cus-content-modal-phone {
    display: table-cell;
    vertical-align: middle;
}
.content-modal-calling {
    background-color: rgba(0,0,0, .6);
    border-radius: 20px !important;
}
.custom-bottom-answer {
     background-color: #5AD427;
     border: none;
     width: 130px;
     border-radius: 50px;
 }
.custom-bottom-cancel {
    background-color: #FF3A2D;
    border: none;
    width: 130px;
    border-radius: 50px;
}
.margin-auto {
    margin: auto;
}
.content-scroll {
    background-color: rgba(74, 74, 74, .3);
}
.content-scroll .scroll {
    width: 100% !important;
    height: 100% !important;
}

.btn-login-custom {
    background-color: rgba(180, 180, 180, .5);
    border: none;
    border-radius: 20px;
    line-height: 0;
    min-height: 35px;
}

.input-login-form {
    border: none;
    padding: 0;
}
.input-login-form input {
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    padding-right: 0;
    text-align: center;
}
.btn-cus-sendMail {
    background-color: #5AD427 !important;
    color: #ffffff !important;
    width: 100%;
    border-radius: 100px;
    min-height: 35px !important;
    line-height: 0;
    margin-top: 50px;
}
.wrapper-login {
    display: table;
    position: absolute;
    text-align: center;
}
.input-login-form ::-webkit-input-placeholder {
  text-align: center;
}
.label-custom-field {
    border: none;
    padding-bottom: 0;
}
.custom-hr {
    width: 100%;
    margin-top: 1px;
    margin-bottom: 10px;
}
.btn-process {
    border-radius: 50% !important;
    color: #000 !important;
    border: 1px solid rgba(0, 0, 0, .3) !important;
}

.item-menu-custom {
    font-weight: bolder;
}

.btn-success-custom {
    background-color: #4CD964;
    border-color: #4CD964;
}