<div class='row'>
	<div class='col-md-10'>
		<pagination boundary-links='true' total-items='list.count' ng-model='params.pagination.current_page' class='pagination-sm' previous-text='&lsaquo;' next-text='&rsaquo;' first-text='&laquo;' last-text='&raquo;' items-per-page='params.pagination.limit' max-size='params.pagination.max_size' ng-change='setPage()'>
		</pagination>
	</div>
</div>
<div class='row'>
	<div class='col-md-12'>
		<table class='mdt-table'>
			<thead>
				<tr>
					<th>cal_id</th>
					<th>claim_id</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='l in list.data' ng-click='clickRow({row: l})' style='cursor: pointer;'>
					<td>{{l.cal_id}}</th>
					<td>{{l.claim_id}}</th>
				</tr>
			</tbody>
		</table>
	</div>
</div>
