<ion-view title="Model 3D">
    <ion-content class="model" direction="y">
        <div class="spritespin" id="spritespin" data-tap-disabled="true"></div>
        <div class="col" style="text-align: center">
            <a class="button button-icon icon ion-arrow-right-c im-button-custom" ng-click="nextform()"></a>
        </div>
            <!-- <ion-scroll direction="y" style="width: 200px; height: 500px;" scrollbar-y="false">
             <div id="textDIV" style="width:150px"></div>
                <div ng-repeat="part in parts track by $index">
                    <button style="float:right" 
                            class="button button-small button-clear" 
                            ng-click="removeItem('{{part}}')">x</button>
                    <img ng-src="/android_asset/www/img/model/{{part}}.png" style="width:200px; height:100px" ng-click="openModal(part)"/>
                </div>
            </ion-scroll> -->
    </ion-content>
</ion-view>