.rob-appointment-group-site
{
    margin-top: 10px;
    padding-top: 10px;
}

.rob-appointment-group-doctor
{
    margin-bottom: 10px;
}

.pointer {
    cursor: pointer;
}

.underline{
    text-decoration: underline;
}