<style>
    .consult-modal-window .modal-dialog {
      width: 900px;
    }
</style>
<h3 class="page-title">Consultation</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="loggedIn.home">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:;">Patient List</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Consultation</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:;">{{(patientInfo.FullName == null || patientInfo.FullName == '') ? 'N/A' : patientInfo.FullName}}</a>
        </li> 
    </ul>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6">
        <a  href="javascript:;" style="width: 120px" ng-click="backClick()" class="btn btn-circle purple-plum pull-right btn-md">
            <i class="glyphicon glyphicon-backward"></i> &nbsp; Back
        </a>
    </div>
    <div class="col-md-6 col-sm-6">
        <a href="javascript:;" ng-click="submitClick()" style="width: 120px" class="btn btn-circle btn-info pull-left btn-md">
            <i class="fa fa-check"></i> &nbsp; Submit
        </a>
    </div>
</div>
<br/>
<div class="portlet blue-chambray box">
    <div class="portlet-title">
        <div class="caption ">
            <i class="icon-user"></i>
            <span class="caption-subject uppercase">Patient Information</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group" >
                    <label class="control-label bold col-md-4 col-sm-4">Full Name</label>
                    <div class="col-md-8 col-sm-8">
                        <label  class="control-label">
                        	{{(patientInfo.FullName == null || patientInfo.FullName == '') ? 'N/A' : patientInfo.FullName}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group" >
                    <label class="control-label bold col-md-4 col-sm-4">Address</label>
                    <div class="col-md-8 col-sm-8">
                        <label class="control-label">
                        {{(patientInfo.Address1 == null || patientInfo.Address1 == '') ? 'N/A' : patientInfo.Address1}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group" >
                    <label class="control-label bold col-md-4 col-sm-4">Date Of Birth</label>
                    <div class="col-md-8 col-sm-8">
                        <label  class="control-label">
                        {{(patientInfo.DOB == null || patientInfo.DOB == '') ? 'N/A' : patientInfo.DOB | date:'dd/MM/yyyy'}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group" >
                    <label class="control-label bold col-md-4 col-sm-4">Gender</label>
                    <div class="col-md-8 col-sm-8">
                        <label class="control-label">
                        {{(patientInfo.Sex == null || patientInfo.Sex == '') ? 'N/A' : patientInfo.Sex}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group" >
                    <label class="control-label bold col-md-4 col-sm-4">Email</label>
                    <div class="col-md-8 col-sm-8">
                        <label class="control-label">
                        {{(patientInfo.Email == null || patientInfo.Email == '') ? 'N/A' : patientInfo.Email}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="form-group" >
                    <label class="control-label bold col-md-4 col-sm-4">Phone</label>
                    <div class="col-md-8 col-sm-8">
                        <label class="control-label">
                        {{(patientInfo.Mobile == null || patientInfo.Mobile == '') ? 'N/A' : patientInfo.Mobile}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portlet light ">
    <div class="portlet-title tabbable-line">
        <div class="caption">
            <i class="fa fa-user-md"></i>
            <span class="caption-subject bold uppercase">
                Consultation - Date: {{currDate}}
            </span>
        </div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="index.html#tab_1_1" data-toggle="tab">
                    Information
                </a>
            </li>
            <li>
                <a href="index.html#tab_1_2" ng-click="measureTabClick()" data-toggle="tab">
                    Measurements
                </a>
            </li>
            <li>
                <a href="index.html#tab_1_3" ng-click="scriptTabClick()" data-toggle="tab">
                    Scripts
                </a>
            </li>
            <li>
                <a href="index.html#tab_1_4" data-toggle="tab">
                    Drawings
                </a>
            </li>
        </ul>
    </div>
    <div class="portlet-body">
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1_1">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group" >
                            <label class="control-label bold col-md-2 col-sm-2">Problems</label>
                            <div class="col-md-4 col-sm-4">
                                <select ng-model="consultInfo.problem_id" ng-change="viewProblem(consultInfo.problem_id)" ng-options="p.problem_id as p.problem_id for p in problemList" class="form-control">
                                    <option value="">--Select A Problem--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="table-dynamic">
                            <table class="responsive table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="th">
                                                <span style="color: white;">Problem</span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="th">
                                                <span style="color: white;">ICD10 Code</span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="th">
                                                <span style="color: white;">ICPC Code</span>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="problemArr.length <= 0">
                                        <td colspan="3">
                                            <div style="text-align: center;">
                                                <span style="font-size: 20px; font-style: italic; font-weight: bold;">      Empty Data
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="problemArr.length > 0" ng-repeat="p in problemArr">
                                        <td>
                                            {{p.Notes}}
                                        </td>
                                        <td style="vertical-align: middle">
                                            {{p.ICD10_code}}
                                        </td>
                                        <td style="vertical-align: middle">
                                            {{p.ICPC_code}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group" >
                            <label class="control-label bold col-md-2 col-sm-2">History</label>
                            <div class="col-md-10 col-sm-10">
                                <textarea ng-model="consultInfo.history" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group" >
                            <label class="control-label bold col-md-2 col-sm-2">Examination</label>
                            <div class="col-md-10 col-sm-10">
                                <textarea ng-model="consultInfo.examination" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group" >
                            <label class="control-label bold col-md-2 col-sm-2">Treatment/Plan</label>
                            <div class="col-md-10 col-sm-10">
                                <textarea ng-model="consultInfo.treatment" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group" >
                            <label class="control-label bold col-md-2 col-sm-2">Diagnosis</label>
                            <div class="col-md-10 col-sm-10">
                                <textarea ng-model="consultInfo.diagnosis" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_1_2">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <a href="javascript:;" ng-click="measureAction('new',null)" class="btn green-jungle btn-circle btn-sm">
                        <i class="fa fa-plus"></i> Add New Measure</a>
                    </div>
                </div>
                <br/>
                <div class="table-dynamic">
                    <table class="responsive table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <div class="th">
                                        <span style="color: white;">Date</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        <span style="color: white;">Height (cms)</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        <span style="color: white;">Weight (kgs)</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        <span style="color: white;">Waist (cms)</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        <span style="color: white;">Hips (cms)</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        <span style="color: white;">Neck (cms)</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        <span style="color: white;">Action</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="consultInfo.measurements.length <= 0">
                                <td colspan="7">
                                    <div style="text-align: center;">
                                        <span style="font-size: 20px; font-style: italic; font-weight: bold;">      Empty Data
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="bold" align="center" ng-if="consultInfo.measurements.length > 0" ng-repeat="m in consultInfo.measurements">
                                <td style="vertical-align: middle">
                                    {{m.measure_date | date:'dd/MM/yyyy'}}
                                </td>
                                <td style="vertical-align: middle">
                                    {{m.height}}
                                </td>
                                <td style="vertical-align: middle">
                                    {{m.weight}}
                                </td>
                                <td style="vertical-align: middle">
                                    {{m.waist}}
                                </td>
                                <td style="vertical-align: middle">
                                    {{m.hips}}
                                </td>
                                <td style="vertical-align: middle">
                                    {{m.neck}}
                                </td>
                                <td>
                                    <a ng-click="measureAction('edit',$index)" href="javascript:;" class="btn btn-icon-only btn-circle blue">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a ng-click="measureAction('delete',$index)" href="javascript:;" class="btn btn-icon-only btn-circle red">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="tab_1_3">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <a href="javascript:;" ng-click="scriptAction('new',null)" class="btn green-jungle btn-circle btn-sm">
                        <i class="fa fa-plus"></i> Add New Script</a>
                    </div>
                </div>
                <br/>
                <div class="table-dynamic">
                    <table class="responsive table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <div class="th">
                                        <span style="color: white;">Medication</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        <span style="color: white;">Strength</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        <span style="color: white;">Form</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        <span style="color: white;">Qty</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        <span style="color: white;">Dose</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        <span style="color: white;">Code</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        <span style="color: white;">Frequency</span>
                                    </div>
                                </th>
                                <th>
                                    <div class="th">
                                        <span style="color: white;">Action</span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="consultInfo.scripts.length <= 0">
                                <td colspan="8">
                                    <div style="text-align: center;">
                                        <span style="font-size: 20px; font-style: italic; font-weight: bold;">      Empty Data
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr class="bold" ng-if="consultInfo.scripts.length > 0" ng-repeat="m in consultInfo.scripts">
                                 <td style="vertical-align: middle">
                                    {{m.medication}}
                                </td>
                                <td style="vertical-align: middle">
                                    {{m.strength}}
                                </td>
                                <td style="vertical-align: middle">
                                    {{m.form}}
                                </td>
                                <td style="vertical-align: middle">
                                    {{m.qty}}
                                </td>
                                <td style="vertical-align: middle">
                                    {{m.dose}}
                                </td>
                                <td style="vertical-align: middle">
                                    {{m.code}}
                                </td>
                                <td style="vertical-align: middle">
                                    {{m.frequency}}
                                </td>
                                <td align="center">
                                    <a ng-click="scriptAction('edit',$index)" href="javascript:;" class="btn btn-icon-only btn-circle blue">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a ng-click="scriptAction('delete',$index)"href="javascript:;" class="btn btn-icon-only btn-circle red">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="tab_1_4">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <consult-drawing 
                            width="700" 
                            height="500"
                            lineWidth="4">
                        </consult-drawing>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>  