<h1>Problem List</h1>

<div class="portlet box green ng-scope">
	<div class="portlet-title">
        <div class="caption">
            <i class="fa fa-person"></i> Problem List
        </div>
        <div class="pull-right navbar-right">
            <!-- Single button -->
              <button style="margin-right: 0;" type="button" class="btn btn-default red" ng-click="problemAddForm.open()">
                  <i class="fa fa-plus"></i>	Add problem
              </button>
        </div>
    </div>

    <div class="portlet-body">
    	<my-data-table options="problem.options" numrows="10"></my-data-table>
    </div>
</div>

<!--PROBLEM ADD FORM-->
<div class="mdt-search" style="display: block;" ng-if="problemAddForm.is_show">
    <div class="pull-right text-center ng-scope">
        <button class="btn btn-sm btn-block red" ng-click="problemAddForm.close()">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <problem-detail options="options" onsuccess="problemAddForm.success" />
</div>
<!--END PROBLEM ADD FORM-->

<!--ALLERGY EDIT FORM-->
<div class="mdt-search" style="display: block;" ng-if="problemEditForm.is_show">
    <div class="pull-right text-center ng-scope">
        <button class="btn btn-sm btn-block red" ng-click="problemEditForm.close()">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <problem-detail options="options" onsuccess="problemEditForm.success" data="{id:'{{problem.id}}'}"/>
</div>
<!--END ALLERGY EDIT problem-->