<h1>Department List</h1>

<div class="portlet box red ng-scope">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-medkit"></i> Departments
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-5">
                <div class="pull-right navbar-right">
                    <a class="btn btn-sm blue" ng-click="formAddDept.open()"><i class="fa fa-plus"></i> New </a>
                </div>
       	        <my-data-table options="department.options" rowclass="department.class" rowclick="department.click" numrows="10"></my-data-table>
            </div>
             <div class="col-md-7">
                <div ng-show="department.select != 0" >
                    <div class="tabbable-custom" ng-init="department.tab = 2">
                        <ul class="nav nav-tabs ">
                            <li ng-class="{active: (department.tab == 1)}" ng-click="department.tab = 1"><a> Headers </a></li>
                            <li ng-class="{active: (department.tab == 2)}" ng-click="department.tab = 2"><a> Services </a></li>
                        </ul>
                        <div class="tab-content">

                            <!-- HEADER  -->
                            <div ng-class="{active: (department.tab == 1)}" class="tab-pane">
                                <div class="pull-right navbar-right">
                                    <a ng-show="header_selected != 0" class="btn btn-sm blue" ng-click="searchHeader.open()"><i class="fa fa-plus"></i> Add Headers</a>
                                    <a ng-show="searchHeader.select_list.length > 0" class="btn btn-sm green" ng-click="searchHeader.save()"><i class="fa fa-save"></i> Save</a>
                                </div>
                                <my-data-table options="invheader.options" rowclass="invheader.class"></my-data-table>
                            </div>
                            <!-- END HEADER  -->

                            <!-- SERVICES  -->
                            <div ng-class="{active: (department.tab == 2)}" class="tab-pane">
                                <div class="pull-right navbar-right">
                                    <a ng-show="header_selected != 0" class="btn btn-sm blue" ng-click="searchService.open()"><i class="fa fa-plus"></i> Add Services</a>
                                    <a ng-show="searchService.select_list.length > 0" class="btn btn-sm green" ng-click="searchService.save()"><i class="fa fa-save"></i> Save</a>
                                </div>
                                <my-data-table options="services.options" rowclass="services.class"></my-data-table>
                            </div>
                            <!-- END SERVICES  -->
                        </div>    
                    </div>    
                </div>
             </div>
        </div>
    	<div class="clearfix"></div>
    </div>
</div>

<!-- POPUP SEARCH HEADER  -->
<div class="mdt-search" style="display: block;" ng-if="searchHeader.is_show">
    <div class="pull-right text-center ng-scope">
        <button class="btn btn-sm btn-block red" ng-click="searchHeader.close()">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <my-data-table options="searchHeader.options" rowclick="searchHeader.click" rowclass="searchHeader.class">
</div>
 <!-- POPUP SEARCH HEADER  -->

<!-- POPUP SEARCH SERVICE  -->
<div class="mdt-search" style="display: block;" ng-if="searchService.is_show">
    <div class="pull-right text-center ng-scope">
        <button class="btn btn-sm btn-block red" ng-click="searchService.close()">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <sysservices-search click-row="searchService.click(row)"></sysservices-search>
</div>
 <!-- POPUP SEARCH SERVICE  -->


<!-- POPUP ADD HEADER ITEM FORM  -->
<div class="mdt-search" style="display: block;" ng-show="formAddDept.is_show">
    <div class="pull-right text-center ng-scope">
        <button class="btn btn-sm btn-block red" ng-click="formAddDept.close()">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <department-detail onsuccess="formAddDept.success"></department-detail>
</div>
<!-- POPUP ADD DEPT FORM  -->

<!-- POPUP EDIT DEPT ITEM FORM  -->
<div class="mdt-search" style="display: block;" ng-if="formEditDept.is_show">
    <div class="pull-right text-center ng-scope">
        <button class="btn btn-sm btn-block red" ng-click="formEditDept.close()">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <department-detail onsuccess="formEditDept.success" data="{id: '{{departmentInfo.id}}'}"></department-detail>
</div>
<!-- POPUP EDIT HEADER ITEM FORM  -->





