<div class="panel panel-default un-header-top">
	<div class="panel-body">
		<label class="un-label-header-custom un-bgWhite-custom">Add Script</label>
		<form name="FrForm" novalidate>
			<div class="row">
				<div class="col-xs-4">
					<div class="un-label-form-custom">
						<span>Patient Name</span>
					</div>
					<label>{{patient.item.First_name}}&nbsp;{{patient.item.Sur_name}}</label>
				</div>
				<div class="col-xs-4">
					<div class="un-label-form-custom">
						<span>Prescriber</span>
					</div>
					<input type="text" class="form-control" ng-model="script.form.prescriber" placeholder="Prescriber" id="prescriber" name="prescriber" />
				</div>
				<div class="col-xs-4">
					<div class="un-label-form-custom">
						<span>Script Number</span>
					</div>
					<input type="text" class="form-control" ng-model="script.form.scriptNum" placeholder="Script Number" id="scriptNum" name="scriptNum" required />
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-xs-4">
					<div class="un-label-form-custom">
						<span>Medicare</span>
					</div>
					<select ng-model="script.form.Medicare" class="form-control" ng-options=" item.medication_name as item.medication_name for item in medicaname"  required>
						<option value="" class=""></option>
					</select>
				</div>
				<div class="col-xs-4">
					<div class="un-label-form-custom">
						<span>EntitlementNo</span>
					</div>
					<input type="text" class="form-control" ng-model="script.form.EntitlementNo" placeholder="EntitlementNo" id="EntitlementNo" name="EntitlementNo" required />
				</div>
				<div class="col-xs-4">
					<div class="un-label-form-custom">	
						<span>Pharmacist</span>
					</div>
					<input type="text" class="form-control" ng-model="script.form.pharmacist" placeholder="Pharmarcist" id="pharmacist" name="pharmacist" required />
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-xs-4">
					<div class="un-label-form-custom">
						<span>Doctor Date</span>
					</div>
					<input custom-date class="form-control" placeholder="Doctor Date" ng-model="script.form.doctordate" id="doctordate" name="doctordate" float-label required />
				</div>
				<div class="col-xs-4">
					<div class="un-label-form-custom">
						<span>Patient Date</span>
					</div>
					<input custom-date class="form-control" placeholder="Patient Date" ng-model="script.form.patientDate" id="patientDate" name="patientDate" float-label required />
				</div>
				<div class="col-xs-4">
					<div class="un-label-form-custom">
						<span>Agent Address</span>
					</div>
					<input type="text" class="form-control" ng-model="script.form.agentAddress" placeholder="Agent Address" id="agentAddress" name="agentAddress" required />
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-2">
					<label class="control-label">
		                <input type="checkbox" ng-model="script.form.isRefNo" ng-true-value=1 ng-false-value=0>&nbsp;RefNo
					</label>
				</div>
				<div class="col-xs-2">
					<label class="control-label">
		                <input type="checkbox" ng-model="script.form.isSafety" ng-true-value=1 ng-false-value=0>&nbsp;Safety
					</label>
				</div>
				<div class="col-xs-2">
					<label class="control-label">
		                <input type="checkbox" ng-model="script.form.isConcessional" ng-true-value=1 ng-false-value=0>&nbsp;Concessional
					</label>
				</div>
				<div class="col-xs-2">
					<label class="control-label">
		                <input type="checkbox" ng-model="script.form.isPBS" ng-true-value=1 ng-false-value=0>&nbsp;PBS
					</label>
				</div>
				<div class="col-xs-2">
					<label class="control-label">
		                <input type="checkbox" ng-model="script.form.isRPBS" ng-true-value=1 ng-false-value=0>&nbsp;RPBS
					</label>
				</div>
				<div class="col-xs-2">
					<label class="control-label">
		                <input type="checkbox" ng-model="script.form.isBrand" ng-true-value=1 ng-false-value=0>&nbsp;Brand
					</label>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-xs-6">
					<div class="un-label-form-custom">
						<span>Doctor Signature</span>	
					</div>
				</div>
				<div class="col-xs-6">
					<div class="un-label-form-custom">
						<span>Patient Signature</span>
					</div>
				</div>
			</div>

			<div class="row" style="margin-top: 15px;">
				<div class="col-xs-6">
					<span>
			            <canvas width="580" height="200" id="canvas" style="background-color: #DDDDDD; margin-bottom: 15px; border: 2px solid 64A0D9" signature ng-model="script.form.doctorSign">
			            </canvas>
			        </span>

				</div>
				<div class="col-xs-6">
					<span>
			            <canvas width="580" height="200" id="canvas_paient" style="background-color: #DDDDDD; margin-bottom: 15px; border: 2px solid 64A0D9" signature ng-model="script.form.patientSign">
			            </canvas>
			        </span>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-xs-12">
					<input type="submit" class="un-button-custom" ng-click="script.add()" value="Submit" />
				</div>
			</div>
		</form>
	</div>
</div>