<form name="mainForm" novalidate>
<!--ACTION-->
<div class="row" style="margin-bottom: 15px;">
	
</div>
<!--END ACTION -->

<div class="row">

	<!--prescriber-->
	<div class="col-md-4 col-sm-6 col-xs-12">
		<span class="field">
			<label for="prescriber">Prescriber</label>
			<input type="text" placeholder="Prescriber" name="prescriber" ng-model="modelObjectMap.prescriber" class="form-control" id="prescriber" float-label>
		</span>	</div>
	<!--prescriber-->
   
    <!--scriptNum-->
        <div class="col-md-4 col-sm-6 col-xs-12" >
            <span class="field" ng-class="{'has-error': mainForm.scriptnum.$invalid && isSubmit}">
                <label for="scriptnum">Script Number</label>
                <input type="number" placeholder="Script Number" name="scriptnum" ng-model="modelObjectMap.scriptNum" class="form-control" id="scriptnum" float-label required>
                <span ng-show=" mainForm.scriptnum.$invalid && isSubmit">
                    <span class="mdt-popover above" ng-show="mainForm.scriptnum.$error.required">
                        Script number required!
                    </span>
                    <span class="mdt-popover above" ng-show="mainForm.scriptnum.$error.number">
                        Invalid format!
                    </span>
            </span>
            </span>	</div>
        <!--scriptNum-->

        <!--Medicare-->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <span class="field">
                <label for="medicare">Medicare</label>
                <input type="text" placeholder="Medicare" name="medicare" ng-model="modelObjectMap.Medicare" class="form-control" id="medicare" float-label>
            </span>	</div>
        <!--Medicare-->
        
        

	<div class="break-row"></div>
	
<!--EntitlementNo-->
	<div class="col-md-4 col-sm-6 col-xs-12">
		<span class="field">
			<label for="entitlementno">Entitlement No</label>
			<input type="text" placeholder="Entitlement No" name="entitlementno" ng-model="modelObjectMap.EntitlementNo" class="form-control" id="entitlementno" float-label>
		</span>	</div>
	<!--EntitlementNo-->
	
	<!--agentAddress-->
	<div class="col-md-4 col-sm-6 col-xs-12">
		<span class="field">
			<label for="agentaddress">Agent Address</label>
			<input type="text" placeholder="Agent Address" name="agentaddress" ng-model="modelObjectMap.agentAddress" class="form-control" id="agentaddress" float-label>
		</span>	</div>
	<!--agentAddress-->
	

	<div class="break-row"></div>
	
	<!--isRefNo-->
	<div class="col-md-4 col-sm-6 col-xs-12">
		<input type="checkbox" name="isrefno" id="isrefno" class="mdt-checkbox" ng-model="modelObjectMap.isRefNo" ng-true-value="1" ng-false-value="0">
		<label for="isrefno">Is Refno</label>
	</div>
	<!--isRefNo-->
	

	<!--isSafety-->
	<div class="col-md-4 col-sm-6 col-xs-12">
		<input type="checkbox" name="issafety" id="issafety" class="mdt-checkbox" ng-model="modelObjectMap.isSafety" ng-true-value="1" ng-false-value="0">
		<label for="issafety">Is Safety</label>
	</div>
	<!--isSafety-->

	<!--isConcessional-->
	<div class="col-md-4 col-sm-6 col-xs-12">
		<input type="checkbox" name="isconcessional" id="isconcessional" class="mdt-checkbox" ng-model="modelObjectMap.isConcessional" ng-true-value="1" ng-false-value="0">
		<label for="isconcessional">Is Concessional</label>
	</div>
	<!--isConcessional-->

	<div class="break-row"></div>
	<!--isPBS-->
	<div class="col-md-4 col-sm-6 col-xs-12">
		<input type="checkbox" name="ispbs" id="ispbs" class="mdt-checkbox" ng-model="modelObjectMap.isPBS" ng-true-value="1" ng-false-value="0">
		<label for="ispbs">Ispbs</label>
	</div>
	<!--isPBS-->

	<!--isRPBS-->
	<div class="col-md-4 col-sm-6 col-xs-12">
		<input type="checkbox" name="isrpbs" id="isrpbs" class="mdt-checkbox" ng-model="modelObjectMap.isRPBS" ng-true-value="1" ng-false-value="0">
		<label for="isrpbs">Is RPBS</label>
	</div>
	<!--isRPBS-->

	<!--isBrand-->
	<div class="col-md-4 col-sm-6 col-xs-12">
		<input type="checkbox" name="isbrand" id="isbrand" class="mdt-checkbox" ng-model="modelObjectMap.isBrand" ng-true-value="1" ng-false-value="0">
		<label for="isbrand">Is Brand</label>
	</div>
	<!--isBrand-->


	<div class="break-row"></div>
	<!--pharmacist-->
	<div class="col-md-4 col-sm-6 col-xs-12">
		<input type="checkbox" name="pharmacist" id="pharmacist" class="mdt-checkbox" ng-model="modelObjectMap.pharmacist" ng-true-value="1" ng-false-value="0">
		<label for="pharmacist">Pharmacist</label>
	</div>
	<!--pharmacist-->
<div class="break-row"></div>




	<div class="break-row"></div>
	<div class="col-md-6 cols-sm-6 col-xs-12">
	    <div class="row">
            <div class="col-md-12 cols-sm-12">
                <img src="{{modelObjectMap.doctorSign}}" style="width:100%; height:200px"/>
            </div>
	        <div class="col-md-12 col-sm-12 col-xs-12">
	            <!-- Doctor Date -->
	            <span class="field">
			<label for="doctordate">Doctor Date</label>
			<input readonly ui-date="{dateFormat: 'dd/mm/yy'}" placeholder="Doctordate" name="doctordate" ng-model="modelObjectMap.doctordate" class="form-control" id="doctordate" float-label>
		</span>
        <!-- End Doctor Date -->
	        </div>
	    </div>
	</div>
	
	<div class="col-md-6 cols-sm-6 col-xs-12">
	    <div class="row">
        <div class="col-md-12 col-sm-12">
                 <canvas id="canvas" style="background-color: grey; width:100%; height:200px" signature ng-model="modelObjectMap.patientSign">
                        </canvas>
            </div>
            <div class="break-row"></div>
	        <div class="col-md-10 col-sm-10 col-xs-10">
	            <!-- Patient Date -->
	           <span class="field">
			<label for="patientdate">Patient Date</label>
			<input readonly ui-date="{dateFormat: 'dd/mm/yy'}" placeholder="Patientdate" name="patientdate" ng-model="modelObjectMap.patientDate" class="form-control" id="patientdate" float-label>
		</span>	
        <!-- End patient Date -->
	        </div>
	        <div class="col-sm-2 col-xs-2">
	            <button class="btn btn-block green" style="width:100%;" ng-click="clearSignature()">
	                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
	            </button>
	        </div>
	    </div>
	</div>
	
	<div class="clearfix"></div>
        <!-- ACTION -->
        <div class="col-sm-4 col-xs-6">
            <button class="btn btn-sm btn-block green" ng-click="clickAction({type: mode.type})">
                <i ng-if="mode.type == 'add'" class="fa fa-save"></i>
                <i ng-if="mode.type == 'edit'" class="fa fa-pencil"></i>
                {{mode.text}}
            </button>
        </div>
</div>
</form>