<div class="panel panel-default un-header-top">
	<div class="panel-body">
		<label class="un-label-header-custom un-bgWhite-custom">Script</label>
		<div class="un-background-gray-dv">
			<table class="mdt-table">
				<thead>
					<tr>
						<th>Patient Name</th>
						<th>CAL ID</th>
						<th>Script Num</th>
						<th>Medicare</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" ng-model="script.search.scriptNum" ng-enter="script.onSearch({field: 'scriptNum', value: script.search.scriptNum})" placeholder="Script Num" />
							</div>
						</td>
						<td>
							<div class="form-group">
								<input type="text" class="form-control" ng-model="script.search.Medicare" ng-enter="script.onSearch({field: 'Medicare', value: script.search.Medicare})" placeholder="Medicare" />
							</div>
						</td>
						<td></td>
					</tr>
					<tr ng-repeat="row in script.list" style="cursor:pointer;">
						<td>{{row.First_name}}&nbsp;{{row.Sur_name}}</td>
						<td>{{row.CAL_ID}}</td>
						<td>{{row.scriptNum}}</td>
						<td>{{row.Medicare}}</td>
						<td align="center">
							<a><button class="un_tn_btn un-bgBlack" ng-click="Scripts('edit', row.ID)">Edit</button>
							<!--<i class="fa fa-pencil-square-o" ng-click="script.edit(row.ID)"></i></a>-->
							<!--<a><i class="fa fa-times" ng-click="script.dialog.remove(row.ID)"></i></a>&nbsp;-->
							<a>
								<button  class="un_tn_btn un-bgXam-colBlack"  ng-if="row.isEnable"  ng-click="script.disable(row)">Enable</button>
								<button  class="un_tn_btn un-bgBlack"  ng-if="!row.isEnable"  ng-click="script.disable(row)">Disable</button>
								<!--
								<span ng-if="row.isEnable" ng-click="script.disable(row)">Enable</span>
								<span ng-if="!row.isEnable" ng-click="script.disable(row)">Disable</span>-->
							</a>
							<a target="_blank" href="http://testapp.redimed.com.au:3000/RedimedJavaREST/api/document/script/{{row.ID}}"><button class="un_tn_btn un-bgBlack">Print</button>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div style="text-align: right;">
				<pagination boundary-links="true" total-items="script.count" ng-model="script.search.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="script.search.limit" max-size="script.search.max_size" ng-change="setPage(script.search.page)" >
				</pagination>
			</div>
		</div>
	</div>
</div>
<div>
	<button class="un-btn-red-add" ng-click="Scripts('new')" style="margin-top: 5px; margin-bottom: 5px;">Add</button>
</div>
<script type="text/ng-template" id="notifyToAdd">
	<style>
		.modal-content {
	  	 	border: none;
			background-color: rgba(252, 250, 250, 0);
			box-shadow: none;
		}
	</style>
    <div class="modal-body">
        <script-add success='scriptadd.success'></script-add>
    </div>
 </script>
 <script type="text/ng-template" id="notifyToEdit">
	<style>
		.modal-content {
	  	 	border: none;
			background-color: rgba(252, 250, 250, 0);
			box-shadow: none;
		}
	</style>
    <div class="modal-body">
        <script-edit id='scriptedit.ID' success='scriptedit.success'></script-edit>
    </div>

 </script>
 <!--
<script type="text/ng-template" id="notifyToRemove">
    <div class="modal-body">
        <p>Do you want to remove this site ?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-xs" ng-click="ok()">OK</button>
        <button class="btn btn-warning btn-xs" ng-click="cancel()">Cancel</button>
    </div>
 </script>
-->