<style type="text/css">
.skype {
  background: #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  border-radius: 150px !important;
  border: solid 15px #fff;
  animation: play 1.5s ease infinite;
  -moz-animation: play 1.5s ease infinite;
  -webkit-animation: play 1.5s ease infinite;
  -ms-animation: play 1.5s ease infinite;
  -o-animation: play 1.5s ease infinite;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  box-sizing: content-box !important; 
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  
}
.skype:before {
  content: "";
  width: 233px;
  height: 104px;
  position: absolute;
  top: 13px;
  right: 16px;
  z-index: 99998;
  transform: rotate(45deg);
  transform-origin: bottom;
}

.skype:after {
  background-size: 100% 100%;
  line-height: 205px;
  color: #fff;
  font-size: 150px;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
  border-radius: 150px !important;
  z-index: 99999 !important;
}

.skype .content-img{
  margin: 0 auto;
   position: absolute;
   width: 200px;
    height: 200px;
    box-sizing: content-box !important; 
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box !important;
    
}

.calling-title{
  font-size: 50px;
  font-family: "Arial Rounded MT", "Helvetica Rounded", Arial, sans-serif;
  font-weight: bold;
  color: white;
}




@keyframes play {
  0% {
    transform: scale(1);
  }
  15% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2);
  }
  25% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0.2);
  }
  80% {
    transform: scale(1);
  }
}

@-webkit-keyframes play {
  0% {
    transform: scale(1);
  }
  15% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2);
  }
  25% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0.2);
  }
  80% {
    transform: scale(1);
  }
}

@-moz-keyframes play {
  0% {
    transform: scale(1);
  }
  15% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2);
  }
  25% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0.2);
  }
  80% {
    transform: scale(1);
  }
}

@-ms-keyframes play {
  0% {
    transform: scale(1);
  }
  15% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2);
  }
  25% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0.2);
  }
  80% {
    transform: scale(1);
  }
}

@-o-keyframes play {
  0% {
    transform: scale(1);
  }
  15% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2);
  }
  25% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0.2);
  }
  80% {
    transform: scale(1);
  }
}

#selfVideo {
    height:15%;
    position: absolute;
    top: 0;
    right: 0;
}

#callerVideo
{
    width:58%;
    height:100%;
    /*position: absolute;*/
    left: 0;
    right: 0;
    margin: auto;
}

/*.buttons {
}

.buttons a {
    margin-right: 30px;
    width: 64px;
    height: 64px;
    display: inline-block;
    position: relative;
    line-height: 64px;
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: -moz-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: -ms-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: -o-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: linear-gradient(top, #f6f6f6, #eaeaea);
    -moz-border-radius: 32px !important;
    -webkit-border-radius: 32px !important;
    border-radius: 32px !important;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}

.buttons a:active {
  top: 1px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f6f6f6));
  background-image: -webkit-linear-gradient(top, #eaeaea, #f6f6f6);
  background-image: -moz-linear-gradient(top, #eaeaea, #f6f6f6); 
  background-image: -ms-linear-gradient(top, #eaeaea, #f6f6f6); 
  background-image: -o-linear-gradient(top, #eaeaea, #f6f6f6);
  background-image: linear-gradient(top, #eaeaea, #f6f6f6);
}

.buttons a::before{
  content: '';
  position: absolute;
  z-index: -1;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  background-color: #eaeaea;
  -moz-border-radius: 140px !important;
  -webkit-border-radius: 140px !important;
  border-radius: 140px !important;
  opacity: 0.5;

}

.buttons a:active::before {
  top: -9px;
}
 
.buttons a:hover::before {
  opacity: 1;
}
 
.buttons a.audioBtn:hover::before 
.buttons a.cancelBtn:hover::before
.buttons a.videoBtn:hover::before
.buttons a.moreBtn:hover::before
{
    text-decoration: none;
}
 
.videoBtn i {
    color: rgba(146, 138, 138, 0.69);
    margin-top:24px;
    vertical-align: middle;
}
 
.cancelBtn i {
    color: rgb(255, 74, 82);
    margin-top:24px;
    vertical-align: middle;
}
 
.audioBtn i {
  color: rgba(146, 138, 138, 0.69);
  margin-top:24px;
  vertical-align: middle;
}

.moreBtn i {
  color: #6FDB72;
  margin-top:24px;
  vertical-align: middle;
}*/


</style>

<link rel="stylesheet" type="text/css" href="lib/circle-menu/normalize.css" />
<link rel="stylesheet" type="text/css" href="lib/circle-menu/demo.css" />
<link rel="stylesheet" type="text/css" href="lib/circle-menu/component.css" />

<script src="lib/circle-menu/polyfills.js"></script>
<script src="lib/circle-menu/demo.js"></script>


<div>

    <div ng-show="isCaller && !isAccept">
      <div class="row-fluid" style="margin-top: 30px;">
        <div class="span4 offset4 text-center">
          <div class="calling-title">Calling <span style="color: red;">{{callUserInfo.user_name}}</span>...</div>
        </div>
      </div>

      <div class="row-fluid" style="margin-top: 7%;">
        <div class="span4 offset4 text-center">
          <div class="skype">
            <div class="content-img">
              <img width="100%" height="100%" class="img-circle" ng-src="{{callUserInfo.img}}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="easyrtcMirror" id="selfVideo"></div>
    <div id="screen-preview"></div>

    <div ng-show="!isCaller || isAccept"  id="callerVideo" ></div>

    <!-- <div class="row-fluid" style="position: absolute; bottom:30px; left:10px; right:0;"> -->
        <!-- <div class="span4 offset4 text-center">
          <div class="buttons">
            <a style="z-index: 9999; cursor: pointer;" class="videoBtn" ng-click="muteVideo()" href="javascript:;">
                <i ng-show="isVideoMuted" class="fa fa-eye fa-3x"></i>
                <i ng-show="!isVideoMuted" class="fa fa-eye-slash fa-3x"></i>
            </a>
            <a style="z-index: 9999; cursor: pointer;" class="cancelBtn" ng-click="cancelCall()" href="javascript:;">
                <i class="fa fa-power-off fa-3x"></i>
            </a>
            <a style="z-index: 9999; cursor: pointer;" class="audioBtn" ng-click="muteAudio()" href="javascript:;">
                <i class="fa fa-microphone fa-3x" ng-show="isAudioMuted"></i>
                <i class="fa fa-microphone-slash fa-3x" ng-show="!isAudioMuted"></i>
            </a>
            <a style="z-index: 9999; cursor: pointer;" class="moreBtn" href="javascript:;">
                <i class="fa fa-plus fa-3x"></i>
            </a>
          </div>       
        </div> -->

        <div class="container">
          <div class="component">
            <button class="cn-button" id="cn-button">+</button>
            <div class="cn-wrapper" id="cn-wrapper">
                <ul>
                  <li>
                    <a href="javascript:;" ng-click="shareScreen()" >
                      <span class="fa fa-desktop"></span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;" ng-click="muteVideo()">
                      <span ng-show="isVideoMuted" class="fa fa-eye"></span>
                      <span ng-show="!isVideoMuted" class="fa fa-eye-slash"></span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;" ng-click="cancelCall()"><span class="fa fa-power-off"></span></a>
                  </li>
                  <li>
                    <a href="javascript:;" ng-click="muteAudio()">
                      <span ng-show="isAudioMuted" class="fa fa-microphone"></span>
                      <span ng-show="!isAudioMuted" class="fa fa-microphone-slash"></span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;" ng-click="recordVideo()">
                      <span class="fa fa-video-camera"></span>
                    </a>
                  </li>
                </ul>
            </div>
            <div id="cn-overlay" class="cn-overlay"></div>
          </div>
        </div>
    <!-- </div> -->


</div>







