<form name="mainForm" novalidate>
	<div class="row" style="margin-bottom: 15px;">
	
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<span class="field">
				<label for="allergy_name">Allergy name</label>
	           	<input placeholder="Allergy name" name="allergy_name" ng-model="modelObjectMap.allergy_name" class="form-control" id="allergy_name" float-label required>
		        <!-- ERROR -->
	            <span ng-show="mainForm.allergy_name.$invalid && isSubmit">
	                <span class="mdt-popover above" ng-show="mainForm.allergy_name.$error.required">
	                    Allergy name is required
	                </span>
	            </span>
	            <!-- ERROR -->
			</span>
		</div>
	</div>
	<!-- <div class="break-row"></div>
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-6">
			<span class="field">
				<label for="medicine_price">Medicine price</label>
	           	<input type="number" placeholder="Medicine price" name="medicine_price" ng-model="modelObjectMap.medicine_price" class="form-control" id="medicine_price" float-label>
			</span>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<span class="field">
				<label for="medicine_unit">Medicine unit</label>
	           	<select ng-model="modelObjectMap.medicine_unit" ng-options="unit.label as unit.code for unit in medicine_unit_options" name="medicine_unit" id="medicine_unit" placeholder="Medicine unit">
	           	</select>
			</span>
		</div>
	</div>
	<div class="break-row"></div> -->
	<div class="clearfix"></div>
    <!-- ACTION -->
    <div class="col-sm-4 col-xs-6">
        <button class="btn btn-sm btn-block green" ng-click="clickAction({type: mode.type})">
            <i ng-if="mode.type == 'add'" class="fa fa-save"></i>
            <i ng-if="mode.type == 'edit'" class="fa fa-pencil"></i>
            {{mode.text}}
        </button>
    </div>
</form>