<ion-view title="Profile">
<ion-content class="content-scroll" style="background:#015190">
<div class="transparent-modal-phone" style="width: 100%; height: 100%">
    <div >
        <div class="header-logo">
            <img src="img/main_logo.png" class="img-header">
        </div>
        <div class="background-header-logo-child">
            <span class="span-header">Injury Management</span>
        </div>
        <div class="dv-fn">
            <span class="span-fn">Profile</span>
        </div>
    </div>
    <div class="actionBar">
        <button menu-toggle="left" class="button button-icon icon ion-navicon mn-left"></button>
    </div>
    <div style="margin-top:100px">
        <ion-list>
        <div class="row">
            <div class="col">
                <a ng-click="selectOption()">
                <img ng-src="{{avatarUpload}}" class="avatar_profile" /><br>
                 <a class="button btn-non-emer" ng-click="selectOption()">Choose Images</a>
                </a>
            </div>
            
        </div>
        <label class="item-input label-custom-field">
            <span class="input-label span-input-color span-input-color">User Name</span>
            <input type="text" ng-model="info.username" ng-disabled="true" class="pl"
            placeholder="--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------"
            style="color: #FFFFFF;">
        </label>
        <div class="bd-bottom"></div>
        <label class="item-input label-custom-field">
            <span class="input-label span-input-color">Password</span>
            <div class="col-md-5">
                <button type="submit" class="button-changepass" ui-sref="app.changePass">
                Change Password
                </button>
            </div>
        </label>
        <div class="bd-bottom"></div>
        <label class="item-input label-custom-field">
            <span class="input-label span-input-color">Full Name</span>
            <input type="text" ng-model="detail.Booking_Person"  class="pl" placeholder="--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------" style="color:white"/>
        </label>
        <div class="bd-bottom"></div>
        <label class="item-input label-custom-field">
            <span class="input-label span-input-color">Phone</span>
            <input type="tel" maxlength="11" ng-model="detail.Contact_number" class="pl" placeholder="--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------" style="color:white"/>
        </label>
        <div class="bd-bottom"></div>
        <label class="item-input label-custom-field">
            <span class="input-label span-input-color">Email</span>
            <input type="text" ng-model="detail.Contact_email" class="pl" placeholder="--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------" style="color:white"/>
        </label>

        <label class="item-input label-custom-field" ng-show="userInfo.UserType.user_type == 'Patient'">
            <span class="input-label span-input-color">Patient</span>
            <div class="col-md-5">
                <button type="submit" class="button-changepass" ui-sref="app.detailWorker({patientID:patientID})">
                View Detail Patient
                </button>
            </div>
        </label>
        <div class="bd-bottom"></div>
        </ion-list>
        <div class="row responsive-sm">
            <a ng-click="updateUserProfile()" class="button-saveprofile">
            Save
            </a>
        </div>
    </div>
</div>
</ion-content>
</ion-view>
