
<ion-view hide-nav-bar="true">
    <div class="content content-scroll-custom">
        <div class="waiting-screen" ng-show="isCaller && !isAccept">
            <div style="border: 1px solid rgba(255, 255, 255, .1); border-radius: 50%; width: 400px; height: 400px;" class="waiting-screen" ></div>
            <div style="border: 1px solid rgba(255, 255, 255, .3);; border-radius: 50%; width: 300px; height: 300px;" class="waiting-screen div2" ></div>
            <div style="border: 1px solid rgba(255, 255, 255, .5); border-radius: 50%; width: 200px; height: 200px;" class="waiting-screen div1" ></div>
            <div class="main">
                <img width="145" height="145" ng-src="{{avatarCaller}}" class="avatar-calling"/>
            </div>
        </div>

        <div class="calling-container" ng-show="isCaller && !isAccept">
            <div style="color: whitesmoke; margin-bottom: 50px;">
                <div style="margin-bottom: 15px;">
                    <span style="font-size: 15px; font-weight: 300">Calling...</span>  <br>
                </div>
                <div>
                    <span style="font-size: 30px; text-align: center">{{ contactNameJson.contactName }}</span>
                </div>
            </div>
            <div style="margin-bottom: 10px">
                <div style="margin-bottom: 30px;">
                    <button class="button custom-bottom-control button-icon"
                            ng-class="{'icon ion-eye-disabled': !camera, 'icon ion-eye': camera}" ng-click="videoToogle()">
                    </button>

                    <button class="button custom-bottom-control button-icon"
                            ng-class="{'icon ion-ios7-mic-off': !mic, 'icon ion-ios7-mic': mic}" ng-click="micToogle()">
                    </button>
                </div>
                <div>
                    <button class="button button-cancel_main" ng-click="cancelCall(offMedia = true)">
                        <img class="img-responsive margin-auto" src="img/call-down.png" />
                    </button>
                </div>
            </div>
        </div>

        <div class="calling-container" ng-show="!isCaller || isAccept">
            <div style="color: whitesmoke; color: whitesmoke; position: fixed; top: 0; left: 0; right: 0; margin-top: 20px;">
                <div style="margin-bottom: 15px;">
                    <span style="font-size: 15px; font-weight: 300">Call in progress...</span><br>
                </div>
                <div>
                    <span style="font-size: 30px; text-align: center">{{ contactNameJson.contactName }}</span>
                </div>
            </div>

            <button class="button custom-bottom-control button-icon"
                    ng-class="{'icon ion-eye-disabled': !camera, 'icon ion-eye': camera}" ng-click="videoToogle()">
            </button>

            <button class="button button-cancel_main" ng-click="cancelCall(offMedia = false)">
                <img class="img-responsive margin-auto" src="img/call-down.png" />
            </button>

            <button style="z-index: 9999" class="button custom-bottom-control button-icon"
                    ng-class="{'icon ion-ios7-mic-off': !mic, 'icon ion-ios7-mic': mic}" ng-click="micToogle()">
            </button>

        </div>


        <div id="callerVideo" class="cus-callerVideo" ng-show="!isCaller || isAccept"></div>

        <div class="cus-selfVideo">
            <div id="selfVideo"></div>
        </div>
    </div>
</ion-view>