<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-anchor font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">SysForms2</span>

        </div>

        <div>
            <div class="btn-group pull-right">
                <a href="javascript:;" ng-click="backToList()" class="btn green" id="addBtn">
                    Go Back <i class="fa"></i>
                </a>
            </div>
            <div class="btn-group pull-right">
                <a href="javascript:;" ng-click="save()" class="btn green" id="saveBtn">
                    Save <i class="fa"></i>
                </a>
            </div>
        </div>

        <script type="text/javascript">
            $('#modal-content').on('shown.bs.modal', function () {
                $("#txtDescription").focus();
            });

            // everytime the button is pushed, open the modal, and trigger the shown.bs.modal event
            $('#addBtn').click(function () {
                $('#modal-content').modal({
                    show: true
                });
            });
        </script>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-2" style="margin-top:5px;" >
                <label class="pull-right">Form</label>
            </div>
            <div class="col-md-6">
                <input  type = 'text'  class="form-control" ng-model="info.FORM_ID" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="margin-top:5px;" >
                <label class="pull-right">Master table name</label>
            </div>
            <div class="col-md-6">
                <input  type = 'text'  class="form-control" ng-model="info.MASTER_TABLE_NAME" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="margin-top:5px;" >
                <label class="pull-right">Master seq</label>
            </div>
            <div class="col-md-6">
                <input  type = 'text'  class="form-control" ng-model="info.MASTER_SEQ" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="margin-top:5px;" >
                <label class="pull-right">Detail table name</label>
            </div>
            <div class="col-md-6">
                <input  type = 'text'  class="form-control" ng-model="info.DETAIL_TABLE_NAME" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="margin-top:5px;" >
                <label class="pull-right">Detail seq</label>
            </div>
            <div class="col-md-6">
                <input  type = 'text'  class="form-control" ng-model="info.DETAIL_SEQ" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="margin-top:5px;" >
                <label class="pull-right">Form description</label>
            </div>
            <div class="col-md-6">
                <input  type = 'text'  class="form-control" ng-model="info.FORM_DESCRIPTION" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="margin-top:5px;" >
                <label class="pull-right">Form type</label>
            </div>
            <div class="col-md-6">
                <input  type = 'text'  class="form-control" ng-model="info.FORM_TYPE" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="margin-top:5px;" >
                <label class="pull-right">List form type</label>
            </div>
            <div class="col-md-6">
                <input  type = 'text'  class="form-control" ng-model="info.LIST_FORM_TYPE" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="margin-top:5px;" >
                <label class="pull-right">New edit form type</label>
            </div>
            <div class="col-md-6">
                <input  type = 'text'  class="form-control" ng-model="info.NEW_EDIT_FORM_TYPE" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="margin-top:5px;" >
                <label class="pull-right">Form properties</label>
            </div>
            <div class="col-md-6">
                <input  type = 'text'  class="form-control" ng-model="info.FORM_PROPERTIES" />
            </div>
        </div>
            <br>
            <table ng-table="tableParams"  class="table table-striped table-hover table-bordered ng-table-responsive">
                <tr ng-repeat="f in $data | orderBy:'FORM_DETAIL_ID'"  ng-click='editDetailForm(f)' >
                    <td data-title="'Form detail'"  >
                        <span ng-if='!f.$edit'>{{f.FORM_DETAIL_ID}}</span>
                        <div ng-if='f.$edit'><input class='form-control'  type = 'text'  ng-model='f.FORM_DETAIL_ID' /></div>
                    </td>
                    <td data-title="'Table name'"  >
                        <span ng-if='!f.$edit'>{{f.TABLE_NAME}}</span>
                        <div ng-if='f.$edit'><input class='form-control'  type = 'text'  ng-model='f.TABLE_NAME' /></div>
                    </td>
                    <td data-title="'Form'"  >
                        <span ng-if='!f.$edit'>{{f.FORM_ID}}</span>
                        <div ng-if='f.$edit'><input class='form-control'  type = 'text'  ng-model='f.FORM_ID' /></div>
                    </td>
                    <td data-title="'Ordinal position'"  >
                        <span ng-if='!f.$edit'>{{f.ORDINAL_POSITION}}</span>
                        <div ng-if='f.$edit'><input class='form-control'  type = 'text'  ng-model='f.ORDINAL_POSITION' /></div>
                    </td>
                    <td data-title="'Column name'"  >
                        <span ng-if='!f.$edit'>{{f.COLUMN_NAME}}</span>
                        <div ng-if='f.$edit'><input class='form-control'  type = 'text'  ng-model='f.COLUMN_NAME' /></div>
                    </td>
                    <td data-title="'Is nullable'"  >
                        <span ng-if='!f.$edit'>{{f.IS_NULLABLE}}</span>
                        <div ng-if='f.$edit'><input class='form-control'  type = 'text'  ng-model='f.IS_NULLABLE' /></div>
                    </td>
                    <td data-title="'Data type'"  >
                        <span ng-if='!f.$edit'>{{f.DATA_TYPE}}</span>
                        <div ng-if='f.$edit'><input class='form-control'  type = 'text'  ng-model='f.DATA_TYPE' /></div>
                    </td>
                    <td data-title="'Character maximum length'"  >
                        <span ng-if='!f.$edit'>{{f.CHARACTER_MAXIMUM_LENGTH}}</span>
                        <div ng-if='f.$edit'><input class='form-control'  type = 'text'  ng-model='f.CHARACTER_MAXIMUM_LENGTH' /></div>
                    </td>
                    <td data-title="'Column key'"  >
                        <span ng-if='!f.$edit'>{{f.COLUMN_KEY}}</span>
                        <div ng-if='f.$edit'><input class='form-control'  type = 'text'  ng-model='f.COLUMN_KEY' /></div>
                    </td>
                    <td data-title="'Display name'"  >
                        <span ng-if='!f.$edit'>{{f.DISPLAY_NAME}}</span>
                        <div ng-if='f.$edit'><input class='form-control'  type = 'text'  ng-model='f.DISPLAY_NAME' /></div>
                    </td>
                    <td data-title="'Isdisplay on list'"  >
                        <span ng-if='!f.$edit'>{{f.ISDISPLAY_ON_LIST}}</span>
                        <div ng-if='f.$edit'><input class='form-control'  type = 'text'  ng-model='f.ISDISPLAY_ON_LIST' /></div>
                    </td>
                    <td data-title="'Isdisplay on form'"  >
                        <span ng-if='!f.$edit'>{{f.ISDISPLAY_ON_FORM}}</span>
                        <div ng-if='f.$edit'><input class='form-control'  type = 'text'  ng-model='f.ISDISPLAY_ON_FORM' /></div>
                    </td>
                    <td data-title="'Isnew'"  >
                        <span ng-if='!f.$edit'>{{f.ISNEW}}</span>
                        <div ng-if='f.$edit'><input class='form-control'  type = 'text'  ng-model='f.ISNEW' /></div>
                    </td>
                    <td data-title="'Isupdate'"  >
                        <span ng-if='!f.$edit'>{{f.ISUPDATE}}</span>
                        <div ng-if='f.$edit'><input class='form-control'  type = 'text'  ng-model='f.ISUPDATE' /></div>
                    </td>
                    <td data-title="'Isrequire'"  >
                        <span ng-if='!f.$edit'>{{f.ISREQUIRE}}</span>
                        <div ng-if='f.$edit'><input class='form-control'  type = 'text'  ng-model='f.ISREQUIRE' /></div>
                    </td>
                    <td data-title="'Input type'"  >
                        <span ng-if='!f.$edit'>{{f.INPUT_TYPE}}</span>
                        <div ng-if='f.$edit'><input class='form-control'  type = 'text'  ng-model='f.INPUT_TYPE' /></div>
                    </td>
                    <td data-title="'Islist link'"  >
                        <span ng-if='!f.$edit'>{{f.ISLIST_LINK}}</span>
                        <div ng-if='f.$edit'><input class='form-control'  type = 'text'  ng-model='f.ISLIST_LINK' /></div>
                    </td>
                    <td data-title="'Lov sql'"  >
                        <span ng-if='!f.$edit'>{{f.LOV_SQL}}</span>
                        <div ng-if='f.$edit'><input class='form-control'  type = 'text'  ng-model='f.LOV_SQL' /></div>
                    </td>
                    <td data-title="'Attribute properties'"  >
                        <span ng-if='!f.$edit'>{{f.ATTRIBUTE_PROPERTIES}}</span>
                        <div ng-if='f.$edit'><input class='form-control'  type = 'text'  ng-model='f.ATTRIBUTE_PROPERTIES' /></div>
                    </td>
                </tr>
            </table>
            <br/>
    </div>
</div>
</div>
