<div class="btn btn-default btn-xs" ng-click="timetable.dialog.addDay()">Add Day</div>
<br><br>
<!-- TABLE DIV -->
<div class="table-div">
    <div class="header">Day Of Week</div>
    <div class="header">Service</div>
    <div class="header">From Date</div>
    <div class="header">To Date</div>
    <div class="header">From Time</div>
    <div class="header">To Time</div>
    <div class="header">Action</div>
    <span ng-repeat="row in timetable.list">
        <div class="table-div-row" id="timetable_{{row.cal_header_df_id}}">
            <div class="content"><span ng-show="displayInRow[row.day_of_week_value].value==row.cal_header_df_id">{{row.day_of_Week}}</span></div>
            <div class="content"><span ng-show="displayInRow[row.day_of_week_value].services[row.service_id]==row.cal_header_df_id">{{row.SERVICE_NAME}}</span></div>

            <div class="content">{{row.from_date | filterdate: 'DD/MM/YYYY'}}</div>
            <div class="content">{{row.to_date | filterdate: 'DD/MM/YYYY'}}</div>
            <div class="content">{{row.from_time}}</div>
            <div class="content">{{row.to_time}}</div>
            <div class="content">
                <a ng-click="timetable.dialog.editTimetable(row)">
                    <i class="fa fa-pencil"></i>
                </a>
                &nbsp
                <a ng-click="timetable.dialog.removeDay(row)">
                    <i class="fa fa-remove"></i>
                </a>
                &nbsp
                <a ng-click="timetable.dialog.openTimetable(row)">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
     
            
        </div>
        <div class="table-div-row">
            <div class="content"><!-- null --></div>
            <div class="content"><!-- null --></div>

            <span >
                <div class="content">
                    <a ng-click="site.dialog.addSite(row)">
                        Add Site
                    </a>
                </div>
                <div class="content"><b>Week</b></div>
                <div class="content"><b>Site</b></div>
                <div class="content"><b>Action</b></div>
                <div class="content"><b><!-- null --></b></div>
                
            </span>
            
        </div>
        <div class="table-div-row timetable_define_sites">
            
            <span ng-if="row.site.length === 0">
                <div class="content"><!-- null --></div>
                <div class="content"><!-- null --></div>
                <span>
                    <div class="content"><!-- null --></div>
                    <div class="content ">There is no site</div>
                    <div class="content "><!-- null --></div>
                    <div class="content "><!-- null --></div>
                    <div class="content "><!-- null --></div>
                </span>
                
            </span>
            <span>
                <span ng-repeat="s in row.site">
                    <div class="content"><!-- null --></div>
                    <div class="content"><!-- null --></div>
                    <span>
                        <div class="content"><!-- null --></div>
                        <div class="content ">{{s.week_ord_of_month}}</div>
                        <div class="content ">{{s.Site_name}}</div>
                        <div class="content ">
                            <a ng-click="site.dialog.removeSite(s.id)">
                                <i class="fa fa-remove"></i>
                            </a>
                        </div>
                        <div class="content " ><!-- null --></div>

                    </span>
                    
                </span>
                
            </span>
        </div>

        <div class="table-div-row">
            <div class="content"><!-- null --></div>
            <div class="content"><!-- null --></div>
            <span class="timetable_define_group">
                <div class="content"><!-- null --></div>
                <div class="content"><!-- null --></div>
                <div class="content"><!-- null --></div>
                <div class="content"><!-- null --></div>
                <div class="content"><!-- null --></div>
            </span>
        </div>
        

        
    </span>
</div>

<!-- END TABLE DIV -->

 <script type="text/ng-template" id="notifyToSaveTimetable">
    <div class="modal-body">
        <div ng-show="bookedList.length>0">
            <p>
                List appointment calendar have been booked:
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>CAL ID</th>
                        <th>APPOINTMENT TIME</th>
                        <th>SERVICE</th>
                        <th>PATIENT NAME</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="booked in bookedList">
                        <td>{{booked.CAL_ID}}</td>
                        <td>{{booked.FROM_TIME|date:'HH:mm dd-MM-yyyy'}}</td>
                        <td>{{booked.SERVICE_NAME}}</td>
                        <td>{{booked.PATIENT_FULL_NAME}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p ng-hide="bookedList.length>0">Do you want to generate timetable ?</p>
        <p ng-show="bookedList.length>0">Do you want to delete all booked appointments and generate new timetable?</p>
        

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-xs" ng-click="ok()">OK</button>
        <button class="btn btn-warning btn-xs" ng-click="cancel()">Cancel</button>
    </div>
 </script>

<script type="text/ng-template" id="notifyToRemoveSite">
    <div class="modal-body">
        <p>Do you want to remove this site ?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-xs" ng-click="ok()">OK</button>
        <button class="btn btn-warning btn-xs" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="notifyToRemoveDay">
    <div class="modal-body">
        <p>Do you want to remove this day of week ?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-xs" ng-click="ok()">OK</button>
        <button class="btn btn-warning btn-xs" ng-click="cancel()">Cancel</button>
    </div>
</script>