<style type="text/css">
	.login .content {
		width: 400px;
		padding: 35px;
	}
	.btn-register{
		background: rgba(36, 55, 77, 0.9);
  		color: white;
	}
	.btn-register:hover{
		background: rgba(36, 55, 77, 1);
  		color: white;
	}
</style>
<div class="content" style="font-size: 14px !important;  font-family: calibri !important;">
	<form class="login-form" novalidate name="loginForm" ng-submit="login()">
		<h3 class="form-title">Login to your account</h3>
		
		<div class="form-group" ng-class="{'has-error':showClickedValidation && loginForm.username.$invalid}">
			<!-- USERNAME -->
			<div class="input-icon">
				<i class="fa fa-user"></i>
				<input type="text" name="username" ng-model="modelUser.username" required
					placeholder="Username" autocomplete="off" class="form-control">
				<div class="error">

				</div>
			</div>
			<!-- ERROR -->
			<span ng-show="showClickedValidation && loginForm.username.$invalid">
				<span for="username" class="help-block">Username is required.</span>
			</span>
			<!-- ERROR -->
			<!-- END USERNAME -->
		</div>

		<div class="form-group">
			<!-- PASSWORD -->
			<div class="form-group" ng-class="{'has-error':showClickedValidation && loginForm.password.$invalid}">
				<div class="input-icon">
					<i class="fa fa-lock"></i>
					<input type="password" name="password" ng-model="modelUser.password" required
						placeholder="Password" autocomplete="off" class="form-control">
				</div>
				<!-- ERROR -->
				<span ng-show="showClickedValidation && loginForm.password.$invalid">
					<span for="password" class="help-block">Password is required.</span>
				</span>
				<!-- ERROR -->
			</div>
			<!-- END PASSWORD -->
		</div>







		<div class="form-actions">
			<label class="checkbox">
				<input type="checkbox" checkbox ng-model="modelUser.isRemember" 
					name="remember">
				Remember Me
			</label>
			<button style="width: 92px;" ng-class="{disabled : isLogging}"  class="btn green pull-right" type="submit">
				Login <i class="m-icon-swapright m-icon-white"></i>
			</button>
			<br/>
			<br/>
			<label style="position: relative;top: 8px;">Register for a Medico-Legal Account</label>
			<a ng-class="{disabled : isLogging}" ui-sref="security.rlobRegister" class="btn btn-register pull-right">
				Register <i class="fa fa-pencil-square-o"></i>
			</a>
			<!-- <a ui-sref="security.rlobRegister">Sign up Medico-Legal</a> -->
		</div>

	</form>

		<!-- <div>
			<h4>
				<label class="checkbox">
					<input type="checkbox" checkbox ng-model="modelUser.isAgree" 
						name="checkAgree"><label>I Agree To The</label>
					 <a ui-sref="security.term">Terms And Conditions</a>
				</label>
			</h4>
		</div> -->

		<div class="forget-password">
			<label>Forgot your password ? <a ui-sref="security.forgot">Click here</a></label>
		</div>

</div>
