<span class="login">
	<!-- LOGO -->
	<div class="logo">
		<a ui-sref="login">
			<img src="theme/assets/logo.png">
		</a>
	</div>
	<!-- END LOGO -->

	<!-- CONTENT -->
	<div ui-view="main-content"></div>
	<!-- END CONTENT -->

	<!-- COPYRIGHT -->
	<div class="copyright">
	 	2014 &copy; REDIMED Dashboard
	</div>
	<!-- END COPYRIGHT -->
</span>

<script type="text/javascript">
    document.body.className = "loginClass page-header-fixed page-container-bg-solid page-sidebar-closed-hide-logo page-header-fixed-mobile page-footer-fixed1";
</script>

