<h3 class="page-title">
    Workcover WA - FIRST certificate of capacity</h3>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">waworkcover</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div id="dashboard-report-range" class="tooltips btn btn-fit-height btn-sm green-haze btn-dashboard-daterange" data-container="body" data-placement="left" data-original-title="Change dashboard date range">
            <i class="icon-calendar"></i>
            &nbsp;&nbsp; <i class="fa fa-angle-down"></i>
            <!-- uncomment this to display selected daterange in the button
&nbsp; <span class="thin uppercase visible-lg-inline-block"></span>&nbsp;
<i class="fa fa-angle-down"></i>
-->
        </div>
    </div>
</div>

<div>
<form novalidate="" name="wafirstform" >
<accordion close-others="oneAtATime">
<accordion-group heading="WORKER'S DETAILS" is-open="isFirstOpen">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <label class="col-sm-3 col-md-3">First name</label>
            <div class="col-sm-9 col-md-9"><input class="form-control" readonly="readonly" ng-model="patientInfo.First_name"/></div>
        </div>
        <div class="col-md-6 col-sm-6">
            <label class="col-sm-3 col-md-3">Last name</label>
            <div class="col-sm-9 col-md-9"><input class="form-control" readonly="readonly" ng-model="patientInfo.Sur_name"/></div>
        </div>
    </div>
    <div class="break-row"></div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <!--<div signature ng-model="signature" style="display: none;"></div>-->
            <label class="col-sm-3 col-md-3">Date of birth</label>
            <div class="col-sm-9 col-md-9"><input class="form-control"  placeholder="dd/mm/yyyy" readonly="readonly" ng-model="patientInfo.DOB"/></div>
        </div>
        <div class="col-md-6 col-sm-6">
            <label class="col-sm-3 col-md-3">Email</label>
            <div class="col-sm-9 col-md-9"><input class="form-control" readonly="readonly" ng-model="patientInfo.Email"/></div>
        </div>
    </div>
    <div class="break-row"></div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <label class="col-sm-3 col-md-3">Phone</label>
            <div class="col-sm-9 col-md-9"><input class="form-control" readonly="readonly" ng-model="patientInfo.Home_phone"/></div>
        </div>
        <div class="col-md-6 col-sm-6">
            <label class="col-sm-3 col-md-3">Mobile</label>
            <div class="col-sm-9 col-md-9"><input class="form-control" readonly="readonly" ng-model="patientInfo.Mobile"/></div>
        </div>
    </div>
    <div class="break-row"></div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <label class="col-sm-3 col-md-3">Address</label>
            <div class="col-sm-9 col-md-9"><input class="form-control" readonly="readonly" ng-model="patientInfo.Address1"/></div>
        </div>
    </div>

</accordion-group>



<accordion-group heading="EMPLOYMENT DETAILS">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <label class="col-sm-4 col-md-4">Worker's job title</label>
            <div class="col-sm-7 col-md-7"><input class="form-control" readonly="readonly" ng-model="companyInfo.Industry"/></div>
        </div>
        <div class="col-md-6 col-sm-6">
            <label class="col-sm-4 col-md-4">Employer's name</label>
            <div class="col-sm-7 col-md-7"><input class="form-control" readonly="readonly" 
                ng-model="companyInfo.Company_name"/></div>
        </div>
    </div>
    <div class="break-row"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <label class="col-sm-2 col-md-2">Employer's address</label>
            <div class="col-sm-10 col-md-10"><input class="form-control" readonly="readonly" 
                ng-model="companyInfo.Addr"/></div>
        </div>

    </div>
    <div class="break-row"></div>

</accordion-group>
<accordion-group heading="CONSENT AUTHORITY">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            I consent to any medical practitioner who treats me (whether named on this certificate or not) to diccus my medical condition
            with my employee, insurer and other medical of allied health professionals for the purpose of my claim for worker's compensation and return to work options.
        </div>
    </div>
    <div class="break-row"></div>
    <div class="row">
        <div class="col-md-6 col-sm-6" ng-class="{'has-error':isSubmitted && wafirstform.divSig.$invalid}">
            <label class="col-md-3 col-sm-3 control-label">Worker's signature</label>
            <div class="col-md-9 col-sm-9">
                <canvas width="400" height="300" id="canvas" style="background-color: grey;" 
                    signature ng-model="wafirst.signature">
                </canvas>
                <div class="break-row"></div>
                <button class="btn btn-sm green" ng-click="clearSignature()">Clear</button>
            </div>
        </div>
        <div class="col-md-6 col-sm-6" >
            <div class="row" >
                <div class="col-md-12 col-sm-12" ng-class="{'has-error':isSubmitted && wafirstform.AssessmentName.$invalid}">
                    <label class="col-md-3 col-sm-3 control-label">Print name</label>
                    <div class="col-md-8 col-sm-8">
                        <input class="form-control" ng-value="" name="AssessmentName" ng-model="wafirst.AssessmentName" ng-required="true"/>
                        <div class="error" ng-show="isSubmitted && wafirstform.AssessmentName.$invalid">
                            <label class="control-label">Print name is required!</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="break-row"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label class="col-md-3 col-sm-3">Date</label>
                    <div class="col-md-8 col-sm-8">
                        <input ui-date="{dateFormat: 'dd/mm/yy'}" ng-model="wafirst.examDate" 
                            class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
</accordion-group>
<accordion-group heading="WORKER'S DESCRIPTION OF INJURY">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <label class="col-sm-2 col-md-2">Date of injury</label>
            <div class="col-sm-10 col-md-10">
                <input ui-date="{dateFormat: 'dd/mm/yy'}" ng-model="testnosolution" 
                            class="form-control">
            </div>
        </div>
    </div>
    <div class="break-row"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <label class="col-sm-2 col-md-2">What happened?</label>
            <div class="col-sm-10 col-md-10"><input class="form-control"/></div>
        </div>
    </div>
    <div class="break-row"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <label class="col-sm-2 col-md-2">Worker's symtoms</label>
            <div class="col-sm-10 col-md-10"><input class="form-control"/></div>
        </div>
    </div>
    <div class="break-row"></div>
</accordion-group>
<accordion-group heading="MEDICAL ASSESSMENT">
    <div class="row">
        <div class="col-md-12 col-sm-12" ng-class="{'has-error': isSubmitted && wafirstform.assessmentDate.$invalid}">
            <label class="col-sm-3 col-md-3 control-label" >Date of this assessment</label>
            <div class="col-sm-9 col-md-9">
                <input ui-date="{dateFormat: 'dd/mm/yy'}" ng-model="wafirst.examDate" 
                            ng-required="true"
                            name="assessmentDate"
                            readonly="readonly"
                            class="form-control">
                <div class="error" ng-show="isSubmitted && wafirstform.assessmentDate.$invalid"><label class="control-label">Date of assessment is required.</label></div>
            </div>
        </div>
        <div class="break-row"></div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12" ng-class="{'has-error': isSubmitted && wafirstform.clinicFind.$invalid}">
            <label class="col-sm-2 col-md-2 control-label">Clinical findings</label>
            <div class="col-sm-10 col-md-10"><textarea name="clinicFind" ng-required="true" rows="2" class="text-area-custom-style form-control" ng-model="wafirst.clinicFind"></textarea>
                <div class="error" ng-show="isSubmitted && wafirstform.clinicFind.$invalid"><label class="control-label">Clinical findings is required.</label></div>
            </div>
        </div>
        <div class="break-row"></div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12" ng-class="{'has-error': isSubmitted && wafirstform.dianogsis.$invalid}">
            <label class="col-sm-2 col-md-2 control-label" >Diagnosis</label>
            <div class="col-sm-10 col-md-10"><input class="form-control" name="dianogsis" ng-model="wafirst.diagnosis" ng-required="true"/>
                <div class="error" ng-show="isSubmitted && wafirstform.dianogsis.$invalid"><label class="control-label">Diagnosis is required.</label></div>
            </div>
        </div>
        <div class="break-row"></div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12" ng-class="{'has-error': isSubmitted && wafirstform.isConsistent.$invalid}">
            <label class="col-sm-6 col-md-6 control-label">The injury is consistent with worker description of how injury occurred</label>
            <div class="col-md-6 col-sm-6">
                <div class="radio-list" >
                <input type="radio" name="isConsistent" ng-required="true" value="1" ng-model="wafirst.isConsistent"/> yes
                <input type="radio" name="isConsistent" ng-required="true" value="0" ng-model="wafirst.isConsistent"/> no
                <input type="radio" name="isConsistent" ng-required="true" value="-1" ng-model="wafirst.isConsistent"/> uncertain
                </div>
                <div class="error" ng-show="isSubmitted && wafirstform.isConsistent.$invalid">
                    <label class="control-label">This section is required.</label>
                </div>
            </div>

        </div>
        <div class="break-row"></div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12" ng-class="{'has-error': isSubmitted && wafirstform.isCondition.$invalid}">
            <label class="col-sm-3 col-md-3 control-label" >The injury is</label>
            <div class="col-md-9 col-sm-9 radio-list">
                <div class="radio-list">
                <input type="radio" value="0" name="isCondition" ng-required="true" ng-model="wafirst.isCondition"/> a new condition
                <input type="radio" value="1" name="isCondition" ng-required="true" ng-model="wafirst.isCondition"/> a recurrence of a pre-existing condition
                </div>
                <div class="error" ng-show="isSubmitted && wafirstform.isCondition.$invalid">
                    <label class="control-label">This section is required.</label>
                </div>
            </div>
        </div>
        <div class="break-row"></div>
    </div>
</accordion-group>
<accordion-group heading="WORK CAPACITY">
    <div class="row">
        <div class="col-md-12 col-sm-12" ng-class="{'has-error': isSubmitted && wafirstform.usualDuties.$invalid}">
            <label class="col-sm-3 col-md-3 control-label">Worker's usual duties</label>
            <div class="col-sm-9 col-md-9"><input class="form-control" name="usualDuties" ng-model="wafirst.usualDuties" ng-required="true"/>
                <div class="error" ng-show="isSubmitted && wafirstform.usualDuties.$invalid">
                    <label class="control-label">Worker's usual duties is required.</label>
                </div>
            </div>
        </div>
    </div>
    <div class="break-row"></div>
    <!--START HERE-->
    <div name="workCapacity" ng-class="{'has-error': isSubmitted && (wafirstform.isFullCapacity.$invalid || wafirstform.isNoCapacity.$invalid || wafirstform.isSomeCapacity.$invalid)}">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <label class="col-sm-12 col-md-12 control-label">Having considered the health benefits of work, I find this worker to have:</label>
        </div>
        <div class="col-md-12 col-sm-12 error" ng-show="isSubmitted && (wafirstform.isFullCapacity.$invalid || wafirstform.isNoCapacity.$invalid || wafirstform.isSomeCapacity.$invalid)">
                <label class="col-md-12 col-sm-12 control-label">This section must be valid. Please choose at least one choice and correct all the red field.</label>
        </div>
    </div>
    <div class="break-row"></div>
    <div class="row" >
        <div class="col-md-12 col-sm-12">
            <label class="col-sm-3 col-md-3 control-label"><input name="isFullCapacity" type="checkbox" ng-true-value="1" ng-false-value="0" ng-checked="wafirst.isFullCapacity == 1" ng-model="wafirst.isFullCapacity"/> <b>full capacity for work</b> </label>
            <div class="col-sm-5 col-md-5" ng-class="{'has-error':isSubmitted && wafirstform.fullCapaFrom.$invalid}">
                <label class="col-md-2 col-sm-2 control-label">from:</label>
                <div class="col-md-10 col-sm-10">
                    <input ui-date="{dateFormat: 'dd/mm/yy'}" ng-model="wafirst.fullCapaFrom" 
                            ng-required="wafirst.isFullCapacity == 1" readonly="readonly" name="fullCapaFrom"
                            class="form-control">
                     <div class="error" ng-show="isSubmitted && wafirstform.fullCapaFrom.$invalid">
                    <label class="control-label">required</label>
                </div>
                </div>


            </div>
            <div class="col-md-4 col-sm-4">
                <div class="col-md-1 col-sm-1"><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="wafirst.isRequireTreat" ng-checked="wafirst.isRequireTreat == 1"/></div>
                <label class="col-md-10 col-sm-10 control-label" >but requires further treatment</label>
            </div>
        </div>
    </div>
    <div class="break-row"></div>
    <div class="row" >
        <div class="col-md-12 col-sm-12">
            <label class="col-md-3 col-sm-3 control-label"><input name="isSomeCapacity" type="checkbox" ng-true-value="1" ng-false-value="0" ng-checked="wafirst.isSomeCapacity == 1" ng-model="wafirst.isSomeCapacity"/><b> some capacity for work </b> </label>
            <div class="col-md-6 col-sm-6" ng-class="{'has-error':isSubmitted && (wafirstform.someCapaFrom.$invalid || wafirstform.someCapaTo.$invalid)}">
                <label class="control-label col-md-1 col-sm-1 contriol-label">from:</label>
                <div class="col-md-4 col-sm-4">
                    <input ui-date="{dateFormat: 'dd/mm/yy'}" ng-model="wafirst.someCapaFrom" 
                            ng-required="wafirst.isSomeCapacity == 1" readonly="readonly" name="someCapaFrom"
                            class="form-control">
                    <div class="error" ng-show="isSubmitted && wafirstform.someCapaFrom.$invalid">
                        <label class="control-label">required</label>
                    </div>
                </div>
                <label class="control-label col-md-1 col-sm-1 control-label">to:</label>
                <div class="col-md-4 col-sm-4">
                    <input ui-date="{dateFormat: 'dd/mm/yy'}" ng-model="wafirst.someCapaTo" 
                            ng-required="wafirst.isSomeCapacity == 1" readonly="readonly" name="someCapaTo"
                            class="form-control">
                    <div class="error" ng-show="isSubmitted && wafirstform.someCapaTo.$invalid">
                        <label class="control-label">required</label>
                    </div>
                </div>
            </div>
            <label class="col-md-3 col-sm-3 control-label">performing:</label>

        </div>
    </div>
    <div class="break-row"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="col-md-1 col-sm-1">

            </div>
            <div class="col-md-11 col-sm-11">
                <label class="col-md-4 col-sm-4 control-label"><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="wafirst.isPreDuties" ng-checked="wafirst.isPreDuties == 1">pre-injury duties</label>
                <label class="col-md-4 col-sm-4 control-label"><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="wafirst.isModiDuties" ng-checked="wafirst.isModiDuties == 1">modified of alternative duties</label>
                <label class="col-md-4 col-sm-4 control-label"><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="wafirst.isWorkModifi" ng-checked="wafirst.isWorkModifi == 1">workplace modifications</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="col-md-1 col-sm-1">

            </div>
            <div class="col-md-11 col-sm-11">
                <label class="col-md-4 col-sm-4 control-label"><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="wafirst.isPreHours" ng-checked="wafirst.isPreHours==1">pre-injury hours</label>
                <div class="col-md-8 col-sm-8 control-label" ng-class="{'has-error':isSubmitted && (wafirstform.modiHrs.$invalid || wafirstform.modiDays.$invalid)}"><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="wafirst.isModiHours" ng-checked="wafirst.isModiHours == 1"> <label class="control-label">modified hours of</label>
                    <input type="number" min="0" max="24" class="input-small form-control inline" ng-required="wafirst.isModiHours==1" name="modiHrs" ng-model="wafirst.modiHrs"/> <label class="control-label">hrs/day</label> <input type="number" min="0" max="7" class="input-small form-control inline" ng-required="wafirst.isModiHours==1" name="modiDays" ng-model="wafirst.modiDays"/> <label class="control-label">days/wk</label>
                    <div class="error" ng-show="isSubmitted && (wafirstform.modiHrs.$invalid || wafirstform.modiDays.$invalid)">
                        <label class="control-label">Additional informations required and only allow numbers (max 24 hrs and 7 days).</label>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="break-row"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <label class="col-md-3 col-sm-3 control-label"><input name="isNoCapacity" type="checkbox" ng-true-value="1" ng-false-value="0" ng-checked="wafirst.isNoCapacity == 1" ng-model="wafirst.isNoCapacity"/><b> no capacity for any work </b> </label>
            <div class="col-md-6 col-sm-6" ng-class="{'has-error': isSubmitted && (wafirstform.noCapaFrom.$invald || wafirstform.noCapaTo.$invalid)}">
                <label class="control-label col-md-1 col-sm-1 control-label">from:</label>
                <div class="col-md-4 col-sm-4">
                    <input type="text" name="noCapaFrom" ng-required="wafirst.isNoCapacity == 1" class="form-control"  readonly="readonly" ui-date="{dateFormat: 'dd/mm/yy'}" ng-model="wafirst.noCapaFrom"/>
                    <div class="error" ng-show="isSubmitted && wafirstform.noCapaFrom.$invalid">
                        <label class="control-label">required</label>
                    </div>
                </div>
                <label class="control-label col-md-1 col-sm-1 control-label">to:</label>
                <div class="col-md-4 col-sm-4">
                    <input type="text" name="noCapaTo" ng-required="wafirst.isNoCapacity == 1" class="form-control" 
                        readonly="readonly" ui-date="{dateFormat: 'dd/mm/yy'}"  ng-model="wafirst.noCapaTo"/>
                    <div class="error" ng-show="isSubmitted && wafirstform.noCapaTo.$invalid">
                        <label class="control-label">required</label>
                    </div>
                </div>
            </div>
            <label class="col-md-3 col-sm-3"><i>(outline clinical reason below)</i></label>

        </div>
    </div>
</div>
    <!--END HERE-->
    <div class="break-row"></div>
    <div class="row">
        <label class="col-md-12 col-sm-12 control-label"><b>Worker has capacity to:</b></label>
        <label class="col-md-12 col-sm-12 control-label"><i>(Please outline the worker's physical and/or psychosocial capacity - refer to explanatory notes for example. Where there is no capacity for work, please provide clinical reasoning)</i></label>
    </div>
    <div class="break-row"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="col-md-5 col-sm-5">
                <div class="row">
                    <div class="col-md-12 col-sm-12" ng-class="{'has-error': isSubmitted && wafirstform.liftUpKg.$invalid}">
                        <label class="control-label col-md-4 col-sm-4"><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="wafirst.isLiftUp" ng-checked="wafirst.isLiftUp==1"> lift up to</label>
                        <div class="col-md-8 col-sm-8">
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" ng-required="wafirst.isLiftUp == 1" name="liftUpKg" type="number" ng-model="wafirst.liftUpKg" min="0" max="999"/>
                            </div>
                            <label class="col-md-6 col-sm-6 control-label">kg</label>
                            <div class="error" ng-show="isSubmitted && wafirstform.liftUpKg.$invalid">
                                <label class="control-label">required and allow only numbers from 0-999</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="break-row"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12" ng-class="{'has-error': isSubmitted && wafirstform.siUpMins.$invalid}">
                        <label class="control-label col-md-4 col-sm-4"><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="wafirst.isSitUp" ng-checked="wafirst.isSitUp==1"> sit up to</label>
                        <div class="col-md-8 col-sm-8">
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="number" min="0" max="999" ng-required="wafirst.isSitUp==1" name="siUpMins" ng-model="wafirst.sitUpMins"/>
                            </div>
                            <label class="col-md-6 col-sm-6 control-label">mins</label>
                            <div class="error" ng-show="isSubmitted && wafirstform.siUpMins.$invalid">
                                <label class="control-label">required and allow only numbers from 0-999</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="break-row"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12" ng-class="{'has-error': isSubmitted && wafirstform.standUpMins.$invalid}">
                        <label class="control-label col-md-4 col-sm-4"><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="wafirst.isStandUp" ng-checked="wafirst.isStandUp==1"> stand up to</label>
                        <div class="col-md-8 col-sm-8">
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="number" min="0" max="999" ng-required="wafirst.isStandUp==1" name="standUpMins" ng-model="wafirst.standUpMins"/>
                            </div>
                            <label class="col-md-6 col-sm-6 control-label">mins</label>
                            <div class="error" ng-show="isSubmitted && wafirstform.standUpMins.$invalid">
                                <label class="control-label">required and allow only numbers from 0-999</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="break-row"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12" ng-class="{'has-error': isSubmitted && wafirstform.walkUpMeter.$invalid}">
                        <label class="control-label col-md-4 col-sm-4"><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model=" wafirst.isWalkUp" ng-checked="wafirst.isWalkUp==1"> walk up to</label>
                        <div class="col-md-8 col-sm-8">
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="number" min="0" max="999" ng-required="wafirst.isWalkUp==1" name="walkUpMeter" ng-model="wafirst.walkUpMeter"/>
                            </div>
                            <label class="col-md-6 col-sm-6 control-label">m</label>
                            <div class="error" ng-show="isSubmitted && wafirstform.walkUpMeter.$invalid">
                                <label class="control-label">required and allow only numbers from 0-999</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="break-row"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <label class="control-label col-md-12 col-sm-12"><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="wafirst.isWorkBelow" ng-checked="wafirst.isWorkBelow==1"> work below shoulder height</label>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-7" ng-class="{'has-error':isSubmitted && wafirstform.capaCmt.$invalid}">
                <textarea class="text-area-custom-style form-control" name="capaCmt" rows="8" ng-model="wafirst.capaCmt" ng-required="true"></textarea>
                <div class="error" ng-show="isSubmitted && wafirstform.capaCmt.$invalid">
                    <label class="control-label">Work capacity comment is required.</label>
                </div>
            </div>
        </div>

    </div>


</accordion-group>
<accordion-group heading="INJURY MANAGEMENT PLAN">
    <h3 class="form-section"></h3>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th scope="col" style="width:20% !important">
                            Activities/interventions
                        </th>
                        <th scope="col">
                            Purpose/goal <i>(likely change in symptoms, function, activity and work participation)</i>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-class="{'has-error':isSubmitted && wafirstform.goal_1.$invalid}">
                        <td><input class="form-control" type="text" ng-model="wafirst.activities_1"></td>
                        <td>
                            <input class="form-control" name="goal_1" ng-required="wafirst.activities_1 != undefiend && wafirst.activities_1 != ''" ng-disabled="wafirst.activities_1 == undefiend || wafirst.activities_1 == ''" type="text" ng-model="wafirst.goal_1">
                            <div class="error" ng-show="isSubmitted && wafirstform.goal_1.$invalid">
                                <label class="control-label">
                                    required
                                </label>
                            </div>
                        </td>
                    </tr>

                    <tr ng-class="{'has-error':isSubmitted && wafirstform.goal_2.$invalid}">
                        <td><input class="form-control" type="text" ng-model="wafirst.activities_2"></td>
                        <td>
                            <input class="form-control" name="goal_2" ng-required="wafirst.activities_2 != undefiend && wafirst.activities_2 != ''" ng-disabled="wafirst.activities_2 == undefiend || wafirst.activities_2 == ''" type="text" ng-model="wafirst.goal_2">
                            <div class="error" ng-show="isSubmitted && wafirstform.goal_2.$invalid">
                                <label class="control-label">
                                    required
                                </label>
                            </div>
                        </td>
                    </tr>

                    <tr ng-class="{'has-error':isSubmitted && wafirstform.goal_3.$invalid}">
                        <td><input class="form-control" type="text" ng-model="wafirst.activities_3"></td>
                        <td>
                            <input class="form-control" name="goal_3" ng-required="wafirst.activities_3 != undefiend && wafirst.activities_3 != ''" ng-disabled="wafirst.activities_3 == undefiend || wafirst.activities_3 == ''" type="text" ng-model="wafirst.goal_3">
                            <div class="error" ng-show="isSubmitted && wafirstform.goal_3.$invalid">
                                <label class="control-label">
                                    required
                                </label>
                            </div>
                        </td>
                    </tr>

                    <tr ng-class="{'has-error':isSubmitted && wafirstform.goal_4.$invalid}">
                        <td><input class="form-control" type="text" ng-model="wafirst.activities_4"></td>
                        <td>
                            <input class="form-control" name="goal_4" ng-required="wafirst.activities_4 != undefiend && wafirst.activities_4 != ''" ng-disabled="wafirst.activities_4 == undefiend || wafirst.activities_4 == ''" type="text" ng-model="wafirst.goal_4">
                            <div class="error" ng-show="isSubmitted && wafirstform.goal_4.$invalid">
                                <label class="control-label">
                                    required
                                </label>
                            </div>
                        </td>
                    </tr>

                    <tr ng-class="{'has-error':isSubmitted && wafirstform.goal_5.$invalid}">
                        <td><input class="form-control" type="text" ng-model="wafirst.activities_5"></td>
                        <td>
                            <input class="form-control" name="goal_5" ng-required="wafirst.activities_5 != undefiend && wafirst.activities_5 != ''" ng-disabled="wafirst.activities_5 == undefiend || wafirst.activities_5 == ''" type="text" ng-model="wafirst.goal_5">
                            <div class="error" ng-show="isSubmitted && wafirstform.goal_5.$invalid">
                                <label class="control-label">
                                    required
                                </label>
                            </div>
                        </td>
                    </tr>

                    <tr ng-class="{'has-error':isSubmitted && wafirstform.goal_6.$invalid}">
                        <td><input class="form-control" type="text" ng-model="wafirst.activities_6"></td>
                        <td>
                            <input class="form-control" name="goal_6" ng-required="wafirst.activities_6 != undefiend && wafirst.activities_6 != ''" ng-disabled="wafirst.activities_6 == undefiend || wafirst.activities_6 == ''" type="text" ng-model="wafirst.goal_6">
                            <div class="error" ng-show="isSubmitted && wafirstform.goal_6.$invalid">
                                <label class="control-label">
                                    required
                                </label>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3"><label class="control-label"><strong>I would like:</strong></label></div>
                <div class="col-md-9">
                    <div class="col-md-9">
                        <div class="checkbox-list">
                            <label class="checkbox">
                                <div class="" ><span><input type="checkbox" ng-true-value="1" ng-false-value="0"  ng-model="wafirst.isMoreInfo" ng-checked="wafirst.isMoreInfo == 1"></span></div> <span> more information about available duties </span>
                                <div class="" ><span><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="wafirst.isRTW" ng-checked="wafirst.isRTW == 1"></span></div> <span> a RTW program to be established </span>
                                <div class="" ><span><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="wafirst.isInvolved" ng-checked="wafirst.isInvolved == 1"></span></div> <span> to be involed in developing the RTW program </span></label>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-12">
                <i>
                    <ul>Examples of injury management activities/interventions include:
                        <li>further assessment - dianostic imaging, medical specialist consults, worksite assessment.</li>
                        <li>intervention - physiotherapy, clinical psychology, exercise psychology, prescribed medications, workplace mediation</li>
                        <li>return to work planning - identify suitable duties, establish return to work program</li>
                    </ul>
                </i>
            </div>
        </div>
    </div>
</accordion-group>
<accordion-group heading="NEXT REVIEW DATE">

    <div ng-class="{'has-error':isSubmitted && wafirstform.isNeedReview.$invalid}">
        <div class="row error" >
            <div class="col-md-12 col-sm-12" ng-show="isSubmitted && wafirstform.isNeedReview.$invalid">
                <label class="col-md-12 col-sm-12 control-label">
                    You need to decide that the worker needs to be reviewed or not.
                </label>
            </div>
        </div>
        <div class="break-row"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <label class="control-label col-md-12 col-sm-12 control-label"><input type="radio" ng-required="true" name="isNeedReview" value="0" ng-model="wafirst.isReview"/> Worker does not need to be reviewed again (FIRST and FINAL certificate of capacity)</label>
            </div>
        </div>
        <div class="break-row"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <label class="control-label col-md-3 col-sm-3"><input type="radio" ng-required="true" name="isNeedReview" value="1" ng-model="wafirst.isReview"/> I will review worker again on</label>
                <div class="col-md-3 col-sm-3" ng-class="{'has-error': isSubmitted && wafirstform.reviewOn.$invalid}">
                    <input class="form-control" type="text" ng-required="wafirst.isReview == 1" name="reviewOn" readonly="readonly" ui-date="{dateFormat: 'dd/mm/yy'}"  ng-model="wafirst.reviewOn">
                    <div class="error" ng-show="isSubmitted && wafirstform.reviewOn.$invalid">
                        <label class="control-label">required</label>
                    </div>
                </div>
                <label class="control-label col-md-6 col-sm-6"> <i>(if greater than 14 days, please provide clinical reasoning)</i></label>
            </div>
        </div>
    </div>
    <div class="break-row"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <label class="control-label col-md-2 col-sm-2"> Comments</label>
            <div class="col-md-10 col-sm-10">
                <input class="form-control" type="text" ng-model="wafirst.reviewCmt">
            </div>
        </div>
    </div>
</accordion-group>

<accordion-group heading="MEDICAL PRACTITIONER'S DETAILS">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <label class="control-label col-md-2 col-sm-2">Name</label>
                    <div class="col-md-10 col-sm-10">
                        <input type="text" class="form-control" readonly="readonly" ng-model="doctorInfo.NAME"/>
                    </div>
                </div>
                <div class="break-row"></div>
                <div class="row">
                    <label class="control-label col-md-2 col-sm-2">Address</label>
                    <div class="col-md-10 col-sm-10">
                        <input type="text" class="form-control" readonly="readonly" ng-model="doctorInfo.Address"/>
                    </div>
                </div>
                <div class="break-row"></div>
                <div class="row">
                    <label class="control-label col-md-2 col-sm-2"></label>
                    <div class="col-md-10 col-sm-10">
                        <input type="text" readonly="readonly" class="form-control"/>
                    </div>
                </div>
                <div class="break-row"></div>
                <div class="row">
                    <label class="control-label col-md-2 col-sm-2">Phone</label>
                    <div class="col-md-10 col-sm-10">
                        <input type="text" readonly="readonly" class="form-control" ng-model="doctorInfo.Phone"/>
                    </div>
                </div>
                <div class="break-row"></div>
                <div class="row">
                    <label class="control-label col-md-2 col-sm-2">Fax</label>
                    <div class="col-md-10 col-sm-10">
                        <input type="text" readonly="readonly" class="form-control" />
                    </div>
                </div>
                <div class="break-row"></div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <label class="control-label col-md-3 col-sm-3">AHPRA no. MED</label>
                    <div class="col-md-9 col-sm-9">
                        <input type="text" readonly="readonly" class="form-control" />
                    </div>
                </div>
                <div class="break-row has-error"></div>
                <div class="row">
                    <label class="control-label col-md-2 col-sm-2">Email</label>
                    <div class="col-md-10 col-sm-10" >
                        <input type="text" name="wafirstemail" readonly="readonly" class="form-control" ng-model="doctorInfo.Email" />
                    </div>
                </div>
                <div class="break-row"></div>
                <div class="row">
                    <label class="control-label col-md-2 col-sm-2">Signature</label>
                    <div class="col-md-10 col-sm-10">
                        <img src='{{doctorInfo.Signature}}'/>
                    </div>
                </div>
                <div class="break-row"></div>
                <div class="row">
                    <label class="control-label col-md-2 col-sm-2">Date</label>
                    <div class="col-md-10 col-sm-10">
                        <input class="form-control" readonly="readonly" ui-date="{dateFormat: 'dd/mm/yy'}"
                            ng-model="wafirst.examDate">
                    </div>
                </div>
                <div class="break-row"></div>
            </div>

        </div>
    </div>
</accordion-group>
</accordion>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="col-md-10 col-sm-10"></div>
        <div class="col-md-2 col-sm-2">
            <button type="submit" class="btn default blue btn-lg glyphicon glyphicon-ok" ng-click="editData()"> Submit</button>
            <button type="submit" class="btn default blue btn-lg glyphicon glyphicon-ok" ng-click="insertData()"> Insert</button>
        </div>
    </div>
</div>


</form>
    <button type="button" class="btn default blue btn-lg" ng-click="getData()"> Get details test</button>
</div>