<h3 class="page-title">List of Insurers</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="loggedIn.doctor.home">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Insurers</a>
        </li>
    </ul>
</div>

<div class="portlet box red">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-medkit"></i> Insurer Companies
        </div>
        <div class="pull-right navbar-right">
            <span>
                <input type="checkbox"
                   ng-model="data_options.search.SHOW_ALL"
                   ng-true-value="1"
                   ng-false-value="0"
                   ng-change="reload();"> Show all insurer
            </span>
            <a class="btn blue" ng-click="add_forminsurer()"><i class="fa fa-plus"></i> New Insurer</a>
        </div>
    </div>
    <div class="portlet-body">
        <my-data-table options="data_options" rowclick="clickRow" numrows="10">
    </div>
</div>


<div class="mdt-search" style="display: block;" ng-if="edit_form.is_show">
    <div class="col-md-2 col-sm-2 col-xs-2 pull-right text-center ng-scope">
        <button class="btn btn-sm btn-block red" ng-click="edit_form.close()">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="break-row" style="margin-bottom: 15px;"></div>
    <insurer-detail data="{id:{{insurerInfo.id}}}" onsuccess="edit_form.success"></insurer-detail>
</div>

<div class="mdt-search" style="display: block;" ng-if="add_form.is_show">
    <div class="col-md-2 col-sm-2 col-xs-2 pull-right text-center ng-scope">
        <button class="btn btn-sm btn-block red" ng-click="add_form.close()">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="break-row" style="margin-bottom: 15px;"></div>
    <insurer-detail data="{}" onsuccess="add_form.success"></insurer-detail>
</div>
<script type="text/ng-template" id="add_forminsurer">
    <style type="text/css">
          .modal.in .modal-dialog {
           margin-top:50px;
          }
    </style>
    <div class="modal-body">
       <insurer-detail data="{}" success="add_form.success"></insurer-detail>
    </div>
    <div class="modal-footer" style="height: 47px">
        <button class="un-button-submit-m ng-scope" style="margin-top: -5px;" ng-click="cancel()">Cancel</button>
    </div>
 </script>
 <script type="text/ng-template" id="edit_forminsurer">
    <style type="text/css">
          .modal.in .modal-dialog {
           margin-top:50px;
          }
    </style>
    <div class="modal-body">
        <insurer-detail data="{id: '{{edit_form.id}}'}" success="edit_form.success"></insurer-detail>
    </div>                         
    <div class="modal-footer" style="height: 47px">
        <button class="un-button-submit-m ng-scope" style="margin-top: -5px;" ng-click="cancel()">Cancel</button>
    </div>
 </script>

