.b_login{
	width:100%;
}
.logo_login{
color:  #6A8B9A;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
.signup{
	color: #424242;
  margin: 0 auto;
  margin-top: 18px;
  font-size: 16px;
  width: 318px;
}
.form-group{
	width: 90%;
  margin: 0 auto;
}
/*input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=date]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=search]:focus, textarea:focus.materialize-textarea,input[type=time]:focus {
    border-bottom: 2px solid #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    -moz-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}*/

input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=tel], input[type=number], input[type=search], input[type=time],textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
.input-login-form {
    border: none;
    padding: 0;
}
.input-login-form input {
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    padding-right: 0;
    text-align: center;
}
.btn, .btn-large {
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  margin-bottom: 15px;
  padding: 0 2rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  line-height: 36px;
  text-transform: uppercase;
  border: 1px solid white;
  /* outline: 0; */
  /* -webkit-tap-highlight-color: transparent; */
}
.btn-red {
  text-decoration: none;
  color: #FFF;
  background-color: transparent;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  margin-bottom: 15px;
  padding: 0 2rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  line-height: 36px;
  text-transform: uppercase;
  border: 1px solid white;
  /* outline: 0; */
  /* -webkit-tap-highlight-color: transparent; */
}

.label-custom-field {
   border: none;
  padding-bottom: 0;
  padding-left: 0;
}
.err{
    color:#E57373;
}
.input-label{
  display: table;
  padding: 7px 0px 7px 0px;
  width: 160px;
  color: white;
}
h.customHr.has-error  {

    border-bottom: 2px solid red !important;
}
.error  {
     border-bottom: 2px solid #E57373 !important;
    -webkit-box-shadow: 0 1px 0 0 #E57373 !important;
    -moz-box-shadow: 0 1px 0 0 #E57373 !important;
    box-shadow: 0 1px 0 0 #E57373 !important;
}
.customHeaderBar{
 background-color: #7e9daa;
  border-color: #7e9daa;
  color: white;
  height: 65px;
}

.tabs-custom > .tabs, .tabs.tabs-positive {
  border-color: white;
  background-color: white;
  color: #fff;
  top: 0;

}

.item-divider-custom{
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 30px;
  background-color: transparent;
  color: white;
  font-weight: 500;
}
.footer_injury{
    margin-top: 10px;
    width: 100%;
    white-space: nowrap;
    position: relative;
    bottom: 0;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
}
.a-img-custom{
    width: 165px;
    height: 150px;
}

.input_us{
  border-bottom: 1px solid white;
}
.input_in{
  background-color: white;
}

.itemInput{
  width:100%; 
  background-color: #6A8B9A; 
  color:white
}

.im1{

}
.ic-tabs{
 width: 150px;
  background: white;
  position: absolute;
  height: 49px;
  text-align: center;
  z-index: 6
 
}
.has-tabs-top {
  top: 150px;
}
.sub-ss{
  width: 100%;
  height: 45px;
  background-color: #a4bbc8;
  position: absolute;
  top: 106px;
}

.ava{
  background-image: url(../img/Design-App_09.png);
  /*width: 98px;
  height: 100px;*/
  background-position-x: -14px;
  margin-left: 2%;
  background-position-y: -2px;
  margin-top: 0%;
  /*position: absolute;*/
  z-index: 1;

  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

#avatar {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: 100px;
}

.welcom{
color: white;
  margin-top: 70px;
  width: 400%;
  position: absolute;
  margin-left: 110%;
}
.c-label{
width: 80%;
  padding-top: 8px;
  height: 36px;
  color: white;
  padding-left: 1px;
  text-align: right;
}
.c-list{
  top: 50px;
  width: 80%;
  margin: 0 auto;
}

.pac-container {
    background-color: #FFF;
    z-index: 9999 !important;
    position: fixed;
    display: inline-block;
    float: left;
}
/*.modal{
    z-index: 1050;   
}*/
.modal-backdrop{
    z-index: 1050;        
}

#day{
 width: 26px;
 float: left;
 padding-right: 0px;
}
#month{
  width: 34px;
  float: left;
  padding-right: 0px;
}
#year{
 width: 50px;
 padding-right: 0px;
}

.pl{
    color: white
}
 .pl::-webkit-input-placeholder {
    color: white;
   
}
.pl::-moz-placeholder {
    color: white;
   
}
.pl:-moz-placeholder {   / Older versions of Firefox /
    color:white;
   
}
.pl:-ms-input-placeholder { 
    color: white;
}
.background-content{
  background: #6A8B9A;
}
.sp_custom{
  font-size: 12px;
  color: white;
}
 label .ip_custom{
  height: 20px;
}
.action_bar{
  width: 100%;
  background-color: white;
  height: 49px;
  margin-left: 80px;
}
.icon_home{
   background: url(../img/Untitled-1_12.png) no-repeat;
}
.icon_info{
   background: url(../img/Untitled-1_13.png) no-repeat;
}
.icon_shop{
   background: url(../img/Untitled-1_14.png) no-repeat;
}
.icon_home_active{
   background: url(../img/2_03.png) no-repeat;
}
.icon_info_active{
   background: url(../img/2_05.png) no-repeat;
}
.icon_shop_active{
   background: url(../img/2_07.png) no-repeat;
}
.tab-item .icon {
  display: block;
  margin: 0 auto;
  height: 45px;
  font-size: 32px;
  margin-top: 2px;
  margin-left: 6px;
}
.icon_custom{
  position: absolute;
  top: -2px;
  left: 1px;
  font-size: 36px;
  color: white;
}
hr{
    color:#CCC;
    background-color:#CCC;
}