<!-- INFO SYS -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="loggedIn.TimeSheetHome">Timesheets</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="loggedIn.AdminTimeSheet">Administrator</a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
</div>
<div class="panel panel-info">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <a ui-sref="loggedIn.TimeSheetTree" class="btn" ng-disabled="position!=='Admin'">
                    <img src="/img/TimeSheet/user.png" alt="Manage Users">
                    <label class="control-label bold">Manage Users</label>
                </a>
            </div>
            <div class="col-md-12">
                <a ui-sref="loggedIn.TimeSheetDept" class="btn" ng-disabled="position!=='Admin'">
                    <img src="/img/TimeSheet/department.png" alt="Manage Departments">
                    <label class="control-label bold">Manage Departments</label>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- END INFO SYS -->
