<!-- INFO SYS -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <img src="/img/TimeSheet/time-sheet-icon.jpg" style="margin-top:-7px;">
            <a ui-sref="loggedIn.TimeSheetHome" style="font-size:15px;font-weight:bold;">e-Timesheets</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="loggedIn.AdminTimeSheet" style="font-size:15px;font-weight:bold;">Administrator</a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
</div>
<div class="panel panel-info">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <a ui-sref="loggedIn.TimeSheetTree" class="btn" ng-disabled="position!=='Admin'">
                    <img src="/img/TimeSheet/user.png" alt="Manage Users">
                    <label class="control-label bold" style="font-size:15px;font-weight:bold;">Manage Users</label>
                </a>
            </div>
            <div class="col-md-12">
                <a ui-sref="loggedIn.TimeSheetDept" class="btn" ng-disabled="position!=='Admin'">
                    <img src="/img/TimeSheet/department.png" alt="Manage Departments">
                    <label class="control-label bold" style="font-size:15px;font-weight:bold;">Manage Departments</label>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- END INFO SYS -->
