<h3 class="page-title">Tree List</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <img src="/img/TimeSheet/time-sheet-icon.jpg" style="margin-top:-7px;">
            <a ui-sref="loggedIn.TimeSheetHome" style="font-size:15px; font-weight:bold;">e-Timesheets</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="loggedIn.AdminTimeSheet" style="font-size:15px; font-weight:bold;">Administrator</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="loggedIn.TimeSheetGroupUser" style="font-size:15px; font-weight:bold;">Trees</a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
</div>
<div class="portlet box blue-hoki">
    <div class="portlet-title">
        <a class="btn btn-xs blue pull-right" style="margin-top:10px; font-size:14px;" ui-sref="loggedIn.ListFunction">Define tree</a>
        <div class="caption" style="font-size:14px; font-weight:bold;">
            <i class="fa fa-cogs"></i>List of tree
            <a ng-click="reset()"><i class="glyphicon glyphicon-refresh"></i></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="panel-body table-dynamic">
            <center ng-show="list.loading"><i class="fa fa-spinner fa-spin fa-3x"></i>
            </center>
            <table class="responsive table table-bordered" ng-show="!list.loading">
                <thead ng-show="list.result!==null">
                    <tr>
                        <th>
                            <div class="th">
                                Tree name
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Description
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Creation Date&nbsp;
                                <span class="glyphicon glyphicon-chevron-up" ng-click="loadList('ASC')" ng-class="{'active': searchObjectMap.order==='ASC'}">
                            </span>
                                <span class="glyphicon glyphicon-chevron-down" ng-click="loadList('DESC')" ng-class="{ 'active': searchObjectMap.order==='DESC' } ">
                            </span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="list.result!==null || (list.result.length!==0 && list.result!==null)">
                        <!-- FUNCTION NAME -->
                        <td>
                            <input type="text " id="GROUP_NAME" ng-model="searchObjectMap.data.GROUP_NAME " ng-change="loadList(GROUP_NAME) " class="form-control input-sm">
                        </td>
                        <!-- END FUNCTION NAME -->
                        <td></td>
                        <td></td>
                    </tr>
                    <tr ng-show="list.result===null">
                        <td colspan="4 " style="font-size:14px;">
                            <h4 class="custom-timesheet">There is no items</h4>
                        </td>
                    </tr>
                    <tr ng-repeat="l in list.result " ng-class-odd="'odd'" style="cursor: pointer; " ng-dblclick="goToListNode(l.GROUP_ID)">
                        <td class="btn btn-xs" style="text-align:left; font-size:14px;">{{l.GROUP_NAME || " " }}</td>
                        <td class="btn btn-xs" style="text-align:left; font-size:14px;">{{(l.DECRIPTION === "" || l.DECRIPTION === null)?"Not Decription":l.DECRIPTION}}</td>
                        <td class="btn btn-xs" style="text-align:left; font-size:14px;">{{l.CREATION_DATE | date: "dd/MM/yyyy h:mm:ss a "|| " " }}</td>
                    </tr>
                </tbody>
            </table>
            <footer class="table-footer " ng-show="list.result!==null || (list.result.length!==0 && list.result!==null)">
                <div class="row ">
                    <div class="col-ms-6 page-num-info ">
                        <div class="col-md-4 col-sm-5 ">
                            <span class="bold custom-timesheet" style="font-size:14px;">Total: {{list.count}}</span>
                            <span class="custom-timesheet" style="font-size:14px;">Show</span>
                            <select class="custom-timesheet" ng-model="searchObjectMap.limit " ng-change="loadList() " ng-options="itemRow.code as itemRow.code for itemRow in rows ">
                            </select>
                            <span class="custom-timesheet" style="font-size:14px;">entries per page</span>
                        </div>
                        <div class="col-ms-6 text-right pagination-container ">
                            <span ng-show="count.loading "><i class="fa fa-spinner fa-spin fa-2x "></i></span>
                            <pagination boundary-links="true " total-items="list.count " ng-model="searchObjectMap.currentPage " class="pagination-sm " previous-text="&lsaquo; " next-text="&rsaquo; " first-text="&laquo; " last-text="&raquo; " items-per-page="searchObjectMap.limit " max-size="searchObjectMap.maxSize " ng-change="setPage() "></pagination>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
