<!-- HEADER -->
<h3 class="page-title">Tree List</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="loggedIn.TimeSheetHome">Time Sheet</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="loggedIn.TimeSheetTree">Trees</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="loggedIn.TimeSheetListNode">List user</a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
</div>
<!-- END HEADER -->

<!-- TABLE LIST GROUP -->
<div class="portlet box blue-hoki">
    <div class="portlet-title">
        <div class="caption" style="font-size:14px;">
            <i class="fa fa-cogs"></i>List of user
            <a ng-click="resetNode()"><i class="glyphicon glyphicon-refresh"></i></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="panel-body table-dynamic">
            <center ng-show="listNode.loading"><i class="fa fa-spinner fa-spin fa-3x"></i>
            </center>
            <table class="responsive table table-bordered" ng-show="!listNode.loading">
                <thead ng-show="listNode.result!==null">
                    <tr>
                        <th>
                            <div class="th">
                                Group name
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                From Value
                                <span class="glyphicon glyphicon-chevron-up" ng-click="fromASC()" ng-class="{'active': searchObjectMapNode.order['FROM_VALUE']==='ASC'}">
                            </span>
                                <span class="glyphicon glyphicon-chevron-down" ng-click="fromDESC()" ng-class="{ 'active': searchObjectMapNode.order['FROM_VALUE']==='DESC' } ">
                            </span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                <span class="glyphicon glyphicon-chevron-up" ng-click="toASC()" ng-class="{'active': searchObjectMapNode.order['TO_VALUE']==='ASC'}">
                            </span>
                                <span class="glyphicon glyphicon-chevron-down" ng-click="toDESC()" ng-class="{ 'active': searchObjectMapNode.order['TO_VALUE']==='DESC' } ">
                            </span> To Value
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="listNode.result!==null || (listNode.result.length!==0 && listNode.result!==null)">
                        <!-- FUNCTION NAME -->
                        <td>
                            <input type="text " id="NODE_CODE" ng-model="searchObjectMapNode.data.NODE_CODE " ng-change="loadListNode(NODE_CODE) " class="form-control input-sm ">
                        </td>
                        <!-- END FUNCTION NAME -->
                        <td></td>
                        <td></td>
                    </tr>
                    <tr ng-show="listNode.result===null">
                        <td colspan="4 ">
                            <h4 class="custom-timesheet">There is no items</h4>
                        </td>
                    </tr>
                    <tr ng-repeat="l in listNode.result " ng-class-odd="'odd'" style="cursor: pointer; " ng-click="focusNode(l.NODE_ID, l.NODE_CODE)">
                        <td>{{l.NODE_CODE || " " }}</td>
                        <td>{{(l.FROM_VALUE===null || l.FROM_VALUE==="")?"Not Value":l.FROM_VALUE}}</td>
                        <td>{{(l.TO_VALUE===null || l.TO_VALUE==="")?"Not Value":l.TO_VALUE}}</td>
                    </tr>
                </tbody>
            </table>
            <footer class="table-footer " ng-show="listNode.result!==null || (listNode.result.length!==0 && listNode.result!==null)">
                <div class="row ">
                    <div class="col-ms-6 page-num-info ">
                        <div class="col-md-4 col-sm-5 ">
                            <span class="bold custom-timesheet">Total: {{listNode.count}}</span>

                            <span class="custom-timesheet">Show</span>
                            <select class="custom-timesheet" ng-model="searchObjectMapNode.limit " ng-change="loadListNode() " ng-options="itemRow.code as itemRow.code for itemRow in rows ">
                            </select>
                            <span class="custom-timesheet">entries per page</span>
                        </div>
                        <div class="col-ms-6 text-right pagination-container ">
                            <span ng-show="count.loading "><i class="fa fa-spinner fa-spin fa-2x "></i></span>
                            <pagination boundary-links="true " total-items="listNode.count " ng-model="searchObjectMapNode.currentPage " class="pagination-sm " previous-text="&lsaquo; " next-text="&rsaquo; " first-text="&laquo; " last-text="&raquo; " items-per-page="searchObjectMapNode.limit " max-size="searchObjectMapNode.maxSize " ng-change="setPageNode() "></pagination>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<!-- END TABLE LIST GROUP -->

<!-- TABLE LIST USER IN GROUP -->
<div class="portlet box grey-cascade">
    <div class="portlet-title">
        <a class="btn btn-xs blue pull-right" style="margin-top:10px;" ng-click="addUser()" ng-hide="searchUserObject.NODE_ID===-1">Add user</a>
        <div class="caption" style="font-size:13px;">
            <i class="fa fa-cogs"></i>{{titleUser}}
            <a ng-click="resetUser()"><i class="glyphicon glyphicon-refresh"></i></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="panel-body table-dynamic">
            <center ng-show="listUser.loading"><i class="fa fa-spinner fa-spin fa-3x"></i>
            </center>
            <table class="responsive table table-bordered" ng-show="!listUser.loading">
                <thead ng-show="listUser.result!==null">
                    <tr>
                        <th>
                            <div class="th">
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                <span class="glyphicon glyphicon-chevron-up" ng-click="userNameASC()" ng-class="{'active': searchObjectMapUser.order['user_name']==='ASC'}">
                            </span>
                                <span class="glyphicon glyphicon-chevron-down" ng-click="userNameDESC()" ng-class="{ 'active': searchObjectMapUser.order['user_name']==='DESC' } ">
                            </span> User name
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Department
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Location
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Creation Date&nbsp;
                                <span class="glyphicon glyphicon-chevron-up" ng-click="creationDateASC()" ng-class="{'active': searchObjectMapUser.order['Creation_date']==='ASC'}">
                            </span>
                                <span class="glyphicon glyphicon-chevron-down" ng-click="creationDateDESC()" ng-class="{ 'active': searchObjectMapUser.order['Creation_date']==='DESC' } ">
                            </span>
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Action
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="listUser.result!==null || (listUser.result.length!==0 && listUser.result!==null)">
                        <td>
                            <input type="checkbox" class="checkbox" ng-model="checkAll" ng-true-value="2" ng-false-value="-1" ng-change="checkChange(l.NODE_ID, l.id,l.DEPARTMENT_CODE_ID, checkAll)">
                        </td>
                        <td>
                            <input type="text " id="user_name" ng-model="searchObjectMapUser.data.user_name " ng-change="loadListUser(user_name) " class="form-control input-sm ">
                        </td>
                        <td>
                            <select class="form-control input-sm" ng-model="searchObjectMapUser.select['departments.departmentid']" ng-options="itemDept.departmentid as itemDept.departmentName for itemDept in dept" ng-change="loadListUser()">
                            </select>
                        </td>
                        <td>
                            <select class="form-control input-sm" ng-model="searchObjectMapUser.select['time_location.location_id']" ng-options="itemLocal.location_id as itemLocal.NAME for itemLocal in local" ng-change="loadListUser()">
                            </select>
                        </td>
                        <td></td>
                        <td style="text-align:center;">
                            <button type="button" class="btn btn-circle btn-xs red" ng-disabled="!isChecked" ng-click="deleteUser()">
                                Delete
                            </button>
                        </td>
                    </tr>
                    <tr ng-show="listUser.result===null">
                        <td colspan="4 ">
                            <h4 class="custom-timesheet">There is no items</h4>
                        </td>
                    </tr>
                    <tr ng-repeat="l in listUser.result " ng-class-odd="'odd'" style="cursor: pointer; ">
                        <td>
                            <input type="checkbox" class="checkbox" ng-model="checkList[l.NODE_ID+'&'+l.id+'&'+l.DEPARTMENT_CODE_ID].status" ng-true-value="1" ng-false-value="0" class="form-control" ng-change="checkChange(l.NODE_ID, l.id,l.DEPARTMENT_CODE_ID, checkList[l.NODE_ID+'&'+l.id+'&'+l.DEPARTMENT_CODE_ID].status)" ng-checked="checkList[l.NODE_ID+'&'+l.id+'&'+l.DEPARTMENT_CODE_ID].status==1 || checkAll==2">
                        </td>
                        <td>{{l.user_name || " " }}</td>
                        <td>{{(l.departmentName==="" || l.departmentName===null)?"Not dept":l.departmentName}}</td>
                        <td>{{(l.name==="" || l.name===null)?"Not location":l.name}}</td>
                        <td>{{l.Creation_date | date: "dd/MM/yyyy h:mm:ss a "|| " " }}</td>
                        <td style="text-align:center;">
                            <!-- DOPDOWN ACTION -->
                            <a type="button" class="btn btn-circle btn-xs blue" ng-click="editUser(l.NODE_ID, l.id, l.DEPARTMENT_CODE_ID)">
                                <i class="fa fa-pencil"></i>&nbsp;Edit
                            </a>
                            <!-- END DROPDOWN ACTION -->
                        </td>
                    </tr>
                </tbody>
            </table>
            <footer class="table-footer " ng-show="listUser.result!==null || (listUser.result.length!==0 && listUser.result!==null)">
                <div class="row ">
                    <div class="col-ms-6 page-num-info ">
                        <div class="col-md-4 col-sm-5 ">
                            <span class="bold custom-timesheet">Total: {{listUser.count}}</span>

                            <span class="custom-timesheet">Show</span>
                            <select class="custom-timesheet" ng-model="searchObjectMapUser.limit " ng-change="loadListUser() " ng-options="itemRow.code as itemRow.code for itemRow in rows ">
                            </select>
                            <span class="custom-timesheet">entries per page</span>
                        </div>
                        <div class="col-ms-6 text-right pagination-container ">
                            <span ng-show="count.loading "><i class="fa fa-spinner fa-spin fa-2x "></i></span>
                            <pagination boundary-links="true " total-items="listUser.count " ng-model="searchObjectMapUser.currentPage " class="pagination-sm " previous-text="&lsaquo; " next-text="&rsaquo; " first-text="&laquo; " last-text="&raquo; " items-per-page="searchObjectMapUser.limit " max-size="searchObjectMapUser.maxSize " ng-change="setPageUser() "></pagination>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<!-- END TABLE LIST USER IN GROUP -->

<!-- POPUP USER -->
<script type="text/ng-template" id="AddUser">
    <add-user ng-model="listNew" on-cancel="closeClick(return)" on-save="saveClick(return)"></add-user>
</script>
<!-- END POOUP USER

        <!-- POPUP UPDATE USER -->
<script type="text/ng-template" id="UpUser">
    <up-user ng-model="idUp" on-cancel="closeClick(return)" on-save="saveClick(return)"></up-user>
</script>
<!-- END POPUP UPDATE USER -->
