<!-- INFO SYS -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <img src="/img/TimeSheet/time-sheet-icon.jpg" style="margin-top:-7px;">
            <a ui-sref="loggedIn.TimeSheetHome">e-Timesheets</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="loggedIn.Report4TimeSheet">Report on Actual Working Hours</a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
</div>
<div class="panel panel-info">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" name="DATE" datepicker-popup="dd/MM/yyyy" ng-model="info.FROM_DATE" is-open="openDOB" ng-click="openDOB = true" datepicker-options="dateOptions" close-text="Close" />
            </div>
        </div>
    </div>
    <!-- END INFO SYS -->
