<!-- INFO SYS -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <img src="/img/TimeSheet/time-sheet-icon.jpg" style="margin-top:-7px;">
            <a ui-sref="loggedIn.TimeSheetHome">e-Timesheets</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="loggedIn.Report4TimeSheet">Report on Utilization Ratio - View by Department</a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
</div>
<div class="panel panel-info">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
    <!-- END INFO SYS -->
