<!-- INFO SYS -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="loggedIn.TimeSheetHome">Timesheets</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="loggedIn.AdminTimeSheet">Reports</a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
</div>
<div class="panel panel-info">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <a class="btn" ng-disabled="position==='Staff'">
                    <img src="/img/TimeSheet/reports.png" alt="Report on Time in Lieu">
                    <label class="control-label bold">Report on Time in Lieu</label>
                </a>
            </div>
            <div class="col-md-12">
                <a class="btn">
                    <img src="/img/TimeSheet/reports.png" alt="Report on Utilization Time - Summary">
                    <label class="control-label bold">Report on Utilization Ratio - View by Department</label>
                </a>
            </div>
            <div class="col-md-12">
                <a class="btn">
                    <img src="/img/TimeSheet/reports.png" alt="Report on Utilization Time - Detail">
                    <label class="control-label bold">Report on Utilization Time - Detail</label>
                </a>
            </div>
            <div class="col-md-12">
                <a class="btn">
                    <img src="/img/TimeSheet/reports.png" alt="Report on Item Codes">
                    <label class="control-label bold">Report on Item Codes</label>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- END INFO SYS -->
