<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="loggedIn.TimeSheetHome">Timesheet</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="loggedIn.TimeSheetGroupUser">View approved timesheets</a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
</div>

<div class="portlet box blue-hoki">
    <div class="portlet-title">
        <a class="btn btn-xs blue pull-right" style="margin-top:10px;" ui-sref="loggedIn.ApproveTask">Approve timesheet</a>
        <div class="caption" style="font-size:14px;">
            <i class="fa fa-cogs"></i>List approved timesheets
            <a ng-click="reset()"><i class="glyphicon glyphicon-refresh"></i></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="panel-body table-dynamic">
            <center ng-show="list.loading"><i class="fa fa-spinner fa-spin fa-3x"></i>
            </center>
            <table class="responsive table table-bordered" ng-show="!list.loading">
                <thead ng-show="list.result!==null">
                    <tr>
                        <th>
                            <div class="th">
                                Employee code
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Employee name
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                <span class="glyphicon glyphicon-chevron-up" ng-click="weekNoASC()" ng-class="{'active': searchObjectMap.order['time_tasks_week.week_no']==='ASC'}">
                            </span>
                                <span class="glyphicon glyphicon-chevron-down" ng-click="weekNoDESC()" ng-class="{ 'active': searchObjectMap.order['time_tasks_week.week_no']==='DESC' } ">
                            </span> Week/current
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Time charge
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Time in lieu
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Time over
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                <span class="glyphicon glyphicon-chevron-up" ng-click="dateApprovedASC()" ng-class="{'active': searchObjectMap.order['time_tasks_week.approved_date']==='ASC'}">
                            </span>
                                <span class="glyphicon glyphicon-chevron-down" ng-click="dateApprovedDESC()" ng-class="{ 'active': searchObjectMap.order['time_tasks_week.approved_date']==='DESC' } ">
                            </span> Date approved
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="list.result!==null || (list.result.length!==0 && list.result!==null)">
                        <td>
                            <select class="form-control input-sm" ng-model="searchObjectMap.select['hr_employee.Employee_ID']" ng-options="itemEmp.Employee_ID as itemEmp.Employee_Code for itemEmp in list.listEmployee " ng-change="loadList()">
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" ng-model="searchObjectMap.name['nameEmployee']" ng-change="loadList()">
                        </td>
                        <td>
                            <select class="form-control input-sm" ng-model="searchObjectMap.select['time_tasks_week.week_no']" ng-options="itemRow.code as itemRow.code for itemRow in weekNo " ng-change="loadList()">
                            </select>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr ng-show="list.result===null">
                        <td colspan="4 ">
                            <h4 class="custom-timesheet">There is no items</h4>
                        </td>
                    </tr>
                    <tr ng-repeat="l in list.result " ng-class-odd="'odd'" style="cursor: pointer; " ng-dblclick="showDetail(l.task_week_id)">
                        <td class="btn btn-xs">{{l.Employee_Code}}</td>
                        <td class="btn btn-xs">{{(l.FirstName==null||l.FirstName=="")?((l.LastName==null||l.LastName=="")?" ":l.LastName):(l.FirstName+" "+((l.LastName==null||l.LastName=="")?" ":l.LastName))}}</td>
                        <td class="btn btn-xs">{{l.week_no}}/{{currentWeek}}</td>
                        <td class="btn btn-xs">{{(l.time_charge===null||l.time_charge==="")?("0 Hours"):l.time_charge + " Hours"}}</td>
                        <td class="btn btn-xs">{{(l.time_in_lieu===null||l.time_in_lieu==="")?("0 Hours"):l.time_in_lieu + " Hours"}}</td>
                        <td class="btn btn-xs">{{(l.over_time===null||l.over_time==="")?("0 Hours"):l.over_time + " Hours"}}</td>
                        <td class="btn btn-xs">{{l.approved_date | date: "dd/MM/yyyy h:mm:ss a "}}</td>
                    </tr>
                </tbody>
            </table>
            <footer class="table-footer " ng-show="list.result!==null || (list.result.length!==0 && list.result!==null)">
                <div class="row ">
                    <div class="col-ms-6 page-num-info ">
                        <div class="col-md-4 col-sm-5 ">
                            <div class="input-group ">
                                <span class="custom-timesheet">Total: {{list.count}}</span>

                                <span class="custom-timesheet">Show</span>
                                <select class="custom-timesheet" ng-model="searchObjectMap.limit " ng-change="loadList() " ng-options="itemRow.code as itemRow.code for itemRow in rows " style="width:50px;">
                                </select>
                                <span class="custom-timesheet">entries per page</span>
                            </div>
                        </div>
                        <div class="col-ms-6 text-right pagination-container ">
                            <span ng-show="count.loading "><i class="fa fa-spinner fa-spin fa-2x "></i></span>
                            <pagination boundary-links="true " total-items="list.count " ng-model="searchObjectMap.currentPage " class="pagination-sm " previous-text="&lsaquo; " next-text="&rsaquo; " first-text="&laquo; " last-text="&raquo; " items-per-page="searchObjectMap.limit " max-size="searchObjectMap.maxSize " ng-change="setPage() "></pagination>
                        </div>
                    </div>
            </footer>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="ViewDetailTask">
        <view-detail ng-model="idTaskWeek" on-cancel="clickCancel(return)"></view-detail>
    </script>
