
<div class="row">
	<div class="col-md-3 col-sm-3">
		<js-tree tree-data="scope" tree-model="treeArr" tree-events="dblclick:selectNodeCB"></js-tree>
	</div>
	<div class="col-md-9 col-sm-9">
		<div>
			<a ng-click="changeColor(c.color)" href="javascript:;" class="btn btn-icon-only btn-circle" ng-class="c.color" ng-repeat="c in colors" >
		    </a>
		    <a class="btn btn-icon-only btn-circle btn-default" ng-click="erase()" href="javascript:;"> 
		    	<i class="fa fa-eraser"></i>
		    </a>
		    <a class="btn btn-icon-only btn-circle btn-default" ng-click="clear()" href="javascript:;"> 
		    	<i class="fa fa-trash-o"></i>
		    </a>
		    <a ng-class="{disabled : !isCalling}" class="btn btn-icon-only btn-circle btn-default" ng-click="capture()" href="javascript:;"> 
		    	<i class="fa fa-camera"></i>
		    </a>
		    <span class="btn btn-default btn-file">
			    Browse... <input type="file" id="imageLoader" accept="image/*">
			</span>
		</div>
		<br/>
    	<canvas id="myCanvas"></canvas> 
	</div>
</div>


