<div class="modal-body">
	<div class="portlet light ">
		<div class="portlet-title tabbable-line">
			<div class="caption">
				<i class="fa fa-heart"></i>
        		<span class="caption-subject bold uppercase">Measurement</span>
			</div>
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="index.html#tab_1" data-toggle="tab">
						Information 1
					</a>
				</li>
				<li>
					<a href="index.html#tab_2" data-toggle="tab">
						Information 2
					</a>
				</li>
				<li>
					<a href="index.html#tab_3" data-toggle="tab">
						Respiratory
					</a>
				</li>
				<li>
					<a href="index.html#tab_4" data-toggle="tab">
						Ophthalmology
					</a>
				</li>
			</ul>
		</div>
		<div class="portlet-body">
			<div class="tab-content">
				<div class="tab-pane active" id="tab_1">
					AAAAA
				</div>
				<div class="tab-pane" id="tab_2">
					BBBB
				</div>
				<div class="tab-pane" id="tab_3">
					CCCC
				</div>
				<div class="tab-pane" id="tab_4">
					DDDD
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
    <a href="javascript:;" class="btn btn-danger" ng-click='cancel()'>Cancel</a>
    <button type="submit" class="btn green"  >Submit</button>
</div>