<style type="text/css" class="ng-scope">
    .modal.in .modal-dialog {
        margin-top:50px;
    }
    .has-error .form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid red;
    }
    .has-error .form-control:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid red;
    }
</style>
<div class="modal-body">
    <div class="active">
		<a href="index.html#tab_1" data-toggle="tab">
			<label class="un-label-popup-header-m un-bg-label-333333">Add Medication</label>
		</a>
	</div>
	<form name="medicationForm" novalidate>
		<div id="tab_1">
			<div class="row">
                <div class="col-md-6 col-sm-6">
                    <div ng-class="{'has-error': medicationForm.name.$invalid && isSubmit}">
                        <label class="un-label-form-3 un-label-whidth-130">Name</label>
                        <input ng-model="medicationInfo.medication_name" class="form-control input-sm select-outside ng-pristine ng-valid" required float-label id="name" name="name" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div ng-class="{'has-error': medicationForm.start_date.$invalid && isSubmit}">
                    <label class="un-label-form-3 un-label-whidth-130">Start Date</label>
                    <input readonly ng-model="medicationInfo.start_date"  class="form-control input-sm select-outside" custom-date id="start_date" name="start_date" required float-label ng-change="changeValue()"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                <div ng-class="{'has-error': medicationForm.dose.$invalid && isSubmit}">
                    <label class="un-label-form-3 un-label-whidth-130">Dose</label>
                     <input ng-minlength='0' ng-model="medicationInfo.dose"  class="form-control input-sm select-outside ng-pristine ng-valid" ng-change="changeValue()" id="dose" name="dose" required/>
                </div>
                </div>
                <div class="col-md-6 col-sm-6">
                     <div ng-class="{'has-error': medicationForm.end_date.$invalid && isSubmit}">
                    <label class="un-label-form-3 un-label-whidth-130">End Date</label>
                     <input readonly ng-model="medicationInfo.end_date" class="form-control input-sm select-outside" custom-date required float-label name="end_date" id="end_date" ng-change="changeValue()"/>
                     </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <label class="un-label-form-3 un-label-whidth-130">Unit</label>
                    <select ng-model="medicationInfo.unit" class="form-control input-sm select-outside"
                        ng-options="value.value as value.display for (key,value) in listUnit">
                        <option value=""></option>
                        </select>
                </div>
                <div class="col-md-6 col-sm-6">
                    <label class="un-label-form-3 un-label-whidth-130">Quanlity</label>
                    <input ng-model="medicationInfo.qty"  class="form-control input-sm select-outside ng-pristine ng-valid" readonly/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <label class="un-label-form-3 un-label-whidth-130">Route</label>
                     <select ng-model="medicationInfo.route" class="form-control input-sm select-outside"
                        ng-options="value.value as value.display for (key,value) in listRoute">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-md-6 col-sm-6">
                    <label class="un-label-form-3 un-label-whidth-130">Doctor</label>
                    <input ng-model="medicationInfo.NAME"  class="form-control input-sm select-outside ng-pristine ng-valid" disabled>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                      <div ng-class="{'has-error': medicationForm.frequency.$invalid && isSubmit}">
                        <label class="un-label-form-3 un-label-whidth-130">Frequency</label>
                        <select ng-model="medicationInfo.frequency" class="form-control input-sm select-outside ng-pristine ng-valid"
                            ng-change="changeValue()" required name="frequency" id="frequency">
                            <option value="OD">OD</option>
                            <option value="BD">BD</option>
                            <option value="TDS">TDS</option>
                            <option value="QID">QID</option>
                        </select>
                        </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <label class="un-label-form-3 un-label-whidth-130">Condition/Indication</label>
                    <input ng-model="medicationInfo.condition_Indication"  class="form-control input-sm select-outside ng-pristine ng-valid" />
                </div>
            </div>
		</div>
	</form>
    <div align="right" style ="margin-top: 15px;margin-right: 16px;">
        <a href="javascript:;" class="un-button un-bgXam-colBlack" ng-click='cancelClick()'>Cancel</a>
       <a href="javascript:;" ng-click="okClick()" class="un-button un-bgBlack">Submit</a>
    </div>
	
</div>
