<style>
	.input-group-addon
	{
		padding: 0 !important;
	}
</style>

<div class="modal-body">
	<ul class="un-tabs">
		<li class="active">
			<a href="index.html#tab_1" data-toggle="tab">
				Add Script
			</a>
		</li>
	</ul>
	<div class="un-tabs-content">
		<div class="un-tab-content active" id="tab_1">
			<div class="row">
                <div class="col-md-12 col-sm-12">
                   <label class="un-label-form un-label-whidth-130" style="font-size: 15px;">Medication:</label>
                   <!-- <div angucomplete id="ex2" placeholder="Search Medication" pause="300" selectedobject="selectedMedication" localdata="medications" searchfields="medicine_name" titlefield="medicine_name" descriptionfield="desc" minlength="1" inputclass="form-control form-control-small"></div> -->
                   <input ng-model="scriptInfo.medication"  type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <label class="un-label-form un-label-whidth-130" style="font-size: 15px;">Strength:</label>
                    <input ng-disabled="!checkMedication" ng-model="scriptInfo.strength"  type="text" class="form-control" />
                </div>
                <div class="col-md-6 col-sm-6">
                    <label class="un-label-form un-label-whidth-130" style="font-size: 15px;">Form:</label>
                    <input ng-disabled="!checkMedication" ng-model="scriptInfo.form"  type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <label class="un-label-form un-label-whidth-130" style="font-size: 15px;">Quantity:</label>
                    <input ng-disabled="!checkMedication" ng-model="scriptInfo.qty" number type="text" class="form-control" />
                </div>
                <div class="col-md-6 col-sm-6">
                    <label class="un-label-form un-label-whidth-130" style="font-size: 15px;">Code:</label>
                    <input ng-disabled="!checkMedication" ng-model="scriptInfo.code"  type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <label class="un-label-form un-label-whidth-130" style="font-size: 15px;">Dose:</label>
                    <input ng-disabled="!checkMedication" ng-model="scriptInfo.dose"  type="text" class="form-control" />
                </div>
                <div class="col-md-6 col-sm-6">
                    <label class="un-label-form un-label-whidth-130" style="font-size: 15px;">Frequency:</label>
                    <input ng-disabled="!checkMedication" ng-model="scriptInfo.frequency"   type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
            	<div class="col-md-12 col-sm-12">
                    <label class="un-label-form un-label-whidth-130" style="font-size: 15px;">Script:</label>
                    <input ng-disabled="!checkMedication" ng-model="scriptInfo.script"  type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
            	<div class="col-md-12 col-sm-12">
                    <label class="un-label-form un-label-whidth-130" style="font-size: 15px;">Instructions:</label>
                    <textarea ng-disabled="!checkMedication" ng-model="scriptInfo.instructions" class="form-control"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <label class="un-label-form un-label-whidth-130" style="font-size: 15px;">Repeat:</label>
                    <input ng-disabled="!checkMedication" ng-model="scriptInfo.repeat"  type="text" class="form-control" />
                </div>
                <div class="col-md-6 col-sm-6">
                    <label class="un-label-form un-label-whidth-130" style="font-size: 15px;">Category:</label>
                    <input ng-disabled="!checkMedication" ng-model="scriptInfo.category"  type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
            	<div class="col-md-12 col-sm-12">
                    <label class="un-label-form un-label-whidth-130" style="font-size: 15px;">Reason:</label>
                    <textarea ng-disabled="!checkMedication" ng-model="scriptInfo.reason" class="form-control"></textarea>
                </div>
            </div>
		</div>
	</div>
	<a href="javascript:;" class="btn btn-danger un-submit " ng-click='cancelClick()'>Cancel</a>
    <a href="javascript:;" ng-click="okClick()" class="btn green un-submit "  >Submit</a>
</div>
