
.medifood_cart_frame
{
	border:1px solid #7AA5A7 !important;
}

.medifood_cart_sum{
	font-weight: bold;
	color: #116760;
}

.medifood_session_cash{
	margin-top: 30px;
	padding-top:20px;
	border-top: 2px solid #116760;
	font-weight: bold;
	color:#116760;
}