<ion-view title="bluetooth">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios7-arrow-back  " style="color:#fff" ui-sref="app.injury.info">&nbsp;Back</button>
    </ion-nav-buttons>

    <ion-content class="has-header">

        <div class="item-input label-custom-field padding" style="text-align: center">
            <!--<span class="input-label span-input-color">Discover device</span>-->
            <!--<button class="button button-clear" ng-click="disCover()">-->
            <!--<i ng-class="{'icon ion-ios7-loop-strong':!isLoad, 'icon ion-loading-c':isLoad}"></i>-->
            <!--</button>-->
            <!--<hr class="customHr">-->
            <div class="col">
                <a class="button button-stable" ng-click="DiscoveryDevice(Isclick = false)" ng-disabled="isLoad" style="background-color: #e74c3c !important; color: whitesmoke; border: none; border-radius: 5px; width: 60%;">
                    <i class="fa fa-hand-o-right"></i> All Device
                </a>
            </div>


            <div class="col">
                <a class="button button-stable" ng-click="DiscoveryDevice(Isclick = true)" ng-disabled="isLoad" style="background-color: #34495e !important; color: whitesmoke; border: none; border-radius: 5px; width: 60%;">
                    One Device <i class="fa fa-hand-o-left"></i>
                </a>
            </div>
        </div>

        <!--<div class="loadingImage" ng-show="isShowGif">-->
        <!--<img src="img/preLoading.gif" height="80px" />-->
        <!--</div>-->
        <div ng-show="deviceType == 'Pulse Oximeter'">
            <div class="content text-center">
                <div class="row-stretch">
                    <div class="margin-bot0 row">
                        <div class="col">
                            <span style="font-size: 30px; font-weight: lighter; color: #1AD6FD">Pulse</span>
                        </div>
                        <div class="col">
                            <span style="font-size: 30px; font-weight: lighter; color: #4CD964">SpO2</span>
                        </div>
                    </div>
                    <div class="margin-bot0 row">
                        <div class="col">
                            <label class="font-responsive" style="color: #1AD6FD">{{dataReceive.pulse == NaN ? 0 : dataReceive.pulse}}</label>
                        </div>
                        <div class="col">
                            <label class="font-responsive" style="color: #4CD964">{{dataReceive.spO2 == NaN ? 0 : dataReceive.spO2}}</label>
                        </div>
                    </div>

                    <!--<div class="margin-bot0 row" ng-show="showButton">-->
                    <!--<div class="col">-->
                    <!--<button class="button button-clear btn-reset" ng-click="resetWriteData()" ng-disabled="isLoad">-->
                    <!--<span>Reset</span>-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--<div class="col">-->
                    <!--<button class="button button-clear btn-save" ng-click="saveData()" ng-disabled="isLoad">-->
                    <!--<span>Save</span>-->
                    <!--</button>-->
                    <!--</div>-->
                    <!--</div>-->

                </div>
            </div>
        </div>
        <div ng-show="deviceType == 'Spirometer'">
            <div class="content text-center">
                <div class="row-stretch">
                    <div class="margin-bot0 row">
                        <div class="col">
                            <span style="font-size: 30px; font-weight: lighter;">FVC</span>
                            <hr class="hr-data-device" style="margin-top: 0; margin-bottom: 30px;">
                            <span style="font-size: 30px; font-weight: lighter;margin-top: 10px;">FEV1</span>
                            <hr style="margin-top: 0; margin-bottom: 30px;">
                            <span style="font-size: 30px; font-weight: lighter;">PEF</span>
                            <hr style="margin-top: 0">
                        </div>
                        <div class="col">
                            <span style="font-size: 30px; font-weight: lighter; color: #FF5E3A">{{ copydataReceive.FEV1 == NaN ? 0 : copydataReceive.FEV1 / 100}}</span>
                            <hr style="margin-top: 0; margin-bottom: 30px;">
                            <span style="font-size: 30px; font-weight: lighter; color: #FF5E3A">{{ copydataReceive.FVC == NaN ? 0 : copydataReceive.FVC / 100}}</span>
                            <hr style="margin-top: 0; margin-bottom: 30px;">
                            <span style="font-size: 30px; font-weight: lighter; color: #FF5E3A">{{ copydataReceive.PEF == NaN ? 0 : copydataReceive.PEF / 100}}</span>
                            <hr style="margin-top: 0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="deviceType == 'Blood Pressure'">
            <div class="content text-center">
                <div class="row-stretch">
                    <div class="margin-bot0 row">
                        <div class="col">
                            <span style="font-size: 30px; font-weight: lighter;">SYS</span>
                            <hr class="hr-data-device" style="margin-top: 0; margin-bottom: 30px;">
                            <span style="font-size: 30px; font-weight: lighter;margin-top: 10px;">DIA</span>
                            <hr style="margin-top: 0; margin-bottom: 30px;">
                            <span style="font-size: 30px; font-weight: lighter;margin-top: 10px;">mmHg</span>
                            <hr style="margin-top: 0; margin-bottom: 30px;">
                            <span style="font-size: 30px; font-weight: lighter;">bpm</span>
                            <hr style="margin-top: 0">
                        </div>
                        <div class="col">
                            <span style="font-size: 30px; font-weight: lighter; color: #FF5E3A">{{copydataReceive.sys == NaN ? 0 : copydataReceive.sys}}</span>
                            <hr style="margin-top: 0; margin-bottom: 30px;">
                            <span style="font-size: 30px; font-weight: lighter; color: #FF5E3A">{{copydataReceive.dia == NaN ? 0 : copydataReceive.dia}}</span>
                            <hr style="margin-top: 0; margin-bottom: 30px;">
                            <span style="font-size: 30px; font-weight: lighter; color: #FF5E3A">{{copydataReceive.mmHg == NaN ? 0 : copydataReceive.mmHg}}</span>
                            <hr style="margin-top: 0; margin-bottom: 30px;">
                            <span style="font-size: 30px; font-weight: lighter; color: #FF5E3A">{{copydataReceive.bpm == NaN ? 0 : copydataReceive.bpm}}</span>
                            <hr style="margin-top: 0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ion-list class="padding" show-reorder="disableList">
            <div class="list border-top">
                <!--<a class="item item-avatar" ng-repeat="device in listDiscover"-->
                <!--ng-click="selectDevice(device.deviceType, device.address)">-->
                <!--{{device.deviceType}}-->
                <!--</a>-->

                <!--ui-sref="app.detailDeviceBluetooth({ deviceType: device.deviceType, address: device.address })" ui-sref-opts="{reload: true}"-->

                <a class="item item-avatar custom-item-listDevice" ng-repeat="device in listDiscover"
                   ng-click="selectDevice(device.device_name, device.address, device.id)"
                   ng-class="{'opacity02': !device.isOnline, 'opacity1': device.isOnline}">
                    <div class="fLeft">
                        <div class="parallelogram">
                            <img ng-src="{{device.imgDevice}}" width="100" />
                        </div>
                    </div>
                    <div class="info-device">
                        <h3 class="nameDevice" style="font-size: 20px; font-weight: 300; line-height: 1.1em"> - {{device.device_name}}
                            <span class="status-device">
                                <i class="icon ion-ios7-circle-filled" ng-class="{'green-text':device.isOnline, 'red-text':!device.isOnline}"></i>
                            </span>
                        </h3>
                    </div>
                </a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>