<ion-view title="bluetooth">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon  waves-effect waves-light " style="color:#fff"></button>
        <a class="button button-icon icon" ui-sref="app.injury.mapCompany" style="color:#fff"><i class="mdi-maps-pin-drop"></i></a>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a menu-toggle="right" class="button button-icon  waves-effect waves-light" style="color:#fff">
            <i class="mdi-communication-quick-contacts-dialer small"></i>
        </a>
    </ion-nav-buttons>

    <ion-content class="has-header">

        <label class="item item-input item-button-right label-custom-field padding">
            <span class="input-label span-input-color">Discover device</span>
            <button class="button button-clear" ng-click="blueToothChange()">
                <i ng-class="{'icon ion-ios7-loop-strong':!isLoad, 'icon ion-loading-c':isLoad}"></i>
            </button>
            <hr class="customHr">
        </label>

        <ion-list class="padding">
            <div class="list border-top">
                <a class="item item-avatar custom-item-listDevice" ng-repeat="device in listDiscover" ui-sref="app.detailDeviceBluetooth({ id: device.device_id, name: device.device_name, address: device.address, status:device.isOnline })" ui-sref-opts="{reload: true}">
                    <div class="fLeft">
                        <div class="parallelogram">
                             <img ng-src="{{device.device_img}}" width="100" style="height: 100%; margin-bottom: -4px;" />
                        </div>
                    </div>
                    <div class="info-device">
                        <h3 class="nameDevice" style="font-size: 20px; font-weight: 300; line-height: 1.1em"> - {{device.device_name}}
                            <span class="status-device">
                                <i class="icon ion-ios7-circle-filled" ng-class="{'green-text':device.isOnline, 'red-text':!device.isOnline}"></i>
                            </span>
                        </h3>
                        <!--<span class="infoDevice" style="font-size: 13px">-->
                             <!--<i class="icon ion-ios7-information-outline"></i> {{device.device_name}}-->
                            <!--<i class="icon ion-ios7-arrow-forward cus-icon-arrow-R"></i>-->
                        <!--</span>-->
                    </div>
                </a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>