<div class='row'>
	<div class='col-md-10'>
		<pagination boundary-links='true' total-items='list.count' ng-model='params.pagination.current_page' class='pagination-sm' previous-text='&lsaquo;' next-text='&rsaquo;' first-text='&laquo;' last-text='&raquo;' items-per-page='params.pagination.limit' max-size='params.pagination.max_size' ng-change='setPage()'>
		</pagination>
	</div>
</div>
<div class='row'>
	<div class='col-md-12'>
		<table class='mdt-table'>
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<input class="form-control" ng-model="params.filters[0].value" ng-change="refresh()">
					</td>
					<td>
						<select class="form-control" ng-model="params.filters[1].value" ng-change="refresh()"
							ng-options="rl.RL_TYPE_ID as rl.Rl_TYPE_NAME for rl in options.rl_types">
							<option value="">All</option>
						</select>
					</td>
				</tr>
				<tr ng-repeat='l in list.data' ng-click='clickRow({row: l})' style='cursor: pointer;'>
					<td>{{l.Specialties_name}}</td>
					<td>{{l.RL_TYPE_ID}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>