<div class="modal-body">
	<!-- <h4 class="modal-title">Select Parent Company</h4> -->
	<label class="un_tn_panel_modal_label un_tn_panel_label_color_black">Select Parent Company</label>
    <list-parent on-row-click="clickRow(row)" company-id="companyId"></list-parent>
</div>
<div class="modal-footer">
    <!-- <button class="btn btn-primary" ng-click="ok()">OK</button> -->
    <!-- <button class="un_tn_btn un_tn_btn_gray" ng-click="cancel()">Cancel</button> -->

    <!-- <div class="row">
		<div class="col-md-12">
			<button class="btn un-btn-save-xam" ng-click="cancel()">Cancel</button>
		</div>
	</div> -->

	<div class="row">
		<div class="col-md-12">
			<div class="un_tn_panel_modal_action">
				<button class="un_tn_btn un_tn_btn_gray" ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</div>
	
</div>