<ion-view class="" title="Change Password">
    <ion-nav-buttons side="left" >
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="">

            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Old Password</span>
                        <input  type="password" ng-model="info.oldPass" placeholder="Old Password" />
                </label>
                <label class="item item-input item-floating-label">
                    <label class="input-label">New Password</label>
                    <input type="password" ng-model="info.newPass" placeholder="New Password" />
                </label>
            </div>
            <a class="btn btn-danger" ui-sref="app.profile">Cancel</a>
            <a  class="btn green" ng-click="changePass()"  >Submit</a>
    </ion-content>

</ion-view>