<h1>Item List</h1>

<div class="portlet box red ng-scope">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-medkit"></i> Item Sheet
        </div>
        <div class="pull-right navbar-right">
            <!-- Single button -->
            <div class="btn-group" dropdown>
                
              <button style="margin-right: 0;" type="button" class="btn btn-default dropdown-toggle">
                    Action <span class="caret"></span>
              </button>
              
              <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="addForm.open()"><i class="fa fa-plus-circle"></i> Add new Item</a></li>
                   <!--  <li><a ng-click="importItemsFromSource()"><i class="fa fa-check-circle"></i> Import Items from source</a></li> -->
              </ul>
            </div>
        </div>
    </div>
    <div class="portlet-body">
       	<my-data-table options="items.options" rowclass="items.class" numrows="10"></my-data-table>
    	<div class="clearfix"></div>
    </div>
</div>

<!-- POPUP ITEM ADD FORM   -->
<div class="modal fade" id="popupAddItem">
    <div class="modal-dialog un-header-top modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title un-label-popup-header-m un-bg-label-333333" id="myModalLabel">Add Item</h4>
                <div ng-if="addForm.is_show">
                    <item-detail options="options" onsuccess="addForm.success">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- POPUP ITEM ADD FORM -->

<div class="modal fade" id="popupEditItem">
    <div class="modal-dialog un-header-top modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title un-label-popup-header-m un-bg-label-333333" id="myModalLabel">Info Item</h4>
                <div  ng-if="editForm.is_show">
                    <item-detail options="options" onsuccess="editForm.success" data="{id: '{{itemInfo.ITEM_ID}}'}">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- POPUP ITEM ADD FORM -->

<!-- POPUP ITEM PRICE   -->
<div class="modal fade" id="popupItemFee">
    <div class="modal-dialog un-header-top modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title un-label-popup-header-m un-bg-label-333333" id="myModalLabel">Item Fees</h4>
                <div ng-show="itemFees.is_show">
                    <item_fees  id="items.select" panel="itemFees.panel"></item_fees>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 <!-- POPUP ITEM PRICE-->