<h1>Item List</h1>

<div class="portlet box red ng-scope">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-medkit"></i> Item Sheet
        </div>
        <div class="pull-right navbar-right">
            <!-- Single button -->
            <div class="btn-group" dropdown>
                
              <button style="margin-right: 0;" type="button" class="btn btn-default dropdown-toggle">
                    Action <span class="caret"></span>
              </button>
              
              <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="addForm.open()"><i class="fa fa-plus-circle"></i> Add new Item</a></li>
                    <li><a ng-click="importItemsFromSource()"><i class="fa fa-check-circle"></i> Import Items from source</a></li>
              </ul>
            </div>
        </div>
    </div>
    <div class="portlet-body">
       	<my-data-table options="items.options" rowclass="items.class" numrows="10"></my-data-table>
    	<div class="clearfix"></div>
    </div>
</div>

<!-- POPUP ITEM ADD FORM   -->
<div class="mdt-search" style="display: block; width: 100%" ng-if="addForm.is_show">
    <div class="pull-right text-center ng-scope">
        <button class="btn btn-sm btn-block red" ng-click="addForm.close()">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <item-detail options="options" onsuccess="addForm.success">
</div>
<!-- POPUP ITEM ADD FORM -->


<!-- POPUP ITEM ADD FORM   -->
<div class="mdt-search" style="display: block; width: 100%" ng-if="editForm.is_show">
    <div class="pull-right text-center ng-scope">
        <button class="btn btn-sm btn-block red" ng-click="editForm.close()">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <item-detail options="options" onsuccess="editForm.success" data="{id: '{{itemInfo.ITEM_ID}}'}">
</div>
<!-- POPUP ITEM ADD FORM -->

<!-- POPUP ITEM PRICE   -->
<div class="mdt-search" style="display: block; width: 85%" ng-show="itemFees.is_show">
    <div class="pull-right text-center ng-scope">
        <button class="btn btn-sm btn-block red" ng-click="itemFees.close()">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <item_fees id="items.select" panel="itemFees.panel"></item_fees>
</div>
 <!-- POPUP ITEM PRICE-->