<h1>Item List</h1>

<div class="portlet box red ng-scope">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-medkit"></i> Item Sheet
        </div>
        <div class="pull-right navbar-right">
            <a class="btn blue" ng-click="addForm.open()"><i class="fa fa-plus"></i> New Item</a>
        </div>
    </div>
    <div class="portlet-body">
       	<my-data-table options="items.options" numrows="10"></my-data-table>
    	<div class="clearfix"></div>
    </div>
</div>

<!-- POPUP ITEM ADD FORM   -->
<div class="mdt-search" style="display: block; width: 100%" ng-if="addForm.is_show">
    <div class="pull-right text-center ng-scope">
        <button class="btn btn-sm btn-block red" ng-click="addForm.close()">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <item-detail options="options">
</div>
 <!-- POPUP ITEM ADD FORM -->

<!-- POPUP ITEM PRICE   -->
<div class="mdt-search" style="display: block; width: 85%" ng-show="itemFees.is_show">
    <div class="pull-right text-center ng-scope">
        <button class="btn btn-sm btn-block red" ng-click="itemFees.close()">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <item_fees id="items.select" panel="itemFees.panel"></item_fees>
</div>
 <!-- POPUP ITEM PRICE-->