<!-- <my-data-table options="fa.options" numrows="10" rowclick="clickRow"></my-data-table> -->

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="col-md-12 col-sm-12 col-xs-12" >
			<label class="form-label"><h3>Select functional assessment definition</h3></label>
		</div>
	</div>
</div>

<div class="row" style="margin-bottom:15px;">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="col-md-12 col-sm-12 col-xs-12" >
			<my-data-table options="fa.options" numrows="10" rowclick="clickRow"></my-data-table>
		</div>
	</div>
</div>