<h3 class="page-title">Patient List</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="loggedIn.doctor.home">Home</a>
        </li>
    </ul>
</div>



<div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <!-- YEAR -->
        <!-- <span class="field show-label">
            <label>Year</label>
            <input ng-model="selectDate.year" type="number" min="1990" max="2020" ng-change="loadCalendar()" />
        </span> -->
        <!-- END YEAR -->
    <!-- </div> -->

    <!-- <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"> -->
        <!-- MONTH -->
        <!-- <span class="field show-label">
            <label>Month</label>
            <select ng-options="month.code as month.title for month in options.month_in_year" ng-model="selectDate.month" ng-change="loadCalendar()">
                <option value="">-- All Month --</option>
            </select>
        </span> -->
        <!-- END MONTH -->
    <!-- </div> -->
    <!-- <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"> -->
         <!-- DAY -->
        <!-- <span class="field show-label">
            <label>Date</label>
              <select ng-options="item.code as item.title for item in options.date_in_month" ng-model="selectDate.date" ng-change="loadCalendar()">
                <option value="">-- All Date --</option>
            </select>
        </span> -->
        <!-- END DAY -->

        <span class="field">
            <label for="date_selected">Date</label>
            <input ui-date="{dateFormat: 'dd/mm/yy'}" readonly="readonly" placeholder="Date" name="date_selected" ng-model="selectDate" class="form-control" id="date_selected" float-label ng-change="loadCalendar()">
        </span>

    </div>
</div>

<div class="clearfix"></div>


<div class="portlet grey-cascade box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>List of Patients
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
					<th>#</th>
                    <th>Patient</th>
					<th>From time</th>
					<th>To time</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list_appts" ng-click="goToApptDetail(item)" ng-class="setClassAppt(item.APP_TYPE)" style="cursor: pointer;">
					<td>{{$index+1}}</td>
					<td>
                        <div ng-repeat="PATIENT in item.PATIENTS">
                            <a ng-click="goToApptDetail(PATIENT, item)">{{PATIENT.Patient_name}}</a>
                        </div>
                    </td>
                    <td>{{item.FROM_TIME}}</td>
					<td>{{item.TO_TIME}}</td>
                </tr>
            </tbody>
			<tfoot ng-show="list_appts.length == 0">
				<tr><td colspan="5"><em>No Appointment !!!</em> <a ui-sref="loggedIn.doctor.patients"> <i class="fa fa-angle-double-right"></i> View All Patients </a></td></tr>
			<tfoot>
        </table>
    </div>
</div>