<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Document List
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-lg-4">
                <a  >Gorgon Medical Assessment</a>
            </div>
            <div class="col-lg-4">
                <a >Gorgon Functional Assessment</a>
            </div>
            <div class="col-lg-4">
                <a  >Gorgon User Questionnaire</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a >Medical Result Summary</a>
            </div>
            <div class="col-lg-4">
                <a  >Functional Assessment</a>
            </div>
            <div class="col-lg-4">
                <a > Medical Assessment</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a ui-sref="loggedIn.category2({CalID : apptInfo.CAL_ID,PatientID: patient.Patient_id})" >Category 2</a>
            </div>
            <div class="col-lg-4">
                <a >Category 3</a>
            </div>
            <div class="col-lg-4">
                <a  >Instant Drug Screen</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a >Form 18</a>
            </div>
            <div class="col-lg-4">
                <a  >Audiogram 2</a>
            </div>
            <div class="col-lg-4">
                <a >Audiogram 3</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a >Gorgon Medical History</a>
            </div>
            <div class="col-lg-4">
                <a  >Medical History</a>
            </div>
            <div class="col-lg-4">
                <a ></a>
            </div>
        </div>



    </div>
</div>