<h3 class="page-title">Paperless</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a>{{current_patient.Title}} {{current_patient.First_name}} {{current_patient.Sur_name}}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Paperless</a>
        </li>
    </ul>
</div>

<div class="portlet box blue-hoki">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-bars"></i>
            Paperless
        </div>
    </div>
    <div class="portlet-body" style="padding-top: 25px;">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 paperless">
            <a  ui-sref="loggedIn.gorgonMA({CalID : apptInfo.CAL_ID,PatientID: patient.Patient_id})" >Gorgon Medical Assessment</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 paperless">
            <a ui-sref="loggedIn.gorgonFA({CalID : apptInfo.CAL_ID,PatientID: patient.Patient_id})" >Gorgon Functional Assessment</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 paperless">
            <a  ui-sref="loggedIn.gorgonUQ({CalID : apptInfo.CAL_ID,PatientID: patient.Patient_id})" >Gorgon User Questionnaire</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 paperless">
            <a ui-sref="loggedIn.MRS({CalID : apptInfo.CAL_ID,PatientID: patient.Patient_id})" >Medical Result Summary</a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 paperless">
            <a ui-sref="loggedIn.FA({CalID : apptInfo.CAL_ID,PatientID: patient.Patient_id})"  >Functional Assessment</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 paperless">
            <a ui-sref="loggedIn.MA({CalID : apptInfo.CAL_ID,PatientID: patient.Patient_id})" > Medical Assessment</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 paperless">
            <a ui-sref="loggedIn.category2({CalID : apptInfo.CAL_ID,PatientID: patient.Patient_id})" >Category 2</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 paperless">
            <a ui-sref="loggedIn.category3({CalID : apptInfo.CAL_ID,PatientID: patient.Patient_id})" >Category 3</a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 paperless">
            <a  ui-sref="loggedIn.IDS({CalID : apptInfo.CAL_ID,PatientID: patient.Patient_id})" >Instant Drug Screen</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 paperless">
            <a ui-sref="loggedIn.Form18({CalID : apptInfo.CAL_ID,PatientID: patient.Patient_id})" >Form 18</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 paperless">
            <a ui-sref="loggedIn.SA1({CalID : apptInfo.CAL_ID,PatientID: patient.Patient_id})"  >Audiogram 1</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 paperless">
            <a ui-sref="loggedIn.SA2({CalID : apptInfo.CAL_ID,PatientID: patient.Patient_id})" >Audiogram 2</a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 paperless">
            <a ui-sref="loggedIn.gorgonMH({CalID : apptInfo.CAL_ID,PatientID: patient.Patient_id})" >Gorgon Medical History</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 paperless">
            <a ui-sref="loggedIn.MH({CalID : apptInfo.CAL_ID,PatientID: patient.Patient_id})"  >Medical History</a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 paperless">
            <a ui-sref="loggedIn.COE({CalID : apptInfo.CAL_ID,PatientID: patient.Patient_id})"  >COE</a>
        </div>

        <div class="clearfix"></div>
    </div> <!-- END BODY -->
</div> <!-- END HEAD -->
