<div class="row">
	<div class="col-md-6">
		<div class="col-sm-4"><strong>Full name: </strong></div>
		<div class="col-sm-8">{{patient.First_name || ''}} {{patient.Middle_name || ''}} {{patient.Sur_name || ''}}</div>
	</div>
	<div class="col-md-6">
		<div class="col-sm-4"><strong>Nick name: </strong></div>
		<div class="col-sm-8">{{patient.Known_as}}</div>
	</div>
	
</div>
<div class="break-row"></div>

<div class="row">
	<div class="col-md-6">
		<div class="col-sm-4"><strong>Sex: </strong></div>
		<div class="col-sm-8">{{patient.Sex}}</div>
	</div>
	<div class="col-md-6">
		<div class="col-sm-4"><strong>DOB: </strong></div>
		<div class="col-sm-8">{{patient.DOB}}</div>
	</div>
</div>
<div class="break-row"></div>

<div class="row">

	<div class="col-md-6">
		<div class="col-sm-4"><strong>Mobile: </strong></div>
		<div class="col-sm-8">{{patient.Mobile}}</div>
	</div>
	<div class="col-md-6">
		<div class="col-sm-4"><strong>Email: </strong></div>
		<div class="col-sm-8">{{patient.Email}}</div>
	</div>	
</div>
<div class="break-row"></div>

<div class="row">
	<div class="col-md-6">
		<div class="col-sm-4"><strong>Country: </strong></div>
		<div class="col-sm-8">{{patient.Country}}</div>
	</div>
	<div class="col-md-6">
		<div class="col-sm-4"><strong>Post code: </strong></div>
		<div class="col-sm-8">{{patient.Post_code}}</div>
	</div>
</div>
<div class="break-row"></div>

<div class="row">
	<div class="col-md-6 col-sm-12">
		<div class="col-sm-4"><strong>Address 1: </strong></div>
		<div class="col-sm-8">{{patient.Address1}}</div>
	</div>
	<div class="col-md-6 col-sm-12">
		<div class="col-sm-4"><strong>Address 2: </strong></div>
		<div class="col-sm-8">{{patient.Address2}}</div>
	</div>
</div>
<div class="break-row"></div>

<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Document List
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-lg-4">
                <a  >Gorgon Medical Assessment</a>
            </div>
            <div class="col-lg-4">
                <a >Gorgon Functional Assessment</a>
            </div>
            <div class="col-lg-4">
                <a  >Gorgon User Questionnaire</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a >Gorgon Medical Result Summary</a>
            </div>
            <div class="col-lg-4">
                <a  >Functional Assessment</a>
            </div>
            <div class="col-lg-4">
                <a > Medical Assessment</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a  >Category 2</a>
            </div>
            <div class="col-lg-4">
                <a >Category 3</a>
            </div>
            <div class="col-lg-4">
                <a  >Instant Drug Screen</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a >Form 18</a>
            </div>
            <div class="col-lg-4">
                <a  >Audiogram 2</a>
            </div>
            <div class="col-lg-4">
                <a >Audiogram 3</a>
            </div>
        </div>



    </div>
</div>
