<h3 class="page-title">Timetable</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a ui-sref="loggedIn.doctor.home">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a ui-sref="loggedIn.doctor.timetable">Doctors</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a>{{modelDetail.NAME}}</a>
		</li>
	</ul>
</div>

	<div class="tabbable tabbable-custom tabbable-noborder tabbable-reversed">
		<ul class="nav nav-tabs">
			<li ng-class="getActive('loggedIn.doctor.timetable.detail.profile')">
				<a ui-sref="loggedIn.doctor.timetable.detail.profile">Doctor Profile</a>
			</li>
			<li ng-class="getActive('loggedIn.doctor.timetable.detail.calendar')">
				<a ui-sref="loggedIn.doctor.timetable.detail.calendar">Calendar Definition</a>
			</li>
			<li ng-class="getActive('loggedIn.doctor.timetable.detail.casual')">
				<a ui-sref="loggedIn.doctor.timetable.detail.casual">Casual Calendar</a>
			</li>
		</ul>
		<div class="tab-content">
			<!-- TIMETABLE STRUCTURE -->
			<div ui-view="main-content-timetable"></div>
			<!-- END TIMETABLE STRUCTURE -->
		</div>
	</div>
