<h3 class="page-title">Timetable</h3>

<div class="row">
    <div class="col-md-2">
        <button class="btn green btn-sm btn-block" ng-click="openPopup({type: 'add', module: 'doctor'})">
            <i class="fa fa-plus"></i> Doctor
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <mdtdoctor-search click-row="selectDoctor(row)"></mdt-search>
    </div>
</div>

<!-- ADD DOCTOR -->
<div class="mdt-search" id="TimetableDoctorAdd" style="width: 100%;">
    <mdtdoctor-detail options="options" params="params_doctor_add"></mdt-detail>
</div>
<!-- END ADD DOCTOR -->

<div class="break-row" style="margin-bottom: 15px;"></div>

<accordion close-others="accordion.oneAtATime" ng-show="relationships.specialties.count > 0">
    <!-- SPECIALTY -->
    <accordion-group class="panel-primary" is-open="accordion.specialties">
        <accordion-heading>
            <i class="fa fa-bars"></i>
            &nbsp{{selectedDoctor.NAME}}'s Specialties
        </accordion-heading>
        <!-- Specialities -->
        <mdtspecialty-searchbydoctor doctor="selectedDoctor" count="relationships.specialties.count" options="options">
        </mdtspecialty-searchbydoctor>
        <!-- END Specialities -->
    </accordion-group>
    <!-- END SPECIALTY -->
</accordion>

<!--<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" ng-click="goToDoctor()">Add Doctor</button>
    </div>
</div>

<div class="break-row"></div>

<div class="portlet grey-cascade box">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>List of Doctors
        </div>
    </div>
    <div class="portlet-body">
        
        <div style="float: left;">
            <pagination boundary-links="true" total-items="list.count" ng-model="searchObjectMap.currentPage" 
            class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" 
            items-per-page="searchObjectMap.limit" max-size="searchObjectMap.maxSize" ng-change="setPage()"></pagination>
        </div>
        <div style="float: right; padding-top: 15px;">
            <button class="btn btn-sm" ng-click="reset()">Reset</button>
            <b>Total Doctors:</b> {{list.count}}
            <select ng-model="searchObjectMap.limit" ng-options="row.code as row.code for row in rows" 
            	ng-change="loadList()">
            </select>
        </div>
        
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
                <tr>
                    
                    <td>
                        <input class="form-control input-sm" type="text" ng-model="searchObjectMap.data.NAME" 
                        	ng-change="loadList()">
                    </td>
                    <td>
                        <input class="form-control input-sm" type="text" ng-model="searchObjectMap.data.Email" 
                        	ng-change="loadList()">
                    </td>
                     <td>
                        <input class="form-control input-sm" type="text" ng-model="searchObjectMap.data.Phone" 
                        	ng-change="loadList()">
                    </td>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="l in list.results" ng-click="goToTimetableDetail(l)" style="cursor: pointer;">
                    <td>{{l.NAME}}</td>
                    <td>{{l.Email | undefined}}</td>
                    <td>{{l.Phone | undefined}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>-->