<div class="panel-body">
    <form method="POST" class="grid-form" name="AddFunction">
        <!-- MAIN INFO -->
        <fieldset>
            <legend>{{addOrUpdateTitle}}</legend>
            <div data-row-span="1">
                <!-- NAME NODE -->
                <div data-field-span="1">
                    <label>Name of function</label>
                    <input type="text" ng-model="info.TYPE_NAME" name="TYPE_NAME" custom-tr="info.TYPE_NAME" custom-fr="AddFunction.TYPE_NAME" ng-required="true" ng-maxlength="200" style="font-size:13px;">
                </div>
                <!-- END NAME NODE -->
            </div>
        </fieldset>
        <a class="btn btn-danger pull-right btn-xs" style="width:50px;" ng-click="onCancel({return: true})">Cancel</a>
        <a class="btn blue pull-right btn-xs" style="width:50px;" ng-disabled="AddFunction.TYPE_NAME.$error.required" ng-click="onSave({return: info})">{{addOrUpdateButton}}</a>
        <!-- END MAIN INFO -->
    </form>
</div>
