<div class="col-lg-12 un-bgXam-colBlack un-margin-top-30">
	<label class="un-label-header un-bgBlack un-label-header-padding">Claims</label>
	<div class="un-padding-top-bottom-10 ">
		<div class="un-div-content un-bgWhite-boxshadow-bottom un-padding-10">
			<button class="btn un-btn-red un-btn-position" ng-click="claim.dialog.add()">Add Claim</button>
			<claim-patient-list reload="claim.reload" limit="claim.limit" 
				patient-id="claim.Patient_id" cal-id="claim.CAL_ID" permission="{add: false, edit: true, show: true}">
			</claim-patient-list>
		</div>
	</div>
</div>
	
<script type="text/ng-template" id="dialogClaimAdd">
	<style type="text/css">
		.modal.in .modal-dialog {
			margin-top:50px;
		}
	</style>
    <div class="modal-body">
        <claim-patient-add patient-id="patientId" cal-id="calId" success="success"></claim-patient-add>
    </div>
</script>