<div class="modal-header">
    <h3>Package Assessment</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-2">
            <label class="control-label">Assessment</label>
        </div>
        <div class="col-md-10">
            <select class="form-control" ng-model="a.id" ng-change="getPrice(a.id)" ng-options="ass.ass_id as ass.ass_name for ass in assList">
                <option value="">--Select Assessment--</option>
            </select>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-2">
            <label class="control-label">Price ($):</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" type="text" disabled ng-model="b.price" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href="javascript:;" class="btn btn-danger" ng-click='cancel()'>Cancel</a>
    <a href="javascript:;" class="btn green" ng-click="submit()" >Submit</a>
</div>