<div class="modal-header">
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-2">
            <label class="control-label">Assessment</label>
        </div>
        <div >
            <select ng-model="a.id" ng-options="ass.ass_id as ass.ass_name for ass in assList">
                <option value="">--Select Assessment--</option>
            </select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href="javascript:;" class="btn btn-danger" ng-click='cancel()'>Cancel</a>
    <a href="javascript:;" class="btn green" ng-click="submit()" >Submit</a>
</div>