<div class="modal-header">
</div>
<div class="modal-body">
    <div class="row" ng-repeat="ass in assList">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <input type="checkbox" value="{{ass.id}}" id="{{ass.id}}" check-list="" selected-items-array="info.checkedAss"/>
        </div>
        <div class="col-md-10">
            <label for="{{ass.id}}" class="control-label">{{ass.ass_name}}</label>
        </div>
    </div>

</div>
<div class="modal-footer">
    <a href="javascript:;" class="btn btn-danger" ng-click='cancel()'>Cancel</a>
    <a href="javascript:;" class="btn green" ng-click="okClick()">OK</a>
</div>