<div id="alert-center" class="bv-right-list">
	<h3>Notification List</h3>
	<hr>
	<span ng-repeat="list in alertCenter.list">
		<h4 ng-if="list.alert.length > 0 || list.cal.length > 0">
			{{list.First_name}} {{list.Sur_name}}
		</h4>
		<ul ng-repeat="alert in list.alert" ng-if="list.alert.length > 0">
			<li>{{alert.name}}</li>
		</ul>
		<p ng-repeat="cal in list.cal" ng-if="list.cal.length > 0">
			<span ng-if="cal.IS_REFERRAL && cal.OUTREFERRAL === 'no'">
				{{cal.FROM_TIME}}-{{cal.TO_TIME}}:&nbsp
				There is no referral
			</span>
		</p>
		
	</span>
</div>
<div class="bv-arrow" ng-click="clickArrow()"></div>

<div id="appointment">
	<div class="row">
		<!-- DATEPICKER -->
		<div class="col-md-4">
			<div class="form-group">
				<label class="un-label-header un-bgWhite">Datepicker</label>
				<div class="un-div-content un-bgWhite-boxshadow-bottom">
					<input custom-date ng-model="appointment.search.datepicker" ng-change="appointment.load()" style="width: 100%; border: 0;" class="form-control un-padding-right-top-bottom-10-left-15">
				</div>
			</div>
		</div>
		<style type="text/css">
			.un_group_black_header{
				z-index: 0;
			}
		</style>
		<!-- END DATEPICKER -->

		<!-- REDIMEDSITE -->
		<div class="col-md-4">
			<div class="form-group">
				<label class="un-label-header un-bgWhite">Redimed Site</label>
				<div class="un-div-content un-bgWhite-boxshadow-bottom">
		        	<select ng-options="s.id as s.Site_name for s in site.list" ng-model="appointment.search.site_id"
					ng-change="appointment.load()" style="width: 100%; border: 0;" class="form-control un-padding-right-top-bottom-10-left-15">
					</select>	
		        </div>
			</div>
		</div>
		<!-- END REDIMEDSITE -->

		<!-- CLINICAL DEPT -->
		<div class="col-md-4">
			<div class="form-group">
				<label class="un-label-header un-bgWhite">Clinical Dept</label>
				<div class="un-div-content un-bgWhite-boxshadow-bottom">
					<select ng-options="c.CLINICAL_DEPT_ID as c.CLINICAL_DEPT_NAME for c in clinicalDept.list" 
					ng-model="appointment.search.clinical_dept_id"
					class="form-control"
					ng-change="appointment.load()" style="width: 100%; border: 0;" class="form-control un-padding-right-top-bottom-10-left-15">
						<option value="">All</option>
					</select>
				</div>
			</div>
		</div>
		<!-- END CLINICAL DEPT -->
	</div>

	<div class="appointment">
		<div class="appointment-row">
			<div class="appointment-block-times" style="background: rgb(96, 99, 94)">
				<label style="color: #ffffff; font-weight: bold;">Times</label>
			</div>
			<div class="appointment-block-header" ng-repeat="doctor in doctor.headers" style="background: #ffffff;">
					<label style="color: #ffffff; margin-bottom: 0; padding-top: 10px; padding-bottom: 15px; padding-left: 40px; padding-right: 40px; font-weight: bold; background: rgb(96, 99, 94)">{{doctor.NAME}}</label>
			</div>
		</div>
		<div class="appointment-row" ng-repeat="app in appointment.list">
			<div class="appointment-block-time">{{app.FROM_TIME}}</div>
			<div class="appointment-block" ng-repeat="col in app.doctors" ng-class="{'block-active': col.PATIENTS !== '###'}"
				id="appointment-{{col.CAL_ID}}" ng-right-click="appointment.onRightClick($event, app, col)"
				ng-style="{'background-color': '#ffffff', 'margin-bottom': col.margin === 'yes' ? '3px': '0px', 'height': col.height ? '35px': '35px', 'border-top': col.border === 'yes' ? '2px solid rgb(96, 99, 94)': '0px'}">
				<span ng-if="col.PATIENTS === 'MESS_SYS_010'">
					<a ng-click="appointment.dialog.add(app, col)">No Patient {{col.CAL_ID}}</a>
				</span>
				<span ng-if="col.PATIENTS === '###'">
					
				</span>
				<span ng-if="col.PATIENTS === 'ok'">
					<span ng-repeat="patient in col.patients">
						<a ng-click="goToAppDetail(col.CAL_ID, patient.Patient_id)">
							<span>
								{{patient.First_name}} {{patient.Sur_name}}
							</span>
							&nbsp;
							<a ng-click="showDropdown(patient, col)">
								<i class="fa fa-caret-right"></i>
							</a>
						</a>
						<br>
					</span>
				</span>
			</div>
		</div>
	</div> <!-- END APPOINTMENT -->
</div>

<!-- RIGHT CLICK DROPDOWN MENU -->
<ul class="dropdown-menu" style="display: none; z-index: 9998; position: absolute; top: 0; left: 0;" id="popupMenu">
	<li>
		<a ng-click="appointment.dialog.rightAdd(appointment.selectedAppointment, appointment.selectedCol)">
			Make new Booking
		</a>
	</li>
	<!--<li><a ng-click="addWaitingList()">Add Waiting List</a></li>
	<li><a ng-click="openWaitingList()">Select Waiting List</a></li>
	<li><a ng-click="cancelStatus(rightSelectedBooking.data, rightSelectedBooking.overId, rightSelectedBooking.docId)">
		Cancel Status</a></li>-->
</ul>
<!-- END RIGHT CLICK DROPDOWN MENU -->

<script type="text/ng-template" id="appointmentAdd">
	<div class="modal-body">
		<appointment-add params="appointment" patient="patient" options="options"></appointment-add>
	</div>
</script>

<script type="text/ng-template" id="patientAdd">
	<div class="modal-body">
		<patient-detail options="options" params="params" onsuccess="onsuccess" patient="onsuccess"></patient-detail>
	</div>
</script>

<script type="text/ng-template" id="patientList">
	<div class="modal-body">	
		<patient-search click-row="clickRow(row)"></patient-search>
	</div>
</script>

<script type="text/ng-template" id="notifyClaim">
    <div class="modal-body">
        <p>
        	Do you want to&nbsp;
        	<button class="btn btn-primary btn-xs" ng-click="addClaim()">Add</button> or&nbsp;
        	<button class="btn btn-primary btn-xs" ng-click="selectClaim()">Select</button> claim ?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning btn-xs" ng-click="cancel()">Cancel</button>
    </div>
 </script>

 <script type="text/ng-template" id="notifyReferral">
    <div class="modal-body">
        <p>
        	Do you want to&nbsp;
        	<button class="btn btn-primary btn-xs" ng-click="addReferral()">Add</button>
        	or <button class="btn btn-primary btn-xs" ng-click="selectReferral()">Select</button> referral ?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning btn-xs" ng-click="cancel()">Cancel</button>
    </div>
 </script>

<script type="text/ng-template" id="notifyAppointment">
	<div class="modal-body">
	    <p>
	    	Do you want to really choose this patient ???
	    </p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary btn-xs" ng-click="clickYes()">I am sure</button>
	    <button class="btn btn-warning btn-xs" ng-click="clickNo()">Cancel</button>
	</div>
</script>

<script type="text/ng-template" id="claimAdd">
	<div class="modal-body">	
		<claim-patient-add patient-id="claim.Patient_id" cal-id="claim.CAL_ID" success="claim.success"></claim-patient-add>
	</div>
</script>

<script type="text/ng-template" id="claimSelect">
	<div class="modal-body">	
		<claim-patient-list limit="claim.limit" reload="claim.reload" patient-id="claim.Patient_id" without-patient="true" add-success="claim.addSuccess"
			cal-id="claim.CAL_ID"
			permission="{edit: false, remove: false, add: true}" on-row-click="claim.clickRow(row)">
		</claim-patient-list>
	</div>
</script>

<script type="text/ng-template" id="referralAdd">
	<div class="modal-body">	
		<outreferral-patient-add patient-id="patientId" cal-id="calId" success="success" doctor-id="doctorId">
		</outreferral-patient-add>
	</div>
</script>

<script type="text/ng-template" id="referralSelect">
	<div class="modal-body">
		<outreferral-patient-list reload="reload" limit="limit" add-success="addSuccess"
			patient-id="patientId" without-patient="true" on-row-click="clickRow(row)"
			permission="{edit: false, remove: false, add: true}">
		</outreferral-patient-list>
	</div>
</script>

<script type="text/ng-template" id="notifyAlert">
	<div class="modal-body">
		<p>{{outreferral.name}}</p>
		<h4>Alert List</h4>
		<ul>
			<li ng-repeat="l in alert.list">{{l.name}} ({{l.description}})</li>
		</ul>
	</div>
</script>