<div class='row'>
    <div class='col-md-12'>
        <pagination boundary-links='true' total-items='list.count' ng-model='params.pagination.current_page' class='pagination-sm' previous-text='&lsaquo;' next-text='&rsaquo;' first-text='&laquo;' last-text='&raquo;' items-per-page='params.pagination.limit' max-size='params.pagination.max_size' ng-change='setPage()'>
        </pagination>
        <table class='mdt-table table table-striped'>
            <thead>
                <tr>
                    <th>SERVICE NAME</th>
                    <th>SERVICE DESCRIPTION</th>
                    <th>COLOR</th>
                    <th>FEE TYPE</th>
                    <th>IS REFERRAL</th>
                    <th>SERVICE STATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input class="form-control" ng-model="nameFilter">
                    </td>
                    <td>
                        <input class="form-control" ng-model="descFilter">
                    </td>
                </tr>
                <tr ng-repeat='l in list.data | filter:nameFilter | filter:descFilter' ng-click='clickRow({row: l})' style='cursor: pointer;'>
                    <td>{{l.SERVICE_NAME}}</td>
                    <td>{{l.DESCRIPTION}}</td>
                    <td style="background:{{l.SERVICE_COLOR}};"></td>
                    <td>{{l.feeType.FEE_TYPE_NAME}}</td>

                    <td><input type="checkbox" disabled ng-checked="l.IS_REFERRAL == 1" /></td>
                    <td> 
                        <span ng-if="l.Isenable===1">Enable</span>
                        <span ng-if="l.Isenable!==1">Disable</span>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
